@import "../../../theme";

.filter-settings {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    > :not(:first-child) {
        margin-top: @indent-small;
    }

    &__content {
        align-items: center;
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: center;
    }
}

.mode-toggle {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    -moz-user-select: none;
    user-select: none;
    border-radius: 10px;    

    &__line {
        display: flex;
        flex-direction: row;

        > :not(:first-child) {
            margin-left: @indent-small;
        }
    }

    .toggle {
        flex: auto;
        border-radius: 10px;
    }

    &__label {
        font-size: @size-text-small;
        line-height: @size-text-small-height;
        text-align: center;
        border-radius: 10px;
    }

    &__button--active {
        background: @color-control-active;
        border-radius: 10px;
        &:hover {
            background: @color-control-active;
            border-radius: 10px;
        }
    }
}

