:root {
    --dr-neutral-bg: rgb(29, 32, 33);
    --dr-neutral-text: rgb(218, 221, 221);
    --dr-darker-bg: rgb(24, 26, 27);
    --dr-darker-text: rgb(206, 202, 195);
    --dr-lighter-bg: rgb(31, 34, 35);
    --dr-lighter-text: rgb(232, 232, 232);

    --dr-yellow-bg: rgb(204, 204, 0);
    --dr-yellow-text: rgb(255, 255, 26);
    --dr-yellow-lighter-bg: rgb(255, 255, 0);
    --dr-yellow-lighter-text: rgb(255, 255, 37);
    --dr-yellow-darker-bg: rgb(2, 2, 2);
    --dr-yellow-darker-text: rgb(179, 179, 18);

    --dr-orange-bg: rgb(204, 132, 0);
    --dr-orange-text: rgb(255, 174, 26);
    --dr-orange-lighter-bg: rgb(255, 189, 0);
    --dr-orange-lighter-text: rgb(255, 208, 37);
    --dr-orange-darker-bg: rgb(143, 92, 0);
    --dr-orange-darker-text: rgb(179, 122, 18);

    --dr-red-bg: rgb(204, 0, 0);
    --dr-red-text: rgb(255, 26, 26);
    --dr-red-lighter-bg: rgb(255, 0, 0);
    --dr-red-lighter-text: rgb(255, 37, 37);
    --dr-red-darker-bg: rgb(143, 0, 0);
    --dr-red-darker-text: rgb(179, 18, 18);

    --dr-magenta-bg: rgb(204, 0, 204);
    --dr-magenta-text: rgb(255, 26, 255);
    --dr-magenta-lighter-bg: rgb(255, 0, 255);
    --dr-magenta-lighter-text: rgb(255, 37, 255);
    --dr-magenta-darker-bg: rgb(143, 0, 143);
    --dr-magenta-darker-text: rgb(179, 18, 179);
    
    --dr-violet-bg: rgb(120, 16, 120);
    --dr-violet-text: rgb(237, 123, 237);
    --dr-violet-lighter-bg: rgb(171, 23, 171);
    --dr-violet-lighter-text: rgb(255, 176, 255);
    --dr-violet-darker-bg: rgb(84, 11, 84);
    --dr-violet-darker-text: rgb(166, 86, 166);

    --dr-blue-bg: rgb(0, 0, 204);
    --dr-blue-text: rgb(51, 125, 255);
    --dr-blue-lighter-bg: rgb(0, 0, 255);
    --dr-blue-lighter-text: rgb(73, 179, 255);
    --dr-blue-darker-bg: rgb(0, 0, 143);
    --dr-blue-darker-text: rgb(36, 88, 179);

    --dr-cyan-bg: rgb(0, 204, 204);
    --dr-cyan-text: rgb(26, 255, 255);
    --dr-cyan-lighter-bg: rgb(0, 255, 255);
    --dr-cyan-lighter-text: rgb(37, 255, 255);
    --dr-cyan-darker-bg: rgb(0, 143, 143);
    --dr-cyan-darker-text: rgb(18, 179, 179);

    --dr-green-bg: rgb(0, 102, 0);
    --dr-green-text: rgb(114, 255, 114);
    --dr-green-lighter-bg: rgb(0, 146, 0);
    --dr-green-lighter-text: rgb(163, 255, 163);
    --dr-green-darker-bg: rgb(0, 71, 0);
    --dr-green-darker-text: rgb(80, 179, 80);

}