# Build files
#-----------------------------------
build
debug
build.zip

# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.idea
.vscode

# Mac Junk
#___________________________________
echo ".DS_Store" >> ~/.gitignore_global
echo "._.DS_Store" >> ~/.gitignore_global
echo "**/.DS_Store" >> ~/.gitignore_global
echo "**/._.DS_Store" >> ~/.gitignore_global
git config --global core.excludesfile ~/.gitignore_global
