# Build folder
#-----------------------------------
build/
build-firefox/
build.zip
build-firefox.zip
debug/

# Node.js modules
#-----------------------------------
node_modules/

# IDE and editor configs
#-----------------------------------
.idea/
.vscode/
