@import "../theme";
@import "../shared";

@popup-content-width: 15rem;
@popup-content-height: 30rem;
@popup-content-padding: 1rem;

html {
    padding: @popup-content-padding;
}

@import "./components/filter-settings/style";
@import "./components/font-settings/style";
@import "./components/site-toggle/style";
@import "./components/top-section/style";

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: @popup-content-height;
    margin: 0;
    width: @popup-content-width;

    > :not(:first-child) {
        margin-top: @indent-large;
    }
}

header {
    flex: none;
    width: 100%;

    > :not(:first-child) {
        margin-top: @indent-small;
    }
}

#logo {
    display: inline-block;
    width: @popup-content-width;
}

.tab-panel {
    flex: auto;
}

footer {
    align-items: stretch;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0;
        text-align: center;
    }
}

.ext-disabled {
    .site-toggle--disabled {
        opacity: 1;
    }

    #site-toggle-container,
    .tab-panel {
        opacity: 0.5;
        pointer-events: none;
    }
}
