@import "../style/theme";
@import "../style/shared";

html {
    padding: @size-content-padding;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: @size-content-height;
    margin: 0;
    width: @size-content-width;

    > :not(:first-child) {
        margin-top: @indent-large;
    }
}

// Top
//---------------------------------

header {
    flex: none;
    width: 100%;

    > :not(:first-child) {
        margin-top: @indent-small;
    }
}

#logo {
    display: inline-block;
    width: @size-content-width;
}

.top-controls {
    display: flex;
    flex: auto;
    flex-direction: row;
    width: 100%;

    &__control {
        display: flex;
        flex: auto;
        flex-direction: column;

        &:not(:first-child) {
            margin-left: @indent-small;
        }
    }
}

.site-toggle {
    color: @color-fore;
    white-space: pre-wrap;

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__url {
        color: @color-control-fore;
    }
}

#site-toggle-container {
    flex: none;
    width: 55%;
}

// Middle
//---------------------------------

.tab-panel {
    flex: auto;
}

.filter-settings {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;

    > :not(:first-child) {
        margin-top: @indent-large;;
    }
}

.mode-toggle {
    align-items: stretch;
    display: flex;
    flex-direction: column;

    &__line {
        display: flex;
        flex-direction: row;

        > :not(:first-child) {
            margin-left: @indent-small;
        }
    }

    .toggle {
        flex: auto;
    }

    &__label {
        display: inline-block;
        font-size: @size-text-small;
        line-height: @size-text-small;
        text-align: center;
    }
}

.icon {
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.icon--dark-mode {
    background-image: url(../assets/images/mode-dark-32.svg);
}

.icon--light-mode {
    background-image: url(../assets/images/mode-light-32.svg);
}

// Bottom
//---------------------------------

footer {
    align-items: stretch;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0;
        text-align: center;
    }
}

.ext-disabled {
    .site-toggle--disabled {
        opacity: 1;
    }

    #site-toggle-container,
    .tab-panel {
        opacity: 0.5;
        pointer-events: none;
    }
}
