@extension_description
الوضع المظلم لجميع المواقع. اعتن بعينيك، استعمل التنسيق الداكن للتصفح اليومي في الليل.

@loading_please_wait
جار التحميل، يرجى الانتظار

@on
مفعّل

@off
معطّل

@toggle_current_site
تبديل الموقع الحالي

@setup_hotkey_toggle_site
إعداد الموقع الحالي
مفتاح اختصار التبديل

@toggle_extension
تبديل الإضافة

@setup_hotkey_toggle_extension
إعداد الإضافة
مفتاح اختصار التبديل

@automation
التلقائية

@set_active_hours
تعيين الساعات النشطة

@set_location
تفعيل بعد غروب الشمس في الموقع

@longitude
خط الطول

@latitude
خط العرض

@page_protected
هذه الصفحة محمية
من قبل المتصفح

@local_files_forbidden
لا يسمح بالوصول
ملفات محلية

@page_in_dark_list
هذه الصفحة موجودة في قائمة
المواقع المظلمة العامة

@system_dark_mode
استعمال نظام ألوان النظام

@system_dark_mode_description
تفعيل عندما يكون الوضع المظلم للنظام مفعّلاً

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
الفلتر

@mode
الوضع

@dark
مظلم

@light
فاتح

@brightness
السطوع

@contrast
التباين

@grayscale
التدرج الرمادي

@sepia
البني

@only_for
فقط لـ

@only_for_description
تطبيق الإعدادات للموقع الحالي فقط

@site_list
قائمة المواقع

@invert_listed_only
عكس المدرجة فقط

@not_invert_listed
عدم عكس المدرجة

@add_site_to_list
إضافة موقع إلى القائمة

@setup_add_site_hotkey
تعيين مفتاح اختصار لإضافة المواقع

@more
المزيد

@select_font
اختر الخط

@text_stroke
عرض النص

@try_experimental_theme_engines
قم بتجربة محركات التنسيقات **التجريبية**:
**فلتر+** يحتفظ بتشبع الألوان، يستعمل GPU
**التنسيق الثابت** يقوم بتوليد تنسيق بسيط وسريع
**التنسيق الديناميكي** يقوم بتحليل الألوان والصور

@engine_filter
فلتر

@engine_filter_plus
فلتر+

@engine_static
ثابت

@engine_dynamic
ديناميكي

@theme_generation_mode
وضع توليد التنسيق

@custom_browser_theme_on
مخصص

@custom_browser_theme_off
الافتراضي

@change_browser_theme
تغيير تنسيق المتصفح

@privacy
الخصوصية

@help
المساعدة

@donate
التبرع

@we_celebrate_10_years
يحتفل Dark Reader بمرور 10 سنوات.
يرجى دعم عملنا.

@pay_for_using
ادفع مقابل استخدام Dark Reader

@news
الأخبار

@read_more
قراءة المزيد

@open_dev_tools
أدوات المطور

@mobile
متحرك

@learn_more
يتعلم أكثر

@mobile_text
قلل من إجهاد العين أثناء القراءة على هاتفك أو جهازك اللوحي.
ما عليك سوى مسح رمز الاستجابة السريعة للتثبيت.

@all_settings
جميع الإعدادات

@version
إصدار

@configure_automation
تكوين الأتمتة

@auto_night_time
تلقائي (وقت الليل)

@auto_day_time
تلقائي (وقت النهار)

@auto_night_at_location
تلقائي (ليلاً في الموقع)

@auto_day_at_location
تلقائي (اليوم في الموقع)

@auto_system_is_dark
تلقائي (النظام مظلم)

@auto_system_is_light
تلقائي (النظام خفيف)

@click_to_set_shortcut
انقر لتعيين الاختصار

@extension_toggle_shortcut
تمديد تشغيل / إيقاف اختصار لوحة المفاتيح

@configure_site_toggle
تكوين تبديل موقع الويب

@site_toggle
تبديل الموقع

@enabled_by_default
ممكّن افتراضيًا

@enable_for_all_sites_by_default
ممكّن لجميع مواقع الويب بشكل افتراضي

@detect_dark_theme
كشف المظهر الداكن

@detect_website_dark_theme
اكتشف المظهر المظلم لموقع الويب

@dark_theme_detected
تم اكتشاف مظهر داكن

@website_toggle_shortcut
موقع ويب تبديل اختصار لوحة المفاتيح

@support_out_work
ادعم عملنا

@mobile_link
يتوفر قارئ الظلام المحمول. يتعلم أكثر

@store_listing
تقوم هذه الإضافة بتفعيل الوضع الليلي عن طريق إنشاء تنسيقات مظلمة للمواقع أثناء التنقل. يقوم Dark Reader بعكس الألوان الساطعة لجعلها عالية التباين وسهلة القراءة في الليل.

بإمكانك ضبط السطوع، التباين، الفلتر البني، الوضع المظلم، إعدادات الخط وقائمة التجاهل.

قد نطلب منك دعم تطوير التطبيق من خلال تبرع. قد ترى أخبارًا حول Dark Reader في قائمة الإعدادات المنبثقة. هناك أدوات المطور للمستخدمين ذوي الخبرة.

لا يقوم Dark Reader بعرض إعلانات ولا يقوم بإرسال بيانات المستخدم إلى أي مكان. الإضافة مفتوحة المصدر بالكامل https://github.com/darkreader/darkreader

قبل التثبيت قم بتعطيل الإضافات المماثلة. استمتع بالمشاهدة!
