@extension_description
Цёмная Тэма для кожнага сайта. Беражыце свае вочы, карыстайцеся Дарк Рыдарам для начнога ці штодзённага прагляду вэб-старонак.

@loading_please_wait
Ідзе загрузка, пачакайце


#==== Top section ====

@on
Укл.

@off
Выкл.

@toggle_current_site
Пераключыць гэты сайт

@setup_hotkey_toggle_site
Усталюйце спалучэнне
клавіш

@toggle_extension
Укл/выкл Дарк Рыдар

@setup_hotkey_toggle_extension
Уст. спалучэнне
клавіш

@automation
Аўтаматызацыя

@set_active_hours
Усталюйце перыяд актыўнасці

@set_location
Уключыць пасля захода сонца

@longitude
Даўгата

@latitude
Шырата

@page_protected
Гэтая старонка ахоўваецца
браўзэрам

@page_in_dark_list
Гэтая старонка ў глаб.
спісе Цёмных Сайтаў

@system_dark_mode
Выкарыстоўваць сістэмныя колеры

@system_dark_mode_description
Уключыць калі сістэмны начны рэжым актыўны


#==== Filter ====

@filter
Фільтр

@mode
Рэжым

@dark
Цёмны

@light
Светлы

@brightness
Яркасць

@contrast
Кантраснасць

@grayscale
Адценні шэрага

@sepia
Сэпія

@only_for
Толькі для

@only_for_description
Прымяніць налады толькі да гэтага сайта


#==== Site list ====

@site_list
Спіс

@invert_listed_only
Інверт. толькі гэтыя

@not_invert_listed
Ня інвертаваць

@add_site_to_list
Дадаць сайт у спіс

@setup_add_site_hotkey
Уст. спалуч. клавіш для даб. сайта ў спіс


#==== More settings ====

@more
Яшчэ

@select_font
Выберыце шрыфт

@text_stroke
Абводка тэксту

@try_experimental_theme_engines
Апрабуйце **эксперыментальныя** рэжымы:
**Фільтр+** зах. яркасць колераў, выкарыстоўвае GPU
**Статычны рэжым** стварае простую тэму
**Дынамічны** аналізуе колеры і карцінкі

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Стат.

@engine_dynamic
Дынам.

@theme_generation_mode
Рэжым генерацыi тэмы

@custom_browser_theme_on
Асаблiвая

@custom_browser_theme_off
Агаданая

@change_browser_theme
Змяніць тэму браўзэра


#==== Footer ====

@privacy
Пагад.

@help
Даведка

@donate
Падтрымка

@news
Навіны

@read_more
Чытаць яшчэ

@open_dev_tools
Прылады


#==== Store listing ====

@store_listing
Гэта пашырэнне пераводзіць браўзэр у начны рэжым. Дарк Рыдар замяняе светлы фон цёмным, што зніжае стомленасць вачэй пры доўгай працы за кампутарам альбо пры праглядзе вэб-старонак ноччу.

Маецца магчымасць наладжваць яркасць, кантраснасць, шрыфт, рэжым інверсіі, рэжым накладання жоўтага фільтра (сэпія).

Dark Reader ня ўбудоўвае рэкламу і не збірае дадзеныя карыстальніка, увесь зыходны код адкрыты https://github.com/darkreader/darkreader

Перад усталёўкай адключыце падобныя пашырэнні. Прыемнага прагляду!
