@extension_description
Цёмная Тэма для кожнага сайта. Беражыце сваё вочы, карыстайцеся Дарк Рыдарам для начнога ці штодзённага прагляду вэб-старонак.

@loading_please_wait
Ідзе загрузка, пачакайце

#==== Top section ====

@on
Укл.

@off
Выкл.

@toggle
Перакл.

@toggle_current_site
Пераключыць гэты сайт

@setup_hotkey_toggle_site
Усталюйце спалучэнне
клавіш

@toggle_extension
Укл/выкл Дарк Рыдар

@setup_hotkey_toggle_extension
Уст. спалучэнне
клавіш

@page_protected
Гэтая старонка ахоўваецца
браўзэрам

@page_in_dark_list
Гэтая старонка ў глаб.
спісе Цёмных Сайтаў


#==== Filter ====

@filter
Фільтр

@mode
Рэжым

@dark
Цёмны

@light
Светлы

@brightness
Яркасць

@contrast
Кантраснасць

@grayscale
Адценні шэрага

@sepia
Сэпія


#==== Site list ====

@site_list
Спіс

@invert_listed_only
Інверт. толькі гэтыя

@not_invert_listed
Ня інвертаваць

@add_site_to_list
Дадаць сайт у спіс

@setup_add_site_hotkey
Уст. спалуч. клавіш для даб. сайта ў спіс


#==== More settings ====

@more
Яшчэ

@select_font
Выберыце шрыфт

@text_stroke
Абводка тэксту

@try_experimental_theme_engines
Апрабуйце **эксперыментальныя** рэжымы:
**Фільтр+** зах. яркасць колераў, выкарыстоўвае GPU
**Статычны рэжым** стварае простую тэму
**Дынамічны** аналізуе колеры і карцінкі

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Стат.

@engine_dynamic
Дынам.

@switch_theme_engine
Пераключыць рэжым

@setup_hotkey_switch_theme_engine
Усталюйце спал. клавіш перакл. рэжыму


#==== Footer ====

@privacy
Privacy

@help
Help

@donate
На гарбату

@news
News

@read_more
Read more

@open_dev_tools
Інструм. распрацоўніка
