@extension_description
Цёмная Тэма для кожнага сайта. Беражыце свае вочы, карыстайцеся Дарк Рыдарам для начнога ці штодзённага прагляду вэб-старонак.

@loading_please_wait
Ідзе загрузка, пачакайце

@on
Укл.

@off
Выкл.

@toggle_current_site
Пераключыць гэты сайт

@setup_hotkey_toggle_site
Усталюйце спалучэнне
клавіш

@toggle_extension
Укл/выкл Дарк Рыдар

@setup_hotkey_toggle_extension
Уст. спалучэнне
клавіш

@automation
Аўтаматызацыя

@set_active_hours
Усталюйце перыяд актыўнасці

@set_location
Уключыць пасля захода сонца

@longitude
Даўгата

@latitude
Шырата

@page_protected
Гэтая старонка ахоўваецца
браўзэрам

@local_files_forbidden
Забаронены доступ
лакальныя файлы

@page_in_dark_list
Гэтая старонка ў глаб.
спісе Цёмных Сайтаў

@system_dark_mode
Выкарыстоўваць сістэмныя колеры

@system_dark_mode_description
Уключыць калі сістэмны начны рэжым актыўны

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Фільтр

@mode
Рэжым

@dark
Цёмны

@light
Светлы

@brightness
Яркасць

@contrast
Кантраснасць

@grayscale
Адценні шэрага

@sepia
Сэпія

@only_for
Толькі для

@only_for_description
Прымяніць налады толькі да гэтага сайта

@site_list
Спіс

@invert_listed_only
Інверт. толькі гэтыя

@not_invert_listed
Ня інвертаваць

@add_site_to_list
Дадаць сайт у спіс

@setup_add_site_hotkey
Уст. спалуч. клавіш для даб. сайта ў спіс

@more
Яшчэ

@select_font
Выберыце шрыфт

@text_stroke
Абводка тэксту

@try_experimental_theme_engines
Апрабуйце **эксперыментальныя** рэжымы:
**Фільтр+** зах. яркасць колераў, выкарыстоўвае GPU
**Статычны рэжым** стварае простую тэму
**Дынамічны** аналізуе колеры і карцінкі

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Стат.

@engine_dynamic
Дынам.

@theme_generation_mode
Рэжым генерацыi тэмы

@custom_browser_theme_on
Асаблiвая

@custom_browser_theme_off
Агаданая

@change_browser_theme
Змяніць тэму браўзэра

@privacy
Пагад.

@help
Даведка

@donate
Падтрымка

@we_celebrate_10_years
Dark Reader святкуе 10-годдзе.
Калі ласка, падтрымайце нашу працу.

@pay_for_using
Аплаціце карыстанне Dark Reader

@news
Навіны

@read_more
Чытаць яшчэ

@open_dev_tools
Прылады

@mobile
Мабільны

@learn_more
Даведайцеся больш

@mobile_text
Паменшыце напружанне вачэй падчас чытання на тэлефоне або планшэце.
Каб усталяваць, проста адсканіруйце QR-код.

@all_settings
Усе налады

@version
Версія

@configure_automation
Настройка аўтаматызацыі

@auto_night_time
Аўта (начны час)

@auto_day_time
Аўта (дзённы час)

@auto_night_at_location
Аўта (ноч на месцы)

@auto_day_at_location
Аўта (дзень на месцы)

@auto_system_is_dark
Аўта (сістэма цёмная)

@auto_system_is_light
Аўта (сістэма светлая)

@click_to_set_shortcut
Націсніце, каб усталяваць спалучэнне

@extension_toggle_shortcut
Спалучэнне клавіш для ўключэння/выключэння пашырэння

@configure_site_toggle
Наладзьце пераключэнне вэб-сайтаў

@site_toggle
Пераключэнне сайта

@enabled_by_default
Уключана па змаўчанні

@enable_for_all_sites_by_default
Па змаўчанні ўключана для ўсіх вэб-сайтаў

@detect_dark_theme
Выяўленне цёмнай тэмы

@detect_website_dark_theme
Выявіць уласную цёмную тэму вэб-сайта

@dark_theme_detected
Выяўлена цёмная тэма

@website_toggle_shortcut
Спалучэнне клавіш для пераключэння вэб-сайта

@support_out_work
Падтрымайце нашу працу

@mobile_link
Мабільны Dark Reader даступны. Даведайцеся больш

@store_listing
Гэта пашырэнне пераводзіць браўзэр у начны рэжым. Дарк Рыдар замяняе светлы фон цёмным, што зніжае стомленасць вачэй пры доўгай працы за кампутарам альбо пры праглядзе вэб-старонак ноччу.

Маецца магчымасць наладжваць яркасць, кантраснасць, шрыфт, рэжым інверсіі, рэжым накладання жоўтага фільтра (сэпія).

Мы можам папрасіць вас падтрымаць распрацоўку прыкладання ахвяраваннем. Вы можаце ўбачыць навіны аб Dark Reader ва ўсплывальным акне налад. Ёсць інструменты распрацоўшчыка для вопытных карыстальнікаў.

Dark Reader ня ўбудоўвае рэкламу і не збірае дадзеныя карыстальніка, увесь зыходны код адкрыты https://github.com/darkreader/darkreader

Перад усталёўкай адключыце падобныя пашырэнні. Прыемнага прагляду!
