@extension_description
Тъмен режим за всеки уебсайт. Погрижете се за очите си, използвайте тъмна тема за нощно и ежедневно сърфиране.

@loading_please_wait
Зареждане, моля изчакайте

@on
Вкл.

@off
Изкл.

@toggle_current_site
Превключване на текущия сайт

@setup_hotkey_toggle_site
Настройка на текущия сайт
превключване на бърз клавиш

@toggle_extension
Превключване на разширението

@setup_hotkey_toggle_extension
Настройка на разширението
превключване на бърз клавиш

@automation
Автоматично

@set_active_hours
Задайте активни часове

@set_location
Активирайте след залез слънце на региона

@longitude
Геогр. дължина

@latitude
Геогр. ширина

@page_protected
Тази страница е защитена
чрез браузър

@local_files_forbidden
Неразрешен достъп
до локални файлове

@page_in_dark_list
Този сайт е в глобален
Тъмен списък

@system_dark_mode
Изп. системната цветова схема

@system_dark_mode_description
Акт., когато системният тъмен режим е включен

@system_dark_mode_chromium_warning
Тази опция може да не работи поради
бъг във вашия браузър

@filter
Филтър

@mode
Режим

@dark
Тъмен

@light
Светъл

@brightness
Яркост

@contrast
Контраст

@grayscale
Скала на сивото

@sepia
Сепия

@only_for
Само за

@only_for_description
Прилагане на настр. само към текущия уебсайт

@site_list
Списък

@invert_listed_only
Обърн. само от сп.

@not_invert_listed
Не обръщ. от сп.

@add_site_to_list
Добавете сайт към списъка

@setup_add_site_hotkey
Настройте бърз клавиш за добавяне на сайт

@more
Още

@select_font
Изберете шрифт

@text_stroke
Щрих на текста

@try_experimental_theme_engines
Изпробвайте **експериментални** темат. машини:
**Филтър+** зап. насит. на цветовете, изп. GPU
**Статичната тема** генерира проста бърза тема
**Динамичната тема** анализира цветове и изобр.

@engine_filter
Филтър

@engine_filter_plus
Филтър+

@engine_static
Статична

@engine_dynamic
Динамич.

@theme_generation_mode
Режим на генериране на тема

@custom_browser_theme_on
Персонална

@custom_browser_theme_off
По подразбиране

@change_browser_theme
Променете темата на браузъра

@privacy
Поверит.

@help
Помощ

@donate
Дарете

@we_celebrate_10_years
Dark Reader празнува 10 години.
Моля, подкрепете нашата работа.

@pay_for_using
Платете за използването на Dark Reader

@news
Новини

@read_more
Прочетете още

@open_dev_tools
Инстр. за разраб.

@mobile
Мобилен

@learn_more
Научете повече

@mobile_text
Намалете напрежението на очите, докато четете на вашия телефон или таблет.
Просто сканирайте QR кода, за да инсталирате.

@all_settings
Всички настройки

@version
Версия

@configure_automation
Настройте автоматизма

@auto_night_time
Автоматично (нощем)

@auto_day_time
Автоматично (денем)

@auto_night_at_location
Автоматично (нощ за региона)

@auto_day_at_location
Автоматично (ден за региона)

@auto_system_is_dark
Автоматично (системата е тъмна)

@auto_system_is_light
Автоматично (системата е светла)

@click_to_set_shortcut
Щракнете, за задаване на пряк път

@extension_toggle_shortcut
Клавишна комб. за вкл./изкл. на разширение

@configure_site_toggle
Конфиг. превкл. на уебсайтове

@site_toggle
Превключване на сайта

@enabled_by_default
Активирано по подразбиране

@enable_for_all_sites_by_default
Активирано за всички уебсайтове по подразб.

@detect_dark_theme
Откриване на тъмна тема

@detect_website_dark_theme
Открийте тъмната тема на уебсайта

@dark_theme_detected
Открита е тъмна тема

@website_toggle_shortcut
Клавишна комб. за превключване на уебсайт

@support_out_work
Подкрепете нашата работа

@mobile_link
Mobile Dark Reader е наличен. Научете повече

@store_listing
Това щадящо очите разширение позволява нощен режим чрез създаване на тъмни теми за уебсайтове в движение. Dark Reader обръща ярките цветове, правейки ги с висок контраст и лесни за четене през нощта.

Можете да регулирате яркостта, контраста, сепия филтъра, тъмния режим, настройките на шрифта и списъка за игнориране.

Молим ви да подкрепите развитието на приложението с дарение. Може да видите новини за Dark Reader в изскачащия прозорец с настройки. Има инструменти за разработчици за опитни потребители.

Dark Reader не показва реклами и не изпраща потребителски данни никъде. Той е с напълно отворен код: https://github.com/darkreader/darkreader

Преди да го инсталирате, деактивирайте подобни разширения. Приятно гледане!
