@extension_description
Тъмен режим за всеки уебсайт. Пазете очите си, използвайте тъмен режим през деня и нощта.

@loading_please_wait
Зарежда се, моля изчакайте.


#==== Top section ====

@on
Включено

@off
Изключено

@toggle_current_site
Превключване на сайта

@setup_hotkey_toggle_site
Направете настройка за превкючване на текущия сайт
с клавишна комбинация

@toggle_extension
Превключете уеб разширението

@setup_hotkey_toggle_extension
Направете настройка за превкючване на уеб разширението
с клавишна комбинация

@automation
Автоматизация

@set_active_hours
Настройте активни часове

@set_location
Включете след залез на място

@longitude
Географска дължина

@latitude
Географска ширина

@page_protected
Тази страница е защитена
от браузъра

@page_in_dark_list
Този сайт е в глобалния
тъмен лист

@system_dark_mode
Използвайте цветният режим на системата

@system_dark_mode_description
Включете само когато режима на системата е тъмен


#==== Filter ====

@filter
Филтър

@mode
Режим

@dark
Tъмен

@light
Светъл

@brightness
Яркост

@contrast
Kонстраст

@grayscale
Сива гама

@sepia
Сепиен

@only_for
Само за

@only_for_description
Прилагане на настройките само на текущия уебсайт


#==== Site list ====

@site_list
Списък със уебсайтове

@invert_listed_only
Променяне на цветовете само в списъка

@not_invert_listed
Не променяй цветовете на сайтовете в списъка

@add_site_to_list
Добавете уебсайта към списъка

@setup_add_site_hotkey
Направете настройка за добавяне на уебсайт към списъка


#==== More settings ====

@more
Повече

@select_font
Изберете шрифт

@text_stroke
Щрих на текста

@try_experimental_theme_engines
Пробвайте **експерименталните** генератори за тъмен режим:
**Филтър+** запазва цветове и насищане, използва GPU
**Статичен режим** прави бърз и прост режим
**Променящ режим** анализира цветове и картини

@engine_filter
Филтър

@engine_filter_plus
Филтър+

@engine_static
Статичен

@engine_dynamic
Променящ

@theme_generation_mode
Правене на нов режим

@custom_browser_theme_on
Персонализиран режим

@custom_browser_theme_off
Нормален режим

@change_browser_theme
Променяне на режима на браузъра


#==== Footer ====

@privacy
Поверителност

@help
Помощ

@donate
Дарете

@news
Новини

@read_more
Прочетете повече

@open_dev_tools
Дев инструменти


#==== Store listing ====

@store_listing
Това уеб разширение с цел грижа за очите прави тъмни режими за уебсайтове в движение. Dark Reader превръща светлите цветове в тъмни, което ги прави с висок констраст и лесни за четене през нощта.

Може да настройте яркостта, контраста, сепиен-филтър, тъмен режим, шрифтове и уебсайтове за игнориране.

Dark Reader няма реклами и не използва вашите данни. То е с напълно отворен код https://github.com/darkreader/darkreader

Преди инсталация, изключете подобни уеб разширения. Приятно гледане!
