@extension_description
প্রত্যেক ওয়েবসাইটের জন্য ডার্কমোড। নিজ চোখের যত্ম নিন, নিত্যকার ব্রাউজিং এর জন্য ব্যবহার করুন ডার্ক থিম।

@loading_please_wait
লোড হচ্ছে, অনুগ্রহ করে অপেক্ষা করুন


#==== Top section ====

@on
চালু

@off
বন্ধ

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
বর্তমান সাইট ঠিক করুন
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
এক্সটেনসন ঠিক করুন
toggle hotkey

@automation
Automation

@set_active_hours
Set active hours

@set_location
Activate after sunset at location

@longitude
দ্রাঘিমা

@latitude
অক্ষাংশ

@page_protected
এই পেজটি প্রোটেক্টেড
ব্রাউজার দ্বারা

@page_in_dark_list
এই সাইটটি গ্লোবালে আছে
ডার্ক লিস্ট

@system_dark_mode
সিস্টেম কালার স্কিম ব্যবহার করুন

@system_dark_mode_description
চালু করুন যখন সিস্টেম মোড চালু আছে


#==== Filter ====

@filter
ফিল্টার

@mode
মোড

@dark
ডার্ক

@light
লাইট

@brightness
উজ্জ্বলতা

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
শুধুমাত্র বর্তমান ওয়েবসাইটের জন্য সেটিংস কার্যকর করুন


#==== Site list ====

@site_list
সাইট লিস্ট

@invert_listed_only
কেবল ইনভার্ট লিস্টেড

@not_invert_listed
ইনভার্ট লিস্টেড নয়

@add_site_to_list
লিস্টে সাইড যোগ করুন

@setup_add_site_hotkey
Setup a hotkey for adding site


#==== More settings ====

@more
আরও

@select_font
ফন্ট বাছাই করুন

@text_stroke
Text stroke

@try_experimental_theme_engines
Try out **experimental** theme engines:
**Filter+** preserves colors saturation, uses GPU
**Static theme** generates a simple fast theme
**Dynamic theme** analyzes colors and images

@engine_filter
ফিল্টার

@engine_filter_plus
ফিল্টার+

@engine_static
Static

@engine_dynamic
Dynamic

@theme_generation_mode
থিম জেনারেশন মোড

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Change the browser theme


#==== Footer ====

@privacy
Privacy

@help
সহায়তা

@donate
অনুদান

@news
বার্তা

@read_more
আরও পড়ুন

@open_dev_tools
Dev tools


#==== Store listing ====

@store_listing
This eye-care extension enables night mode creating dark themes for websites on the fly. Dark Reader inverts bright colors making them high contrast and easy to read at night.

You can adjust brightness, contrast, sepia filter, dark mode, font settings and ignore-list.

Dark Reader doesn't show ads and doesn't send user's data anywhere. It is fully open-source https://github.com/darkreader/darkreader

Before you install disable similar extensions. Enjoy watching!
