@extension_description
প্রত্যেক ওয়েবসাইটের জন্য ডার্কমোড। নিজ চোখের যত্ম নিন, নিত্যকার ব্রাউজিং এর জন্য ব্যবহার করুন ডার্ক থিম।

@loading_please_wait
লোড হচ্ছে, অনুগ্রহ করে অপেক্ষা করুন


#==== Top section ====

@on
চালু

@off
বন্ধ

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
বর্তমান সাইট ঠিক করুন
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
এক্সটেনসন ঠিক করুন
toggle hotkey

@automation
স্বয়ংক্রিয়করণ

@set_active_hours
সক্রিয় কাল সেট করুন

@set_location
লোকেশনে সূর্যাস্তের পরে সক্রিয় করুন

@longitude
দ্রাঘিমা

@latitude
অক্ষাংশ

@page_protected
এই পেজটি প্রোটেক্টেড
ব্রাউজার দ্বারা

@page_in_dark_list
এই সাইটটি গ্লোবালে আছে
ডার্ক লিস্ট

@system_dark_mode
সিস্টেম কালার স্কিম ব্যবহার করুন

@system_dark_mode_description
চালু করুন যখন সিস্টেম মোড চালু আছে


#==== Filter ====

@filter
ফিল্টার

@mode
মোড

@dark
ডার্ক

@light
লাইট

@brightness
উজ্জ্বলতা

@contrast
বৈপরিত্য

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
শুধু বর্তমান ওয়েবসাইটের জন্য সেটিংস কার্যকর করুন


#==== Site list ====

@site_list
সাইট লিস্ট

@invert_listed_only
কেবল ইনভার্ট লিস্টেড

@not_invert_listed
ইনভার্ট লিস্টেড নয়

@add_site_to_list
লিস্টে সাইড যোগ করুন

@setup_add_site_hotkey
Setup a hotkey for adding site


#==== More settings ====

@more
আরও

@select_font
ফন্ট বাছাই করুন

@text_stroke
Text stroke

@try_experimental_theme_engines
**পরীক্ষামূলক** থিম ইঞ্জিন পরখ করুন:
**Filter+** রঙ সম্পৃক্তি রক্ষা করে, GPU ব্যবহার করে
**স্ট্যাটিক থিম** একটি সরল দ্রুত থিম তৈরি করে
**ডায়নামিক থিম** রঙ ও চিত্র বিশ্লেষণ করে

@engine_filter
ফিল্টার

@engine_filter_plus
ফিল্টার+

@engine_static
স্ট্যাটিক

@engine_dynamic
ডায়নামিক

@theme_generation_mode
থিম জেনারেশন মোড

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
ব্রাউজার থিম পরিবর্তন করুন


#==== Footer ====

@privacy
গোপনীয়তা

@help
সহায়তা

@donate
অনুদান

@news
বার্তা

@read_more
আরও পড়ুন

@open_dev_tools
Dev tools


#==== Store listing ====

@store_listing
এই চক্ষু-তদারক এক্সটেনশান কোনরূপ ব্যাঘাত ছাড়া ওয়েবসাইটের জন্য ডার্ক থিম তৈরি করতে নাইট মোডকে সক্ষম করে। ডার্ক রিডার উজ্জ্বল রঙগুলিকে পাল্টে এগুলোর মধ্যে উচ্চ বৈপরিত্য তৈরি করে এবং রাতে পাঠকার্য সহজ করে তোলে।

আপনি উজ্জ্বলতা, বৈসাদৃশ্য, সেপিয়া ফিল্টার, অন্ধকার মোড, ফন্ট সেটিংস এবং উপেক্ষা-তালিকা সমন্বয় করতে পারেন।

Dark Reader বিজ্ঞাপন দেখায় না এবং ব্যবহারকারীর ডেটা কোথাও প্রেরণ করে না। এটি সম্পূর্ণ ওপেন সোর্স https://github.com/darkreader/darkreader

আপনি ইনস্টল করার আগে অনুরূপ এক্সটেনশন অক্ষম করুন। দর্শন উপভোগ করুন!
