@extension_description
প্রত্যেক ওয়েবসাইটের জন্য ডার্কমোড। নিজ চোখের যত্ম নিন, নিত্যকার ব্রাউজিং এর জন্য ব্যবহার করুন ডার্ক থিম।

@loading_please_wait
লোড হচ্ছে, অনুগ্রহ করে অপেক্ষা করুন

@on
অন

@off
অফ

@toggle_current_site
বর্তমান সাইটে টগল করুন

@setup_hotkey_toggle_site
বর্তমান সাইট সেটাপ করুন
টগল কী

@toggle_extension
এক্সটেনশন টগল করুন

@setup_hotkey_toggle_extension
এক্সটেনসন ঠিক করুন
টগল কী

@automation
স্বয়ংক্রিয়করণ

@set_active_hours
সক্রিয় কাল সেট করুন

@set_location
সূর্যাস্তের পরে লোকেশনে সক্রিয় করুন

@longitude
দ্রাঘিমা

@latitude
অক্ষাংশ

@page_protected
এই পেজটি প্রোটেক্টেড
ব্রাউজার দ্বারা

@local_files_forbidden
প্রবেশের অনুমতি নেই
স্থানীয় ফাইল

@page_in_dark_list
এই সাইটটি গ্লোবাল
ডার্ক লিস্টে আছে

@system_dark_mode
সিস্টেম কালার স্কিম ব্যবহার করুন

@system_dark_mode_description
যখন সিস্টেম মোড চালু আছে তখন চালু করুন

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
ফিল্টার

@mode
মোড

@dark
ডার্ক

@light
লাইট

@brightness
উজ্জ্বলতা

@contrast
কনট্রাস্ট

@grayscale
গ্রে-স্কেল

@sepia
সেপিয়া

@only_for
অনলি ফর

@only_for_description
শুধু বর্তমান ওয়েবসাইটের জন্য সেটিংস কার্যকর করুন

@site_list
সাইট লিস্ট

@invert_listed_only
কেবল ইনভার্ট লিস্টেড

@not_invert_listed
ইনভার্ট লিস্টেড নয়

@add_site_to_list
লিস্টে সাইট যোগ করুন

@setup_add_site_hotkey
সাইট অ্যাড করার হট-কী সেটাপ করুন

@more
আরও

@select_font
ফন্ট বাছাই করুন

@text_stroke
টেক্সট স্ট্রোক

@try_experimental_theme_engines
**পরীক্ষামূলক** থিম ইঞ্জিন টেস্ট করুন:
**ফিল্টার+** কালার স্যাচুরেশন রক্ষা করে, GPU ব্যবহার করে
**স্ট্যাটিক থিম** দ্রুত একটি সিম্পল থিম তৈরি করে
**ডায়নামিক থিম** রঙ ও ছবি বিশ্লেষণ করে

@engine_filter
ফিল্টার

@engine_filter_plus
ফিল্টার+

@engine_static
স্ট্যাটিক

@engine_dynamic
ডায়নামিক

@theme_generation_mode
থিম জেনারেশন মোড

@custom_browser_theme_on
কাস্টম

@custom_browser_theme_off
ডিফল্ট

@change_browser_theme
ব্রাউজার থিম পরিবর্তন করুন

@privacy
গোপনীয়তা

@help
সহায়তা

@donate
অনুদান

@we_celebrate_10_years
ডার্ক রিডার 10 বছর উদযাপন করছে।
আমাদের কাজ সমর্থন করুন.

@pay_for_using
ডার্ক রিডার ব্যবহার করার জন্য অর্থ প্রদান করুন

@news
বার্তা

@read_more
আরও পড়ুন

@open_dev_tools
ডেভেলপার টুলস

@mobile
মোবাইল

@learn_more
আরও জানুন

@mobile_text
আপনার ফোন বা ট্যাবলেটে পড়ার সময় চোখের চাপ কমিয়ে দিন।
ইন্সটল করতে শুধু QR কোড স্ক্যান করুন।

@all_settings
সব সেটিংস

@version
সংস্করণ

@configure_automation
অটোমেশন কনফিগার করুন

@auto_night_time
অটো (রাতের সময়)

@auto_day_time
অটো (দিনের সময়)

@auto_night_at_location
স্বয়ংক্রিয় (স্থানে রাত)

@auto_day_at_location
স্বয়ংক্রিয় (স্থানে দিন)

@auto_system_is_dark
স্বয়ংক্রিয় (সিস্টেম অন্ধকার)

@auto_system_is_light
স্বয়ংক্রিয় (সিস্টেম হালকা)

@click_to_set_shortcut
শর্টকাট সেট করতে ক্লিক করুন

@extension_toggle_shortcut
এক্সটেনশন অন/অফ কীবোর্ড শর্টকাট

@configure_site_toggle
ওয়েবসাইট টগল কনফিগার করুন

@site_toggle
সাইট টগলিং

@enabled_by_default
ডিফল্টরূপে সক্রিয়

@enable_for_all_sites_by_default
ডিফল্টরূপে সমস্ত ওয়েবসাইটের জন্য সক্ষম

@detect_dark_theme
অন্ধকার থিম সনাক্ত করুন

@detect_website_dark_theme
ওয়েবসাইটের নিজস্ব অন্ধকার থিম সনাক্ত করুন

@dark_theme_detected
গাঢ় থিম শনাক্ত করা হয়েছে

@website_toggle_shortcut
ওয়েবসাইট টগল কীবোর্ড শর্টকাট

@support_out_work
আমাদের কাজ সমর্থন

@mobile_link
মোবাইল ডার্ক রিডার উপলব্ধ। আরও জানুন

@store_listing
এই আই-কেয়ার এক্সটেনশান কোন ব্যাঘাত ছাড়া ওয়েবসাইটের জন্য ডার্ক থিম তৈরি করে নাইট মোড এনাবলে সহায়তা করে। ডার্ক রিডার উজ্জ্বল রঙগুলিকে পাল্টে এগুলোর মধ্যে হাই কনট্রাস্ট তৈরি করে এবং রাতে পঠন সহজ করে তোলে।

আপনি উজ্জ্বলতা, কনট্রাস্ট, সেপিয়া ফিল্টার, ডার্ক মোড, ফন্ট সেটিংস এবং ইগনোর-লিস্ট সমন্বয় করতে পারেন।

আমরা আপনাকে অনুদান দিয়ে অ্যাপটির বিকাশে সহায়তা করতে বলতে পারি। আপনি সেটিংস পপআপে ডার্ক রিডার সম্পর্কে খবর দেখতে পারেন। অভিজ্ঞ ব্যবহারকারীদের জন্য বিকাশকারী সরঞ্জাম রয়েছে।

Dark Reader বিজ্ঞাপন দেখায় না এবং ব্যবহারকারীর ডেটা কোথাও প্রেরণ করে না। এটি সম্পূর্ণ ওপেন সোর্স https://github.com/darkreader/darkreader

ইনস্টল করার আগে অনুরূপ এক্সটেনশন ডিজ্যাবল করুন এবং এক্সটেনশনটি উপভোগ করুন!
