@extension_description
Tmavý motiv pro každou stránku. Používejte Dark Reader pro celodenní prohlížení webu a šetřete tak své oči.

@loading_please_wait
Načítání, prosím čekejte

@on
Zap

@off
Vyp

@toggle_current_site
Přepnout současnou stránku

@setup_hotkey_toggle_site
Nastavit kláv. zkratku
pro přep. současné stránky

@toggle_extension
Přepnout rozšíření

@setup_hotkey_toggle_extension
Nastavit klávesovou
pro přepínání rozšíř.

@automation
Automatizace

@set_active_hours
Změňte doby aktivního používání

@set_location
Aktivace po západu slunce na místě

@longitude
Zeměpisná délka

@latitude
Zeměpisná šířka

@page_protected
Tato stránka je chráněna
prohlížečem

@local_files_forbidden
Není povolen přístup
místní soubory

@page_in_dark_list
Tato stránka je v seznamu
stránek s tmavým motivem

@system_dark_mode
Použít barevný systém schéma

@system_dark_mode_description
Aktivovat při zapnutém systému dark režim

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filtr

@mode
Režim

@dark
Tmavý

@light
Světlý

@brightness
Jas

@contrast
Kontrast

@grayscale
Odstíny šedé

@sepia
Sépie

@only_for
Pouze pro

@only_for_description
Aplikovat nastavení pouze pro současnou stránku

@site_list
Seznam

@invert_listed_only
Invertovat stránky

@not_invert_listed
Neinvertovat

@add_site_to_list
Přidat stránku do seznamu

@setup_add_site_hotkey
Nastavit klávesovou zkratku pro přidání stránky

@more
Více

@select_font
Vybrat písmo

@text_stroke
Tloušťka písma

@try_experimental_theme_engines
Vyzkoušejte **experimentální** generátory motivů:
**Filter+** zachovává sytost barev, používá GPU
**Statický motiv** generuje rychlý a jednoduchý motiv
**Dynamický motiv** analyzuje barvy a obrázky

@engine_filter
Filtr

@engine_filter_plus
Filtr+

@engine_static
Statický

@engine_dynamic
Dynamic.

@theme_generation_mode
Generátor motivů

@custom_browser_theme_on
Vlastní nastavení

@custom_browser_theme_off
Původní nastavení

@change_browser_theme
Změnit motiv prohlížeče

@privacy
Soukromí

@help
Nápověda

@donate
Přispějte

@we_celebrate_10_years
Dark Reader slaví 10 let.
Podpořte prosím naši práci.

@pay_for_using
Zaplaťte za používání Dark Reader

@news
Novinky

@read_more
Více...

@open_dev_tools
Nástroje

@mobile
Mobilní

@learn_more
Zjistěte více

@mobile_text
Snižte únavu očí při čtení na telefonu nebo tabletu.
Pro instalaci stačí naskenovat QR kód.

@all_settings
Všechna nastavení

@version
Verze

@configure_automation
Nakonfigurujte automatizaci

@auto_night_time
Auto (noční čas)

@auto_day_time
Auto (denní čas)

@auto_night_at_location
Auto (noc na místě)

@auto_day_at_location
Auto (den na místě)

@auto_system_is_dark
Auto (systém je tmavý)

@auto_system_is_light
Auto (systém je lehký)

@click_to_set_shortcut
Kliknutím nastavíte zkratku

@extension_toggle_shortcut
Klávesová zkratka pro zapnutí/vypnutí rozšíření

@configure_site_toggle
Nakonfigurujte přepínání webových stránek

@site_toggle
Přepínání stránek

@enabled_by_default
Ve výchozím nastavení povoleno

@enable_for_all_sites_by_default
Ve výchozím nastavení povoleno pro všechny weby

@detect_dark_theme
Detekce tmavého motivu

@detect_website_dark_theme
Zjistěte vlastní temné téma webu

@dark_theme_detected
Byl zjištěn tmavý motiv

@website_toggle_shortcut
Klávesová zkratka pro přepínání webových stránek

@support_out_work
Podpořte naši práci

@mobile_link
Mobile Dark Reader je k dispozici. Zjistěte více

@store_listing
Toto k očím šetrné rozšíření přepíná stránky do nočního režimu tím, že je samo převádí do tmavého motivu. Dark Reader invertuje jasné barvy tak, aby byly kontrastní a lehce čitelné v noci.

Můžete upravit jas, kontrast, sépiový filtr, tmavý mód, nastavení písma a seznam ignorovaných stránek.

Můžeme vás požádat, abyste podpořili vývoj aplikace darem. Novinky o Dark Reader můžete vidět ve vyskakovacím okně nastavení. Pro zkušené uživatele existují nástroje pro vývojáře.

Dark Reader neobsahuje reklamy a nikam neodesílá data uživatele. Projekt je plně open-source a repositář je možné nalézt na https://github.com/darkreader/darkreader

Před instalací vypněte všechna podobná rozšíření. Přejeme příjemné surfování!
