@extension_description
Mørk tilstand for alle hjemmesider. Beskyt dine øjne og brug mørke temaer for browsing on dagen og natten.

@loading_please_wait
Indlæser, vent venligst

@on
Til

@off
Fra

@toggle_current_site
Skift den aktuelle side

@setup_hotkey_toggle_site
Indstil aktuel side
skifte genvejstast

@toggle_extension
Skift udvidelse

@setup_hotkey_toggle_extension
Indstil udvidelse
skifte genvejstast

@automation
Automatisering

@set_active_hours
Indstil aktive timer

@set_location
Aktiver efter solnedgang på lokationen

@longitude
Længdegrad

@latitude
Breddegrad

@page_protected
Denne side er beskyttet
af browseren

@local_files_forbidden
Ikke tilladt at tilgå
lokale filer

@page_in_dark_list
Denne side er i den globale
Dark List

@system_dark_mode
Brug system farveskema

@system_dark_mode_description
Aktiver når systemets mørk tilstand er til

@system_dark_mode_chromium_warning
Denne indstilling virker muligvis ikke
grundet en fejl i din browser

@filter
Filter

@mode
Mode

@dark
Mørk

@light
Lys

@brightness
Lysstyrke

@contrast
Kontrast

@grayscale
Gråtoner

@sepia
Sepia

@only_for
Kun for

@only_for_description
Anvend kun indstillingerne for den nuværende webside

@site_list
Side liste

@invert_listed_only
Inverter kun listede

@not_invert_listed
Ikke inverter listede

@add_site_to_list
Tilføj side til listen

@setup_add_site_hotkey
Indstil en genvejstasttil at tilføje en side

@more
Mere

@select_font
Vælg en skrifttype

@text_stroke
Tekst streg

@try_experimental_theme_engines
Prøv **eksperimentelle** temamotorer:
**Filter+** bevarer farvemætning, bruger GPU
**Statisk tema** genererer et simpelt hurtigt tema
**Dynamisk tema** analyserer farver og billeder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Tema generator mode

@custom_browser_theme_on
Brugerdefineret

@custom_browser_theme_off
Standard

@change_browser_theme
Skift browser tema

@privacy
Privatliv

@help
Hjælp

@donate
Doner

@we_celebrate_10_years
Dark Reader fejrer 10 år.
Støt venligst vores arbejde.

@pay_for_using
Betal for at bruge Dark Reader

@news
Nyheder

@read_more
Læs mere

@open_dev_tools
Udviklerværktøjer

@mobile
Mobil

@learn_more
Få flere oplysninger

@mobile_text
Reducer øjenbelastningen, mens du læser på din telefon eller tablet.
Du skal blot scanne QR-koden for at installere.

@all_settings
Alle indstillinger

@version
Version

@configure_automation
Konfigurer automatisering

@auto_night_time
Auto (nattid)

@auto_day_time
Auto (dagtid)

@auto_night_at_location
Auto (nat på stedet)

@auto_day_at_location
Auto (dag på stedet)

@auto_system_is_dark
Auto (systemet er mørkt)

@auto_system_is_light
Auto (systemet er lyst)

@click_to_set_shortcut
Klik for at indstille genvejen

@extension_toggle_shortcut
Udvidelse til/fra tastaturgenvej

@configure_site_toggle
Konfigurer webstedsskift

@site_toggle
Skift af websted

@enabled_by_default
Aktiveret som standard

@enable_for_all_sites_by_default
Aktiveret for alle websteder som standard

@detect_dark_theme
Opdag mørkt tema

@detect_website_dark_theme
Opdag hjemmesidens eget mørke tema

@dark_theme_detected
Mørkt tema registreret

@website_toggle_shortcut
Skift tastaturgenvej til websted

@support_out_work
Støt vores arbejde

@mobile_link
Mobile Dark Reader er tilgængelig. Lær mere

@store_listing
Denne øjenplejeudvidelse aktiverer nattilstand ved at skabe mørke temaer til websteder i farten. Dark Reader inverterer lyse farver, hvilket gør dem høj kontrast og nemme at læse om natten.

Du kan justere lysstyrke, kontrast, sepiafilter, mørk tilstand, skrifttypeindstillinger og ignoreringslisten.

Vi kan bede dig om at støtte udviklingen af appen med en donation. Du kan muligvis se nyheder om Dark Reader i popup-vinduet med indstillinger. Der er udviklerværktøjer til erfarne brugere.

Dark Reader viser ikke annoncer og sender ikke brugernes data nogen steder. Det er fuldt ud open source: https://github.com/darkreader/darkreader

Før du installerer det, skal du deaktivere lignende udvidelser. Nyd at se!

@see_all_options
See all options

@configure_theme
Configure theme

@extension_is_enabled
Extension is enabled

@extension_is_disabled
Extension is disabled

@switch_time
Switches according to specified time

@switch_location
Switched according to location

@switch_system
Switches according to system dark mode

@settings
Settings

@enable_for_pdf
Enable for PDF files

@enabled_for_pdf
Enabled for PDF files

@disabled_for_pdf
Disabled for PDF files

@dark_theme_detected_on_page
Dark theme detected on page

@enabled_for_current_website
Enabled for current website

@disabled_for_current_website
Disabled for current website

@theme_for_all
Theme for all websites

@create_new_theme
Create new theme

@theme_for
Theme for

@theme
Theme

@ask_remove_theme
Are you sure you want to remove

@general
General

@hotkeys
Hotkeys

@advanced
Advanced

@about
About

@theme_mode
Brightness, contrast, mode

@theme_color
Colors

@theme_font
Font & more

@back
Back

@reset_to_defaults
Reset to defaults

@reset_description
Restore current theme values to defaults

@reset_changes
Reset changes

@apply
Apply

@ask_remove_changes
Are you sure you want to remove current changes? You cannot restore them later.

@all_websites
All websites

@dev_tools_description
Make a fix for a website

@settings_sync
Enable settings sync

@sync_devices
Synchronized across devices

@not_sync_devices
Not synchronized across devices

@enable_by_default
Enable by default

@enabled_on_all
Enabled on all websites by default

@disabled_on_all
Disabled on all websites by default

@not_override_dark_theme
Will not override website's dark theme

@override_dark_theme
Will override website's dark theme

@disable_on_these_websites
Disable on these websites

@enable_on_these_websites
Enable on these websites

@site_list_description
Type in the domain name and press Enter

@ask_remove_site_list
Are you sure you want to remove all your sites from the list? You cannot restore them later

@clear_site_list
Clear site list

@remove_all_site_list
Remove all sites from the list

@toggle_on_off
Toggle on/off

@toggle_dark_light
Toggle dark/light

@toggle_description
Automation behavior

@enable_disable_extension
Enable/disable the extension

@synchronize_sites
Synchronize sites fixes

@synchronize_sites_description
Load the latest sites fixes from a remote server

@enable_on_restricted_pages
Enable on restricted pages

@restricted_pages_enable
You should enable it in browser flags too

@restricted_pages_disable
Disabled for web store and other pages

@use_context_menus
Use context menus

@use_context_menus_enable
Context menu integration is enabled

@use_context_menus_disable
Context menu integration is disabled

@import_settings
Import Settings

@settings_imported
Settings imported

@failed_to_read_file
Failed to read file

@open_json_file
Open settings from a JSON file

@export_settings
Export Settings

@save_json_file
Save settings to a JSON file

@ask_remove_settings
Are you sure you want to remove all your settings? You cannot restore them later

@reset_settings
Reset settings

@restore_settings
Restore settings to defaults

@switch_to_old_design
Switch to old design

@preview_new_design
Preview new design

@switch_to_desktop_design
Switch to desktop design

@preview_mobile_design
Preview new mobile design

@dynamic_theme_editor
Dynamic Theme Editor

@static_theme_editor
Static Theme Editor

@inversion_fix_editor
Inversion Fix Editor

@ask_remove_current_changes
Are you sure you want to remove the current changes? You cannot restore them later.

@ask_delete_fix
Are you sure you want to delete the fix?

@delete
Delete

@read_about_this
Read about this tool

@here
here

@if_a_popular_website
If a popular website looks incorrect e-mail to 

@full_ditor
Full Editor

@per_site_ditor
Per Site Editor

@search_by_url
Search by URL

@create_new_fix
Create new fix

@search_for_an
Search for an

@existing_fix
existing fix

@or_enter_a
or enter a

@domain_name
domain name

@for_a_new_fix_and_click
for a new fix and click

@color_scheme
Color Scheme

@scheme
Scheme

@selection
Selection

@scrollbar
Scrollbar

@style_system_controls
Style system controls

@text
Text

@change_font
Change font

@immediate_modify
Immediate modify

@export_dynamic_theme
Export Dynamic Theme

@font_name
Font name

@yes
Yes

@no
No

@background
Background

@auto
Auto

@notify_of_news
Notify of news

@notifying_of_dark_readers_news
Notifying of Dark Reader's news

@not_notifying_of_dark_readers_news
Not Notifying of Dark Reader's news

@custom_browser_theme
Custom browser theme is active

@default_browser_theme
Default browser theme is active

@css_editor
CSS Editor

@cancel
Cancel