@extension_description
Mørk tilstand for alle hjemmesider. Beskyt dine øjne og brug mørke temaer for browsing on dagen og natten.

@loading_please_wait
Indlæser, vent venligst

@on
Til

@off
Fra

@toggle_current_site
Skift den aktuelle side

@setup_hotkey_toggle_site
Indstil aktuel side
skifte genvejstast

@toggle_extension
Skift udvidelse

@setup_hotkey_toggle_extension
Indstil udvidelse
skifte genvejstast

@automation
Automatisering

@set_active_hours
Indstil aktive timer

@set_location
Aktiver efter solnedgang på lokationen

@longitude
Længdegrad

@latitude
Breddegrad

@page_protected
Denne side er beskyttet
af browseren

@local_files_forbidden
Ikke tilladt at tilgå
lokale filer

@page_in_dark_list
Denne side er i den globale
Dark List

@system_dark_mode
Brug system farveskema

@system_dark_mode_description
Aktiver når systemets mørk tilstand er til

@system_dark_mode_chromium_warning
Denne indstilling virker muligvis ikke
grundet en fejl i din browser

@filter
Filter

@mode
Mode

@dark
Mørk

@light
Lys

@brightness
Lysstyrke

@contrast
Kontrast

@grayscale
Gråtoner

@sepia
Sepia

@only_for
Kun for

@only_for_description
Anvend kun indstillingerne for den nuværende webside

@site_list
Side liste

@invert_listed_only
Inverter kun listede

@not_invert_listed
Ikke inverter listede

@add_site_to_list
Tilføj side til listen

@setup_add_site_hotkey
Indstil en genvejstasttil at tilføje en side

@more
Mere

@select_font
Vælg en skrifttype

@text_stroke
Tekst streg

@try_experimental_theme_engines
Prøv **eksperimentelle** temamotorer:
**Filter+** bevarer farvemætning, bruger GPU
**Statisk tema** genererer et simpelt hurtigt tema
**Dynamisk tema** analyserer farver og billeder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Tema generator mode

@custom_browser_theme_on
Brugerdefineret

@custom_browser_theme_off
Standard

@change_browser_theme
Skift browser tema

@privacy
Privatliv

@help
Hjælp

@donate
Doner

@we_celebrate_10_years
Dark Reader fejrer 10 år.
Støt venligst vores arbejde.

@pay_for_using
Betal for at bruge Dark Reader

@news
Nyheder

@read_more
Læs mere

@open_dev_tools
Udviklerværktøjer

@mobile
Mobil

@learn_more
Få flere oplysninger

@mobile_text
Reducer øjenbelastningen, mens du læser på din telefon eller tablet.
Du skal blot scanne QR-koden for at installere.

@all_settings
Alle indstillinger

@version
Version

@configure_automation
Konfigurer automatisering

@auto_night_time
Auto (nattid)

@auto_day_time
Auto (dagtid)

@auto_night_at_location
Auto (nat på stedet)

@auto_day_at_location
Auto (dag på stedet)

@auto_system_is_dark
Auto (systemet er mørkt)

@auto_system_is_light
Auto (systemet er lyst)

@click_to_set_shortcut
Klik for at indstille genvejen

@extension_toggle_shortcut
Udvidelse til/fra tastaturgenvej

@configure_site_toggle
Konfigurer webstedsskift

@site_toggle
Skift af websted

@enabled_by_default
Aktiveret som standard

@enable_for_all_sites_by_default
Aktiveret for alle websteder som standard

@detect_dark_theme
Opdag mørkt tema

@detect_website_dark_theme
Opdag hjemmesidens eget mørke tema

@dark_theme_detected
Mørkt tema registreret

@website_toggle_shortcut
Skift tastaturgenvej til websted

@support_out_work
Støt vores arbejde

@mobile_link
Mobile Dark Reader er tilgængelig. Lær mere

@store_listing
Denne øjenplejeudvidelse aktiverer nattilstand ved at skabe mørke temaer til websteder i farten. Dark Reader inverterer lyse farver, hvilket gør dem høj kontrast og nemme at læse om natten.

Du kan justere lysstyrke, kontrast, sepiafilter, mørk tilstand, skrifttypeindstillinger og ignoreringslisten.

Vi kan bede dig om at støtte udviklingen af appen med en donation. Du kan muligvis se nyheder om Dark Reader i popup-vinduet med indstillinger. Der er udviklerværktøjer til erfarne brugere.

Dark Reader viser ikke annoncer og sender ikke brugernes data nogen steder. Det er fuldt ud open source: https://github.com/darkreader/darkreader

Før du installerer det, skal du deaktivere lignende udvidelser. Nyd at se!
