@extension_description
Dunkles Design für jede Website. Schonen Sie Ihre Augen und verwenden Sie Dark Reader für die Nacht und das tägliche Surfen.

@loading_please_wait
Lädt, bitte warten


#==== Top section ====

@on
Ein

@off
Aus

@toggle_current_site
Aktuelle Seite umschalten

@setup_hotkey_toggle_site
Hotkey zum Umschalten der
aktuellen Webseite einrichten

@toggle_extension
Erweiterung

@setup_hotkey_toggle_extension
Hotkey zum (de)aktivieren
der Erweiterung

@automation
Automatisierung

@set_active_hours
Nutzungszeit ändern

@set_location
Nach lokalem Sonnenuntergang aktivieren

@longitude
Längengrad

@latitude
Breitengrad

@page_protected
Diese Seite ist durch
den Browser geschützt

@page_in_dark_list
Seite befindet sich auf der
permanenten Dunkel-Liste

@system_dark_mode
Systemfarben verwenden

@system_dark_mode_description
Activieren, wenn das System dunkel ist


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Dunkel

@light
Hell

@brightness
Helligkeit

@contrast
Kontrast

@grayscale
Graustufen

@sepia
Sepia

@only_for
Nur für

@only_for_description
Einstellungen nur auf aktuelle Domain anwenden


#==== Site list ====

@site_list
Websiteliste

@invert_listed_only
Nur invertieren

@not_invert_listed
Nicht invertieren

@add_site_to_list
Webseite zur Liste hinzufügen

@setup_add_site_hotkey
Hotkey zum Hinzufügen der Seite festlegen


#==== More settings ====

@more
Mehr

@select_font
Schriftart auswählen

@text_stroke
Textstärke

@try_experimental_theme_engines
Probiere **experimentelle** Style-Engines aus:
**Filter+** bewahrt die Farbsättigung, verwendet GPU
**Statisches** generiert einfaches schnelles Design
**Dynamisches Thema** analysiert Farben und Bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynam.

@theme_generation_mode
Verfahren zur Stylegenerierung

@custom_browser_theme_on
Angepasst

@custom_browser_theme_off
Standard

@change_browser_theme
Browserdesign


#==== Footer ====

@privacy
Datenschutz

@help
Hilfe

@donate
Spenden

@news
Neuigkeiten

@read_more
Weiterlesen

@open_dev_tools
Erweitert


#==== Store listing ====

@store_listing
Zum Schutz der Augen ermöglicht diese Erweiterung das Erstellen dunkler Farblayouts für Webseiten. Dabei invertiert Dark Reader helle Farben, macht sie kontrastreich und nachts gut lesbar.

Helligkeit, Kontrast, Sepia-Filter, Dark-Modus, Schrifteinstellungen und Ignorier-Liste können manuell verwaltet und individuell eingestellt werden.

Dark Reader zeigt dabei keine Werbung und sendet keine Benutzerdaten irgendwohin. Es ist komplett quelloffen https://github.com/darkreader/darkreader

Beachten Sie, dass Sie ähnliche Erweiterungen deaktivieren, bevor Sie Dark Reader installieren. Genießen und Gucken!
