@extension_description
Dunkles Design für jede Website. Schonen Sie Ihre Augen, verwenden Sie Dark Reader für die Nacht und tägliches Surfen.

@loading_please_wait
Laden, bitte warten

#==== Top section ====

@on
Ein

@off
Aus

@toggle
Schalten

@toggle_current_site
Aktuelle Seite umschalten

@setup_hotkey_toggle_site
Aktuellen Website Toggle
Hotkey einrichten

@toggle_extension
Erweiterung schalten

@setup_hotkey_toggle_extension
Setup-Erweiterung
umschalten Hotkey

@page_protected
Diese Seite ist durch
Browser geschützt

@page_in_dark_list
Seite befindet sich in der
globalen dunklen Liste


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Dunkel

@light
Licht

@brightness
Helligkeit

@contrast
Kontrast

@grayscale
Graustufen

@sepia
Sepia

@only_for
Nur für

@only_for_description
Wenden Einstellungen nur auf die aktuelle Site an


#==== Site list ====

@site_list
Websiteliste

@invert_listed_only
Invertieren nur

@not_invert_listed
Nicht invertieren

@add_site_to_list
Website zur Liste hinzufügen

@setup_add_site_hotkey
Richten Sie Hotkey zum Hinzufügen der Site


#==== More settings ====

@more
Mehr

@select_font
Wählen Sie eine Schriftart aus

@text_stroke
Textstrich

@try_experimental_theme_engines
Probiere **experimentelle** Theme-Engines aus:
**Filter+** bewahrt die Farbsättigung, verwendet GPU
**Statisches** generiert einfaches schnelles Thema
**Dynamisches Thema** analysiert Farben und Bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynam.

@theme_generation_mode
Themengenerierungsmodus

@custom_browser_theme_on
Maßgeschneidert

@custom_browser_theme_off
Standard

@change_browser_theme
Ändern Sie das Browserthema


#==== Footer ====

@privacy
Datenschutz

@help
Hilfe

@donate
Spenden

@news
Nachricht

@read_more
Weiterlesen

@open_dev_tools
Werkzeuge


#==== Store listing ====

@store_listing
Zum Schutz der Augen ermöglicht diese Erweiterung das Erstellen dunkler Farblayouts für Webseiten. Dabei invertiert Dark Reader helle Farben, macht sie kontrastreich und nachts gut lesbar. 

Helligkeit, Kontrast, Sepia-Filter, Dark-Modus, Schrifteinstellungen und Ignorier-Liste können manuell verwaltet und individuell eingestellt werden.

Dark Reader zeigt dabei keine Werbeanzeigen an und sendet keine Benutzerdaten an einen beliebigen Ort. Es ist vollständig Open-Source https://github.com/darkreader/darkreader

Beachten Sie, dass Sie ähnliche Erweiterungen deaktivieren, bevor Sie die App installieren. Genießen und Gucken!
