@extension_description
Dunkles Design für jede Website. Schonen Sie Ihre Augen und verwenden Sie Dark Reader für die Nacht und das tägliche Surfen.

@loading_please_wait
Lädt, bitte warten


#==== Top section ====

@on
Ein

@off
Aus

@toggle_current_site
Aktuelle Seite umschalten

@setup_hotkey_toggle_site
Hotkey zum Umschalten der
aktuellen Webseite einrichten

@toggle_extension
Erweiterung

@setup_hotkey_toggle_extension
Hotkey zum (de)aktivieren
der Erweiterung

@automation
Automatisierung

@set_active_hours
Nutzungszeit ändern

@set_location
Nach lokalem Sonnenuntergang aktivieren

@longitude
Längengrad

@latitude
Breitengrad

@page_protected
Diese Seite ist durch
den Browser geschützt

@local_files_forbidden
Zugriff nicht erlaubt auf
lokale Dateien

@page_in_dark_list
Seite befindet sich auf der
globalen Dunkel-Liste

@system_dark_mode
Systemfarben verwenden

@system_dark_mode_description
Aktivieren, wenn das System dunkel ist

@system_dark_mode_chromium_warning
Diese Funktion könnte vielleicht nicht, durch
einen Bug in ihren Brower, funktionieren


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Dunkel

@light
Hell

@brightness
Helligkeit

@contrast
Kontrast

@grayscale
Graustufe

@sepia
Sepia

@only_for
Nur für

@only_for_description
Einstellungen nur auf aktuelle Webseite anwenden


#==== Site list ====

@site_list
Webseiteliste

@invert_listed_only
Nur aufgelistete invertieren

@not_invert_listed
Nicht aufgelistete invertieren

@add_site_to_list
Webseite zur Liste hinzufügen

@setup_add_site_hotkey
Ein Hotkey zum Hinzufügen der Seite festlegen


#==== More settings ====

@more
Mehr

@select_font
Schriftart auswählen

@text_stroke
Textstärke

@try_experimental_theme_engines
Probiere **experimentelle** Style-Engines aus:
**Filter+** bewahrt die Farbsättigung, verwendet GPU
**Statisches** generiert einfaches schnelles Design
**Dynamisches Thema** analysiert Farben und Bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynamisch

@theme_generation_mode
Them-Generierungsmodus

@custom_browser_theme_on
Angepasst

@custom_browser_theme_off
Standard

@change_browser_theme
Ändere das Browserdesign


#==== Footer ====

@privacy
Datenschutz

@help
Hilfe

@donate
Spenden

@news
Neuigkeiten

@read_more
Weiterlesen

@open_dev_tools
Erweitert


#==== Toggle menus ====

@configure_automation
Automatisierung konfigurieren

@auto_night_time
Automatisch (Nacht)

@auto_day_time
Automatisch (tagsüber)

@auto_night_at_location
Auto (Nacht am Standort)

@auto_day_at_location
Auto (Tag vor Ort)

@auto_system_is_dark
Auto (System ist dunkel)

@auto_system_is_light
Auto (System ist hell)

@click_to_set_shortcut
Klicken Sie, um die Verknüpfung festzulegen

@extension_toggle_shortcut
Tastenkombination zum Ein-/Ausschalten der Erweiterung

@configure_site_toggle
Websiteumschaltung konfigurieren

@site_toggle
Site-Umschaltung

@detect_dark_theme
Dunkles Thema erkennen

@detect_website_dark_theme
Erkennen Sie das eigene dunkle Thema der Website

@dark_theme_detected
Dunkles Design erkannt

@website_toggle_shortcut
Tastenkombination zum Umschalten der Website

@support_out_work
Unterstützen Sie unsere Arbeit


#==== Store listing ====

@store_listing
Zum Schutz der Augen ermöglicht diese Erweiterung das Erstellen dunkler Farblayouts für Webseiten. Dabei invertiert Dark Reader helle Farben, macht sie kontrastreich und nachts gut lesbar.

Helligkeit, Kontrast, Sepia-Filter, Dark-Modus, Schrifteinstellungen und Ignorier-Liste können manuell verwaltet und individuell eingestellt werden.

Könnten wir Sie bitten, die Appentwicklung mit einer Spende zu unterstützen? Möglicherweise sehen Sie im Einstellungs-Popup Neuigkeiten über Dark Reader. Es gibt Entwicklertools für erfahrene Benutzer.

Dark Reader zeigt dabei keine Werbung oder sendet Benutzerdaten irgendwohin. Es ist komplett quelloffen: https://github.com/darkreader/darkreader.

Deaktivieren Sie vor der Installation ähnliche Erweiterungen. Genieße das Zusehen!
