@extension_description
Σκούρα εμφάνιση για όλες τις ιστοσελίδες. Φροντίστε τα μάτια σας κάνοντας χρήση σκούρας εμφάνισης στο καθημερινό σας σερφάρισμα.

@loading_please_wait
Φόρτωση, παρακαλώ περιμένετε

@on
On

@off
Off

@toggle_current_site
Αλλαγή τρέχουσας σελίδας

@setup_hotkey_toggle_site
Ρυθμίσεις τρέχουσας σελίδας
αλλαγή hotkey

@toggle_extension
Εναλλαγή πρόσθετου

@setup_hotkey_toggle_extension
Ρυθμίσεις πρόσθετου
αλλαγή hotkey

@automation
Αυτοματοποίηση

@set_active_hours
Ορισμός ενεργών ωρών

@set_location
Ενεργοποιήστε μετά το ηλιοβασίλεμα στη θέση

@longitude
Γεωγραφικό μήκος

@latitude
Γεωγραφικό πλάτος

@page_protected
Η σελίδα αυτή
προστατεύεται

@local_files_forbidden
Δεν επιτρέπεται η πρόσβαση
τοπικά αρχεία

@page_in_dark_list
Περιλαμβάνεται στην
καθολική Σκούρα Λίστα

@system_dark_mode
Χρησιμοποιήστε το συνδυασμό χρωμάτων του συστήματος

@system_dark_mode_description
Ενεργοποιείται στη σκοτεινή λειτουργία συστήματος

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Φίλτρο

@mode
Εμφάνιση

@dark
Σκούρα

@light
Φωτεινή

@brightness
Φωτεινότητα

@contrast
Αντίθεση

@grayscale
Ασπρόμαυρο

@sepia
Sepia

@only_for
Μόνο για

@only_for_description
Ενεργοποίηση μόνο στην τρέχουσα σελίδα

@site_list
Λίστα

@invert_listed_only
Αντίστροφη λίστα

@not_invert_listed
Όχι αντίστροφη

@add_site_to_list
Προσθήκη σελίδας στη λίστα

@setup_add_site_hotkey
Ρυθμίσεις hotkey για προσθήκη σελίδας

@more
Περισσότερα

@select_font
Επιλογή γραμματοσειράς

@text_stroke
Σκιά γραμμάτων

@try_experimental_theme_engines
Δοκιμάστε τις **πειραματικές** μηχανές θεμάτων:
**Φίλτρο+** διατήρηση κορεσμού χρωμάτων
**Στατικό θέμα** χρήση απλού, γρήγορου θέματος
**Δυναμικό θέμα** ανάλυση χρωμάτων και εικόνων

@engine_filter
Φίλτρο

@engine_filter_plus
Φίλτρο+

@engine_static
Στατικό

@engine_dynamic
Δυναμικό

@theme_generation_mode
Λειτουργία δημιουργίας θέματος

@custom_browser_theme_on
Προσαρμοσμένη

@custom_browser_theme_off
Προεπιλογή

@change_browser_theme
Αλλαγή θέματος προγράμματος περιήγησης

@privacy
Ιδιωτικότητα

@help
Βοήθεια

@donate
Δωρεά

@we_celebrate_10_years
Το Dark Reader γιορτάζει 10 χρόνια.
Παρακαλούμε υποστηρίξτε το έργο μας.

@pay_for_using
Πληρώστε για τη χρήση του Dark Reader

@news
Νέα

@read_more
Διαβάστε περισσότερα

@open_dev_tools
Εργαλεία

@mobile
Κινητός

@learn_more
Μάθετε περισσότερα

@mobile_text
Μειώστε την καταπόνηση των ματιών ενώ διαβάζετε στο τηλέφωνο ή το tablet σας.
Απλώς σαρώστε τον κωδικό QR για εγκατάσταση.

@all_settings
Όλες οι ρυθμίσεις

@version
Εκδοχή

@configure_automation
Διαμόρφωση αυτοματισμού

@auto_night_time
Αυτόματο (νυχτερινή ώρα)

@auto_day_time
Αυτόματο (ημέρα)

@auto_night_at_location
Αυτόματο (νύχτα στην τοποθεσία)

@auto_day_at_location
Αυτόματο (ημέρα στην τοποθεσία)

@auto_system_is_dark
Αυτόματο (το σύστημα είναι σκοτεινό)

@auto_system_is_light
Αυτόματο (το σύστημα είναι ελαφρύ)

@click_to_set_shortcut
Κάντε κλικ για να ορίσετε τη συντόμευση

@extension_toggle_shortcut
Επέκταση on/off συντόμευση πληκτρολογίου

@configure_site_toggle
Διαμόρφωση εναλλαγής ιστότοπου

@site_toggle
Εναλλαγή τοποθεσίας

@enabled_by_default
Ενεργοποιήθηκε από προεπιλογή

@enable_for_all_sites_by_default
Ενεργοποιημένο για όλους τους ιστότοπους από προεπιλογή

@detect_dark_theme
Εντοπισμός σκοτεινού θέματος

@detect_website_dark_theme
Εντοπίστε το σκοτεινό θέμα του ιστότοπου

@dark_theme_detected
Εντοπίστηκε σκούρο θέμα

@website_toggle_shortcut
Συντόμευση πληκτρολογίου εναλλαγής ιστότοπου

@support_out_work
Υποστηρίξτε το έργο μας

@mobile_link
Το Mobile Dark Reader είναι διαθέσιμο. Μάθε περισσότερα

@store_listing
Αυτό το θεαματικό πρόσθετο, μετατρέπει ζωντανά τις ιστοσελίδες που επισκέπτεστε σε σκούρες. Το Dark Reader αντιστρέφει τα χρώματα δημιουργώντας έντονη αντίθεση για ευκολότερη ανάγνωση κατά τις βραδυνές ώρες.

Μπορείτε να προσαρμόσετε φωτεινότητα, αντίθεση, φίλτρο sepia, σκούρα εμφάνιση και λίστα ιστσελίδων στις οποίες το πρόσθετο δεν θα παρεμβαίνει.

Μπορεί να σας ζητήσουμε να υποστηρίξετε την ανάπτυξη της εφαρμογής με μια δωρεά. Μπορεί να δείτε νέα σχετικά με το Dark Reader στο αναδυόμενο παράθυρο ρυθμίσεων. Υπάρχουν Εργαλεία προγραμματιστών για έμπειρους χρήστες.

Το Dark Reader δεν εμφανίζει διαφιμήσεις ούτε κάνει οποιαδήποτε αποστολή στατιστικών/πληροφορίών του χρήστη. Είναι 100% ανοικτού κώδικά https://github.com/darkreader/darkreader

Πριν εγκαταστήσετε το πρόσθετο αυτό θα πρέπει να αφαιρέσετε παρόμοια πρόσθετα. Καλό σερφάρισμα!
