@extension_description
Σκούρα εμφάνιση για όλες τις ιστοσελίδες. Φροντήστε τα μάτια σας κάνοντας χρήση σκούρας εμφάνισης στο καθημερινό σας σερφάρισμα.

@loading_please_wait
Γίνεται φόρτωση, παρακαλώ περιμένετε


#==== Top section ====

@on
On

@off
Off

@toggle_current_site
αλλαγή τρέχουσας σελίδας

@setup_hotkey_toggle_site
Ρυθμίσεις τρέχουσας σελίδας
αλλαγή hotkey

@toggle_extension
αλλαγή πρόσθετου

@setup_hotkey_toggle_extension
Ρυθμίσεις πρόσθετου
αλλαγή hotkey

@automation
Αυτοματοποίηση

@set_active_hours
Ορισμός ενεργών ωρών

@set_location
Ενεργοποιήστε μετά το ηλιοβασίλεμα στη θέση

@longitude
Γεωγραφικό μήκος

@latitude
Γεωγραφικό πλάτος

@page_protected
Η σελίδα αυτή
προστατεύεται

@page_in_dark_list
Η σελίδα αυτή είναι
παγκόσμια Σκούρα Λίστα

@system_dark_mode
Χρησιμοποιήστε το συνδυασμό χρωμάτων του συστήματος

@system_dark_mode_description
Ενεργοποιείται όταν το σύστημα σκοτεινή λειτουργία είναι ενεργοποιημένη


#==== Filter ====

@filter
Φίλτρο

@mode
Εμφάνιση

@dark
Σκούρα

@light
Φωτεινή

@brightness
Φωτεινότητα

@contrast
Αντίθεση

@grayscale
Ασπρόμαυρο

@sepia
Sepia

@only_for
Μόνο για

@only_for_description
Ενεργοποίηση ρυθμίσεων μόνο για τη τρέχουσα σελίδα


#==== Site list ====

@site_list
Λίστα

@invert_listed_only
Αντίστροφη λίστα

@not_invert_listed
Όχι αντίστροφη

@add_site_to_list
Προσθήκη σελίδας στη λίστα

@setup_add_site_hotkey
Ρυθμίσεις hotkey για προσθήκη σελίδας


#==== More settings ====

@more
Περισσότερα

@select_font
Επιλογή γραμματοσειράς

@text_stroke
Σκιά γραμμάτων

@try_experimental_theme_engines
Δοκιμάστε την **πειραματική** μηχανή θεμάτων:
**Φίλτρο+** διατήρηση αποχρώσεων κάνοντας χρήση της GPU
**Στατικό θέμα** χρήση απλού, γρήγορου θέματος
**Δυναμικό θέμα** ανάλυση χρωμάτων και εικόνων

@engine_filter
Φίλτρο

@engine_filter_plus
Φίλτρο+

@engine_static
Στατικό

@engine_dynamic
Δυναμικό

@theme_generation_mode
Λειτουργία θέματος

@custom_browser_theme_on
Προσαρμοσμένη

@custom_browser_theme_off
Προεπιλογή

@change_browser_theme
Αλλαγή θέματος προγραμματος περιήγησης


#==== Footer ====

@privacy
Ιδιωτικότητα

@help
Βοήθεια

@donate
Δωρεά

@news
Νέα

@read_more
Διαβάστε περισσότερα

@open_dev_tools
Εργαλεία


#==== Store listing ====

@store_listing
Αυτό το θεαματικό πρόσθετο, μετατρέπει ζωντανά τις ιστοσελίδες που επισκέπτεστε ως σκούρες. Ο Dark Reader αντιστρέφει τα χρώματα δημιουργώντας έντονη αντίθεση για ευκολότερη ανάγνωση κατά τις βραδυνές ώρες.

Μπορείτε να προσαρμόσετε φωτεινότητα, αντίθεση, φίλτρο sepia, σκούρα εμφάνιση και λίστα ιστσελίδων στις οποίες το πρόσθετο δεν θα παρεμβαίνει.

Το Dark Reader δεν εμφανίζει διαφιμήσεις ούτε κάνει οποιαδήποτε αποστολή στατιστικών/πληροφορίών του χρήστη. Είναι 100% ανοικτού κώδικά https://github.com/darkreader/darkreader

Πριν εγκαταστήσετε το πρόσθετο αυτό θα πρέπει να αφαιρέσεται παρόμοια πρόσθετα. Καλό σερφάρισμα!
