@extension_description
Dark mode for every website. Take care of your eyes, use dark theme for night and daily browsing.

@loading_please_wait
Loading, please wait

@on
On

@off
Off

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
Setup current site
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
Setup extension
toggle hotkey

@automation
Automation

@set_active_hours
Set active hours

@set_location
Activate after sunset at location

@longitude
Longitude

@latitude
Latitude

@page_protected
This page is protected
by browser

@local_files_forbidden
Not allowed to access
local files

@page_in_dark_list
This site is in global
Dark List

@system_dark_mode
Use system colour scheme

@system_dark_mode_description
Activate when system dark mode is on

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Mode

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
Apply settings to current website only

@site_list
Site list

@invert_listed_only
Invert listed only

@not_invert_listed
Not invert listed

@add_site_to_list
Add site to list

@setup_add_site_hotkey
Setup a hotkey for adding site

@more
More

@select_font
Select a font

@text_stroke
Text stroke

@try_experimental_theme_engines
Try out **experimental** theme engines:
**Filter+** preserves colours saturation, uses GPU
**Static theme** generates a simple fast theme
**Dynamic theme** analyzes colours and images

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamic

@theme_generation_mode
Theme generation mode

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Change the browser theme

@privacy
Privacy

@help
Help

@donate
Donate

@we_celebrate_10_years
Dark Reader celebrates 10 years.
Please support our work.

@pay_for_using
Pay for using Dark Reader

@news
News

@read_more
Read more

@open_dev_tools
Dev tools

@mobile
Mobile

@learn_more
Learn more

@mobile_text
Reduce eye strain when reading on your phone or tablet.
Simply scan the QR code to install.

@all_settings
All settings

@version
Version

@configure_automation
Configure automation

@auto_night_time
Auto (nighttime)

@auto_day_time
Auto (daytime)

@auto_night_at_location
Auto (night at location)

@auto_day_at_location
Auto (day at location)

@auto_system_is_dark
Auto (the system is dark)

@auto_system_is_light
Auto (the system is light)

@click_to_set_shortcut
Click to set the shortcut

@extension_toggle_shortcut
Extension on/off keyboard shortcut

@configure_site_toggle
Configure website toggling

@site_toggle
Site Toggling

@enabled_by_default
Enabled by Default

@enable_for_all_sites_by_default
Enabled for all websites by default

@detect_dark_theme
Detect dark theme

@detect_website_dark_theme
Detect the website's dark theme

@dark_theme_detected
Dark theme detected

@website_toggle_shortcut
Website toggle keyboard shortcut

@support_out_work
Support our work

@mobile_link
Mobile Dark Reader is available. Learn more

@store_listing
This eye-care extension enables night mode by creating dark themes for websites on the fly. Dark Reader inverts bright colours, making them high contrast and easy to read at night.

You can adjust the brightness, contrast, sepia filter, dark mode, font settings, and the ignore list.

We may ask you to support the app's development with a donation. You may see news about Dark Reader in the settings popup. There are Developer Tools for experienced users.

Dark Reader doesn't show ads or send users' data anywhere. It's fully open source: https://github.com/darkreader/darkreader

Before you install it, disable similar extensions. Enjoy watching!

@disable_for_all_sites_by_default
Disabled for all sites by default

@will_override_website_dark_theme
Will override the website's dark theme

@disabled_for_pdf_documents
Disabled for PDF documents

@custom_browser_theme_active
Custom browser theme is active

@default_browser_theme_active
Default browser theme is active

@disable_on_these_sites
Disable on these sites

@enable_on_these_sites
Enable on these sites

@type_site_press_enter
Type the domain name and press Enter

@clear_site_list
Clear site list

@remove_all_sites
Remove all sites from the list

@clear_site_list_confirm
Are you sure you want to remove all your sites from the list? You won't be able to recover them later

@toggle_on_off
On/Off

@toggle_dark_light
Toggle dark/light

@automation_behavior
Automation behaviour

@enable_disable_extension
Enable/disable extension

@toggle_current_website
Toggle current website

@get_activation_code
Get activation code

@email_placeholder
Email

@code_placeholder
Code

@activate
Activate

@activate_the_code
Activate the code

@enable_settings_sync
Enable settings synchronisation

@synchronized_across_devices
Synchronised across devices

@synchronize_site_fixes
Synchronise site fixes

@load_latest_site_fixes
Load latest site fixes

@enable_on_restricted_pages
Enable on restricted pages

@disabled_for_web_store
Disabled for web store and other pages

@use_context_menus
Use context menus

@context_menu_disabled
Context menu integration is disabled

@import_settings
Import settings

@open_settings_json
Open settings from JSON file

@export_settings
Export settings

@save_settings_json
Save settings to JSON file

@reset_settings
Reset settings

@restore_settings_defaults
Restore settings defaults

@devtools_button
Developer tools

@devtools_description
Developer tools for debugging

@privacy_policy
Privacy policy

@terms_of_use
Terms of use

@reset_settings_confirm
Are you sure you want to remove all your settings? You won't be able to recover them later

@make_fix_for_website
Make fix for website

@developer_tools_title
Developer tools

@dynamic_theme_editor
Dynamic theme editor

@static_theme_editor
Static theme editor

@inversion_fix_editor
Inversion fix editor

@advanced
Advanced

@full_editor
Full editor

@per_site_editor
Per-site editor

@delete
Delete

@reset_changes
Reset changes

@apply
Apply

@enable_design_prototype
Enable design prototype

@switch_to_old_design
Switch to old design

@preview_new_design
Preview new design
