@extension_description
Dark mode for every website. Take care of your eyes, use dark theme for night and daily browsing.

@loading_please_wait
Loading, please wait

@on
On

@off
Off

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
Setup current site
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
Setup extension
toggle hotkey

@automation
Automation

@set_active_hours
Set active hours

@set_location
Activate after sunset at location

@longitude
Longitude

@latitude
Latitude

@page_protected
This page is protected
by browser

@local_files_forbidden
Not allowed to access
local files

@page_in_dark_list
This site is in global
Dark List

@system_dark_mode
Use system colour scheme

@system_dark_mode_description
Activate when system dark mode is on

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Mode

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
Apply settings to current website only

@site_list
Site list

@invert_listed_only
Invert listed only

@not_invert_listed
Not invert listed

@add_site_to_list
Add site to list

@setup_add_site_hotkey
Setup a hotkey for adding site

@more
More

@select_font
Select a font

@text_stroke
Text stroke

@try_experimental_theme_engines
Try out **experimental** theme engines:
**Filter+** preserves colours saturation, uses GPU
**Static theme** generates a simple fast theme
**Dynamic theme** analyzes colours and images

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamic

@theme_generation_mode
Theme generation mode

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Change the browser theme

@privacy
Privacy

@help
Help

@donate
Donate

@we_celebrate_10_years
Dark Reader celebrates 10 years.
Please support our work.

@pay_for_using
Pay for using Dark Reader

@news
News

@read_more
Read more

@open_dev_tools
Dev tools

@mobile
Mobile

@learn_more
Learn more

@mobile_text
Reduce eye strain when reading on your phone or tablet.
Simply scan the QR code to install.

@all_settings
All settings

@version
Version

@configure_automation
Configure automation

@auto_night_time
Auto (nighttime)

@auto_day_time
Auto (daytime)

@auto_night_at_location
Auto (night at location)

@auto_day_at_location
Auto (day at location)

@auto_system_is_dark
Auto (the system is dark)

@auto_system_is_light
Auto (the system is light)

@click_to_set_shortcut
Click to set the shortcut

@extension_toggle_shortcut
Extension on/off keyboard shortcut

@configure_site_toggle
Configure website toggling

@site_toggle
Site Toggling

@enabled_by_default
Enabled by Default

@enable_for_all_sites_by_default
Enabled for all websites by default

@detect_dark_theme
Detect dark theme

@detect_website_dark_theme
Detect the website's dark theme

@dark_theme_detected
Dark theme detected

@website_toggle_shortcut
Website toggle keyboard shortcut

@support_out_work
Support our work

@mobile_link
Mobile Dark Reader is available. Learn more

@store_listing
This eye-care extension enables night mode by creating dark themes for websites on the fly. Dark Reader inverts bright colours, making them high contrast and easy to read at night.

You can adjust the brightness, contrast, sepia filter, dark mode, font settings, and the ignore list.

We may ask you to support the app's development with a donation. You may see news about Dark Reader in the settings popup. There are Developer Tools for experienced users.

Dark Reader doesn't show ads or send users' data anywhere. It's fully open source: https://github.com/darkreader/darkreader

Before you install it, disable similar extensions. Enjoy watching!

@see_all_options
See all options

@configure_theme
Configure theme

@extension_is_enabled
Extension is enabled

@extension_is_disabled
Extension is disabled

@switch_time
Switches according to specified time

@switch_location
Switched according to location

@switch_system
Switches according to system dark mode

@settings
Settings

@enable_for_pdf
Enable for PDF files

@enabled_for_pdf
Enabled for PDF files

@disabled_for_pdf
Disabled for PDF files

@dark_theme_detected_on_page
Dark theme detected on page

@enabled_for_current_website
Enabled for current website

@disabled_for_current_website
Disabled for current website

@theme_for_all
Theme for all websites

@create_new_theme
Create new theme

@theme_for
Theme for

@theme
Theme

@ask_remove_theme
Are you sure you want to remove

@general
General

@hotkeys
Hotkeys

@advanced
Advanced

@about
About

@theme_mode
Brightness, contrast, mode

@theme_color
Colors

@theme_font
Font & more

@back
Back

@reset_to_defaults
Reset to defaults

@reset_description
Restore current theme values to defaults

@reset_changes
Reset changes

@apply
Apply

@ask_remove_changes
Are you sure you want to remove current changes? You cannot restore them later.

@all_websites
All websites

@dev_tools_description
Make a fix for a website

@settings_sync
Enable settings sync

@sync_devices
Synchronized across devices

@not_sync_devices
Not synchronized across devices

@enable_by_default
Enable by default

@enabled_on_all
Enabled on all websites by default

@disabled_on_all
Disabled on all websites by default

@not_override_dark_theme
Will not override website's dark theme

@override_dark_theme
Will override website's dark theme

@disable_on_these_websites
Disable on these websites

@enable_on_these_websites
Enable on these websites

@site_list_description
Type in the domain name and press Enter

@ask_remove_site_list
Are you sure you want to remove all your sites from the list? You cannot restore them later

@clear_site_list
Clear site list

@remove_all_site_list
Remove all sites from the list

@toggle_on_off
Toggle on/off

@toggle_dark_light
Toggle dark/light

@toggle_description
Automation behavior

@enable_disable_extension
Enable/disable the extension

@synchronize_sites
Synchronize sites fixes

@synchronize_sites_description
Load the latest sites fixes from a remote server

@enable_on_restricted_pages
Enable on restricted pages

@restricted_pages_enable
You should enable it in browser flags too

@restricted_pages_disable
Disabled for web store and other pages

@use_context_menus
Use context menus

@use_context_menus_enable
Context menu integration is enabled

@use_context_menus_disable
Context menu integration is disabled

@import_settings
Import Settings

@settings_imported
Settings imported

@failed_to_read_file
Failed to read file

@open_json_file
Open settings from a JSON file

@export_settings
Export Settings

@save_json_file
Save settings to a JSON file

@ask_remove_settings
Are you sure you want to remove all your settings? You cannot restore them later

@reset_settings
Reset settings

@restore_settings
Restore settings to defaults

@switch_to_old_design
Switch to old design

@preview_new_design
Preview new design

@switch_to_desktop_design
Switch to desktop design

@preview_mobile_design
Preview new mobile design

@dynamic_theme_editor
Dynamic Theme Editor

@static_theme_editor
Static Theme Editor

@inversion_fix_editor
Inversion Fix Editor

@ask_remove_current_changes
Are you sure you want to remove the current changes? You cannot restore them later.

@ask_delete_fix
Are you sure you want to delete the fix?

@delete
Delete

@read_about_this
Read about this tool

@here
here

@if_a_popular_website
If a popular website looks incorrect e-mail to 

@full_ditor
Full Editor

@per_site_ditor
Per Site Editor

@search_by_url
Search by URL

@create_new_fix
Create new fix

@search_for_an
Search for an

@existing_fix
existing fix

@or_enter_a
or enter a

@domain_name
domain name

@for_a_new_fix_and_click
for a new fix and click

@color_scheme
Color Scheme

@scheme
Scheme

@selection
Selection

@scrollbar
Scrollbar

@style_system_controls
Style system controls

@text
Text

@change_font
Change font

@immediate_modify
Immediate modify

@export_dynamic_theme
Export Dynamic Theme

@font_name
Font name

@yes
Yes

@no
No

@background
Background

@auto
Auto

@notify_of_news
Notify of news

@notifying_of_dark_readers_news
Notifying of Dark Reader's news

@not_notifying_of_dark_readers_news
Not Notifying of Dark Reader's news

@custom_browser_theme
Custom browser theme is active

@default_browser_theme
Default browser theme is active

@css_editor
CSS Editor

@cancel
Cancel