@extension_description
Dark mode for every website. Take care of your eyes, use dark theme for night and daily browsing.

@loading_please_wait
Loading, please wait


#==== Top section ====

@on
On

@off
Off

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
Setup current site
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
Setup extension
toggle hotkey

@automation
Automation

@set_active_hours
Set active hours

@set_location
Activate after sunset at location

@longitude
Longitude

@latitude
Latitude

@page_protected
This page is protected
by browser

@page_in_dark_list
This site is in global
Dark List

@system_dark_mode
Use system color scheme

@system_dark_mode_description
Activate when system dark mode is on


#==== Filter ====

@filter
Filter

@mode
Mode

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
Apply settings to current website only


#==== Site list ====

@site_list
Site list

@invert_listed_only
Invert listed only

@not_invert_listed
Not invert listed

@add_site_to_list
Add site to list

@setup_add_site_hotkey
Setup a hotkey for adding site


#==== More settings ====

@more
More

@select_font
Select a font

@text_stroke
Text stroke

@try_experimental_theme_engines
Try out **experimental** theme engines:
**Filter+** preserves colors saturation, uses GPU
**Static theme** generates a simple fast theme
**Dynamic theme** analyzes colors and images

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamic

@theme_generation_mode
Theme generation mode

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Change the browser theme


#==== Footer ====

@privacy
Privacy

@help
Help

@donate
Donate

@news
News

@read_more
Read more

@open_dev_tools
Dev tools


#==== Store listing ====

@store_listing
This eye-care extension enables night mode creating dark themes for websites on the fly. Dark Reader inverts bright colors making them high contrast and easy to read at night.

You can adjust brightness, contrast, sepia filter, dark mode, font settings and ignore-list.

Dark Reader doesn't show ads and doesn't send user's data anywhere. It is fully open-source https://github.com/darkreader/darkreader

Before you install disable similar extensions. Enjoy watching!
