@extension_description
Dark theme for every website. Care your eyes, use Dark Reader for night and daily browsing.

@loading_please_wait
Loading, please wait

#==== Top section ====

@on
On

@off
Off

@toggle
Toggle

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
Setup current site
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
Setup extension
toggle hotkey

@page_protected
This page is protected
by browser

@page_in_dark_list
This site is in global
Dark List


#==== Filter ====

@filter
Filter

@cbmode
CBMode

@mode
Mode

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Only for

@only_for_description
Apply settings to current website only


#==== Site list ====

@site_list
Site list

@invert_listed_only
Invert listed only

@not_invert_listed
Not invert listed

@add_site_to_list
Add site to list

@setup_add_site_hotkey
Setup a hotkey for adding site


#==== More settings ====

@more
More

@select_font
Select a font

@text_stroke
Text stroke

@text_scale
Text scale

@try_experimental_theme_engines


@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamic

@theme_generation_mode
Theme generation mode

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Change the browser theme


#==== Footer ====

@privacy
Privacy

@help
Help

@donate
Donate

@news
News

@read_more
Read more

@open_dev_tools
Dev tools


#==== Store listing ====

@store_listing
This extension enhances Dark Reader by providing tools to help people who are visually impaired. 

You can adjust brightness, contrast, sepia filter, dark mode, font settings and ignore-list.

Illumify doesn't show ads and doesn't send user's data anywhere. It is fully open-source https://github.com/darkreader/darkreader

Before you install disable similar extensions. Enjoy!
