@extension_description
Dark theme for every website. Care your eyes, use Dark Reader for night and daily browsing.

@loading_please_wait
Loading, please wait

#==== Top section ====

@on
On

@off
Off

@toggle
Toggle

@toggle_current_site
Toggle current site

@setup_hotkey_toggle_site
Setup current site
toggle hotkey

@toggle_extension
Toggle extension

@setup_hotkey_toggle_extension
Setup extension
toggle hotkey

@page_protected
This page is protected
by browser

@page_in_dark_list
This site is in global
Dark List


#==== Filter ====

@filter
Filter

@mode
Mode

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia


#==== Site list ====

@site_list
Site list

@invert_listed_only
Invert listed only

@not_invert_listed
Not invert listed

@add_site_to_list
Add site to list

@setup_add_site_hotkey
Setup a hotkey for adding site


#==== More settings ====

@more
More

@select_font
Select a font

@text_stroke
Text stroke

@try_experimental_theme_engines
Try out **experimental** theme engines:
**Filter+** preserves colors saturation, uses GPU
**Static theme** generates a simple fast theme
**Dynamic theme** analyzes colors and images

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamic

@switch_theme_engine
Switch theme engine

@setup_hotkey_switch_theme_engine
Setup theme engine switch hotkey


#==== Footer ====

@help_fix_inversion
Some things should not be inverted?
You can **help and fix it**, here is a tool

@donate
Donate

@open_dev_tools
Open developer tools
