@extension_description
Modo oscuro para cada sitio web. Cuide sus ojos, use el tema oscuro para la navegación nocturna y diaria.

@loading_please_wait
Cargando por favor espere


#==== Top section ====

@on
Encendido

@off
Apagado

@toggle_current_site
Alternar sitio actual

@setup_hotkey_toggle_site
Configurar el sitio actual
alternar tecla de acceso directo

@toggle_extension
Alternar extensión

@setup_hotkey_toggle_extension
Extensión de configuración
alternar tecla de acceso directo

@automation
Automatización

@set_active_hours
Establecer horas activas

@set_location
Activar después del atardecer en la ubicación

@longitude
Longitud

@latitude
Latitud

@page_protected
Esta página está protegida
por el navegador

@local_files_forbidden
No se permite el acceso
archivos locales

@page_in_dark_list
Este sitio está en la
Lista Oscura global

@system_dark_mode
Usar el esquema de colores del sistema

@system_dark_mode_description
Activar cuando el modo oscuro del sistema está encendido

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser


#==== Filter ====

@filter
Filtrar

@mode
Modo

@dark
Oscuro

@light
Claro

@brightness
Brillo

@contrast
Contraste

@grayscale
Escala de grises

@sepia
Sepia

@only_for
Solo para

@only_for_description
Aplicar la configuración solo al sitio web actual


#==== Site list ====

@site_list
Lista de sitios

@invert_listed_only
Invertir solo listado

@not_invert_listed
No invertir listado

@add_site_to_list
Agregar sitio a la lista

@setup_add_site_hotkey
Configure una tecla de acceso rápido para agregar un sitio


#==== More settings ====

@more
Más

@select_font
Seleccione una fuente

@text_stroke
Trazo de texto

@try_experimental_theme_engines
Pruebe motores de temas **experimentales**:
**Filtro+** conserva la saturación de colores, usa GPU
**Tema estático** genera un tema simple y rápido
**Tema dinámico** analiza colores e imágenes

@engine_filter
Filtrar

@engine_filter_plus
Filtrar+

@engine_static
Estático

@engine_dynamic
Dinámico

@theme_generation_mode
Modo de generación de temas

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Por defecto

@change_browser_theme
Cambiar el tema del navegador


#==== Footer ====

@privacy
Privacidad

@help
Ayuda

@donate
Donar

@news
Noticias

@read_more
Leer más

@open_dev_tools
Herramientas de desarrollo


#==== Store listing ====

@store_listing
Esta extensión para el cuidado de la vista habilita el modo nocturno al crear temas oscuros para sitios web sobre la marcha. Dark Reader invierte los colores brillantes, haciéndolos de alto contraste y fáciles de leer por la noche.

Puede ajustar el brillo, el contraste, el filtro sepia, el modo oscuro, la configuración de fuente y la lista de ignorados.

Es posible que le pidamos que apoye el desarrollo de la aplicación con una donación. Es posible que vea noticias sobre Dark Reader en la ventana emergente de configuración. Existen herramientas de desarrollo para usuarios experimentados.

Dark Reader no muestra anuncios y no envía datos de los usuarios a ninguna parte. Es completamente de código abierto: https://github.com/darkreader/darkreader

Antes de instalarlo, deshabilite las extensiones similares. ¡Disfruta mirando!
