@extension_description
Modo oscuro para cada sitio web. Cuide sus ojos, use el tema oscuro para la navegación nocturna y diaria.

@loading_please_wait
Cargando, por favor espere

@on
Encendido

@off
Apagado

@toggle_current_site
Alternar sitio actual

@setup_hotkey_toggle_site
Configurar acceso directo
para alternar el sitio actual

@toggle_extension
Alternar extensión

@setup_hotkey_toggle_extension
Configurar acceso directo
para alternar la extensión

@automation
Automatización

@set_active_hours
Establecer horas activas

@set_location
Activar después del atardecer en la ubicación

@longitude
Longitud

@latitude
Latitud

@page_protected
Esta página está protegida
por el navegador

@local_files_forbidden
No se permite el acceso
a los archivos locales

@page_in_dark_list
Este sitio está en la
Lista Oscura global

@system_dark_mode
Usar el esquema de colores del sistema

@system_dark_mode_description
Activar cuando el modo oscuro del sistema está encendido

@system_dark_mode_chromium_warning
Esta opción podría no funcionar debido
a un bug en su navegador

@filter
Filtrar

@mode
Modo

@dark
Oscuro

@light
Claro

@brightness
Brillo

@contrast
Contraste

@grayscale
Escala de grises

@sepia
Sepia

@only_for
Solo para

@only_for_description
Aplicar la configuración solo al sitio web actual

@site_list
Lista de sitios

@invert_listed_only
Invertir solo listado

@not_invert_listed
No invertir listado

@add_site_to_list
Agregar sitio a la lista

@setup_add_site_hotkey
Configure una tecla de acceso rápido para agregar un sitio

@more
Más

@select_font
Seleccione una fuente

@text_stroke
Trazo de texto

@try_experimental_theme_engines
Pruebe motores de temas **experimentales**:
**Filtro+** conserva la saturación de colores, usa GPU
**Tema estático** genera un tema simple y rápido
**Tema dinámico** analiza colores e imágenes

@engine_filter
Filtrar

@engine_filter_plus
Filtrar+

@engine_static
Estático

@engine_dynamic
Dinámico

@theme_generation_mode
Modo de generación de temas

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Por defecto

@change_browser_theme
Cambiar el tema del navegador

@privacy
Privacidad

@help
Ayuda

@donate
Donar

@we_celebrate_10_years
Dark Reader celebra 10 años.
Por favor apoye nuestro trabajo.

@pay_for_using
Pagar por usar Dark Reader

@news
Noticias

@read_more
Leer más

@open_dev_tools
Herramientas de desarrollo

@mobile
Móvil

@learn_more
Más información

@mobile_text
Reduzca la fatiga visual mientras lee en su teléfono o tableta.
Simplemente escanee el código QR para instalar.

@all_settings
Todos los ajustes

@version
Versión

@configure_automation
Configurar la automatización

@auto_night_time
Automático (noche)

@auto_day_time
Automático (hora del día)

@auto_night_at_location
Auto (noche en el lugar)

@auto_day_at_location
Auto (día en el lugar)

@auto_system_is_dark
Automático (el sistema está oscuro)

@auto_system_is_light
Automático (el sistema está claro)

@click_to_set_shortcut
Haga clic para establecer el acceso directo

@extension_toggle_shortcut
Método abreviado de teclado para activar o desactivar la extensión

@configure_site_toggle
Configurar la alternancia del sitio web

@site_toggle
Cambio de sitio

@enabled_by_default
Habilitado por defecto

@enable_for_all_sites_by_default
Habilitado para todos los sitios web de forma predeterminada

@detect_dark_theme
Detectar tema oscuro

@detect_website_dark_theme
Detectar el tema oscuro propio del sitio web

@dark_theme_detected
Tema oscuro detectado

@website_toggle_shortcut
Método abreviado de teclado para alternar sitio web

@support_out_work
Apoya nuestro trabajo

@mobile_link
Mobile Dark Reader está disponible. Aprende más

@store_listing
Esta extensión para el cuidado de la vista habilita el modo nocturno al crear temas oscuros para sitios web sobre la marcha. Dark Reader invierte los colores brillantes, haciéndolos de alto contraste y fáciles de leer por la noche.

Puede ajustar el brillo, el contraste, el filtro sepia, el modo oscuro, la configuración de fuente y la lista de ignorados.

Es posible que le pidamos que apoye el desarrollo de la aplicación con una donación. Es posible que vea noticias sobre Dark Reader en la ventana emergente de configuración. Existen herramientas de desarrollo para usuarios experimentados.

Dark Reader no muestra anuncios y no envía datos de los usuarios a ninguna parte. Es completamente de código abierto: https://github.com/darkreader/darkreader

Antes de instalarlo, deshabilite las extensiones similares. ¡Disfruta mirando!
