@extension_description
Tema oscuro para todos los sitios. Cuide sus ojos, utilice Dark Reader para navegar durante el día y la noche.

@loading_please_wait
Cargando, espere por favor

@on
Sí

@off
No

@toggle_current_site
Alternar sitio actual

@setup_hotkey_toggle_site
Configura tecla de alternancia
para sitio actual

@toggle_extension
Alternar extensión

@setup_hotkey_toggle_extension
Configurar extensión
Tecla de atajo

@automation
Automatización

@set_active_hours
Establece horas activas

@set_location
Activar después de la puesta del sol en la ubicación

@longitude
Longitud

@latitude
Latitud

@page_protected
Esta página está protegida
por el navegador

@local_files_forbidden
No se permite el acceso
a los archivos locales

@page_in_dark_list
Este sitio está en la
lista global Dark List

@system_dark_mode
Usar esquema de color del sistema

@system_dark_mode_description
Activar cuando el modo oscuro del sistema está encendido

@system_dark_mode_chromium_warning
Esta opción podría no funcionar debido
a un bug en su navegador

@filter
Filtro

@mode
Modo

@dark
Oscuro

@light
Claro

@brightness
Brillo

@contrast
Contraste

@grayscale
Escala de grises

@sepia
Sepia

@only_for
Sólo para

@only_for_description
Aplicar configuración sólo al sitio actual

@site_list
Lista de sitios

@invert_listed_only
Invertir sólo listados

@not_invert_listed
No invertir listados

@add_site_to_list
Agregar sitio a la lista

@setup_add_site_hotkey
Configurar tecla de atajo para agregar un sitio

@more
Más

@select_font
Seleccione una fuente

@text_stroke
Trazo del texto

@try_experimental_theme_engines
Pruebe motores de temas **experimentales**:
**Filtro+** preserva la saturación de colores, usa GPU
**Tema Estático** genera un tema simple y rápido
**Tema Dinámico** analiza colores e imágenes

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Estático

@engine_dynamic
Dinámico

@theme_generation_mode
Modo de generación del tema

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Por defecto

@change_browser_theme
Cambiar el tema del navegador

@privacy
Privacidad

@help
Ayuda

@donate
Donar

@we_celebrate_10_years
Dark Reader celebra 10 años.
Por favor apoye nuestro trabajo.

@pay_for_using
Pagar por usar Dark Reader

@news
Avisos

@read_more
Lea más

@open_dev_tools
Herramientas

@mobile
Móvil

@learn_more
Más información

@mobile_text
Reduzca la fatiga visual mientras lee en su teléfono o tableta.
Simplemente escanee el código QR para instalar.

@all_settings
Todos los ajustes

@version
Versión

@configure_automation
Configurar la automatización

@auto_night_time
Automático (noche)

@auto_day_time
Automático (hora del día)

@auto_night_at_location
Auto (noche en el lugar)

@auto_day_at_location
Auto (día en el lugar)

@auto_system_is_dark
Automático (el sistema está oscuro)

@auto_system_is_light
Automático (el sistema está claro)

@click_to_set_shortcut
Haga clic para establecer el acceso directo

@extension_toggle_shortcut
Método abreviado de teclado para activar o desactivar la extensión

@configure_site_toggle
Configurar la alternancia del sitio web

@site_toggle
Cambio de sitio

@enabled_by_default
Habilitado por defecto

@enable_for_all_sites_by_default
Habilitado para todos los sitios web de forma predeterminada

@detect_dark_theme
Detectar tema oscuro

@detect_website_dark_theme
Detectar el tema oscuro propio del sitio web

@dark_theme_detected
Tema oscuro detectado

@website_toggle_shortcut
Método abreviado de teclado para alternar sitio web

@support_out_work
Apoya nuestro trabajo

@mobile_link
Mobile Dark Reader está disponible. Aprende más

@store_listing
Esta extensión que cuida los ojos habilita el modo nocturno, creando temas oscuros para sitios de internet en el momento. Dark Reader invierte los colores brillantes, haciéndolos contrastantes y fáciles de leer a la noche.

Puede ajustar brillo, contraste, filtro sepia, modo oscuro, configuración de fuentes y lista de ignorados

Es posible que le pidamos que apoye el desarrollo de la aplicación con una donación. Es posible que vea noticias sobre Dark Reader en la ventana emergente de configuración. Existen herramientas de desarrollo para usuarios experimentados.

Dark Reader no muestra publicidad y no envía la información del usuario a ningún lado. Es totalmente de código abierto https://github.com/darkreader/darkreader

Antes de instalarlo, desactive extensiones similares. Disfrute mirando!
