@extension_description
حالت تاریک برای همه سایت ها. مراقب چشمانتان باشید، برای وبگردی در شب یا روز از حالت تاریک استفاده کنید.

@loading_please_wait
درحال بارگزاری، لطفا صبر کنید


#==== Top section ====

@on
فعال

@off
غیرفعال

@toggle_current_site
تغییر وضعیت سایت کنونی

@setup_hotkey_toggle_site
تنظیم برای سایت کنونی
کلید میانبر تغییر وضعیت

@toggle_extension
تغییر وضعیت افزونه

@setup_hotkey_toggle_extension
تنظیم افزونه
کلید میانبر تغییر وضعیت

@automation
تغییر وضعیت خودکار

@set_active_hours
تنظیم ساعات فعال

@set_location
فعال کردن پس از غروب در این موقعیت

@longitude
عرض جغرافیایی

@latitude
طول جغرافیایی

@page_protected
این صفحه بوسیله مرورگر
محافظت شده است

@page_in_dark_list
این سایت در لیست تاریک
سراسری قرار دارد

@system_dark_mode
استفاده از طرح رنگ سیستم

@system_dark_mode_description
فعال کردن زمانی که حالت تاریک سیستم روشن است


#==== Filter ====

@filter
فیلتر

@mode
حالت

@dark
تاریک

@light
روشن

@brightness
روشنایی

@contrast
کنتراست

@grayscale
مقیاس خاکستری

@sepia
قرمز قهوه ای

@only_for
فقط برای

@only_for_description
اعمال تنظیمات تنها به سایت کنونی


#==== Site list ====

@site_list
لیست سایت ها

@invert_listed_only
اعمال روی ذکرشده ها

@not_invert_listed
اعمال روی ذکرنشده ها

@add_site_to_list
اضافه کردن سایت به لیست

@setup_add_site_hotkey
تنظیم میانبر برای اضافه کردن سایت


#==== More settings ====

@more
بیشتر

@select_font
انتخاب قلم

@text_stroke
حاشیه متن

@try_experimental_theme_engines
موتورهای **آزمایشی** طرح ها را امتحان کنید:
**فیلتر+** خلوص رنگ ها را حفظ میکند، گرافیک مصرف میکند
**طرح ایستا** طرح ساده و سریعی را ایجاد میکند
**طرح پویا** رنگ ها و تصاویر را تحلیل میکند

@engine_filter
فیلتر

@engine_filter_plus
فیلتر+

@engine_static
ایستا

@engine_dynamic
پویا

@theme_generation_mode
حالت ایجاد طرح

@custom_browser_theme_on
سفارشی

@custom_browser_theme_off
پیش فرض

@change_browser_theme
طرح زمینه مرورگر را تغییر میدهد


#==== Footer ====

@privacy
حریم خصوصی

@help
کمک

@donate
کمک مالی

@news
اخبار

@read_more
بیشتر بخوانید

@open_dev_tools
ابزار توسعه دهنده


#==== Store listing ====

@store_listing
این افزونه مراقبت از چشم، حالت تاریک را با ایجاد طرح تیره به صورت زنده برای سایت ها، فعال میکند. دارک ریدر رنگ های روشن را معکوس میکند، اختلاف تیره و روشن را بیشتر میکند و باعث ساده خوانی متون میشود.

شما میتوانید میزان روشنایی، کنتراست، فیلتر قرمز قهوه ای، حالت تاریک، نوع قلم و لیست سایت های نادیده گرفته شده را تنظیم کنید.

دارک ریدر تبلیغات نشان نمیدهد و اطلاعات کاربران را برای جایی ارسال نمیکند. همچنین بصورت کامل متن باز است https://github.com/darkreader/darkreader

قبل از نصب افزونه های مشابه را حذف کنید. از تماشا کردن لذت ببرید!
