@extension_description
حالت تاریک برای همه سایت ها. مراقب چشمانتان باشید، برای وبگردی در شب یا روز از حالت تاریک استفاده کنید.

@loading_please_wait
درحال بارگزاری، لطفا صبر کنید

@on
فعال

@off
غیرفعال

@toggle_current_site
تغییر وضعیت سایت کنونی

@setup_hotkey_toggle_site
تنظیم برای سایت کنونی
کلید میانبر تغییر وضعیت

@toggle_extension
تغییر وضعیت افزونه

@setup_hotkey_toggle_extension
تنظیم افزونه
کلید میانبر تغییر وضعیت

@automation
تغییر وضعیت خودکار

@set_active_hours
تنظیم ساعات فعال

@set_location
فعال کردن پس از غروب در این موقعیت

@longitude
عرض جغرافیایی

@latitude
طول جغرافیایی

@page_protected
این صفحه بوسیله مرورگر
محافظت شده است

@local_files_forbidden
اجازه دسترسی ندارد
فایل های محلی

@page_in_dark_list
این سایت در لیست تاریک
سراسری قرار دارد

@system_dark_mode
استفاده از طرح رنگ سیستم

@system_dark_mode_description
فعال کردن زمانی که حالت تاریک سیستم روشن است

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
فیلتر

@mode
حالت

@dark
تاریک

@light
روشن

@brightness
روشنایی

@contrast
کنتراست

@grayscale
مقیاس خاکستری

@sepia
قرمز قهوه ای

@only_for
فقط برای

@only_for_description
اعمال تنظیمات تنها به سایت کنونی

@site_list
لیست سایت ها

@invert_listed_only
اعمال روی ذکرشده ها

@not_invert_listed
اعمال روی ذکرنشده ها

@add_site_to_list
اضافه کردن سایت به لیست

@setup_add_site_hotkey
تنظیم میانبر برای اضافه کردن سایت

@more
بیشتر

@select_font
انتخاب قلم

@text_stroke
حاشیه متن

@try_experimental_theme_engines
موتورهای **آزمایشی** طرح ها را امتحان کنید:
**فیلتر+** خلوص رنگ ها را حفظ میکند، گرافیک مصرف میکند
**طرح ایستا** طرح ساده و سریعی را ایجاد میکند
**طرح پویا** رنگ ها و تصاویر را تحلیل میکند

@engine_filter
فیلتر

@engine_filter_plus
فیلتر+

@engine_static
ایستا

@engine_dynamic
پویا

@theme_generation_mode
حالت ایجاد طرح

@custom_browser_theme_on
سفارشی

@custom_browser_theme_off
پیش فرض

@change_browser_theme
طرح زمینه مرورگر را تغییر میدهد

@privacy
حریم خصوصی

@help
کمک

@donate
کمک مالی

@we_celebrate_10_years
دارک ریدر 10 سالگی را جشن می گیرد.
لطفا از کار ما حمایت کنید

@pay_for_using
برای استفاده از Dark Reader پرداخت کنید

@news
اخبار

@read_more
بیشتر بخوانید

@open_dev_tools
ابزار توسعه دهنده

@mobile
موبایل

@learn_more
بیشتر بدانید

@mobile_text
هنگام مطالعه با تلفن یا تبلت، فشار چشم را کاهش دهید.
برای نصب به سادگی کد QR را اسکن کنید.

@all_settings
همه تنظیمات

@version
نسخه

@configure_automation
پیکربندی اتوماسیون

@auto_night_time
خودکار (شب)

@auto_day_time
خودکار (روزانه)

@auto_night_at_location
خودکار (شب در محل)

@auto_day_at_location
خودکار (روز در محل)

@auto_system_is_dark
خودکار (سیستم تاریک است)

@auto_system_is_light
خودکار (سیستم سبک است)

@click_to_set_shortcut
برای تنظیم میانبر کلیک کنید

@extension_toggle_shortcut
میانبر صفحه کلید روشن/خاموش برنامه افزودنی

@configure_site_toggle
پیکربندی جابجایی وب سایت

@site_toggle
تغییر دادن سایت

@enabled_by_default
به صورت پیش فرض فعال شده است

@enable_for_all_sites_by_default
به طور پیش فرض برای همه وب سایت ها فعال است

@detect_dark_theme
تشخیص تم تیره

@detect_website_dark_theme
تم تاریک خود وب سایت را شناسایی کنید

@dark_theme_detected
طرح زمینه تیره شناسایی شد

@website_toggle_shortcut
میانبر صفحه کلید تغییر وضعیت وب سایت

@support_out_work
از کار ما حمایت کنید

@mobile_link
Dark Reader موبایل در دسترس است. بیشتر بدانید

@store_listing
این افزونه مراقبت از چشم، حالت تاریک را با ایجاد طرح تیره به صورت زنده برای سایت ها، فعال میکند. دارک ریدر رنگ های روشن را معکوس میکند، اختلاف تیره و روشن را بیشتر میکند و باعث ساده خوانی متون میشود.

شما میتوانید میزان روشنایی، کنتراست، فیلتر قرمز قهوه ای، حالت تاریک، نوع قلم و لیست سایت های نادیده گرفته شده را تنظیم کنید.

ممکن است از شما بخواهیم با کمک مالی از توسعه برنامه حمایت کنید. ممکن است اخبار مربوط به Dark Reader را در پنجره بازشو ببینید. ابزارهای توسعه دهنده برای کاربران با تجربه وجود دارد.

دارک ریدر تبلیغات نشان نمیدهد و اطلاعات کاربران را برای جایی ارسال نمیکند. همچنین بصورت کامل متن باز است https://github.com/darkreader/darkreader

قبل از نصب افزونه های مشابه را حذف کنید. از تماشا کردن لذت ببرید!
