@extension_description
Dark mode para sa lahat ng website. Alagaan ang iyong mga mata, gamitin ang dark theme para sa gabi at pang-araw-araw na browsing.

@loading_please_wait
Ikinakarga, mangyaring maghintay

@on
Bukas

@off
Sarado

@toggle_current_site
I-toggle ang kasalukuyang site

@setup_hotkey_toggle_site
I-setup ang kasalukuyang site
hotkey sa pag-toggle

@toggle_extension
I-toggle ang ekstensyon

@setup_hotkey_toggle_extension
I-setup ang ekstensyon
hotkey sa pag-toggle

@automation
Awtomasyon

@set_active_hours
Itakda ang mga aktibong oras

@set_location
Buksan pagkatapos ng paglubog ng araw sa lokasyon

@longitude
Longhitud

@latitude
Latitud

@page_protected
Protektado ang pahinang ito
ng browser

@local_files_forbidden
Hindi pinapayagang ma-access
mga lokal na file

@page_in_dark_list
Ang site na ito ay nasa pandaigdigang
Dark List

@system_dark_mode
Gamitin ang iskema ng kulay ng system

@system_dark_mode_description
Buksan kapag nakabukas ang dark mode ng system

@system_dark_mode_chromium_warning
Maaaring hindi gumana ang opsyong ito
dahil sa isang problema sa iyong browser

@filter
Filter

@mode
Mode

@dark
Madilim

@light
Maliwanag

@brightness
Liwanag

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
Para lang sa

@only_for_description
Ilapat ang mga setting sa kasalukuyang website lamang

@site_list
Listahan ng mga site

@invert_listed_only
I-invert ang mga nakalista lamang

@not_invert_listed
Huwag i-invert ang mga nakalista

@add_site_to_list
Idagdag ang site sa listahan

@setup_add_site_hotkey
Magtakda ng hotkey para sa pagdadagdag ng isang site

@more
Higit pa

@select_font
Pumili ng font

@text_stroke
Stroke ng teksto

@try_experimental_theme_engines
Subukan ang mga **ekspermintal** na mga engine ng tema:
**Filter+** pinapanatili ang saturation ng mga kulay, gumagamit ng GPU
**Static na tema** gumagawa ng simple at mabilis na tema
**Dynamikong tema** sinusuri ang mga kulay at larawan

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Static

@engine_dynamic
Dynamiko

@theme_generation_mode
Mode ng paggawa ng tema

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Default

@change_browser_theme
Palitan ang tema ng browser

@privacy
Pagkapribado

@help
Tulong

@donate
Mag-donate

@we_celebrate_10_years
Ipinagdiriwang ng Dark Reader ang 10 taon.
Mangyaring suportahan ang aming trabaho.

@pay_for_using
Magbayad para sa paggamit ng Dark Reader

@news
Balita

@read_more
Magbasa ng higit pa

@open_dev_tools
Mga kagamitan para sa mga developer

@mobile
Mobile

@learn_more
Matuto pa

@mobile_text
Bawasan ang pagkapagod sa mata habang nagbabasa sa iyong telepono o tablet.
I-scan lamang ang QR code upang mai-install.

@all_settings
Lahat ng mga setting

@version
Bersyon

@configure_automation
I-configure ang automation

@auto_night_time
Auto (oras ng gabi)

@auto_day_time
Auto (araw)

@auto_night_at_location
Auto (gabi sa lokasyon)

@auto_day_at_location
Auto (araw sa lokasyon)

@auto_system_is_dark
Auto (madilim ang system)

@auto_system_is_light
Auto (magaan ang system)

@click_to_set_shortcut
I-click upang itakda ang shortcut

@extension_toggle_shortcut
Extension on/off keyboard shortcut

@configure_site_toggle
I-configure ang pag-toggle ng website

@site_toggle
Pag-toggling ng Site

@enabled_by_default
Pinagana sa pamamagitan ng Default

@enable_for_all_sites_by_default
Pinagana para sa lahat ng mga website bilang default

@detect_dark_theme
I-detect ang madilim na tema

@detect_website_dark_theme
Alamin ang sariling madilim na tema ng website

@dark_theme_detected
Natukoy ang madilim na tema

@website_toggle_shortcut
Website toggle keyboard shortcut

@support_out_work
Suportahan ang aming trabaho

@mobile_link
Available ang Mobile Dark Reader. Matuto pa

@store_listing
Mabilisang binubuksan ng ekstensyong ito ang night mode sa pamamagitan ng madilim na tema. Ini-invert ng Dark Reader ang matitingkad na kulay, ginagawa silang high contrast at madaling basahin sa gabi.

Puwede mong i-adjust ang liwanag, contrast, sepia filter, dark mode, mga setting ng font at ang ignore-list.

Maaari naming hilingin sa iyo na suportahan ang pagbuo ng app gamit ang isang donasyon. Maaari kang makakita ng mga balita tungkol sa Dark Reader sa popup ng mga setting. Mayroong Mga Tool ng Developer para sa mga may karanasang user.

Hindi nagpapakita ng mga ad ang Dark Reader o ipinapadala ang iyong data kung saan-saan. Open-source ito: https://github.com/darkreader/darkreader

Bago mo ikabit (i-install) ito, tanggalin muna ang mga katulad na ekstensyon. Magsaya sa panonood!
