@extension_description
Un thème sombre pour chaque site Web. Prenez soin de vos yeux, utilisez Dark Reader pour votre navigation nocturne et quotidienne.

@loading_please_wait
Chargement, veuillez patienter


#==== Top section ====

@on
Marche

@off
Arrêt

@toggle_current_site
Activer/Désactiver le site actuel

@setup_hotkey_toggle_site
Configurer la touche de raccourci
du basculement du site actuel

@toggle_extension
Activer/Désactiver l'extension

@setup_hotkey_toggle_extension
Configuration de l'extension
Touche de raccourci bascule

@automation
Automatisation

@set_active_hours
Définissez les heures d’activité

@set_location
Activer après le coucher du soleil à l'endroit

@longitude
Longitude

@latitude
Latitude

@page_protected
Cette page est protégée
par le navigateur

@page_in_dark_list
Ce site est dans la
liste noire mondiale

@system_dark_mode
Utilisez des couleurs du système

@system_dark_mode_description
Activer lorsque le mode sombre du système est


#==== Filter ====

@filter
Filtrer

@mode
Mode

@dark
Obscur

@light
Lumineux

@brightness
Luminosité

@contrast
Contraste

@grayscale
Niveaux de gris

@sepia
Sépia

@only_for
Uniquement pour

@only_for_description
Appliquer les paramètres au site actuel seulement


#==== Site list ====

@site_list
Liste de sites

@invert_listed_only
Uniquement inversé

@not_invert_listed
Non inversé

@add_site_to_list
Ajouter un site à la liste

@setup_add_site_hotkey
Configurer un raccourci pour ajouter un site


#==== More settings ====

@more
Plus

@select_font
Sélectionnez une police

@text_stroke
Trait du texte

@try_experimental_theme_engines
Essayez les moteurs de thème **expérimentaux**:
**Filtre+** préserve la satur. des couleurs, utilise le GPU
**Thème statique** génère un thème rapide simple
**Dynamique** analyse les couleurs et les images

@engine_filter
Filtre

@engine_filter_plus
Filtre+

@engine_static
Statique

@engine_dynamic
Dynamiq.

@theme_generation_mode
Mode de génération de thème

@custom_browser_theme_on
Modifié

@custom_browser_theme_off
Défaut

@change_browser_theme
Modifier le thème du navigateur


#==== Footer ====

@privacy
Confid.

@help
Aide

@donate
Donner

@news
Nouvelles

@read_more
Lire la suite

@open_dev_tools
Dévelop.


#==== Store listing ====

@store_listing
Cette extension de protection oculaire active le mode nuit en créant à la volée des thèmes sombres pour les sites Web. Dark Reader inverse les couleurs vives, ce qui les rend très contrastés et faciles à lire la nuit.

Vous pouvez régler la luminosité, le contraste, le filtre sépia, le mode sombre, les paramètres de police et la liste des sites ignorés.

Dark Reader n’affiche pas de publicités et n’envoie aucune donnée utilisateur. Il est entièrement open source https://github.com/darkreader/darkreader

Avant de l’installer, désactivez vos extensions similaires. Profitez et regardez!
