@extension_description
Thème sombre pour tous les sites. Prenez soin de vos yeux, profitez d'un thème sombre pour naviguer de jour comme de nuit.

@loading_please_wait
Chargement en cours, veuillez patienter

@on
Actif

@off
Inactif

@toggle_current_site
Activer/Désactiver sur ce site

@setup_hotkey_toggle_site
Configurer le raccourci clavier
pour activer/désactiver sur ce site

@toggle_extension
Activer/Désactiver l'extension

@setup_hotkey_toggle_extension
Configurer le raccourci clavier
pour activer/désactiver l'extension

@automation
Automatisation

@set_active_hours
Définir les heures d’activité

@set_location
Activer après le coucher du soleil pour cet endroit

@longitude
Longitude

@latitude
Latitude

@page_protected
Cette page est protégée
par le navigateur

@local_files_forbidden
Accès interdit aux
fichiers locaux

@page_in_dark_list
Ce site est dans la
liste noire de l'extension

@system_dark_mode
Utiliser les couleurs du système

@system_dark_mode_description
Activer lorsque le mode sombre du système est actif

@system_dark_mode_chromium_warning
Cette option pourrait ne pas fonctionner
à cause d'un bug dans votre navigateur

@filter
Filtrer

@mode
Mode

@dark
Sombre

@light
Clair

@brightness
Luminosité

@contrast
Contraste

@grayscale
Niveaux de gris

@sepia
Sépia

@only_for
Uniquement

@only_for_description
Appliquer les paramètres sur ce site uniquement

@site_list
Liste des sites

@invert_listed_only
Inverser uniquement

@not_invert_listed
Ne pas inverser

@add_site_to_list
Ajouter un site à la liste

@setup_add_site_hotkey
Configurer un raccourci pour ajouter un site

@more
Plus

@select_font
Choisir une police

@text_stroke
Épaisseur du texte

@try_experimental_theme_engines
Essayez les moteurs de thème **expérimentaux**:
**Filtre+** préserve la satur. des couleurs, utilise le GPU
**Thème statique** génère un thème simple et rapide
**Dynamique** analyse les couleurs et les images

@engine_filter
Filtre

@engine_filter_plus
Filtre+

@engine_static
Statiq.

@engine_dynamic
Dynamiq.

@theme_generation_mode
Mode de génération de thème

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Défaut

@change_browser_theme
Modifier le thème du navigateur

@privacy
Confidentialité

@help
Aide

@donate
Dons

@we_celebrate_10_years
Dark Reader fête ses 10 ans.
Veuillez soutenir notre travail.

@pay_for_using
Payer pour utiliser Dark Reader

@news
Actus

@read_more
Lire la suite

@open_dev_tools
Outils de développement

@mobile
Mobile

@learn_more
En savoir plus

@mobile_text
Réduisez la fatigue oculaire lorsque vous lisez sur votre téléphone ou votre tablette.
Scannez simplement le code QR pour l'installer.

@all_settings
Tous les paramètres

@version
Version

@configure_automation
Configurer l'automatisation

@auto_night_time
Auto (nuit)

@auto_day_time
Auto (heure de jour)

@auto_night_at_location
Auto (nuit sur place)

@auto_day_at_location
Auto (jour sur place)

@auto_system_is_dark
Auto (le système est en sombre)

@auto_system_is_light
Auto (le système est en clair)

@click_to_set_shortcut
Cliquez pour définir le raccourci

@extension_toggle_shortcut
Raccourci clavier d'activation/désactivation de l'extension

@configure_site_toggle
Configurer l'activation des sites

@site_toggle
Activation des sites

@enabled_by_default
Activé par défaut

@enable_for_all_sites_by_default
Activé pour tous les sites par défaut

@detect_dark_theme
Détecter le thème sombre

@detect_website_dark_theme
Détecter le thème sombre du site

@dark_theme_detected
Thème sombre détecté

@website_toggle_shortcut
Raccourci clavier pour activer/désactiver sur le site

@support_out_work
Soutenez notre travail

@mobile_link
Dark Reader pour mobile est disponible. En savoir plus

@store_listing
Cette extension de navigateur implémente un thème sombre global en créant à la volée des thèmes sombres pour chaque site que vous visitez. Dark Reader augmente le contraste des couleurs vives pour les rendre plus agréables à la vue la nuit.

Vous pouvez également ajuster la luminosité, le contraste, le filtre sépia, le thème sombre, la police du texte ainsi que la liste des sites ignorés par l'extension.

Nous pouvons vous demander de soutenir le développement de l'application par un don. Vous pouvez voir des informations sur Dark Reader dans la fenêtre contextuelle des paramètres. Il existe des outils de développement pour les utilisateurs expérimentés.

Dark Reader n'intègre pas de publicités et ne partage vos données avec personne d'autre. Il est entièrement open-source. https://github.com/darkreader/darkreader

Il est nécessaire de désactiver toute extension similaire à Dark Reader pour que celle-ci fonctionne correctement. Profitez-en et prenez soin de vos yeux!

@disable_for_all_sites_by_default
Désactivé par défaut pour tous les sites

@will_override_website_dark_theme
Remplacera le thème sombre du site

@disabled_for_pdf_documents
Désactivé pour les documents PDF

@custom_browser_theme_active
Thème de navigateur personnalisé actif

@default_browser_theme_active
Thème de navigateur par défaut actif

@disable_on_these_sites
Désactiver sur ces sites

@enable_on_these_sites
Activer sur ces sites

@type_site_press_enter
Tapez le nom de domaine et appuyez sur Entrée

@clear_site_list
Vider la liste des sites

@remove_all_sites
Supprimer tous les sites de la liste

@clear_site_list_confirm
Êtes-vous sûr de vouloir supprimer tous vos sites de la liste ? Vous ne pourrez pas les restaurer plus tard

@toggle_on_off
Activer/Désactiver

@toggle_dark_light
Basculer sombre/clair

@automation_behavior
Comportement d'automatisation

@enable_disable_extension
Activer/désactiver l'extension

@toggle_current_website
Basculer le site actuel

@get_activation_code
Obtenir le code d'activation

@email_placeholder
E-mail

@code_placeholder
Code

@activate
Activer

@activate_the_code
Activer le code

@enable_settings_sync
Activer la synchronisation des paramètres

@synchronized_across_devices
Synchronisé entre les appareils

@synchronize_site_fixes
Synchroniser les corrections de sites

@load_latest_site_fixes
Charger les dernières corrections de sites

@enable_on_restricted_pages
Activer sur les pages restreintes

@disabled_for_web_store
Désactivé pour le magasin web et autres pages

@use_context_menus
Utiliser les menus contextuels

@context_menu_disabled
L'intégration du menu contextuel est désactivée

@import_settings
Importer les paramètres

@open_settings_json
Ouvrir les paramètres depuis un fichier JSON

@export_settings
Exporter les paramètres

@save_settings_json
Sauvegarder les paramètres dans un fichier JSON

@reset_settings
Réinitialiser les paramètres

@restore_settings_defaults
Restaurer les paramètres par défaut

@devtools_button
Outils de développement

@devtools_description
Outils de développement pour le débogage

@privacy_policy
Politique de confidentialité

@terms_of_use
Conditions d'utilisation

@reset_settings_confirm
Êtes-vous sûr de vouloir supprimer tous vos paramètres ? Vous ne pourrez pas les restaurer plus tard

@make_fix_for_website
Créer une correction pour un site

@developer_tools_title
Outils de développement

@dynamic_theme_editor
Éditeur de thème dynamique

@static_theme_editor
Éditeur de thème statique

@inversion_fix_editor
Éditeur de correction d'inversion

@advanced
Avancé

@full_editor
Éditeur complet

@per_site_editor
Éditeur par site

@delete
Supprimer

@reset_changes
Réinitialiser les modifications

@apply
Appliquer

@enable_design_prototype
Activer le prototype de design

@switch_to_old_design
Passer à l'ancien design

@preview_new_design
Aperçu du nouveau design
