@extension_description
Thème sombre pour tous les sites. Prenez soin de vos yeux, profitez d'un thème sombre pour naviguer de jour comme de nuit.

@loading_please_wait
Chargement en cours, veuillez patienter

@on
Actif

@off
Inactif

@toggle_current_site
Activer/Désactiver sur ce site

@setup_hotkey_toggle_site
Configurer le raccourci clavier
pour activer/désactiver sur ce site

@toggle_extension
Activer/Désactiver l'extension

@setup_hotkey_toggle_extension
Configurer le raccourci clavier
pour activer/désactiver l'extension

@automation
Automatisation

@set_active_hours
Définir les heures d’activité

@set_location
Activer après le coucher du soleil pour cet endroit

@longitude
Longitude

@latitude
Latitude

@page_protected
Cette page est protégée
par le navigateur

@local_files_forbidden
Accès interdit aux
fichiers locaux

@page_in_dark_list
Ce site est dans la
liste noire de l'extension

@system_dark_mode
Utiliser les couleurs du système

@system_dark_mode_description
Activer lorsque le mode sombre du système est actif

@system_dark_mode_chromium_warning
Cette option pourrait ne pas fonctionner
à cause d'un bug dans votre navigateur

@filter
Filtrer

@mode
Mode

@dark
Sombre

@light
Clair

@brightness
Luminosité

@contrast
Contraste

@grayscale
Niveaux de gris

@sepia
Sépia

@only_for
Uniquement

@only_for_description
Appliquer les paramètres sur ce site uniquement

@site_list
Liste des sites

@invert_listed_only
Inverser uniquement

@not_invert_listed
Ne pas inverser

@add_site_to_list
Ajouter un site à la liste

@setup_add_site_hotkey
Configurer un raccourci pour ajouter un site

@more
Plus

@select_font
Choisir une police

@text_stroke
Épaisseur du texte

@try_experimental_theme_engines
Essayez les moteurs de thème **expérimentaux**:
**Filtre+** préserve la satur. des couleurs, utilise le GPU
**Thème statique** génère un thème simple et rapide
**Dynamique** analyse les couleurs et les images

@engine_filter
Filtre

@engine_filter_plus
Filtre+

@engine_static
Statiq.

@engine_dynamic
Dynamiq.

@theme_generation_mode
Mode de génération de thème

@custom_browser_theme_on
Custom

@custom_browser_theme_off
Défaut

@change_browser_theme
Modifier le thème du navigateur

@privacy
Confidentialité

@help
Aide

@donate
Dons

@we_celebrate_10_years
Dark Reader fête ses 10 ans.
Veuillez soutenir notre travail.

@pay_for_using
Payer pour utiliser Dark Reader

@news
Actus

@read_more
Lire la suite

@open_dev_tools
Outils de développement

@mobile
Mobile

@learn_more
En savoir plus

@mobile_text
Réduisez la fatigue oculaire lorsque vous lisez sur votre téléphone ou votre tablette.
Scannez simplement le code QR pour l'installer.

@all_settings
Tous les paramètres

@version
Version

@configure_automation
Configurer l'automatisation

@auto_night_time
Auto (nuit)

@auto_day_time
Auto (heure de jour)

@auto_night_at_location
Auto (nuit sur place)

@auto_day_at_location
Auto (jour sur place)

@auto_system_is_dark
Auto (le système est en sombre)

@auto_system_is_light
Auto (le système est en clair)

@click_to_set_shortcut
Cliquez pour définir le raccourci

@extension_toggle_shortcut
Raccourci clavier d'activation/désactivation de l'extension

@configure_site_toggle
Configurer l'activation des sites

@site_toggle
Activation des sites

@enabled_by_default
Activé par défaut

@enable_for_all_sites_by_default
Activé pour tous les sites par défaut

@detect_dark_theme
Détecter le thème sombre

@detect_website_dark_theme
Détecter le thème sombre du site

@dark_theme_detected
Thème sombre détecté

@website_toggle_shortcut
Raccourci clavier pour activer/désactiver sur le site

@support_out_work
Soutenez notre travail

@mobile_link
Dark Reader pour mobile est disponible. En savoir plus

@store_listing
Cette extension de navigateur implémente un thème sombre global en créant à la volée des thèmes sombres pour chaque site que vous visitez. Dark Reader augmente le contraste des couleurs vives pour les rendre plus agréables à la vue la nuit.

Vous pouvez également ajuster la luminosité, le contraste, le filtre sépia, le thème sombre, la police du texte ainsi que la liste des sites ignorés par l'extension.

Nous pouvons vous demander de soutenir le développement de l'application par un don. Vous pouvez voir des informations sur Dark Reader dans la fenêtre contextuelle des paramètres. Il existe des outils de développement pour les utilisateurs expérimentés.

Dark Reader n'intègre pas de publicités et ne partage vos données avec personne d'autre. Il est entièrement open-source. https://github.com/darkreader/darkreader

Il est nécessaire de désactiver toute extension similaire à Dark Reader pour que celle-ci fonctionne correctement. Profitez-en et prenez soin de vos yeux!
