@extension_description
מצב אפל לכל אתר. תשמור על העיניים שלך, השתמש בעיצוב כהה לגלישה בלילה וגם ביום.

@loading_please_wait
טוען... נא המתן

@on
פעיל

@off
כבוי

@toggle_current_site
הוסף/הסר את האתר נוכחי מהרשימה

@setup_hotkey_toggle_site
הגדר מקש קיצור להוסיף/להסיר אתר נוכחי מהרשימה
הגדר מקש קיצור

@toggle_extension
הפעל/כבה את התוסף

@setup_hotkey_toggle_extension
הפעל/כבה את התוסף
הגדר מקש קיצור

@automation
הפעלה אוטומטית:

@set_active_hours
הגדר שעות פעילות

@set_location
הפעל לאחר השקיעה במיקום זה

@longitude
קו אורך

@latitude
קו רוחב

@page_protected
דף זה מוגן
על ידי הדפדפן

@local_files_forbidden
אסור לגשת
תיקים מקומיים

@page_in_dark_list
אתר זה נמצא
ברשימת אתרים כהים

@system_dark_mode
השתמש בערכת הצבעים של המערכת

@system_dark_mode_description
הפעל כאשר מצב החשכה של המערכת פועל

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
מסנן

@mode
מצב

@dark
כהה

@light
בהיר

@brightness
בהירות

@contrast
ניגודיות

@grayscale
גווני אפור

@sepia
גווני חום-אדמדם

@only_for
רק עבור

@only_for_description
החל הגדרות באתר הנוכחי בלבד

@site_list
רשימת אתרים

@invert_listed_only
רק מה שברשימה

@not_invert_listed
רק מה שלא ברשימה

@add_site_to_list
הוסף אתר נוכחי לרשימה

@setup_add_site_hotkey
הגדר מקש קיצור להוספת אתר

@more
עוד

@select_font
בחר גופן

@text_stroke
מריחת טקסט

@try_experimental_theme_engines
נסה מנועי ערכת נושא ניסיוניים:
פילטר + שומר על רוויה בצבעים, משתמש ב- GPU
נושא סטטי מייצר נושא מהיר פשוט
נושא דינמי מנתח צבעים ותמונות

@engine_filter
מסנן

@engine_filter_plus
מסנן+

@engine_static
סטטי

@engine_dynamic
דינמי

@theme_generation_mode
מצב יצירת ערכת נושא

@custom_browser_theme_on
מותאם אישית

@custom_browser_theme_off
ברירת מחדל

@change_browser_theme
שנה את ערכת נושא הדפדפן

@privacy
פרטיות

@help
עזרה

@donate
תרומה

@we_celebrate_10_years
Dark Reader חוגג 10 שנים.
אנא תמכו בעבודתנו.

@pay_for_using
שלם עבור שימוש ב-Dark Reader

@news
חדשות

@read_more
קרא עוד

@open_dev_tools
Dev tools

@mobile
נייד

@learn_more
למידע נוסף

@mobile_text
הפחת את עומס העיניים בזמן קריאה בטלפון או בטאבלט.
פשוט סרוק את קוד ה-QR כדי להתקין.

@all_settings
כל ההגדרות

@version
גִרְסָה

@configure_automation
הגדר אוטומציה

@auto_night_time
אוטומטי (שעון לילה)

@auto_day_time
אוטומטי (שעון יום)

@auto_night_at_location
אוטומטי (לילה במקום)

@auto_day_at_location
אוטומטי (יום במיקום)

@auto_system_is_dark
אוטומטי (המערכת חשוכה)

@auto_system_is_light
אוטומטי (המערכת קלה)

@click_to_set_shortcut
לחץ כדי להגדיר את קיצור הדרך

@extension_toggle_shortcut
קיצור מקלדת להפעלה/כיבוי של הרחבה

@configure_site_toggle
הגדר את החלפת האתר

@site_toggle
החלפת אתר

@enabled_by_default
מופעל כברירת מחדל

@enable_for_all_sites_by_default
מופעל עבור כל האתרים כברירת מחדל

@detect_dark_theme
זיהוי נושא כהה

@detect_website_dark_theme
גלה את הנושא האפל של האתר עצמו

@dark_theme_detected
זוהה נושא כהה

@website_toggle_shortcut
החלפת מקשי קיצור באתר

@support_out_work
תמכו בעבודה שלנו

@mobile_link
Mobile Dark Reader זמין. למד עוד

@store_listing
תוסף טיפוח לעיניים זה מאפשר למצב לילה ליצור ערכות נושא כהות לאתרי אינטרנט גלישה. Dark Reader ממיר צבעים בהירים מה שהופך אותם לניגודיות גבוהה וקל לקריאה בלילה.

ניתן להתאים את הבהירות, הניגודיות, מסנן חום-אדמדם, מצב כהה, הגדרות גופן ורשימת אתרים להתעלמות.

אנו עשויים לבקש ממך לתמוך בפיתוח האפליקציה בתרומה. ייתכן שתראה חדשות על Dark Reader בחלון הקופץ של ההגדרות. ישנם כלים למפתחים למשתמשים מנוסים.

Dark Reader אינו מציג מודעות ואינו שולח את נתוני המשתמש לשום מקום. זהו פרוייקט קוד פתוח לחלוטין https://github.com/darkreader/darkreader

לצורך פעולה תקינה, בטל תוספים דומים.
