@extension_description
מצב אפל לכל אתר. תשמור על העיניים שלך, השתמש בעיצוב כהה לגלישה בלילה או אפילו ביום.

@loading_please_wait
טוען... נא המתן


#==== Top section ====

@on
פעיל

@off
כבוי

@toggle_current_site
הוסף/הסר אתר נוכחי מהרשימה

@setup_hotkey_toggle_site
הוסף/הסר אתר נוכחי מהרשימה
הגדר מקש קיצור

@toggle_extension
הפעל/כבה את התוסף

@setup_hotkey_toggle_extension
הפעל/כבה את התוסף
הגדר מקש קיצור

@automation
הפעלה אוטומטית:

@set_active_hours
הגדר שעות פעילות

@set_location
הפעל לאחר השקיעה במיקום זה

@longitude
קו אורך

@latitude
קו רוחב

@page_protected
דף זה מוגן
על ידי הדפדפן

@page_in_dark_list
אתר זה נמצא
ברשימה אפלה גלובלית

@system_dark_mode
השתמש בסכמת הצבעים של המערכת

@system_dark_mode_description
הפעל כאשר מצב החשכה של המערכת פועל


#==== Filter ====

@filter
מסנן

@mode
מצב

@dark
אפל

@light
מואר

@brightness
בהירות

@contrast
ניגודיות

@grayscale
גווני אפור

@sepia
גווני חום-אדמדם

@only_for
רק עבור

@only_for_description
החל הגדרות באתר הנוכחי בלבד


#==== Site list ====

@site_list
רשימת אתרים

@invert_listed_only
רק מה שברשימה

@not_invert_listed
רק מה שלא ברשימה

@add_site_to_list
הוסף אתר נוכחי לרשימה

@setup_add_site_hotkey
הגדר מקש קיצור להוספת אתר


#==== More settings ====

@more
עוד

@select_font
בחר גופן

@text_stroke
מריחת טקסט

@try_experimental_theme_engines
נסה מנועי ערכת נושא ניסיוניים:
פילטר + שומר על רוויה בצבעים, משתמש ב- GPU
נושא סטטי מייצר נושא מהיר פשוט
נושא דינמי מנתח צבעים ותמונות

@engine_filter
מסנן

@engine_filter_plus
מסנן+

@engine_static
סטטי

@engine_dynamic
דינמי

@theme_generation_mode
מצב יצירת ערכת נושא

@custom_browser_theme_on
מותאם אישית

@custom_browser_theme_off
ברירת מחדל

@change_browser_theme
שנה את ערכת נושא הדפדפן


#==== Footer ====

@privacy
פרטיות

@help
עזרה

@donate
לתרום

@news
חדשות

@read_more
קרא עוד

@open_dev_tools
Dev tools


#==== Store listing ====

@store_listing
תוסף טיפוח לעיניים זה מאפשר למצב לילה ליצור ערכות נושא כהות לאתרי אינטרנט גלישה. קורא כהה ממיר צבעים בהירים מה שהופך אותם לניגודיות גבוהה וקל לקריאה בלילה.

ניתן להתאים את הבהירות, הניגודיות, מסנן חום-אדמדם, מצב כהה, הגדרות גופן ורשימת אתרים להתעלמות.

Reader Dark אינו מציג מודעות ואינו שולח את נתוני המשתמש לשום מקום. זהו קוד פתוח לחלוטין https://github.com/darkreader/darkreader

לצורך פעולה תקינה, השבת תוספים דומים. צפייה נעימה!
