@extension_description
हर वेबसाइट के लिए डार्क थीम। अपनी आंखों की देखभाल करें, रात और दैनिक ब्राउज़िंग के लिए डार्क रीडर का उपयोग करें।

@loading_please_wait
लोड हो रहा है, कृपया प्रतीक्षा करें


#==== Top section ====

@on
चालू करें

@off
बंद करें

@toggle_current_site
वर्तमान साइट टॉगल करें

@setup_hotkey_toggle_site
मौजूदा साइट टॉगल हॉटकी
सेटअप करें

@toggle_extension
एक्सटेंशन टॉगल करें

@setup_hotkey_toggle_extension
एक्सटेंशन टॉगल हॉटकी
सेटअप करें

@automation
स्वचालन

@set_active_hours
सक्रिय घंटे सेट करें

@set_location
सूर्यास्त पर स्वचालित सक्रियण के लिए अपना अनुमानित स्थान दर्ज करें

@longitude
देशान्तर

@latitude
अक्षांश

@page_protected
यह पृष्ठ ब्राउज़र
द्वारा संरक्षित है

@page_in_dark_list
यह साइट वैश्विक
डार्क लिस्ट में है

@system_dark_mode
उपयोग प्रणाली रंग योजना

@system_dark_mode_description
सक्रिय करें जब सिस्टम अंधेरे मोड पर है


#==== Filter ====

@filter
फ़िल्टर

@mode
मोड

@dark
अंधेरा

@light
रोशनी

@brightness
चमक

@contrast
कंट्रास्ट

@grayscale
ग्रेस्केल

@sepia
सेपिया फ़िल्टर

@only_for
केवल

@only_for_description
केवल मौजूदा वेबसाइट पर सेटिंग्स लागू करें


#==== Site list ====

@site_list
साइट सूची

@invert_listed_only
केवल इन्वर्टर सूचीबद्ध है

@not_invert_listed
सूचीबद्ध नहीं है

@add_site_to_list
सूची में साइट जोड़ें

@setup_add_site_hotkey
साइट जोड़ने के लिए एक हॉटकी सेटअप करें


#==== More settings ====

@more
अधिक

@select_font
एक फ़ॉन्ट का चयन करें

@text_stroke
पाठ स्ट्रोक

@try_experimental_theme_engines
**प्रयोगात्मक** थीम इंजन आज़माएं:
**फ़िल्टर+** रंग संतृप्ति को संरक्षित करता है, जीपीयू का उपयोग करता है
**स्थिर थीम** एक साधारण तेज़ थीम उत्पन्न करता है
**गतिशील थीम** रंग और छवियों का विश्लेषण करता है

@engine_filter
फ़िल्टर

@engine_filter_plus
फ़िल्टर+

@engine_static
स्थिर

@engine_dynamic
गतिशील

@theme_generation_mode
थीम निर्माण मोड

@custom_browser_theme_on
बदला हुआ

@custom_browser_theme_off
डिफ़ॉल्ट द्वारा

@change_browser_theme
ब्राउज़र थीम बदलें


#==== Footer ====

@privacy
गोपनीयता

@help
सहायता

@donate
दान करना

@news
समाचार

@read_more
और पढ़े

@open_dev_tools
डेवलपर टूल


#==== Store listing ====

@store_listing
यह आंख-देखभाल ब्राउज़र-एक्सटेंशन नाईट मोड को अधिकृत करके वेबसाइटों के लिए अंधेरे थीम को बनाने में सक्षम बनाता है। डार्क रीडर चमकदार रंगों को उच्च विपरीत बना देता है इसलिए रात में पढ़ने में आसान होता है।

आप चमक, कंट्रास्ट, सेपिया फ़िल्टर, डार्क मोड, फ़ॉन्ट सेटिंग्स और अनदेखा-सूची समायोजित कर सकते हैं।

डार्क रीडर विज्ञापन नहीं दिखाता है और कहीं भी उपयोगकर्ता का डेटा नहीं भेजता है। यह पूरी तरह से मुक्त-स्रोत है https://github.com/darkreader/darkreader

डार्क रीडर स्थापित करने से पहले इसी तरह की एक्सटेंशन अक्षम करें। देखने का मज़ा लें!
