@extension_description
हर वेबसाइट के लिए डार्क थीम। अपनी आंखों की देखभाल करें, रात और हर रोज़ की ब्राउज़िंग के लिए डार्क रीडर का उपयोग करें।

@loading_please_wait
लोड हो रहा है, कृपया प्रतीक्षा करें

@on
चालू

@off
बंद

@toggle_current_site
वर्तमान साइट के लिए उपयोग

@setup_hotkey_toggle_site
मौजूदा साइट के लिए उपयोग करने की हॉटकी
सेटअप करें

@toggle_extension
एक्सटेंशन का उपयोग

@setup_hotkey_toggle_extension
एक्सटेंशन का उपयोग करने की हॉटकी
सेटअप करें

@automation
स्वचालन

@set_active_hours
उपयोग की अवधि को निश्चित करें

@set_location
सूर्यास्त के बाद उपयोग करने का स्थान निश्चित करें

@longitude
देशान्तर

@latitude
अक्षांश

@page_protected
यह पृष्ठ ब्राउज़र
के द्वारा संरक्षित है

@local_files_forbidden
प्रवेश करने की अनुमति नहीं है
स्थानीय फ़ाइलें

@page_in_dark_list
यह साइट वैश्विक
डार्क सूची में है

@system_dark_mode
प्रणाली रंग योजना का उपयोग करें

@system_dark_mode_description
उपयोग करें जब प्रणाली अंधेरे कि स्थिति में है

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
फ़िल्टर

@mode
स्थिति

@dark
अंधेरा

@light
रोशनी

@brightness
चमक

@contrast
कॉन्ट्रास्ट

@grayscale
ग्रेस्केल

@sepia
सेपिया फ़िल्टर

@only_for
केवल

@only_for_description
केवल मौजूदा वेबसाइट पर सेटिंग्स लागू हो

@site_list
साइट की सूची

@invert_listed_only
केवल चलन साइट की सूची

@not_invert_listed
न चलन साइट की सूची

@add_site_to_list
साइट को चलन सूची में दालें

@setup_add_site_hotkey
साइट को डालने के लिए हॉटकी सेटअप करें

@more
अधिक

@select_font
फ़ॉन्ट का चयन करें

@text_stroke
पाठ स्ट्रोक

@try_experimental_theme_engines
**प्रयोगात्मक** थीम इंजन आज़माएं:
**फ़िल्टर+** रंग संतृप्ति को संरक्षित करता है, जीपीयू का उपयोग करता है
**स्थिर थीम** एक साधारण तेज़ थीम उत्पन्न करता है
**गतिशील थीम** रंग और छवियों का विश्लेषण करता है

@engine_filter
फ़िल्टर

@engine_filter_plus
फ़िल्टर+

@engine_static
स्थिर

@engine_dynamic
गतिशील

@theme_generation_mode
थीम निर्माण स्थिति

@custom_browser_theme_on
बदला हुआ

@custom_browser_theme_off
डिफ़ॉल्ट द्वारा

@change_browser_theme
ब्राउज़र थीम बदलें

@privacy
गोपनीयता

@help
सहायता

@donate
दान

@we_celebrate_10_years
डार्क रीडर ने 10 वर्ष पूरे होने का जश्न मनाया।
कृपया हमारे काम का समर्थन करें।

@pay_for_using
डार्क रीडर का उपयोग करने के लिए भुगतान करें

@news
समाचार

@read_more
और पढ़े

@open_dev_tools
डेवलपर टूल

@mobile
गतिमान

@learn_more
और अधिक जानें

@mobile_text
अपने फोन या टैबलेट पर पढ़ते समय आंखों का तनाव कम करें।
इंस्टॉल करने के लिए बस QR कोड को स्कैन करें।

@all_settings
सभी सेटिंग्स

@version
संस्करण

@configure_automation
स्वचालन कॉन्फ़िगर करें

@auto_night_time
ऑटो (रात का समय)

@auto_day_time
ऑटो (दिन का समय)

@auto_night_at_location
ऑटो (स्थान पर रात)

@auto_day_at_location
ऑटो (स्थान पर दिन)

@auto_system_is_dark
ऑटो (सिस्टम डार्क है)

@auto_system_is_light
ऑटो (सिस्टम हल्का है)

@click_to_set_shortcut
शॉर्टकट सेट करने के लिए क्लिक करें

@extension_toggle_shortcut
एक्सटेंशन ऑन/ऑफ कीबोर्ड शॉर्टकट

@configure_site_toggle
वेबसाइट टॉगलिंग कॉन्फ़िगर करें

@site_toggle
साइट टॉगलिंग

@enabled_by_default
डिफ़ॉल्ट रूप से सक्षम

@enable_for_all_sites_by_default
डिफ़ॉल्ट रूप से सभी वेबसाइटों के लिए सक्षम

@detect_dark_theme
डार्क थीम का पता लगाएं

@detect_website_dark_theme
वेबसाइट की अपनी डार्क थीम का पता लगाएं

@dark_theme_detected
गहरे रंग वाली थीम का पता चला

@website_toggle_shortcut
वेबसाइट टॉगल कीबोर्ड शॉर्टकट

@support_out_work
हमारे काम का समर्थन करें

@mobile_link
मोबाइल डार्क रीडर उपलब्ध है. और अधिक जानें

@store_listing
यह आंख-सहायक ब्राउज़र-एक्सटेंशन रात्रि स्थिति को अधिकृत करके वेबसाइटों के लिए अंधेरे थीम को बनाने में सक्षम बनाता है। डार्क रीडर चमकदार रंगों को उच्च विपरीत बना देता है इसलिए रात में पढ़ने में आसान होता है।

आप चमक, कंट्रास्ट, सेपिया फ़िल्टर, डार्क मोड, फ़ॉन्ट सेटिंग्स और न चलन-सूची समायोजित कर सकते हैं।

हम आपसे दान के साथ ऐप के विकास का समर्थन करने के लिए कह सकते हैं। आप सेटिंग पॉपअप में डार्क रीडर के बारे में समाचार देख सकते हैं। अनुभवी उपयोगकर्ताओं के लिए डेवलपर टूल हैं।

डार्क रीडर विज्ञापन नहीं दिखाता है और कहीं भी उपयोगकर्ता का डेटा नहीं भेजता है। यह पूरी तरह से मुक्त-स्रोत है https://github.com/darkreader/darkreader

डार्क रीडर का उपयोग करने से पहले इसी तरह की एक्सटेंशन अक्षम करें। देखने का मज़ा लें!
