@extension_description
Mode malam untuk semua situs web. Menjaga mata anda, menggunakan tema gelap untuk berselancar siang dan malam hari.

@loading_please_wait
Sedang memuat, harap menunggu


#==== Top section ====

@on
On

@off
Off

@toggle_current_site
Saklar situs yang terbuka

@setup_hotkey_toggle_site
Setelan situs yang terbuka
saklar pintasan

@toggle_extension
Saklar ekstensi

@setup_hotkey_toggle_extension
Setelan ekstensi
saklar pintasan

@automation
Otomatisasi

@set_active_hours
Ubah waktu aktif

@set_location
Aktifkan setelah matahari terbenam di lokasi

@longitude
Garis bujur

@latitude
Garis lintang

@page_protected
Halaman ini dilindungi
oleh peramban

@page_in_dark_list
Situs ini berada dalam daftar
Mode Malam

@system_dark_mode
Gunakan skema warna sistem

@system_dark_mode_description
Aktif ketika mode gelap sistem diaktifkan


#==== Filter ====

@filter
Filter

@mode
Mode

@dark
Malam

@light
Siang

@brightness
Kecerahan

@contrast
Kontras

@grayscale
Abu-abu

@sepia
Sepia

@only_for
Hanya untuk

@only_for_description
Terapkan hanya untuk situs yang terbuka


#==== Site list ====

@site_list
Daftar situs

@invert_listed_only
Diterapkan

@not_invert_listed
Dikecualikan

@add_site_to_list
Tambahkan situs ke daftar

@setup_add_site_hotkey
Atur pintasan untuk menambahkan situs


#==== More settings ====

@more
Lainnya

@select_font
Pilih fon

@text_stroke
Tebal teks

@try_experimental_theme_engines
Uji coba penghasil tema **eksperimental**:
**Filter+** menjaga saturasi warna, mengggunakan GPU
**Tema statis** menghasilkan tema cepat sederhana
**Tema dinamis** menganalisa warna dan gambar

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statis

@engine_dynamic
Dinamis

@theme_generation_mode
Mode penghasil tema

@custom_browser_theme_on
Khusus

@custom_browser_theme_off
Bawaan

@change_browser_theme
Ubah tema peramban


#==== Footer ====

@privacy
Privasi

@help
Bantuan

@donate
Donasi

@news
Berita

@read_more
Baca lainnya

@open_dev_tools
Pengembang


#==== Store listing ====

@store_listing
Ekstensi ini mengaktifkan mode malam dengan membuat halaman situs web menjadi gelap. Dark Reader bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras, filter sepia, mode malam, setelan fon dan pengecualian situs web.

Dark Reader tidak menampilkan iklan dan tidak mengirimkan data penggunan ke manapun. Sepenuhnya bersumber terbuka: https://github.com/darkreader/darkreader

Sebelum memasang, silakan nonaktifkan ekstensi serupa. Selamat berselancar!
