@extension_description
Mode malam untuk semua situs web. Menjaga mata anda, menggunakan tema gelap untuk berselancar siang dan malam hari.

@loading_please_wait
Sedang memuat, harap menunggu

@on
On

@off
Off

@toggle_current_site
Saklar situs yang terbuka

@setup_hotkey_toggle_site
Setelan situs yang terbuka
saklar pintasan

@toggle_extension
Saklar ekstensi

@setup_hotkey_toggle_extension
Setelan ekstensi
saklar pintasan

@automation
Otomatisasi

@set_active_hours
Ubah waktu aktif

@set_location
Aktifkan setelah matahari terbenam di lokasi

@longitude
Garis bujur

@latitude
Garis lintang

@page_protected
Halaman ini dilindungi
oleh peramban

@local_files_forbidden
Tidak diizinkan untuk mengakses
file lokal

@page_in_dark_list
Situs ini berada dalam daftar
Mode Malam

@system_dark_mode
Gunakan skema warna sistem

@system_dark_mode_description
Aktif ketika mode gelap sistem diaktifkan

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Mode

@dark
Malam

@light
Siang

@brightness
Kecerahan

@contrast
Kontras

@grayscale
Abu-abu

@sepia
Sepia

@only_for
Hanya untuk

@only_for_description
Terapkan hanya untuk situs yang terbuka

@site_list
Daftar situs

@invert_listed_only
Diterapkan

@not_invert_listed
Dikecualikan

@add_site_to_list
Tambahkan situs ke daftar

@setup_add_site_hotkey
Atur pintasan untuk menambahkan situs

@more
Lainnya

@select_font
Pilih fon

@text_stroke
Tebal teks

@try_experimental_theme_engines
Uji coba penghasil tema **eksperimental**:
**Filter+** menjaga saturasi warna, mengggunakan GPU
**Tema statis** menghasilkan tema cepat sederhana
**Tema dinamis** menganalisa warna dan gambar

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statis

@engine_dynamic
Dinamis

@theme_generation_mode
Mode penghasil tema

@custom_browser_theme_on
Khusus

@custom_browser_theme_off
Bawaan

@change_browser_theme
Ubah tema peramban

@privacy
Privasi

@help
Bantuan

@donate
Donasi

@we_celebrate_10_years
Pembaca Gelap merayakan 10 tahun.
Tolong dukung pekerjaan kami.

@pay_for_using
Bayar untuk menggunakan Pembaca Gelap

@news
Berita

@read_more
Baca lainnya

@open_dev_tools
Pengembang

@mobile
Seluler

@learn_more
Pelajari lebih lanjut

@mobile_text
Kurangi ketegangan mata saat membaca di ponsel atau tablet Anda.
Cukup pindai kode QR untuk menginstal.

@all_settings
Semua pengaturan

@version
Versi: kapan

@configure_automation
Konfigurasi otomatisasi

@auto_night_time
Otomatis (waktu malam)

@auto_day_time
Otomatis (siang hari)

@auto_night_at_location
Otomatis (malam di lokasi)

@auto_day_at_location
Otomatis (hari di lokasi)

@auto_system_is_dark
Otomatis (sistem gelap)

@auto_system_is_light
Otomatis (sistem ringan)

@click_to_set_shortcut
Klik untuk mengatur pintasan

@extension_toggle_shortcut
Pintasan keyboard aktif/nonaktif ekstensi

@configure_site_toggle
Konfigurasikan pengalihan situs web

@site_toggle
Beralih Situs

@enabled_by_default
Diaktifkan secara Default

@enable_for_all_sites_by_default
Diaktifkan untuk semua situs web secara default

@detect_dark_theme
Deteksi tema gelap

@detect_website_dark_theme
Mendeteksi tema gelap situs web itu sendiri

@dark_theme_detected
Tema gelap terdeteksi

@website_toggle_shortcut
Pintasan keyboard beralih situs web

@support_out_work
Dukung pekerjaan kami

@mobile_link
Pembaca Gelap Seluler tersedia. Belajarlah lagi

@store_listing
Ekstensi ini mengaktifkan mode malam dengan membuat halaman situs web menjadi gelap. Dark Reader bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras, filter sepia, mode malam, setelan fon dan pengecualian situs web.

Kami mungkin meminta Anda untuk mendukung pengembangan aplikasi dengan donasi. Anda mungkin melihat berita tentang Pembaca Gelap di sembulan pengaturan. Ada Alat Pengembang untuk pengguna berpengalaman.

Dark Reader tidak menampilkan iklan dan tidak mengirimkan data penggunan ke manapun. Sepenuhnya bersumber terbuka: https://github.com/darkreader/darkreader

Sebelum memasang, silakan nonaktifkan ekstensi serupa. Selamat berselancar!
