@extension_description
Mode Malam untuk semua website. Jaga kesehatan mata and dengan menggunakan Dark Reader untuk aktivitas anda berselancar di dunia maya.

@loading_please_wait
Sedang Memuat, harap menunggu


#==== Top section ====

@on
On

@off
Off

@toggle_current_site
Saklar situs yang terbuka

@setup_hotkey_toggle_site
Setelan situs yang terbuka
Saklar Pintasan

@toggle_extension
Saklar ekstensi

@setup_hotkey_toggle_extension
Setelan ekstensi
Saklar Pintasan

@time_settings
Pengaturan waktu

@set_active_hours
Ubah waktu aktivitas

@page_protected
Halaman ini dilindungi
oleh browser

@page_in_dark_list
Situs ini berada dalam daftar
Mode Malam


#==== Filter ====

@filter
Filter

@mode
Mode

@dark
Malam

@light
Siang

@brightness
Kecerahan

@contrast
Kontras

@grayscale
Abu-abu

@sepia
Sepia

@only_for
Hanya Untuk

@only_for_description
Terapkan setelan hanya untuk site yang terbuka


#==== Site list ====

@site_list
Daftar Situs

@invert_listed_only
Pengecualian hanya

@not_invert_listed
Batalkan didaftarkan

@add_site_to_list
Tambahkan situs dalam daftar

@setup_add_site_hotkey
Setelan Pintasan untuk menambahkan situs


#==== More settings ====

@more
Lanjutan

@select_font
Pilih Font

@text_stroke
Tebal Text

@try_experimental_theme_engines
Uji Coba tema engines **Eksperimental** :
**Filter+** jaga saturasi warna, mengggunakan GPU
**Tema Statis** hasilkan tema cepat & sederhana
**Tema Dinamis** analisa warna dan gambar

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statis

@engine_dynamic
Dinamis

@theme_generation_mode
Mode penghasil tema

@custom_browser_theme_on
Tema Ubahan

@custom_browser_theme_off
Tema Awal

@change_browser_theme
Ubah tema browser


#==== Footer ====

@privacy
Privasi

@help
Bantuan

@donate
Donasi

@news
Berita

@read_more
Bacaan Lanjutan

@open_dev_tools
Peralatan


#==== Store listing ====

@store_listing
Ekstensi ini memberikan "Mode Malam" bagi setiap website secara langsung. Dark Reader bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras warna, Filter Sepia, Modem Malam, setelan font dan membuat daftar atas situs yg dikecualikan dari daftar mode malam.

Dark Reader tidak beriklan dan mengumpulkan data penggunan ke manapun. Aplikasi in sepenuhnya open-source https://github.com/darkreader/darkreader

Sebelum instalasi, disable terlebih dahulu ekstensi serupa. Selamat Berselancar!
