@extension_description
Tema scuro per ogni sito. Prenditi cura dei tuoi occhi, usa Dark Reader per navigare giorno e notte.

@loading_please_wait
Sto caricando, attendere prego


#==== Top section ====

@on
Accesa

@off
Spenta

@toggle_current_site
Inverti il sito attuale

@setup_hotkey_toggle_site
Tasti di scelta rapida
per il sito attuale

@toggle_extension
(Dis)abilita estensione

@setup_hotkey_toggle_extension
Tasti di scelta rapida
dell'estensione

@automation
Automazione

@set_active_hours
Imposta l'orario di attività

@set_location
Attiva dopo il tramonto a posizione

@longitude
Longitudine

@latitude
Latitudine

@page_protected
Questa pagina è protetta
dal browser

@page_in_dark_list
Questo sito è nella
Dark List globale

@system_dark_mode
Usa schema di colori del sistema

@system_dark_mode_description
Attiva quando la modalità scura sistema è acceso


#==== Filter ====

@filter
Filtra

@mode
Modalità

@dark
Scuro

@light
Chiaro

@brightness
Luminosità

@contrast
Contrasto

@grayscale
Scala di grigi

@sepia
Seppia

@only_for
Solo per

@only_for_description
Applica le configurazioni solo al sito attuale


#==== Site list ====

@site_list
Lista dei siti

@invert_listed_only
Inverti solo

@not_invert_listed
Non invertire solo

@add_site_to_list
Aggiungi sito all'elenco

@setup_add_site_hotkey
Tasti di scelta rapida per aggiungere un sito


#==== More settings ====

@more
Di più

@select_font
Seleziona un font

@text_stroke
Contorno del testo

@try_experimental_theme_engines
Prova gli interpreti dei temi **sperimentali**:
**Filtro+** preserva saturazione dei colori, usa la GPU
**Tema statico** genera un semplice tema veloce
**Tema dinamico** analizza i colori e le immagini

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Statico

@engine_dynamic
Dinamico

@theme_generation_mode
Modalità di generazione del tema

@custom_browser_theme_on
Personalizzato

@custom_browser_theme_off
Predefinito

@change_browser_theme
Modifica il tema del browser


#==== Footer ====

@privacy
Privacy

@help
Aiuto

@donate
Dona

@news
Notizie

@read_more
Scopri di più

@open_dev_tools
Strumenti


#==== Store listing ====

@store_listing
Questa estensione si prende cura dei tuoi occhi e ti consente di creare al volo un tema scuro in modalità nottura per ogni sito. Dark Reader inverte i colori più luminosi rendendoli ad alto contrato e più semplici da leggere la notte.

Puoi modificare luminosità, contrasto, filtro seppia, modalità notturna, caratteri e lista di siti da ignorare.

Dark Reader non mostra pubblicità e non invia i dati dell'utente da nessuna parte. È pienamente open-source https://github.com/darkreader/darkreader

Prima di installare disabilita altre estensioni simili. Buona lettura!
