@extension_description
Tema scuro per ogni sito. Proteggi i tuoi occhi usando il tema scuro mentre navighi, sia di giorno che di notte.

@loading_please_wait
Caricamento in corso, attendi per favore

@on
Attivo

@off
Inattivo

@toggle_current_site
Cambia il sito attuale

@setup_hotkey_toggle_site
Configura combinazione per
attivare/disattivare il sito attuale

@toggle_extension
Attiva/Disattiva l'estensione

@setup_hotkey_toggle_extension
Configura combinazione per
attivare/disattivare l'estensione

@automation
Automazione

@set_active_hours
Imposta orari di attività

@set_location
Attiva dopo il tramonto nella posizione

@longitude
Longitudine

@latitude
Latitudine

@page_protected
Questa pagina è protetta
dal browser

@local_files_forbidden
Accesso a file locali
non consentito

@page_in_dark_list
Questo sito è nella lista
globale dei temi scuri

@system_dark_mode
Segui tema di sistema

@system_dark_mode_description
Attiva quando il tema di sistema è scuro

@system_dark_mode_chromium_warning
Quest'opzione potrebbe non funzionare
a causa di un problema nel tuo browser

@filter
Filtra

@mode
Modalità

@dark
Scuro

@light
Chiaro

@brightness
Luminosità

@contrast
Contrasto

@grayscale
Scala di grigi

@sepia
Seppia

@only_for
Solo per

@only_for_description
Applica le impostazioni solo al sito attuale

@site_list
Elenco dei siti

@invert_listed_only
Inverti solo i siti elencati

@not_invert_listed
Inverti tutti i siti tranne

@add_site_to_list
Aggiungi sito all'elenco

@setup_add_site_hotkey
Configura combinazione per aggiungere il sito

@more
Altro

@select_font
Seleziona un font

@text_stroke
Tratto del testo

@try_experimental_theme_engines
Prova i motori **sperimentali** per i temi:
**Filtro+** preserva la saturazione dei colori, usa la GPU
**Tema statico** genera un tema semplice velocemente
**Tema dinamico** analizza colori e immagini

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Statico

@engine_dynamic
Dinamico

@theme_generation_mode
Modalità di generazione del tema

@custom_browser_theme_on
Personalizzato

@custom_browser_theme_off
Predefinito

@change_browser_theme
Cambia tema del browser

@privacy
Privacy

@help
Aiuto

@donate
Dona

@we_celebrate_10_years
Dark Reader festeggia 10 anni.
Per favore sostieni il nostro lavoro.

@pay_for_using
Paga per utilizzare Dark Reader

@news
Notizie

@read_more
Scopri di più

@open_dev_tools
Strumenti di sviluppo

@mobile
Mobile

@learn_more
Saperne di più

@mobile_text
Riduci l'affaticamento degli occhi durante la lettura sul tuo telefono o tablet.
Basta scansionare il codice QR per installarlo.

@all_settings
Tutte le impostazioni

@version
Versione

@configure_automation
Configura automazione

@auto_night_time
Automatico (notturno)

@auto_day_time
Automatico (diurno)

@auto_night_at_location
Automatico (notte nella posizione)

@auto_day_at_location
Automatico (giorno nella posizione)

@auto_system_is_dark
Automatico (il sistema è scuro)

@auto_system_is_light
Automatico (il sistema è chiaro)

@click_to_set_shortcut
Clicca per impostare la combinazione

@extension_toggle_shortcut
Combinazione per attivare/disattivare l'estensione

@configure_site_toggle
Configura commutazioni dei siti

@site_toggle
Commutazioni dei siti

@enabled_by_default
Attivo per impostazione predefinita

@enable_for_all_sites_by_default
Attivo per tutti i siti per impostazione predefinita

@detect_dark_theme
Rileva tema scuro

@detect_website_dark_theme
Rileva il tema scuro del sito

@dark_theme_detected
Tema scuro rilevato

@website_toggle_shortcut
Combinazione per commutare il sito

@support_out_work
Sostieni il nostro lavoro

@mobile_link
Dark Reader Mobile è disponibile. Scopri di più

@store_listing
Questa estensione si prende cura dei tuoi occhi attivando il tema notturno e generando al volo temi scuri per tutti i siti. Dark Reader inverte i colori più luminosi, rendendoli ad alto contrasto e facili da leggere di notte.

Puoi regolare luminosità, contrasto, filtro seppia, tema scuro, font e la lista dei siti da ignorare.

Potremmo chiederti di supportare lo sviluppo dell'app con una donazione. Potresti vedere notizie riguardo a Dark Reader nel popup delle impostazioni. Sono disponibili Strumenti di Sviluppo per utenti esperti.

Dark Reader non mostra pubblicità e non invia i dati degli utenti a nessuno. È completamente open source: https://github.com/darkreader/darkreader

Prima di installarlo, disattiva altre estensioni simili. Buona lettura!
