@extension_description
あらゆるサイトにダークテーマを。夜間や毎日のブラウジングにDark Readerで目を気遣います。

@loading_please_wait
読み込み中…お待ちください

@on
オン

@off
オフ

@toggle_current_site
現在のサイトの切替

@setup_hotkey_toggle_site
現在のサイト切替用の
ホットキーを設定

@toggle_extension
拡張機能の切替

@setup_hotkey_toggle_extension
拡張機能の切替用の
ホットキーを設定

@automation
自動化

@set_active_hours
アクティブ時間を設定

@set_location
現地での日没で切替

@longitude
経度

@latitude
緯度

@page_protected
このページはブラウザに
よって保護されています

@local_files_forbidden
端末内のファイルへのアクセスは
許可されていません

@page_in_dark_list
このサイトは全員適用の
ダークリストに含まれます

@system_dark_mode
システムの色のモードに従う

@system_dark_mode_description
システムがダークモードなら有効に

@system_dark_mode_chromium_warning
このオプションはこのブラウザのバグの
ため動作しない可能性があります

@filter
フィルタ

@mode
モード

@dark
ダーク

@light
ライト

@brightness
輝度

@contrast
コントラスト

@grayscale
グレースケール

@sepia
セピア

@only_for
このサイトのみ適用

@only_for_description
現在のサイトのみに設定を適用

@site_list
サイトリスト

@invert_listed_only
反転リスト

@not_invert_listed
非反転リスト

@add_site_to_list
サイトをリストに追加

@setup_add_site_hotkey
サイト追加用のホットキーを設定

@more
その他

@select_font
フォントを選択

@text_stroke
文字の縁取り

@try_experimental_theme_engines
**実験的な**テーマエンジンをお試しください:
**フィルタ+**: 色の彩度を維持 (GPU 使用)
**静的テーマ**: 簡単なテーマを高速で生成
**動的テーマ**: 色と画像を分析

@engine_filter
フィルタ

@engine_filter_plus
フィルタ+

@engine_static
静的

@engine_dynamic
動的

@theme_generation_mode
テーマ生成法の切替

@custom_browser_theme_on
カスタム

@custom_browser_theme_off
デフォルト

@change_browser_theme
ブラウザのテーマを変更

@privacy
個人情報

@help
ヘルプ

@donate
寄付する

@we_celebrate_10_years
Dark Reader は 10 周年を迎えます。
私たちの活動をサポートしてください。

@pay_for_using
Dark Reader の使用料を支払う

@news
ニュース

@read_more
続きを読む

@open_dev_tools
開発ツール

@mobile
携帯

@learn_more
もっと詳しく知る

@mobile_text
携帯電話やタブレットで読書中の目の疲れを軽減します。
QRコードをスキャンするだけでインストールできます。

@all_settings
すべての設定

@version
バージョン

@configure_automation
自動化の設定

@auto_night_time
自動 (夜)

@auto_day_time
自動 (昼)

@auto_night_at_location
自動 (指定場所は夜)

@auto_day_at_location
自動 (指定場所は昼)

@auto_system_is_dark
自動 (システムはダーク)

@auto_system_is_light
自動 (システムはライト)

@click_to_set_shortcut
クリックでショートカットを設定

@extension_toggle_shortcut
拡張機能のオン/オフのキーボード ショートカット

@configure_site_toggle
サイト上の切替を設定

@site_toggle
サイト上の切り替え

@enabled_by_default
初期値は有効

@enable_for_all_sites_by_default
すべてのサイトで最初は有効にします

@detect_dark_theme
ダークテーマの検出

@detect_website_dark_theme
そのサイト自身のダークテーマを検出

@dark_theme_detected
ダークテーマを検出

@website_toggle_shortcut
サイト上で切り替えるキーボード ショートカット

@support_out_work
私たちの開発を支援

@mobile_link
モバイル端末でもDark Readerが使えます。詳細

@store_listing
このアイ・ケアの拡張機能は、オンザフライでサイト用のダークテーマを作成しナイトモードを有効にします。 Dark Reader は明るい色を反転させてコントラストを高め、夜間でも読みやすくします。

明るさ、コントラスト、セピアのフィルター、ダークモード、フォント設定、無視リストを調整することができます。

アプリの開発を寄付によって支援してほしいとお願いする場合があります。設定のポップアップにて DarkReader に関するニュースが表示される場合があります。経験豊富なユーザー向けの開発ツールも備えます。

Dark Reader は広告を表示せず、ユーザーのデータをどこにも送信しません。また完全にオープンソースです https://github.com/darkreader/darkreader

インストールする前に、同様の拡張機能を無効にしてください。サイト閲覧をお楽しみください！
