@extension_description
すべてのウェブサイトにダークテーマを適用します。夜間や毎日のブラウジングにDark Readerを使用し、あなたの目を気遣います。

@loading_please_wait
読み込み中…お待ちください


#==== Top section ====

@on
オン

@off
オフ

@toggle_current_site
現在のサイトの切替

@setup_hotkey_toggle_site
現在のサイト切替用の
ホットキーを設定する

@toggle_extension
拡張機能の切替

@setup_hotkey_toggle_extension
拡張機能の切替用の
ホットキーを設定する

@automation
自動化

@set_active_hours
アクティブ時間を設定する

@set_location
現地での日没後に有効に

@longitude
経度

@latitude
緯度

@page_protected
このページはブラウザに
よって保護されています

@page_in_dark_list
このサイトはグローバル
ダークリストに含まれています

@system_dark_mode
システムの色のモードに従う

@system_dark_mode_description
システムがダークモードの設定なら有効に


#==== Filter ====

@filter
フィルタ

@mode
モード

@dark
ダーク

@light
ライト

@brightness
輝度

@contrast
コントラスト

@grayscale
グレースケール

@sepia
セピア

@only_for
このサイトでのみ適用

@only_for_description
現在のウェブサイトのみに設定を適用する


#==== Site list ====

@site_list
サイトリスト

@invert_listed_only
ホワイトリスト

@not_invert_listed
ブラックリスト

@add_site_to_list
サイトをリストに追加する

@setup_add_site_hotkey
サイトを追加するためのホットキーを設定する


#==== More settings ====

@more
その他

@select_font
フォントを選択

@text_stroke
テキストストローク

@try_experimental_theme_engines
**実験的**テーマエンジンを試してみてください:
**フィルタ+**は色の彩度を維持します(GPUを使用)
**静的テーマ**は簡単な高速テーマを生成します
**動的テーマ**は色と画像を分析します

@engine_filter
フィルタ

@engine_filter_plus
フィルタ+

@engine_static
静的

@engine_dynamic
動的

@theme_generation_mode
テーマ生成モード

@custom_browser_theme_on
カスタム

@custom_browser_theme_off
デフォルト

@change_browser_theme
ブラウザのテーマを変更する


#==== Footer ====

@privacy
個人情報

@help
ヘルプ

@donate
寄付する

@news
ニュース

@read_more
続きを読む

@open_dev_tools
開発者ツール


#==== Store listing ====

@store_listing
このアイ・ケアの拡張機能は、オンザフライでウェブサイトのためのダークテーマを作成し、ナイトモードを有効にします。 Dark Readerは鮮やかな色を反転させてコントラストを高め、夜間に読みやすくします。

明るさ、コントラスト、セピアフィルター、ダークモード、フォント設定、無視リストを調整することができます。

Dark Readerは広告を表示せず、ユーザーのデータをどこにも送信しません。 また完全にオープンソースです https://github.com/darkreader/darkreader

インストールする前に、同様の拡張機能を無効にしてください。 ブラウジングをお楽しみください！
