@extension_description
모든 웹사이트에 다크 모드를 적용합니다. 밤이나 일상적인 웹 브라우징 시 어두운 테마를 사용하여 눈을 보호하세요.

@loading_please_wait
로딩 중... 잠시만 기다려 주세요.

@on
켜기

@off
끄기

@toggle_current_site
현재 웹 사이트에 적용

@setup_hotkey_toggle_site
현재 웹 사이트 설정
단축키 전환

@toggle_extension
확장 기능 적용

@setup_hotkey_toggle_extension
확장 기능 설정하기
바로 가기 전환

@automation
자동화

@set_active_hours
사용 시간 설정

@set_location
일몰 후 활성화

@longitude
경도

@latitude
위도

@page_protected
이 페이지는
브라우저에 의해 보호되어 있습니다.

@local_files_forbidden
접근이 허용되지 않음
로컬 파일

@page_in_dark_list
이 사이트는 이미
전체 목록에 포함되어 있습니다

@system_dark_mode
사용 시스템 색 구성표

@system_dark_mode_description
시스템 어두운 모드가 켜져 있을 때 활성화

@system_dark_mode_chromium_warning
이 옵션은
브라우저의 버그로 인해 작동하지 않을 수 있습니다.

@filter
필터

@mode
모드

@dark
다크

@light
라이트

@brightness
밝기

@contrast
대비

@grayscale
흑백 필터

@sepia
편안하게 보기

@only_for
해당 웹사이트에만 적용

@only_for_description
현재 웹사이트에만 설정을 적용

@site_list
사이트 목록

@invert_listed_only
포함된 사이트 목록

@not_invert_listed
제외된 사이트 목록

@add_site_to_list
웹사이트 추가

@setup_add_site_hotkey
웹사이트를 추가 단축키 설정

@more
더 보기

@select_font
글꼴

@text_stroke
글자 굵기

@try_experimental_theme_engines
**실험용** 테마 엔진들
**필터+** 는 GPU를 사용하여 채도를 유지합니다
**정적 테마** 는 간단하고 빠른 테마를 생성합니다
**동적 테마** 는 색상 및 이미지를 분석합니다

@engine_filter
필터

@engine_filter_plus
필터+

@engine_static
정적

@engine_dynamic
동적

@theme_generation_mode
테마 생성 모드

@custom_browser_theme_on
맞춤 테마 사용

@custom_browser_theme_off
기본 테마

@change_browser_theme
브라우저 테마 변경

@privacy
개인 정보

@help
도움말

@donate
기부

@we_celebrate_10_years
다크 리더가 10주년을 맞이했습니다.
우리의 활동을 지지해주세요.

@pay_for_using
Dark Reader 사용 비용 지불

@news
뉴스

@read_more
더 보기

@open_dev_tools
개발자 도구

@mobile
모바일

@learn_more
더 보기

@mobile_text
휴대폰이나 태블릿으로 책을 읽는 동안 눈의 피로를 줄여보세요.
QR코드를 스캔하시면 간단하게 설치하실 수 있습니다.

@all_settings
설정

@version
버전

@configure_automation
시간 예약

@auto_night_time
자동(야간)

@auto_day_time
자동(주간)

@auto_night_at_location
자동(위치에서 야간)

@auto_day_at_location
자동(위치에서 주간)

@auto_system_is_dark
자동(시스템이 다크 모드일 때)

@auto_system_is_light
자동(시스템이 라이트 모드일 때)

@click_to_set_shortcut
바로 가기를 설정하려면 클릭하십시오.

@extension_toggle_shortcut
확장 기능 on/off 단축키

@configure_site_toggle
웹사이트 전환 구성

@site_toggle
사이트 전환

@enabled_by_default
기본적으로 활성화됨

@enable_for_all_sites_by_default
기본적으로 모든 웹사이트에 대해 활성화됨

@detect_dark_theme
다크 모드 감지

@detect_website_dark_theme
웹사이트 자체의 다크 모드 감지

@dark_theme_detected
다크 모드 감지됨

@website_toggle_shortcut
웹사이트 토글 키보드 단축키

@support_out_work
우리의 작업을 지원

@mobile_link
모바일 다크 리더를 사용할 수 있습니다. 더 알아보기

@store_listing
이 눈 건강을 위한 확장 기능은 실시간으로 각 웹사이트에 다크 테마를 적용해 야간 모드를 가능케 합니다. 다크 리더는 밝은 색상을 반전해 고대비로 만들어 밤에 읽기가 쉽도록 만듭니다.

밝기, 대비, 세피아 필터, 다크 모드, 폰트와 예외 목록을 설정할 수 있습니다.

기부로 앱 개발 지원을 요청할 수 있습니다. 설정 팝업에서 Dark Reader에 대한 뉴스를 볼 수 있습니다. 숙련된 사용자를 위한 개발자 도구가 있습니다.

다크 리더는 광고를 보여주지 않으며 사용자의 데이터를 어디에도 보내지 않습니다. 완전히 오픈 소스입니다. https://github.com/darkreader/darkreader

설치하기 전에 비슷한 기능을 가진 확장 기능을 사용 해제하시기 바랍니다. 편하게 읽으십시오!

@disable_for_all_sites_by_default
기본적으로 모든 사이트에서 비활성화

@will_override_website_dark_theme
웹사이트의 다크 테마를 덮어씁니다

@disabled_for_pdf_documents
PDF 문서에서 비활성화됨

@custom_browser_theme_active
사용자 정의 브라우저 테마 활성화

@default_browser_theme_active
기본 브라우저 테마 활성화

@disable_on_these_sites
이 사이트들에서 비활성화

@enable_on_these_sites
이 사이트들에서 활성화

@type_site_press_enter
도메인 이름을 입력하고 Enter를 누르세요

@clear_site_list
사이트 목록 지우기

@remove_all_sites
목록에서 모든 사이트 제거

@clear_site_list_confirm
목록에서 모든 사이트를 제거하시겠습니까? 나중에 복원할 수 없습니다

@toggle_on_off
켜기/끄기 전환

@toggle_dark_light
다크/라이트 전환

@automation_behavior
자동화 동작

@enable_disable_extension
확장 기능 활성화/비활성화

@toggle_current_website
현재 웹사이트 전환

@get_activation_code
활성화 코드 받기

@email_placeholder
이메일

@code_placeholder
코드

@activate
활성화

@activate_the_code
코드 활성화

@enable_settings_sync
설정 동기화 활성화

@synchronized_across_devices
기기 간 동기화됨

@synchronize_site_fixes
사이트 수정사항 동기화

@load_latest_site_fixes
최신 사이트 수정사항 로드

@enable_on_restricted_pages
제한된 페이지에서 활성화

@disabled_for_web_store
웹 스토어 및 기타 페이지에서 비활성화

@use_context_menus
컨텍스트 메뉴 사용

@context_menu_disabled
컨텍스트 메뉴 통합이 비활성화됨

@import_settings
설정 가져오기

@open_settings_json
JSON 파일에서 설정 열기

@export_settings
설정 내보내기

@save_settings_json
설정을 JSON 파일로 저장

@reset_settings
설정 재설정

@restore_settings_defaults
설정을 기본값으로 복원

@devtools_button
개발자 도구

@devtools_description
디버깅용 개발자 도구

@privacy_policy
개인정보 처리방침

@terms_of_use
이용약관

@reset_settings_confirm
모든 설정을 삭제하시겠습니까? 나중에 복원할 수 없습니다

@make_fix_for_website
웹사이트 수정사항 만들기

@developer_tools_title
개발자 도구

@dynamic_theme_editor
동적 테마 편집기

@static_theme_editor
정적 테마 편집기

@inversion_fix_editor
반전 수정 편집기

@advanced
고급

@full_editor
전체 편집기

@per_site_editor
사이트별 편집기

@delete
삭제

@reset_changes
변경사항 재설정

@apply
적용

@enable_design_prototype
디자인 프로토타입 활성화

@switch_to_old_design
이전 디자인으로 전환

@preview_new_design
새 디자인 미리보기
