@extension_description
모든 웹사이트에 다크 모드를 적용합니다. 밤이나 일상적인 웹 브라우징을 할 때 어두운 테마를 사용하여 눈을 보호하십시오.

@loading_please_wait
로딩 중... 잠시만 기다려 주십시오.


#==== Top section ====

@on
켬

@off
끔

@toggle_current_site
현재 웹 사이트에 적용

@setup_hotkey_toggle_site
현재 웹 사이트 설정
단축키 전환

@toggle_extension
확장 기능 적용

@setup_hotkey_toggle_extension
확장 기능 설정하기
바로 가기 전환

@automation
오토메이션

@set_active_hours
사용 시간 설정

@set_location
위치에서 일몰 후 활성화

@longitude
경도

@latitude
위도

@page_protected
이 페이지는
브라우저에 의해 보호되어 있습니다.

@page_in_dark_list
이 사이트는 이미
전체 목록에 있습니다

@system_dark_mode
사용 시스템 색 구성표

@system_dark_mode_description
시스템 어두운 모드가 켜져있을 때 활성화


#==== Filter ====

@filter
필터

@mode
모드

@dark
어두운 테마

@light
밝은 테마

@brightness
밝기

@contrast
대비

@grayscale
흑백 필터

@sepia
세피아 필터

@only_for
해당 웹사이트에만 적용

@only_for_description
현재 웹사이트에만 설정을 적용함


#==== Site list ====

@site_list
사이트 목록

@invert_listed_only
포함 사이트 목록

@not_invert_listed
제외 사이트 목록

@add_site_to_list
목록에 웹사이트 추가

@setup_add_site_hotkey
웹사이트를 추가하는 단축키 설정


#==== More settings ====

@more
기타

@select_font
글꼴 선택

@text_stroke
텍스트 획 굵기

@try_experimental_theme_engines
**실험용** 테마 엔진들
**필터+** 는 GPU를 사용하여 채도를 유지합니다
**정적 테마** 는 간단하고 빠른 테마를 생성합니다
**동적 테마** 는 색상 및 이미지를 분석합니다

@engine_filter
필터

@engine_filter_plus
필터+

@engine_static
정적

@engine_dynamic
동적

@theme_generation_mode
테마 생성 모드

@custom_browser_theme_on
맞춤 테마

@custom_browser_theme_off
기본값

@change_browser_theme
브라우저 테마 변경


#==== Footer ====

@privacy
개인 정보

@help
도움말

@donate
기부

@news
뉴스

@read_more
더 읽기

@open_dev_tools
개발자 도구


#==== Store listing ====

@store_listing
이 눈 건강을 위한 확장 기능은 실시간으로 각 웹사이트에 어두운 테마를 적용해 야간 모드를 가능케 합니다. 다크 리더는 밝은 색상을 반전해 고대비로 만들어 밤에 읽기가 쉽도록 만듭니다.

밝기, 대비, 세피아 필터, 어두운 모드, 폰트와 예외 목록을 설정할 수 있습니다.

다크 리더는 광고를 보여주지 않으며 사용자의 데이터를 어디에도 보내지 않습니다. 완전히 오픈 소스입니다. https://github.com/darkreader/darkreader

설치하기 전에 비슷한 기능을 가진 확장 기능을 사용 해제하시기 바랍니다. 편하게 읽으십시오!
