@extension_description
Mod gelap untuk setiap laman web. Jaga mata anda, gunakan tema gelap untuk melayari laman web, malam dan siang.

@loading_please_wait
Sedang dimuatkan, sila tunggu

@on
Buka

@off
Tutup

@toggle_current_site
Toggel laman terkini

@setup_hotkey_toggle_site
Menyiapkan laman terkini
toggel hotkey

@toggle_extension
Toggel ekstensi

@setup_hotkey_toggle_extension
Menyiapkan ekstensi
toggel hotkey

@automation
Otomatisasi

@set_active_hours
Sediakan waktu aktif

@set_location
Aktifkan selepas asar di lokasi

@longitude
Tegak

@latitude
Lintang

@page_protected
Halaman ini telah dilindungi
oleh pelayar

@local_files_forbidden
Tidak dibenarkan mengakses
fail tempatan

@page_in_dark_list
Halamn in dalam senarai
gelap global

@system_dark_mode
Gunakan skema warna sistem

@system_dark_mode_description
Aktifkan semasa skema gelap sistem dibuka

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Penapis

@mode
Mode

@dark
Gelap

@light
Terang

@brightness
Kecerahan

@contrast
Kontras

@grayscale
Skala kelabu

@sepia
Sepia

@only_for
Hanya untuk

@only_for_description
Gunakan tetapan pada laman web semasa sahaja

@site_list
Senarai laman

@invert_listed_only
Senarai songsang sahaja

@not_invert_listed
Senarai tidak songsang

@add_site_to_list
Tambahkan laman ke senarai

@setup_add_site_hotkey
Sediakan hotkey untuk menambah laman

@more
Lebih

@select_font
Pilihkan fon

@text_stroke
Lejang teks

@try_experimental_theme_engines
Cubakan enjin tema **percubaan**:
**Penapis+** mengekalkan ketepuan warna, menggunakan GPU
**Tema statik** menjana tema pantas yang ringkas
**Tema dinamik** menganalisis warna dan imej

@engine_filter
Penapis

@engine_filter_plus
Penapis+

@engine_static
Statis

@engine_dynamic
Dinamis

@theme_generation_mode
Mod penjanaan tema

@custom_browser_theme_on
Adat

@custom_browser_theme_off
Lalai

@change_browser_theme
Tukar tema pelayar

@privacy
Privasi

@help
Bantuan

@donate
Derma

@we_celebrate_10_years
Pembaca Gelap meraikan 10 tahun.
Tolong sokong kerja kami.

@pay_for_using
Bayar untuk menggunakan Pembaca Gelap

@news
Berita

@read_more
Baca lagi

@open_dev_tools
Alat Developer

@mobile
Mudah alih

@learn_more
Ketahui lebih lanjut

@mobile_text
Kurangkan ketegangan mata semasa membaca pada telefon atau tablet anda.
Hanya imbas kod QR untuk memasang.

@all_settings
Semua tetapan

@version
Versi

@configure_automation
Konfigurasikan automasi

@auto_night_time
Auto (waktu malam)

@auto_day_time
Auto (waktu siang)

@auto_night_at_location
Auto (malam di lokasi)

@auto_day_at_location
Auto (hari di lokasi)

@auto_system_is_dark
Auto (sistem gelap)

@auto_system_is_light
Auto (sistem ringan)

@click_to_set_shortcut
Klik untuk menetapkan pintasan

@extension_toggle_shortcut
Sambungan hidup/mati pintasan papan kekunci

@configure_site_toggle
Konfigurasikan togol tapak web

@site_toggle
Togol Tapak

@enabled_by_default
Didayakan secara Lalai

@enable_for_all_sites_by_default
Didayakan untuk semua tapak web secara lalai

@detect_dark_theme
Kesan tema gelap

@detect_website_dark_theme
Kesan tema gelap tapak web itu sendiri

@dark_theme_detected
Tema gelap dikesan

@website_toggle_shortcut
Pintasan papan kekunci togol tapak web

@support_out_work
Sokong kerja kami

@mobile_link
Pembaca Gelap Mudah Alih tersedia. Ketahui lebih lanjut

@store_listing
Ekstensi penjagaan mata ini mendayakan mod malam dengan mencipta tema gelap untuk laman web dengan cepat. Dark Reader menyongsangkan warna terang, menjadikannya kontras tinggi dan mudah dibaca pada waktu malam.

Anda boleh melaraskan kecerahan, kontras, penapis sepia, mod gelap, tetapan fon dan senarai abaikan.

Kami mungkin meminta anda menyokong pembangunan aplikasi dengan sumbangan. Anda mungkin melihat berita tentang Pembaca Gelap dalam pop timbul tetapan. Terdapat Alat Pembangun untuk pengguna berpengalaman.

Dark Reader tidak memaparkan iklan dan tidak menghantar data pengguna ke mana-mana sahaja. Ia adalah sumber terbuka sepenuhnya: https://github.com/darkreader/darkreader

Sebelum anda memasangnya, lumpuhkan sambungan yang serupa. Selamat menonton!
