@extension_description
Mod gelap untuk setiap laman web. Jaga mata anda, gunakan tema gelap untuk melayari laman web, malam dan siang.

@loading_please_wait
Sedang dimuatkan, sila tunggu


#==== Top section ====

@on
Buka

@off
Tutup

@toggle_current_site
Toggel laman terkini

@setup_hotkey_toggle_site
Menyiapkan laman terkini
toggel hotkey

@toggle_extension
Toggel ekstensi

@setup_hotkey_toggle_extension
Menyiapkan ekstensi
toggel hotkey

@automation
Otomatisasi

@set_active_hours
Sediakan waktu aktif

@set_location
Aktifkan selepas asar di lokasi

@longitude
Tegak

@latitude
Lintang

@page_protected
Halaman ini telah dilindungi
oleh pelayar

@page_in_dark_list
Halamn in dalam senarai
gelap global

@system_dark_mode
Gunakan skema warna sistem

@system_dark_mode_description
Aktifkan semasa skema gelap sistem dibuka


#==== Filter ====

@filter
Penapis

@mode
Mode

@dark
Gelap

@light
Terang

@brightness
Kecerahan

@contrast
Kontras

@grayscale
Skala kelabu

@sepia
Sepia

@only_for
Hanya untuk

@only_for_description
Gunakan tetapan pada laman web semasa sahaja


#==== Site list ====

@site_list
Senarai laman

@invert_listed_only
Senarai songsang sahaja

@not_invert_listed
Senarai tidak songsang

@add_site_to_list
Tambahkan laman ke senarai

@setup_add_site_hotkey
Sediakan hotkey untuk menambah laman


#==== More settings ====

@more
Lebih

@select_font
Pilihkan fon

@text_stroke
Lejang teks

@try_experimental_theme_engines
Cubakan enjin tema **percubaan**:
**Penapis+** mengekalkan ketepuan warna, menggunakan GPU
**Tema statik** menjana tema pantas yang ringkas
**Tema dinamik** menganalisis warna dan imej

@engine_filter
Penapis

@engine_filter_plus
Penapis+

@engine_static
Statis

@engine_dynamic
Dinamis

@theme_generation_mode
Mod penjanaan tema

@custom_browser_theme_on
Adat

@custom_browser_theme_off
Lalai

@change_browser_theme
Tukar tema pelayar


#==== Footer ====

@privacy
Privasi

@help
Bantuan

@donate
Derma

@news
Berita

@read_more
Baca lagi

@open_dev_tools
Alat Developer


#==== Store listing ====

@store_listing
Ekstensi penjagaan mata ini mendayakan mod malam dengan mencipta tema gelap untuk laman web dengan cepat. Dark Reader menyongsangkan warna terang, menjadikannya kontras tinggi dan mudah dibaca pada waktu malam.

Anda boleh melaraskan kecerahan, kontras, penapis sepia, mod gelap, tetapan fon dan senarai abaikan.

Kami mungkin meminta anda menyokong pembangunan aplikasi dengan sumbangan. Anda mungkin melihat berita tentang Pembaca Gelap dalam pop timbul tetapan. Terdapat Alat Pembangun untuk pengguna berpengalaman.

Dark Reader tidak memaparkan iklan dan tidak menghantar data pengguna ke mana-mana sahaja. Ia adalah sumber terbuka sepenuhnya: https://github.com/darkreader/darkreader

Sebelum anda memasangnya, lumpuhkan sambungan yang serupa. Selamat menonton!
