@extension_description
Donkere modus voor elke website. Zorg goed voor je ogen, gebruik donkere modus voor gebruik in de nacht of zelfs overdag.

@loading_please_wait
Laden, even geduld


#==== Top section ====

@on
Aan

@off
Uit

@toggle_current_site
Huidige site schakelen

@setup_hotkey_toggle_site
Sneltoets instellen voor
huidige site schakelen

@toggle_extension
Extensie schakelen

@setup_hotkey_toggle_extension
Sneltoets instellen voor
extensie schakelen

@automation
Automatisering

@set_active_hours
Actieve uren instellen

@set_location
Activeren na zonsondergang op locatie

@longitude
Lengtegraad

@latitude
Breedtegraad

@page_protected
Deze pagina wordt beschermd
door de browser

@page_in_dark_list
Deze site staat op
de globale lijst

@system_dark_mode
Gebruik systeemkleurenschema

@system_dark_mode_description
Activeren bij donker systeemthema


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Donker

@light
Licht

@brightness
Helderheid

@contrast
Contrast

@grayscale
Grijswaarden

@sepia
Sepia

@only_for
Alleen op

@only_for_description
Instelling alleen voor deze site opslaan


#==== Site list ====

@site_list
Sitelijst

@invert_listed_only
Alleen deze omkeren

@not_invert_listed
Deze niet omkeren

@add_site_to_list
Site aan lijst toevoegen

@setup_add_site_hotkey
Sneltoets instellen voor site toevoegen


#==== More settings ====

@more
Meer

@select_font
Lettertype selecteren

@text_stroke
Tekstomlijning

@try_experimental_theme_engines
Probeer **experimentele** themas
**Filter+** behoudt saturatie, videokaart vereist
**Statisch thema** genereert snel een simpel thema
**Dynamisch thema** analyseert kleuren en foto's

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynamisch

@theme_generation_mode
Themageneratiemodus

@custom_browser_theme_on
Aangepast

@custom_browser_theme_off
Standaard

@change_browser_theme
Browserthema wijzigen


#==== Footer ====

@privacy
Privacy

@help
Hulp

@donate
Doneren

@news
Nieuws

@read_more
Meer hierover

@open_dev_tools
Tools


#==== Store listing ====

@store_listing
Deze oogzorgextensie heeft een nachtstand die automatisch donkere thema's maakt voor websites. Donkere modus keert lichte kleuren om voor goede leesbaarheid 's nachts.

Je kunt de helderheid, het contrast, het kleurenfilter, de donkere modus, het lettertype en de lijst van te negeren websites geheel instellen naar wens.

Dark Reader laat nooit advertenties zien en gebruikt nooit je gegevens. Deze extensie is volledig open-source op https://github.com/darkreader/darkreader

Voor de installatie is het aangeraden soortgelijke extensies eerst uit te schakelen. Veel kijkplezier!
