@extension_description
Donkere modus voor elke website. Zorg goed voor je ogen, gebruik donkere modus voor gebruik in de nacht of zelfs overdag.

@loading_please_wait
Laden, even geduld

@on
Aan

@off
Uit

@toggle_current_site
Huidige site schakelen

@setup_hotkey_toggle_site
Sneltoets instellen voor
huidige site schakelen

@toggle_extension
Extensie schakelen

@setup_hotkey_toggle_extension
Sneltoets instellen voor
extensie schakelen

@automation
Automatisering

@set_active_hours
Actieve uren instellen

@set_location
Activeren na zonsondergang op locatie

@longitude
Lengtegraad

@latitude
Breedtegraad

@page_protected
Deze pagina wordt beschermd
door de browser

@local_files_forbidden
Geen toegang toegestaan
lokale bestanden

@page_in_dark_list
Deze site staat op
de globale lijst

@system_dark_mode
Gebruik systeemkleurenschema

@system_dark_mode_description
Activeren bij donker systeemthema

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Modus

@dark
Donker

@light
Licht

@brightness
Helderheid

@contrast
Contrast

@grayscale
Grijswaarden

@sepia
Sepia

@only_for
Alleen op

@only_for_description
Instelling alleen voor deze site opslaan

@site_list
Sitelijst

@invert_listed_only
Alleen deze omkeren

@not_invert_listed
Deze niet omkeren

@add_site_to_list
Site aan lijst toevoegen

@setup_add_site_hotkey
Sneltoets instellen voor site toevoegen

@more
Meer

@select_font
Lettertype selecteren

@text_stroke
Tekstomlijning

@try_experimental_theme_engines
Probeer **experimentele** themas
**Filter+** behoudt saturatie, videokaart vereist
**Statisch thema** genereert snel een simpel thema
**Dynamisch thema** analyseert kleuren en foto's

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynamisch

@theme_generation_mode
Themageneratiemodus

@custom_browser_theme_on
Aangepast

@custom_browser_theme_off
Standaard

@change_browser_theme
Browserthema wijzigen

@privacy
Privacy

@help
Hulp

@donate
Doneren

@we_celebrate_10_years
Dark Reader viert 10 jaar.
Steun alstublieft ons werk.

@pay_for_using
Betaal voor het gebruik van Dark Reader

@news
Nieuws

@read_more
Meer hierover

@open_dev_tools
Tools

@mobile
Mobiel

@learn_more
Meer informatie

@mobile_text
Verminder vermoeide ogen tijdens het lezen op uw telefoon of tablet.
Scan eenvoudig de QR-code om te installeren.

@all_settings
Alle instellingen

@version
Versie

@configure_automation
Automatisering configureren

@auto_night_time
Automatisch (nacht)

@auto_day_time
Automatisch (dagtijd)

@auto_night_at_location
Auto (nacht op locatie)

@auto_day_at_location
Auto (dag op locatie)

@auto_system_is_dark
Auto (systeem is donker)

@auto_system_is_light
Auto (systeem is licht)

@click_to_set_shortcut
Klik om de snelkoppeling in te stellen

@extension_toggle_shortcut
Extensie aan/uit sneltoets

@configure_site_toggle
Configureer schakelen tussen websites

@site_toggle
Site wisselen

@enabled_by_default
Standaard ingeschakeld

@enable_for_all_sites_by_default
Standaard ingeschakeld voor alle websites

@detect_dark_theme
Detecteer een donker thema

@detect_website_dark_theme
Detecteer het eigen donkere thema van de website

@dark_theme_detected
Donker thema gedetecteerd

@website_toggle_shortcut
Sneltoets voor het wisselen van de website

@support_out_work
Steun ons werk

@mobile_link
Mobiele Dark Reader is beschikbaar. Kom meer te weten

@store_listing
Deze oogzorgextensie heeft een nachtstand die automatisch donkere thema's maakt voor websites. Donkere modus keert lichte kleuren om voor goede leesbaarheid 's nachts.

Je kunt de helderheid, het contrast, het kleurenfilter, de donkere modus, het lettertype en de lijst van te negeren websites geheel instellen naar wens.

We kunnen je vragen om de ontwikkeling van de app te ondersteunen met een donatie. Mogelijk ziet u nieuws over Dark Reader in de pop-up met instellingen. Er zijn Developer Tools voor ervaren gebruikers.

Dark Reader laat nooit advertenties zien en gebruikt nooit je gegevens. Deze extensie is volledig open-source op https://github.com/darkreader/darkreader

Voor de installatie is het aangeraden soortgelijke extensies eerst uit te schakelen. Veel kijkplezier!
