@extension_description
Donkere modus voor elke website. Zorg goed voor je ogen, gebruik donkere modus voor gebruik in de nacht of zelfs overdag.

@loading_please_wait
Laden, even geduld alstublieft.


#==== Top section ====

@on
Aan

@off
Uit

@toggle_current_site
Modus voor huidige site omschakelen

@setup_hotkey_toggle_site
Sneltoets schakelen
huidige site instellen

@toggle_extension
Ext. in of uit schakelen

@setup_hotkey_toggle_extension
Sneltoets instellen
extensie in of uit schakelen

@time_settings
Tijd instellingen

@set_active_hours
Actieve uren instellen

@page_protected
Deze pagina is beschermd
door de browser

@page_in_dark_list
Deze site staat op
de globale lijst


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Donker

@light
Licht

@brightness
Helderheid

@contrast
Contrast

@grayscale
Grijstinten

@sepia
Sepia

@only_for
Alleen voor

@only_for_description
Instelling voor alleen deze site opslaan


#==== Site list ====

@site_list
Site lijst

@invert_listed_only
Alleen omgek. lijst

@not_invert_listed
Niet omgek. lijst

@add_site_to_list
Site aan lijst toevoegen

@setup_add_site_hotkey
Sneltoets instellen om site aan lijst toe te vogen


#==== More settings ====

@more
Meer

@select_font
Selecteer een lettertype

@text_stroke
Tekst omlijning

@try_experimental_theme_engines
Probeer **experimentele** themas
**Filter+** behoudt saturatie kleuren, videokaart benodigd
**Statisch thema** Genereert snel een simpel thema
**Dynamisch thema** analyseerd kleuren en foto's

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisch

@engine_dynamic
Dynam.

@theme_generation_mode
Thema generatie modus

@custom_browser_theme_on
Aangepast

@custom_browser_theme_off
Standaard

@change_browser_theme
Browser thema veranderen


#==== Footer ====

@privacy
Privacy

@help
Hulp

@donate
Doneren

@news
Nieuws

@read_more
Lees meer

@open_dev_tools
Tools


#==== Store listing ====

@store_listing
Deze oog zorg extensie heeft een nachtstand mogelijkheid waarbij het maken van donkere themas zeer gemakkelijk is. Donkere modus keert lichte kleuren om, zo heb je een makkelijk te lezen hoog contrast.

Je kunt de helderheid, het contrast, een sepia filter, donkere modus, lettertype en een lijst van te negeren websites geheel instellen naar wens.

Dark Reader laat nooit advertenties zien en gebruikt nooit je data. Deze extensie is volledig open-source op https://github.com/darkreader/darkreader

Voor de installatie is het aangeraden soortgelijke extensies eerst uit te schakelen. Veel kijkplezier!
