@extension_description
Mørkt tema for alle nettsteder. Ta vare på øynene, bruk Dark Reader for nettleseren, dag og kveld.

@loading_please_wait
Laster, vennligst vent

@on
På

@off
Av

@toggle_current_site
Inverter denne siden

@setup_hotkey_toggle_site
Sett opp hurtigtast
for å invertere sider

@toggle_extension
Slå utvidelsen på/av

@setup_hotkey_toggle_extension
Sett opp hurtigtast for
å slå utvidelsen på/av

@automation
Automasjon

@set_active_hours
Angi aktivitetsperiode

@set_location
Aktiver etter solnedgang på stedet

@longitude
Lengdegrad

@latitude
Breddegrad

@page_protected
Denne siden er beskyttet
av nettleseren

@local_files_forbidden
Ikke tillatt tilgang
lokale filer

@page_in_dark_list
Siden er i den globale
mørk-modus listen

@system_dark_mode
Bruk systemfargevalg

@system_dark_mode_description
Aktiveres når systemet mørk modus er på

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Modus

@dark
Mørk

@light
Lys

@brightness
Lysstyrke

@contrast
Kontrast

@grayscale
Gråtone

@sepia
Bruntone

@only_for
Bare for

@only_for_description
Benytt instillingene bare for denne nettsiden

@site_list
Side liste

@invert_listed_only
Inverter bare

@not_invert_listed
Ikke inverter

@add_site_to_list
Legg til en side

@setup_add_site_hotkey
Legg til en hurtigtast for å legge til sider

@more
Mer

@select_font
Velg en skrifttype

@text_stroke
Tekst-tykkelse

@try_experimental_theme_engines
Prøv ut **eksperimentell** tema motor:
**Filter+** bevarer fargers metning og benytter GPUen
**Statisk tema** genererer et enkelt, raskt tema
**Dynamisk tema** analyserer farger og bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Tema generering modus

@custom_browser_theme_on
Tilpasset

@custom_browser_theme_off
Standard

@change_browser_theme
Bytt nettleser tema

@privacy
Personvern

@help
Hjelp

@donate
Donere

@we_celebrate_10_years
Dark Reader feirer 10 år.
Støtt arbeidet vårt.

@pay_for_using
Betal for å bruke Dark Reader

@news
Nyheter

@read_more
Les mer

@open_dev_tools
Utvikler

@mobile
Mobil

@learn_more
Lær mer

@mobile_text
Reduser belastningen på øynene mens du leser på telefonen eller nettbrettet.
Bare skann QR-koden for å installere.

@all_settings
Alle innstillinger

@version
Versjon

@configure_automation
Konfigurer automatisering

@auto_night_time
Auto (natttid)

@auto_day_time
Auto (dagtid)

@auto_night_at_location
Auto (natt på stedet)

@auto_day_at_location
Auto (dag på stedet)

@auto_system_is_dark
Auto (systemet er mørkt)

@auto_system_is_light
Auto (systemet er lett)

@click_to_set_shortcut
Klikk for å angi snarveien

@extension_toggle_shortcut
Utvidelse av/på tastatursnarvei

@configure_site_toggle
Konfigurer nettstedsveksling

@site_toggle
Bytting av nettsted

@enabled_by_default
Aktivert som standard

@enable_for_all_sites_by_default
Aktivert for alle nettsteder som standard

@detect_dark_theme
Oppdag mørkt tema

@detect_website_dark_theme
Oppdag nettstedets eget mørke tema

@dark_theme_detected
Mørkt tema oppdaget

@website_toggle_shortcut
Bytt tastatursnarvei for nettsted

@support_out_work
Støtt vårt arbeid

@mobile_link
Mobile Dark Reader er tilgjengelig. Lære mer

@store_listing
Denne øye-beskyttelse utvidelsen aktiverer nattmodus og lager mørke temaer for nettsider. Dark Reader bytter ut lyse farger med mørke høy-kontrast farger og gjør lesing om kvelden enkelt.

Du kan regulere lysstyrken, kontrasten, bruntone, nattmodus, skrifttype-instillinger og ignorer-liste.

Vi kan be deg om å støtte utviklingen av appen med en donasjon. Du kan se nyheter om Dark Reader i popup-vinduet for innstillinger. Det finnes utviklerverktøy for erfarne brukere.

Dark Reader viser ikke reklame og sender ikke ut brukerens data. Utvidelsen er åpen-kilde tilgjengelig på https://github.com/darkreader/darkreader

Deaktiver lignende utvidelser før du installerer. Nyt opplevelsen!
