@extension_description
Mørkt tema for alle nettsteder. Ta vare på øynene, bruk Dark Reader for nettleseren, dag og kveld.

@loading_please_wait
Laster, vennligst vent


#==== Top section ====

@on
På

@off
Av

@toggle_current_site
Inverter denne siden

@setup_hotkey_toggle_site
Sett opp hurtigtast
for å invertere sider

@toggle_extension
Slå utvidelsen på/av

@setup_hotkey_toggle_extension
Sett opp hurtigtast for
å slå utvidelsen på/av

@automation
Automasjon

@set_active_hours
Angi aktivitetsperiode

@set_location
Aktiver etter solnedgang på stedet

@longitude
Lengdegrad

@latitude
Breddegrad

@page_protected
Denne siden er beskyttet
av nettleseren

@page_in_dark_list
Siden er i den globale
mørk-modus listen

@system_dark_mode
Bruk systemfargevalg

@system_dark_mode_description
Aktiveres når systemet mørk modus er på


#==== Filter ====

@filter
Filter

@mode
Modus

@dark
Mørk

@light
Lys

@brightness
Lysstyrke

@contrast
Kontrast

@grayscale
Gråtone

@sepia
Bruntone

@only_for
Bare for

@only_for_description
Benytt instillingene bare for denne nettsiden


#==== Site list ====

@site_list
Side liste

@invert_listed_only
Inverter bare

@not_invert_listed
Ikke inverter

@add_site_to_list
Legg til en side

@setup_add_site_hotkey
Legg til en hurtigtast for å legge til sider


#==== More settings ====

@more
Mer

@select_font
Velg en skrifttype

@text_stroke
Tekst-tykkelse

@try_experimental_theme_engines
Prøv ut **eksperimentell** tema motor:
**Filter+** bevarer fargers metning og benytter GPUen
**Statisk tema** genererer et enkelt, raskt tema
**Dynamisk tema** analyserer farger og bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Tema generering modus

@custom_browser_theme_on
Tilpasset

@custom_browser_theme_off
Standard

@change_browser_theme
Bytt nettleser tema


#==== Footer ====

@privacy
Personvern

@help
Hjelp

@donate
Donere

@news
Nyheter

@read_more
Les mer

@open_dev_tools
Utvikler


#==== Store listing ====

@store_listing
Denne øye-beskyttelse utvidelsen aktiverer nattmodus og lager mørke temaer for nettsider. Dark Reader bytter ut lyse farger med mørke høy-kontrast farger og gjør lesing om kvelden enkelt.

Du kan regulere lysstyrken, kontrasten, bruntone, nattmodus, skrifttype-instillinger og ignorer-liste.

Dark Reader viser ikke reklame og sender ikke ut brukerens data. Utvidelsen er åpen-kilde tilgjengelig på https://github.com/darkreader/darkreader

Deaktiver lignende utvidelser før du installerer. Nyt opplevelsen!
