@extension_description
Tryb ciemny dla wszystkich stron internetowych. Zadbaj o swoje oczy, używaj ciemnego motywu przeglądając w dzień i w nocy.

@loading_please_wait
Ładowanie, proszę czekać


#==== Top section ====

@on
Włącz.

@off
Wyłącz.

@toggle_current_site
Przełącz dla obecnej strony

@setup_hotkey_toggle_site
Ustaw obecną stronę
przełącz przycisk

@toggle_extension
Przełącz rozszerzenie

@setup_hotkey_toggle_extension
Ustaw rozszerzenie
przełącz przycisk

@automation
Automatyzacja

@set_active_hours
Ustaw godziny aktywności

@set_location
Aktywuj po zmierzchu w danej lokacji

@longitude
Długość

@latitude
Szerokość

@page_protected
Ta strona jest chroniona
przez przeglądarkę

@page_in_dark_list
Ta strona jest w globalnej
czarnej liście

@system_dark_mode
Użyj systemowego schematu kolorów

@system_dark_mode_description
Aktywuj gdy systemowy tryb ciemny jest włączony


#==== Filter ====

@filter
Filtr

@mode
Tryb

@dark
Ciemny

@light
Jasny

@brightness
Jasność

@contrast
Kontrast

@grayscale
Szarość

@sepia
Sepia

@only_for
Tylko dla

@only_for_description
Zastosuj ustawienia tylko dla bieżącej strony


#==== Site list ====

@site_list
Lista stron

@invert_listed_only
Odwróć tylko listę

@not_invert_listed
Nie odwracaj listy

@add_site_to_list
Dodaj stronę do listy

@setup_add_site_hotkey
Ustaw skrót dodający stronę


#==== More settings ====

@more
Więcej

@select_font
Wybierz czcionkę

@text_stroke
Obrys tekstu

@try_experimental_theme_engines
Wypróbuj **eksperymentalne** silniki motywów:
**Filtr+** zachowuje nasycenie kolorów, wykorzystuje GPU
**Statyczny motyw** generuje prosty, szybki motyw
**Dynamiczny motyw** analizuje kolory i obrazy

@engine_filter
Filtr

@engine_filter_plus
Filtr+

@engine_static
Statyczny

@engine_dynamic
Dynamicz.

@theme_generation_mode
Tryb generowania motywu

@custom_browser_theme_on
Niestandardowy

@custom_browser_theme_off
Domyślny

@change_browser_theme
Zmieniaj motyw przeglądarki


#==== Footer ====

@privacy
Prywatność

@help
Pomoc

@donate
Wspomóż

@news
Aktualności

@read_more
Więcej

@open_dev_tools
Narzędzia


#==== Store listing ====

@store_listing
To rozszerzenie dbające o zdrowie oczu aktywuje tryb nocny tworząc dynamiczne ciemne motywy dla stron internetowych. Dark Reader odwraca jasność kolorów, nadając im wysokiego kontrastu i ułatwiając czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, ustawienia czcionki i listę ignorowanych stron.

Dark reader nie wyświetla reklam ani nie wysyła nigdzie danych użytkowników. Jest oprogramowaniem o w pełni otwartym kodzie źródłowym https://github.com/darkreader/darkreader

Przed instalacją usuń podobne rozszerzenia. Miłego oglądania!
