@extension_description
Pozwala na korzystanie z trybu ciemnego na każdej stronie internetowej. Zadbaj o swój wzrok, używając ciemnego motywu do przeglądania w dzień i w nocy.

@loading_please_wait
Ładowanie, proszę czekać

@on
Włącz

@off
Wyłącz

@toggle_current_site
Zmień motyw bieżącej witryny

@setup_hotkey_toggle_site
Ustaw skrót klawiszowy
zmieniający motyw bieżącej witryny

@toggle_extension
Wł./Wył. rozszerzenie

@setup_hotkey_toggle_extension
Ustaw skrót klawiszowy
przełączający rozszerzenie

@automation
Automatyzacja

@set_active_hours
Ustaw godziny aktywności

@set_location
Aktywuj po zmierzchu na danych koordynatach

@longitude
Długość

@latitude
Szerokość

@page_protected
Ta strona jest chroniona
przez przeglądarkę

@local_files_forbidden
Brak dostępu do
plików lokalnych

@page_in_dark_list
Ta strona jest na
globalnej czarnej liście

@system_dark_mode
Użyj motywu systemu

@system_dark_mode_description
Aktywuj, gdy systemowy tryb ciemny jest włączony

@system_dark_mode_chromium_warning
Ta opcja może nie działać
przez błąd w przeglądarce

@filter
Filtr

@mode
Tryb

@dark
Ciemny

@light
Jasny

@brightness
Jasność

@contrast
Kontrast

@grayscale
Szarość

@sepia
Sepia

@only_for
Tylko dla

@only_for_description
Zastosuj te ustawienia tylko dla bieżącej strony

@site_list
Lista stron

@invert_listed_only
Ściemnij tylko te

@not_invert_listed
Nie ściemniaj tych

@add_site_to_list
Dodaj stronę do listy

@setup_add_site_hotkey
Ustaw skrót klawiszowy dodający stronę do listy

@more
Więcej

@select_font
Wybierz czcionkę

@text_stroke
Obrys tekstu

@try_experimental_theme_engines
Wypróbuj **eksperymentalne** silniki motywów:
**Filtr+** zachowuje nasycenie kolorów, wykorzystuje GPU
**Statyczny motyw** generuje prosty, szybki motyw
**Dynamiczny motyw** analizuje kolory i obrazy

@engine_filter
Filtr

@engine_filter_plus
Filtr+

@engine_static
Statyczny

@engine_dynamic
Dynamicz.

@theme_generation_mode
Tryb generowania motywu

@custom_browser_theme_on
Niestandardowy

@custom_browser_theme_off
Domyślny

@change_browser_theme
Zmieniaj motyw przeglądarki

@privacy
Prywatność

@help
Pomoc

@donate
Wspomóż

@we_celebrate_10_years
Dark Reader świętuje 10-lecie.
Prosimy o wsparcie naszej pracy.

@pay_for_using
Zapłać za korzystanie z Dark Reader-a

@news
Aktualności

@read_more
Więcej

@open_dev_tools
Narzędzia deweloperskie

@mobile
Mobilny

@learn_more
Dowiedz się więcej

@mobile_text
Zmniejsz zmęczenie oczu podczas czytania na telefonie lub tablecie.
Aby zainstalować, wystarczy zeskanować kod QR.

@all_settings
Wszystkie ustawienia

@version
Wersja

@configure_automation
Skonfiguruj automatyzację

@auto_night_time
Automatycznie (w nocy)

@auto_day_time
Automatycznie (za dnia)

@auto_night_at_location
Automatycznie (w nocy w danym miejscu)

@auto_day_at_location
Automatycznie (za dnia w danym miejscu)

@auto_system_is_dark
Automatycznie (system jest ciemny)

@auto_system_is_light
Automatycznie (system jest jasny)

@click_to_set_shortcut
Kliknij, aby ustawić skrót

@extension_toggle_shortcut
Skrót klawiszowy wł./wył. rozszerzenie

@configure_site_toggle
Skonfiguruj zmianę motywu witryn

@site_toggle
Zmiana motywu witryny

@enabled_by_default
Domyślnie włączona

@enable_for_all_sites_by_default
Domyślnie włączona (dla wszystkich witryn)

@detect_dark_theme
Wykryj ciemny motyw

@detect_website_dark_theme
Wykryj witryny mające własny ciemny motyw

@dark_theme_detected
Wykryto ciemny motyw

@website_toggle_shortcut
Skrót klawiszowy przełączający bieżącą witrynę

@support_out_work
Wesprzyj naszą pracę

@mobile_link
Mobilny Dark Reader jest już dostępny. Dowiedz się więcej

@store_listing
To rozszerzenie dba o zdrowie twoich oczu poprzez dynamiczne tworzenie ciemnych motywów dla stron internetowych. Dark Reader zmienia jasne kolory na ciemniejsze i nadaje im wysoki kontrast, co ułatwia czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, czcionki i listę ignorowanych stron do swoich potrzeb.

Rozszerzenie to także zawiera prośbę o wsparcie rozwoju aplikacji darowizną, wiadomości o Dark Reader w wyskakującym okienku ustawień oraz narzędzia programistyczne dla doświadczonych użytkowników.

Dark Reader nie wyświetla reklam ani nie wysyła nigdzie danych użytkowników. Jest oprogramowaniem o w pełni otwartym kodzie źródłowym: https://github.com/darkreader/darkreader

Przed instalacją usuń/wyłącz podobne rozszerzenia. Miłego patrzenia!
