@extension_description
Tema escuro para todos os sites. Mantenha os seus olhos relaxados usando o tema escuro em sua navegação diária.

@loading_please_wait
Carregando, aguarde

@on
Ati.

@off
Des.

@toggle_current_site
Alternar (site atual)

@setup_hotkey_toggle_site
Configurar atalho de
alternância (site atual)

@toggle_extension
Ativar/des. extensão

@setup_hotkey_toggle_extension
Configurar atalho de
alternância (extensão)

@automation
Automatização

@set_active_hours
Definir o horário ativo

@set_location
Ativação automática após o pôr do sol

@longitude
Longitude

@latitude
Latitude

@page_protected
Essa página é protegida
pelo navegador

@local_files_forbidden
Não é permitido acessar
arquivos locais

@page_in_dark_list
Esse site está na
lista negra global

@system_dark_mode
Usar esquema de cores do sistema

@system_dark_mode_description
Ativar quando o sistema estiver no modo escuro

@system_dark_mode_chromium_warning
Essa opção pode não funcionar
devido a um bug do navegador

@filter
Filtro

@mode
Modo

@dark
Escuro

@light
Claro

@brightness
Brilho

@contrast
Contraste

@grayscale
Tons de cinza

@sepia
Tons de sépia

@only_for
Somente para

@only_for_description
Aplicar configurações somente ao site atual

@site_list
Lista de sites

@invert_listed_only
Inverter listados

@not_invert_listed
Não inverter listados

@add_site_to_list
Adicionar site à lista

@setup_add_site_hotkey
Configurar um atalho para adicionar um site

@more
Extras

@select_font
Selecione uma fonte

@text_stroke
Intensidade do texto

@try_experimental_theme_engines
Experimente os motores de temas **experimentais**:
**Filtro+** preserva a saturação de cores (usa a GPU)
**Tema estático** gera um tema simples rapidamente
**Tema dinâmico** analisa cores e imagens

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Estático

@engine_dynamic
Dinâmico

@theme_generation_mode
Modo de geração de tema

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Padrão

@change_browser_theme
Alterar o tema do navegador

@privacy
Política de privacidade

@help
Ajuda

@donate
Doar

@we_celebrate_10_years
Dark Reader comemora 10 anos.
Por favor, apoie nosso trabalho.

@pay_for_using
Pague pelo uso do Dark Reader

@news
Notícias

@read_more
Saiba mais

@open_dev_tools
Ferramentas

@mobile
Móvel

@learn_more
Saber mais

@mobile_text
Reduza o cansaço visual ao ler no seu telefone ou tablet.
Basta escanear o código QR para instalar.

@all_settings
Todas as configurações

@version
Versão

@configure_automation
Configurar automação

@auto_night_time
Automático (noite)

@auto_day_time
Automático (dia)

@auto_night_at_location
Auto (noite no local)

@auto_day_at_location
Auto (dia no local)

@auto_system_is_dark
Automático (o sistema está escuro)

@auto_system_is_light
Auto (o sistema está leve)

@click_to_set_shortcut
Clique para definir o atalho

@extension_toggle_shortcut
Atalho de teclado ativado/desativado da extensão

@configure_site_toggle
Configurar alternância de sites

@site_toggle
Alternância de sites

@enabled_by_default
Ativado por padrão

@enable_for_all_sites_by_default
Ativado para todos os sites por padrão

@detect_dark_theme
Detectar tema escuro

@detect_website_dark_theme
Detectar o próprio tema escuro do site

@dark_theme_detected
Tema escuro detectado

@website_toggle_shortcut
Atalho de teclado de alternância de site

@support_out_work
Apoie nosso trabalho

@mobile_link
O Mobile Dark Reader está disponível. Saber mais

@store_listing
Essa extensão ajuda os seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

Podemos pedir que você apoie o desenvolvimento do aplicativo com uma doação. Notícias relacionadas à extensão podem ser exibidas no menu de configurações. Disponibilizamos ferramentas de desenvolvedor para usuários experientes.

O Dark Reader não exibe anúncios e não compartilha os dados de seus usuários. O código-fonte é totalmente aberto (open-source): https://github.com/darkreader/darkreader

Antes de instalar essa extensão, desative extensões semelhantes. Aprecie a vista!

@see_all_options
Todas as opções

@configure_theme
Configurar tema

@extension_is_enabled
A extensão está ativada

@extension_is_disabled
A extensão está desativada

@switch_time
Mudar de acordo com o tempo especificado

@switch_location
Mudar de acordo com a localização

@switch_system
Mudar de acordo com o sistema

@settings
Configurações

@enable_for_pdf
Ativar para arquivos PDF

@enabled_for_pdf
Ativado para arquivos PDF

@disabled_for_pdf
Desativado para arquivos PDF

@dark_theme_detected_on_page
Tema escuro detectado na página

@enabled_for_current_website
Ativado para o site atual

@disabled_for_current_website
Desativado para o site atual

@theme_for_all
Tema para todos os sites

@create_new_theme
Criar novo tema

@theme_for
Tema para

@theme
Tema

@ask_remove_theme
Tem certeza que deseja remover

@general
Geral

@hotkeys
Atalhos

@advanced
Avançado

@about
Sobre

@theme_mode
Brilho, contraste, modo

@theme_color
Cores

@theme_font
Fonte & mais

@back
Voltar

@reset_to_defaults
Restaurar aos padrões

@reset_description
Restaura os valores do tema para os padrões

@reset_changes
Restaurar

@apply
Aplicar

@ask_remove_changes
Tem certeza que deseja remover as alterações atuais? Não é possível restaurá-las mais tarde.

@all_websites
Todos os sites

@dev_tools_description
Faz correção para um site

@settings_sync
Ativar sincronização de configurações

@sync_devices
Sincronizado entre dispositivos

@not_sync_devices
Não sincronizado entre dispositivos

@enable_by_default
Ativar por padrão

@enabled_on_all
Ativado em todos os sites por padrão

@disabled_on_all
Desativado em todos os sites por padrão

@not_override_dark_theme
Não substituirá o tema escuro do site

@override_dark_theme
Substituirá o tema escuro do site

@disable_on_these_websites
Desativar nesses sites

@enable_on_these_websites
Ativar nesses sites

@site_list_description
Digite o nome do domínio e pressione Enter

@ask_remove_site_list
Tem certeza que deseja remover todos os seus sites da lista? Não é possível restaurá-los mais tarde

@clear_site_list
Limpar lista de sites

@remove_all_site_list
Remover todos os sites da lista

@toggle_on_off
Ativar/desativar

@toggle_dark_light
Escuro/claro

@toggle_description
Comportamento de automação

@enable_disable_extension
Ativa ou desativa a extensão

@synchronize_sites
Sincroniza as correções de sites

@synchronize_sites_description
Carrega as correções de sites mais recentes de um servidor remoto

@enable_on_restricted_pages
Ativar em páginas restritas

@restricted_pages_enable
Você também deve ativar nos sinalizadores do navegador

@restricted_pages_disable
Desativado para a loja virtual e outras páginas

@use_context_menus
Usar menus de contexto

@use_context_menus_enable
A integração do menu de contexto está ativada

@use_context_menus_disable
A integração do menu de contexto está desativada

@import_settings
Importar configurações

@settings_imported
Configurações importadas

@failed_to_read_file
Falha ao carregar o arquivo

@open_json_file
Abra as configurações de um arquivo JSON

@export_settings
Exportar configurações

@save_json_file
Salva as configurações em um arquivo JSON

@ask_remove_settings
Tem certeza que deseja remover todas as suas configurações? Não é possível restaurá-las mais tarde

@reset_settings
Restaurar configurações

@restore_settings
Restaura as configurações para os padrões

@switch_to_old_design
Mudar para design antigo

@preview_new_design
Pré-visualizar novo design

@switch_to_desktop_design
Mudar para design de desktop

@preview_mobile_design
Pré-visualizar novo design móvel

@dynamic_theme_editor
Editor de tema dinâmico

@static_theme_editor
Editor de tema estático

@inversion_fix_editor
Editor de correção de inversão

@ask_remove_current_changes
Tem certeza que deseja remover as alterações atuais? Não é possível restaurá-las mais tarde.

@ask_delete_fix
Tem certeza que deseja excluir a correção?

@delete
Excluir

@read_about_this
Leia sobre essa ferramenta

@here
aqui

@if_a_popular_website
Se um site popular parecer incorreto, envie um e-mail para 

@full_ditor
Editor completo

@per_site_ditor
Editor por site

@search_by_url
Pesquisar por URL

@create_new_fix
Criar nova correção

@search_for_an
Pesquisar uma

@existing_fix
correção existente

@or_enter_a
ou digite um

@domain_name
nome de domínio

@for_a_new_fix_and_click
para uma nova correção clique em

@color_scheme
Esquema de cores

@scheme
Esquema

@selection
Seleção

@scrollbar
Barra de rolagem

@style_system_controls
Estilo de controles do sistema

@text
Texto

@change_font
Alterar fonte

@immediate_modify
Modificação imediata

@export_dynamic_theme
Exportar tema dinâmico

@font_name
Nome da fonte

@yes
Sim

@no
Não

@background
Fundo

@auto
Automático

@notify_of_news
Notificar sobre novidades

@notifying_of_dark_readers_news
Notificando sobre novidades do Dark Reader

@not_notifying_of_dark_readers_news
Não notificando as notícias do Dark Reader

@custom_browser_theme
O tema personalizado do navegador está ativo

@default_browser_theme
O tema padrão do navegador está ativo

@css_editor
Editor de CSS

@cancel
Cancelar