@extension_description
Tema escuro para todos os sites. Mantenha os seus olhos relaxados usando o tema escuro em sua navegação diária.

@loading_please_wait
Carregando, aguarde

@on
Ati.

@off
Des.

@toggle_current_site
Alternar (site atual)

@setup_hotkey_toggle_site
Configurar atalho de
alternância (site atual)

@toggle_extension
Ativar/des. extensão

@setup_hotkey_toggle_extension
Configurar atalho de
alternância (extensão)

@automation
Automatização

@set_active_hours
Definir o horário ativo

@set_location
Ativação automática após o pôr do sol

@longitude
Longitude

@latitude
Latitude

@page_protected
Esta página é protegida
pelo navegador

@local_files_forbidden
Não é permitido acessar
arquivos locais

@page_in_dark_list
Este site está na
lista negra global

@system_dark_mode
Usar o esquema de cores do sistema

@system_dark_mode_description
Ativar quando o sistema estiver no modo escuro

@system_dark_mode_chromium_warning
Esta opção pode não funcionar
devido a um bug do navegador

@filter
Filtro

@mode
Modo

@dark
Escuro

@light
Claro

@brightness
Brilho

@contrast
Contraste

@grayscale
Tons de cinza

@sepia
Tons de sépia

@only_for
Somente para

@only_for_description
Aplicar configurações somente ao site atual

@site_list
Lista de sites

@invert_listed_only
Inverter listados

@not_invert_listed
Não inverter listados

@add_site_to_list
Adicionar site à lista

@setup_add_site_hotkey
Configurar um atalho para adicionar um site

@more
Extras

@select_font
Selecione uma fonte

@text_stroke
Intensidade do texto

@try_experimental_theme_engines
Experimente os motores de temas **experimentais**:
**Filtro+** preserva a saturação de cores (usa a GPU)
**Tema estático** gera um tema simples rapidamente
**Tema dinâmico** analisa cores e imagens

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Estático

@engine_dynamic
Dinâmico

@theme_generation_mode
Modo de geração de tema

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Padrão

@change_browser_theme
Alterar o tema do navegador

@privacy
Privac.

@help
Ajuda

@donate
Doar

@we_celebrate_10_years
Dark Reader comemora 10 anos.
Por favor, apoie nosso trabalho.

@pay_for_using
Pague pelo uso do Dark Reader

@news
Notícias

@read_more
Saiba mais

@open_dev_tools
Ferramentas

@mobile
Móvel

@learn_more
Saber mais

@mobile_text
Reduza o cansaço visual ao ler no seu telefone ou tablet.
Basta escanear o código QR para instalar.

@all_settings
Todas as configurações

@version
Versão

@configure_automation
Configurar automação

@auto_night_time
Automático (noite)

@auto_day_time
Automático (dia)

@auto_night_at_location
Auto (noite no local)

@auto_day_at_location
Auto (dia no local)

@auto_system_is_dark
Automático (o sistema está escuro)

@auto_system_is_light
Auto (o sistema está leve)

@click_to_set_shortcut
Clique para definir o atalho

@extension_toggle_shortcut
Atalho de teclado ativado/desativado da extensão

@configure_site_toggle
Configurar alternância de sites

@site_toggle
Alternância de sites

@enabled_by_default
Ativado por padrão

@enable_for_all_sites_by_default
Ativado para todos os sites por padrão

@detect_dark_theme
Detectar tema escuro

@detect_website_dark_theme
Detectar o próprio tema escuro do site

@dark_theme_detected
Tema escuro detectado

@website_toggle_shortcut
Atalho de teclado de alternância de site

@support_out_work
Apoie nosso trabalho

@mobile_link
O Mobile Dark Reader está disponível. Saber mais

@store_listing
Esta extensão ajuda os seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

Podemos pedir que você apoie o desenvolvimento do aplicativo com uma doação. Notícias relacionadas à extensão podem ser exibidas no menu de configurações. Disponibilizamos ferramentas de desenvolvedor para usuários experientes.

O Dark Reader não exibe anúncios e não compartilha os dados de seus usuários. O código-fonte é totalmente aberto (open-source): https://github.com/darkreader/darkreader

Antes de instalar esta extensão, desative extensões semelhantes. Aprecie a vista!
