@extension_description
Tema escuro para todos os sites. Mantenha seus olhos relaxados usando o tema escuro em sua navegação diária.

@loading_please_wait
Carregando, por favor, aguarde


#==== Top section ====

@on
Ati.

@off
Des.

@toggle_current_site
Ativar/Des. no site atual

@setup_hotkey_toggle_site
Configurar o atalho de
alternância do site atual

@toggle_extension
Ativar/Des. extensão

@setup_hotkey_toggle_extension
Atalho de alternância
da extensão

@automation
Automatização

@set_active_hours
Definir o horário ativo

@set_location
Ativação automática após o pôr do sol

@longitude
Longitude

@latitude
Latitude

@page_protected
Esta página é protegida
pelo navegador

@page_in_dark_list
Este site está na
Lista Negra global

@system_dark_mode
Usar o esquema de cores do sistema

@system_dark_mode_description
Ative quando o modo escuro do sistema estiver habilitado


#==== Filter ====

@filter
Filtro

@mode
Modo

@dark
Escuro

@light
Claro

@brightness
Brilho

@contrast
Contraste

@grayscale
Tons de Cinza

@sepia
Tons de Sépia

@only_for
Somente para

@only_for_description
Aplicar configurações somente ao site atual


#==== Site list ====

@site_list
Lista de sites

@invert_listed_only
Inverter listados

@not_invert_listed
Não inverter listados

@add_site_to_list
Adicionar site à lista

@setup_add_site_hotkey
Configurar uma tecla de atalho para adicionar um site


#==== More settings ====

@more
Mais

@select_font
Selecione uma fonte

@text_stroke
Intensidade do texto

@try_experimental_theme_engines
Experimente os motores de temas **experimentais**:
**Filtro+** preserva a saturação de cores, usa a GPU
**Tema estático** gera um tema simples rapidamente
**Tema dinâmico** analisa cores e imagens

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Estático

@engine_dynamic
Dinâmico

@theme_generation_mode
Modo de geração de tema

@custom_browser_theme_on
Personalizado

@custom_browser_theme_off
Padrão

@change_browser_theme
Alterar o tema do navegador


#==== Footer ====

@privacy
Privac.

@help
Ajuda

@donate
Doar

@news
Notícias

@read_more
Saiba mais

@open_dev_tools
Ferramentas


#==== Store listing ====

@store_listing
Esta extensão ajuda seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

O Dark Reader não exibe anúncios e não compartilha os dados de seus usuários. O código-fonte é totalmente aberto (open-source) https://github.com/darkreader/darkreader

Antes de instalar esta extensão, desative extensões semelhantes. Divirta-se!
