@extension_description
Tema escuro para todos os sites. Cuide dos seus olhos, use o Dark Reader para navegação noturna e diária.

@loading_please_wait
Carregando, por favor espere


#==== Top section ====

@on
Ligar

@off
Des.

@toggle_current_site
Alternar o site atual

@setup_hotkey_toggle_site
Configurar o atalho de
alternância do site atual

@toggle_extension
Alternar extensão

@setup_hotkey_toggle_extension
Tecla de atalho de alternância
da extensão de configuração

@automation
Automação

@set_active_hours
Defina as horas de atividade

@set_location
Ative depois do sol no local

@longitude
Longitude

@latitude
Latitude

@page_protected
Esta página é protegida
pelo navegador

@page_in_dark_list
Este site está na lista
negra global

@system_dark_mode
Use esquema de cores do sistema

@system_dark_mode_description
Ative quando o modo escuro sistema estiver ligado


#==== Filter ====

@filter
Filtro

@mode
Modo

@dark
Sombrio

@light
Luz

@brightness
Brilho

@contrast
Contraste

@grayscale
Em tons de cinza

@sepia
Sépia

@only_for
Somente para

@only_for_description
Aplicar configurações somente ao site atual


#==== Site list ====

@site_list
Lista de sites

@invert_listed_only
Inverter listado

@not_invert_listed
Não invertido listado

@add_site_to_list
Adicionar site à lista

@setup_add_site_hotkey
Configurar uma tecla de atalho para adicionar site


#==== More settings ====

@more
Mais

@select_font
Selecione uma fonte

@text_stroke
Traço de texto

@try_experimental_theme_engines
Experimente os motores de temas **experimental**:
**Filtro+** preserva a saturação de cores, usa GPU
**Tema estático** gera um tema rápido simples
**Tema dinâmico** analisa cores e imagens

@engine_filter
Filtro

@engine_filter_plus
Filtro+

@engine_static
Estático

@engine_dynamic
Dinâmico

@theme_generation_mode
Modo de geração de tema

@custom_browser_theme_on
Mudou

@custom_browser_theme_off
Predefinido

@change_browser_theme
Alterar o tema do navegador


#==== Footer ====

@privacy
Privac.

@help
Ajuda

@donate
Doar

@news
Notícia

@read_more
Ler mais

@open_dev_tools
Ferramentas


#==== Store listing ====

@store_listing
Esta extensão de cuidados com os olhos ativa o modo noturno criando temas escuros para sites. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e fáceis de ler à noite.

Você pode ajustar o brilho, o contraste, o filtro sépia, o modo escuro, as configurações de fonte e a lista de ignorados.

O Dark Reader não exibe anúncios e não envia dados do usuário em nenhum lugar. É totalmente open-source https://github.com/darkreader/darkreader

Antes de instalar desativar extensões semelhantes. Visualização agradável!
