@extension_description
Temă întunecată pentru orice site. Ai grijă de ochii tăi, folosește Dark Reader pentru cititul noaptea și de zi cu zi.

@loading_please_wait
Se încarcă, vă rog așteptați

@on
Pornit

@off
Oprit

@toggle_current_site
Comută siteul curent

@setup_hotkey_toggle_site
Setează siteul curent
scurtătura de comutare

@toggle_extension
Comută extensia

@setup_hotkey_toggle_extension
Setează extensia
scurtătură comutare

@automation
Automatizare

@set_active_hours
Setați orele de activitate

@set_location
Activați după apusul soarelui în locația

@longitude
Longitudine

@latitude
Latitudine

@page_protected
Această pagină este protejată
de navigator

@local_files_forbidden
Nu este permis accesul
fisiere locale

@page_in_dark_list
Acest site este în
Lista Întunecată globală

@system_dark_mode
Utilizați schema de culori sistem

@system_dark_mode_description
Activați când modul întunecat sistem este pornit

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filtru

@mode
Mod

@dark
Întunecat

@light
Luminos

@brightness
Luminozitate

@contrast
Contrast

@grayscale
Scară de gri

@sepia
Sepia

@only_for
Doar pentru

@only_for_description
Aplică setările doar pentru siteul curent

@site_list
Listă siteuri

@invert_listed_only
Inversez doar lista

@not_invert_listed
Nu inversez lista

@add_site_to_list
Adaugă siteul la listă

@setup_add_site_hotkey
Setează scurtătura pentru adăugare site

@more
Mai mult

@select_font
Selectează un font

@text_stroke
Contur text

@try_experimental_theme_engines
Încearcă motoarele cu teme **experimentale**:
**Filtru+** păstrează saturația culorilor, folosește GPU
**Tema statică** generează o temă simplă si rapidă
**Tema dinamică** analizeză culorile si imamginile

@engine_filter
Filtru

@engine_filter_plus
Filtru+

@engine_static
Static

@engine_dynamic
Dinamic

@theme_generation_mode
Modul de generare teme

@custom_browser_theme_on
Particularizată

@custom_browser_theme_off
Implicită

@change_browser_theme
Schimbă tema navigatorului

@privacy
Confidenț.

@help
Ajutor

@donate
Donează

@we_celebrate_10_years
Dark Reader aniversează 10 ani.
Vă rugăm să ne susțineți munca.

@pay_for_using
Plătiți pentru utilizarea Dark Reader

@news
Știri

@read_more
Citește mai mult

@open_dev_tools
Instrumente

@mobile
Mobil

@learn_more
Află mai multe

@mobile_text
Reduceți oboseala ochilor în timp ce citiți pe telefon sau tabletă.
Pur și simplu scanați codul QR pentru a instala.

@all_settings
Toate setările

@version
Versiune

@configure_automation
Configurați automatizarea

@auto_night_time
Auto (noapte)

@auto_day_time
Auto (zi)

@auto_night_at_location
Auto (noapte la locație)

@auto_day_at_location
Auto (zi la locație)

@auto_system_is_dark
Auto (sistemul este întunecat)

@auto_system_is_light
Auto (sistemul este ușor)

@click_to_set_shortcut
Faceți clic pentru a seta comanda rapidă

@extension_toggle_shortcut
Comandă rapidă de la tastatură activată/dezactivată pentru extensie

@configure_site_toggle
Configurați comutarea site-ului web

@site_toggle
Comutarea site-ului

@enabled_by_default
Activat implicit

@enable_for_all_sites_by_default
Activat pentru toate site-urile web în mod implicit

@detect_dark_theme
Detectează tema întunecată

@detect_website_dark_theme
Detectați propria temă întunecată a site-ului

@dark_theme_detected
Temă întunecată detectată

@website_toggle_shortcut
Comandă rapidă de la tastatură pentru comutarea site-ului

@support_out_work
Sprijină-ne munca

@mobile_link
Mobile Dark Reader este disponibil. Află mai multe

@store_listing
Această extensie, care se îngrijește de ochii tăi, permite activarea modului de noapte creând pe loc o temă întunecată pentru siteuri. Dark Reader inversează culorile luminoase mărindu-le contrastul și făcându-le ușor de citit noptea.

Poți ajusta luminozitatea, contrastul, filtrul sepia, modul întunecat, setările fontului si lista siteurilor de ignorat.

Vă putem cere să susțineți dezvoltarea aplicației printr-o donație. Este posibil să vedeți știri despre Dark Reader în fereastra pop-up de setări. Există instrumente pentru dezvoltatori pentru utilizatorii experimentați.

Dark Reader nu afișează reclame și nu trimite datele utilizatorului nicăieri. Este în întregime open-source https://github.com/darkreader/darkreader

Înainte de instalare dezactivează extensile similare. Vizionare plăcută!
