@extension_description
Тёмная тема для каждого сайта. Берегите зрение, используйте Дарк Ридер для ночного или ежедневного просмотра веб-страниц.

@loading_please_wait
Идёт загрузка, подождите

@on
Вкл.

@off
Откл.

@toggle_current_site
Переключить тек. сайт

@setup_hotkey_toggle_site
Установите сочетание
клавиш

@toggle_extension
Вкл/откл расширен.

@setup_hotkey_toggle_extension
Уст. сочетание
клавиш

@automation
Автоматизация

@set_active_hours
Установите период активности

@set_location
Включить на закате

@longitude
Долгота

@latitude
широта

@page_protected
Эта страница защищена
браузером

@local_files_forbidden
Нет разрешения на доступ
к локальным файлам

@page_in_dark_list
Эта страница в глоб
списке Тёмных Сайтов

@system_dark_mode
Использовать системную цветовую схему

@system_dark_mode_description
Вкл., если системный ночной режим активен

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Фильтр

@mode
Режим

@dark
Тёмный

@light
Светлый

@brightness
Яркость

@contrast
Контрастность

@grayscale
Оттенки серого

@sepia
Сепия

@only_for
Только для

@only_for_description
Применить настройки только к тек. сайту

@site_list
Список

@invert_listed_only
Инверт. только эти

@not_invert_listed
Не инвертировать

@add_site_to_list
Добавить сайт в список

@setup_add_site_hotkey
Уст. сочет. клавиш для доб. сайта в список

@more
Ещё

@select_font
Выберите шрифт

@text_stroke
Обводка текста

@try_experimental_theme_engines
Попробуйте **экспериментальные** режимы:
**Фильтр+** сохр. яркость цветов, использует GPU
**Статический режим** создаёт простую тему
**Динамический** анализирует цвета и картинки

@engine_filter
Фильтр

@engine_filter_plus
Фильтр+

@engine_static
Стат.

@engine_dynamic
Динам.

@theme_generation_mode
Режим генерации темы

@custom_browser_theme_on
Изменённая

@custom_browser_theme_off
По умолчанию

@change_browser_theme
Изменить тему браузера

@privacy
Согл.

@help
Справка

@donate
Поддержка

@we_celebrate_10_years
Dark Reader отмечает 10-летие.
Пожалуйста, поддержите нашу работу.

@pay_for_using
Оплатите использование Dark Reader

@news
Новости

@read_more
Читать ещё

@open_dev_tools
Разраб.

@mobile
Мобильный

@learn_more
Узнать больше

@mobile_text
Уменьшите нагрузку на глаза при чтении на телефоне или планшете.
Просто отсканируйте QR-код для установки.

@all_settings
Все настройки

@version
Версия

@configure_automation
Настроить автоматизацию

@auto_night_time
Авто (ночное время)

@auto_day_time
Авто (дневное время)

@auto_night_at_location
Авто (ночь на локации)

@auto_day_at_location
Авто (день на локации)

@auto_system_is_dark
Авто (система темная)

@auto_system_is_light
Авто (система светлая)

@click_to_set_shortcut
Нажмите, чтобы установить сочетание

@extension_toggle_shortcut
Горячая клавиша включения/выключения расширения

@configure_site_toggle
Настроить переключение веб-сайтов

@site_toggle
Переключение сайта

@enabled_by_default
Включено по умолчанию

@enable_for_all_sites_by_default
Включено для всех веб-сайтов по умолчанию

@detect_dark_theme
Обнаружение темной темы

@detect_website_dark_theme
Обнаружение собственной темной темы веб-сайта

@dark_theme_detected
Обнаружена темная тема

@website_toggle_shortcut
Сочетание клавиш для переключения веб-сайтов

@support_out_work
Поддержите нашу работу

@mobile_link
Доступен мобильный Dark Reader. Узнать больше

@store_listing
Это расширение переводит браузер в ночной режим. Дарк Ридер заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Мы можем попросить вас поддержать разработку приложения пожертвованием. Вы можете увидеть новости о Dark Reader во всплывающем окне настроек. Есть инструменты разработчика для опытных пользователей.

Дарк Ридер не встраивает рекламу и не собирает пользовательские данные. Весь исходный код открыт https://github.com/darkreader/darkreader

Перед установкой отключите подобные расширения. Приятного просмотра!

@disable_for_all_sites_by_default
Отключено для всех сайтов по умолчанию

@will_override_website_dark_theme
Переопределит темную тему сайта

@disabled_for_pdf_documents
Отключено для PDF-документов

@custom_browser_theme_active
Пользовательская тема браузера активна

@default_browser_theme_active
Стандартная тема браузера активна

@disable_on_these_sites
Отключить на этих сайтах

@enable_on_these_sites
Включить на этих сайтах

@type_site_press_enter
Введите доменное имя и нажмите Enter

@clear_site_list
Очистить список сайтов

@remove_all_sites
Удалить все сайты из списка

@clear_site_list_confirm
Вы уверены, что хотите удалить все ваши сайты из списка? Вы не сможете восстановить их позже

@toggle_on_off
Включить/Выключить

@toggle_dark_light
Переключить темный/светлый

@automation_behavior
Поведение автоматизации

@enable_disable_extension
Включить/отключить расширение

@toggle_current_website
Переключить текущий сайт

@get_activation_code
Получить код активации

@email_placeholder
Электронная почта

@code_placeholder
Код

@activate
Активировать

@activate_the_code
Активировать код

@enable_settings_sync
Включить синхронизацию настроек

@synchronized_across_devices
Синхронизировано между устройствами

@synchronize_site_fixes
Синхронизировать исправления сайтов

@load_latest_site_fixes
Загрузить последние исправления сайтов

@enable_on_restricted_pages
Включить на ограниченных страницах

@disabled_for_web_store
Отключено для веб-магазина и других страниц

@use_context_menus
Использовать контекстные меню

@context_menu_disabled
Интеграция контекстного меню отключена

@import_settings
Импортировать настройки

@open_settings_json
Открыть настройки из JSON-файла

@export_settings
Экспортировать настройки

@save_settings_json
Сохранить настройки в JSON-файл

@reset_settings
Сбросить настройки

@restore_settings_defaults
Восстановить настройки по умолчанию

@devtools_button
Инструменты разработчика

@devtools_description
Инструменты разработчика для отладки

@privacy_policy
Политика конфиденциальности

@terms_of_use
Условия использования

@reset_settings_confirm
Вы уверены, что хотите удалить все ваши настройки? Вы не сможете восстановить их позже

@make_fix_for_website
Создать исправление для сайта

@developer_tools_title
Инструменты разработчика

@dynamic_theme_editor
Редактор динамической темы

@static_theme_editor
Редактор статической темы

@inversion_fix_editor
Редактор исправления инверсии

@advanced
Дополнительно

@full_editor
Полный редактор

@per_site_editor
Редактор для сайта

@delete
Удалить

@reset_changes
Сбросить изменения

@apply
Применить

@enable_design_prototype
Включить прототип дизайна

@switch_to_old_design
Переключиться на старый дизайн

@preview_new_design
Предварительный просмотр нового дизайна
