@extension_description
Тёмная тема для каждого сайта. Берегите зрение, используйте Дарк Ридер для ночного или ежедневного просмотра веб-страниц.

@loading_please_wait
Идёт загрузка, подождите

@on
Вкл.

@off
Откл.

@toggle_current_site
Переключить тек. сайт

@setup_hotkey_toggle_site
Установите сочетание
клавиш

@toggle_extension
Вкл/откл расширен.

@setup_hotkey_toggle_extension
Уст. сочетание
клавиш

@automation
Автоматизация

@set_active_hours
Установите период активности

@set_location
Включить на закате

@longitude
Долгота

@latitude
широта

@page_protected
Эта страница защищена
браузером

@local_files_forbidden
Нет разрешения на доступ
к локальным файлам

@page_in_dark_list
Эта страница в глоб
списке Тёмных Сайтов

@system_dark_mode
Использовать системную цветовую схему

@system_dark_mode_description
Вкл., если системный ночной режим активен

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Фильтр

@mode
Режим

@dark
Тёмный

@light
Светлый

@brightness
Яркость

@contrast
Контрастность

@grayscale
Оттенки серого

@sepia
Сепия

@only_for
Только для

@only_for_description
Применить настройки только к тек. сайту

@site_list
Список

@invert_listed_only
Инверт. только эти

@not_invert_listed
Не инвертировать

@add_site_to_list
Добавить сайт в список

@setup_add_site_hotkey
Уст. сочет. клавиш для доб. сайта в список

@more
Ещё

@select_font
Выберите шрифт

@text_stroke
Обводка текста

@try_experimental_theme_engines
Попробуйте **экспериментальные** режимы:
**Фильтр+** сохр. яркость цветов, использует GPU
**Статический режим** создаёт простую тему
**Динамический** анализирует цвета и картинки

@engine_filter
Фильтр

@engine_filter_plus
Фильтр+

@engine_static
Стат.

@engine_dynamic
Динам.

@theme_generation_mode
Режим генерации темы

@custom_browser_theme_on
Изменённая

@custom_browser_theme_off
По умолчанию

@change_browser_theme
Изменить тему браузера

@privacy
Согл.

@help
Справка

@donate
Поддержка

@we_celebrate_10_years
Dark Reader отмечает 10-летие.
Пожалуйста, поддержите нашу работу.

@pay_for_using
Оплатите использование Dark Reader

@news
Новости

@read_more
Читать ещё

@open_dev_tools
Разраб.

@mobile
Мобильный

@learn_more
Узнать больше

@mobile_text
Уменьшите нагрузку на глаза при чтении на телефоне или планшете.
Просто отсканируйте QR-код для установки.

@all_settings
Все настройки

@version
Версия

@configure_automation
Настроить автоматизацию

@auto_night_time
Авто (ночное время)

@auto_day_time
Авто (дневное время)

@auto_night_at_location
Авто (ночь на локации)

@auto_day_at_location
Авто (день на локации)

@auto_system_is_dark
Авто (система темная)

@auto_system_is_light
Авто (система светлая)

@click_to_set_shortcut
Нажмите, чтобы установить сочетание

@extension_toggle_shortcut
Горячая клавиша включения/выключения расширения

@configure_site_toggle
Настроить переключение веб-сайтов

@site_toggle
Переключение сайта

@enabled_by_default
Включено по умолчанию

@enable_for_all_sites_by_default
Включено для всех веб-сайтов по умолчанию

@detect_dark_theme
Обнаружение темной темы

@detect_website_dark_theme
Обнаружение собственной темной темы веб-сайта

@dark_theme_detected
Обнаружена темная тема

@website_toggle_shortcut
Сочетание клавиш для переключения веб-сайтов

@support_out_work
Поддержите нашу работу

@mobile_link
Доступен мобильный Dark Reader. Узнать больше

@store_listing
Это расширение переводит браузер в ночной режим. Дарк Ридер заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Мы можем попросить вас поддержать разработку приложения пожертвованием. Вы можете увидеть новости о Dark Reader во всплывающем окне настроек. Есть инструменты разработчика для опытных пользователей.

Дарк Ридер не встраивает рекламу и не собирает пользовательские данные. Весь исходный код открыт https://github.com/darkreader/darkreader

Перед установкой отключите подобные расширения. Приятного просмотра!

@see_all_options
See all options

@configure_theme
Configure theme

@extension_is_enabled
Extension is enabled

@extension_is_disabled
Extension is disabled

@switch_time
Switches according to specified time

@switch_location
Switched according to location

@switch_system
Switches according to system dark mode

@settings
Settings

@enable_for_pdf
Enable for PDF files

@enabled_for_pdf
Enabled for PDF files

@disabled_for_pdf
Disabled for PDF files

@dark_theme_detected_on_page
Dark theme detected on page

@enabled_for_current_website
Enabled for current website

@disabled_for_current_website
Disabled for current website

@theme_for_all
Theme for all websites

@create_new_theme
Create new theme

@theme_for
Theme for

@theme
Theme

@ask_remove_theme
Are you sure you want to remove

@general
General

@hotkeys
Hotkeys

@advanced
Advanced

@about
About

@theme_mode
Brightness, contrast, mode

@theme_color
Colors

@theme_font
Font & more

@back
Back

@reset_to_defaults
Reset to defaults

@reset_description
Restore current theme values to defaults

@reset_changes
Reset changes

@apply
Apply

@ask_remove_changes
Are you sure you want to remove current changes? You cannot restore them later.

@all_websites
All websites

@dev_tools_description
Make a fix for a website

@settings_sync
Enable settings sync

@sync_devices
Synchronized across devices

@not_sync_devices
Not synchronized across devices

@enable_by_default
Enable by default

@enabled_on_all
Enabled on all websites by default

@disabled_on_all
Disabled on all websites by default

@not_override_dark_theme
Will not override website's dark theme

@override_dark_theme
Will override website's dark theme

@disable_on_these_websites
Disable on these websites

@enable_on_these_websites
Enable on these websites

@site_list_description
Type in the domain name and press Enter

@ask_remove_site_list
Are you sure you want to remove all your sites from the list? You cannot restore them later

@clear_site_list
Clear site list

@remove_all_site_list
Remove all sites from the list

@toggle_on_off
Toggle on/off

@toggle_dark_light
Toggle dark/light

@toggle_description
Automation behavior

@enable_disable_extension
Enable/disable the extension

@synchronize_sites
Synchronize sites fixes

@synchronize_sites_description
Load the latest sites fixes from a remote server

@enable_on_restricted_pages
Enable on restricted pages

@restricted_pages_enable
You should enable it in browser flags too

@restricted_pages_disable
Disabled for web store and other pages

@use_context_menus
Use context menus

@use_context_menus_enable
Context menu integration is enabled

@use_context_menus_disable
Context menu integration is disabled

@import_settings
Import Settings

@settings_imported
Settings imported

@failed_to_read_file
Failed to read file

@open_json_file
Open settings from a JSON file

@export_settings
Export Settings

@save_json_file
Save settings to a JSON file

@ask_remove_settings
Are you sure you want to remove all your settings? You cannot restore them later

@reset_settings
Reset settings

@restore_settings
Restore settings to defaults

@switch_to_old_design
Switch to old design

@preview_new_design
Preview new design

@switch_to_desktop_design
Switch to desktop design

@preview_mobile_design
Preview new mobile design

@dynamic_theme_editor
Dynamic Theme Editor

@static_theme_editor
Static Theme Editor

@inversion_fix_editor
Inversion Fix Editor

@ask_remove_current_changes
Are you sure you want to remove the current changes? You cannot restore them later.

@ask_delete_fix
Are you sure you want to delete the fix?

@delete
Delete

@read_about_this
Read about this tool

@here
here

@if_a_popular_website
If a popular website looks incorrect e-mail to 

@full_ditor
Full Editor

@per_site_ditor
Per Site Editor

@search_by_url
Search by URL

@create_new_fix
Create new fix

@search_for_an
Search for an

@existing_fix
existing fix

@or_enter_a
or enter a

@domain_name
domain name

@for_a_new_fix_and_click
for a new fix and click

@color_scheme
Color Scheme

@scheme
Scheme

@selection
Selection

@scrollbar
Scrollbar

@style_system_controls
Style system controls

@text
Text

@change_font
Change font

@immediate_modify
Immediate modify

@export_dynamic_theme
Export Dynamic Theme

@font_name
Font name

@yes
Yes

@no
No

@background
Background

@auto
Auto

@notify_of_news
Notify of news

@notifying_of_dark_readers_news
Notifying of Dark Reader's news

@not_notifying_of_dark_readers_news
Not Notifying of Dark Reader's news

@custom_browser_theme
Custom browser theme is active

@default_browser_theme
Default browser theme is active

@css_editor
CSS Editor

@cancel
Cancel