@extension_description
Тёмная тема для каждого сайта. Берегите зрение, используйте Дарк Ридер для ночного или ежедневного просмотра веб-страниц.

@loading_please_wait
Идёт загрузка, подождите

@on
Вкл.

@off
Откл.

@toggle_current_site
Переключить тек. сайт

@setup_hotkey_toggle_site
Установите сочетание
клавиш

@toggle_extension
Вкл/откл расширен.

@setup_hotkey_toggle_extension
Уст. сочетание
клавиш

@automation
Автоматизация

@set_active_hours
Установите период активности

@set_location
Включить на закате

@longitude
Долгота

@latitude
широта

@page_protected
Эта страница защищена
браузером

@local_files_forbidden
Нет разрешения на доступ
к локальным файлам

@page_in_dark_list
Эта страница в глоб
списке Тёмных Сайтов

@system_dark_mode
Использовать системную цветовую схему

@system_dark_mode_description
Вкл., если системный ночной режим активен

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Фильтр

@mode
Режим

@dark
Тёмный

@light
Светлый

@brightness
Яркость

@contrast
Контрастность

@grayscale
Оттенки серого

@sepia
Сепия

@only_for
Только для

@only_for_description
Применить настройки только к тек. сайту

@site_list
Список

@invert_listed_only
Инверт. только эти

@not_invert_listed
Не инвертировать

@add_site_to_list
Добавить сайт в список

@setup_add_site_hotkey
Уст. сочет. клавиш для доб. сайта в список

@more
Ещё

@select_font
Выберите шрифт

@text_stroke
Обводка текста

@try_experimental_theme_engines
Попробуйте **экспериментальные** режимы:
**Фильтр+** сохр. яркость цветов, использует GPU
**Статический режим** создаёт простую тему
**Динамический** анализирует цвета и картинки

@engine_filter
Фильтр

@engine_filter_plus
Фильтр+

@engine_static
Стат.

@engine_dynamic
Динам.

@theme_generation_mode
Режим генерации темы

@custom_browser_theme_on
Изменённая

@custom_browser_theme_off
По умолчанию

@change_browser_theme
Изменить тему браузера

@privacy
Согл.

@help
Справка

@donate
Поддержка

@we_celebrate_10_years
Dark Reader отмечает 10-летие.
Пожалуйста, поддержите нашу работу.

@pay_for_using
Оплатите использование Dark Reader

@news
Новости

@read_more
Читать ещё

@open_dev_tools
Разраб.

@mobile
Мобильный

@learn_more
Узнать больше

@mobile_text
Уменьшите нагрузку на глаза при чтении на телефоне или планшете.
Просто отсканируйте QR-код для установки.

@all_settings
Все настройки

@version
Версия

@configure_automation
Настроить автоматизацию

@auto_night_time
Авто (ночное время)

@auto_day_time
Авто (дневное время)

@auto_night_at_location
Авто (ночь на локации)

@auto_day_at_location
Авто (день на локации)

@auto_system_is_dark
Авто (система темная)

@auto_system_is_light
Авто (система светлая)

@click_to_set_shortcut
Нажмите, чтобы установить сочетание

@extension_toggle_shortcut
Горячая клавиша включения/выключения расширения

@configure_site_toggle
Настроить переключение веб-сайтов

@site_toggle
Переключение сайта

@enabled_by_default
Включено по умолчанию

@enable_for_all_sites_by_default
Включено для всех веб-сайтов по умолчанию

@detect_dark_theme
Обнаружение темной темы

@detect_website_dark_theme
Обнаружение собственной темной темы веб-сайта

@dark_theme_detected
Обнаружена темная тема

@website_toggle_shortcut
Сочетание клавиш для переключения веб-сайтов

@support_out_work
Поддержите нашу работу

@mobile_link
Доступен мобильный Dark Reader. Узнать больше

@store_listing
Это расширение переводит браузер в ночной режим. Дарк Ридер заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Мы можем попросить вас поддержать разработку приложения пожертвованием. Вы можете увидеть новости о Dark Reader во всплывающем окне настроек. Есть инструменты разработчика для опытных пользователей.

Дарк Ридер не встраивает рекламу и не собирает пользовательские данные. Весь исходный код открыт https://github.com/darkreader/darkreader

Перед установкой отключите подобные расширения. Приятного просмотра!
