@extension_description
සියළුම අඩවි සදහා අඳුරු ප්‍රකාරය. ඔබගේ නෙත් රැකගන්න, රාත්‍රී සහ දිවා කාලයේ දී වියමන අඩවි පිරික්සීමට අඳුරු තේමාව භාවිතා කරන්න.

@loading_please_wait
පූරණය වෙමින්, රැඳී සිටින්න

@on
සක්‍රියයි

@off
අක්‍රියයි

@toggle_current_site
මෙම අඩවියට යොදන්න

@setup_hotkey_toggle_site
වත්මන් අඩවියට සැකසීමේ
උණුසුම් යතුර පිහිටුවන්න

@toggle_extension
දිගුව සකසන්න

@setup_hotkey_toggle_extension
දිගුව සැකසීමේ
උණුසුම් යතුර පිහිටුවන්න

@automation
ස්වයංක්‍රියකරණය

@set_active_hours
ක්‍රියාකාරී වේලාවන් සකසන්න

@set_location
ස්ථානයේ ඉර බැසීමෙන් පසු යොදන්න

@longitude
දේශාංශ

@latitude
අක්ෂාංශ

@page_protected
අතිරික්සුව මගින් මෙම පිටුව
ආරක්‍ෂා කර ඇත

@local_files_forbidden
ස්ථානීය ගොනු වෙත
ප්‍රවේශයට ඉඩ නොදේ

@page_in_dark_list
මෙම අඩවිය ගෝලීය
අඳුරු ලේඛනයේ තිබේ

@system_dark_mode
පද්ධතියේ වර්ණ භාවිතා කරන්න

@system_dark_mode_description
පද්ධතියේ අඳුරු ප්‍රකාරය සක්‍රිය විට යොදන්න

@system_dark_mode_chromium_warning
ඔබගේ අතිරික්සුවේ දෝෂයක් නිසා
මෙම විකල්යය වැඩ නොකරනු ඇත

@filter
පෙරහන

@mode
ප්‍රකාරය

@dark
අඳුර

@light
එළිය

@brightness
දීප්තිය

@contrast
පිළිසැසඳුම

@grayscale
අළු පරිමාණය

@sepia
මද දුඹුරු

@only_for
හුදෙක්

@only_for_description
වත්මන් අඩවියට පමණක් සැකසුම් අදාළයි

@site_list
අඩවි ලේඛනය

@invert_listed_only
යටියන පමණි

@not_invert_listed
යටියන රහිත

@add_site_to_list
අඩවිය ලේඛනයට දමන්න

@setup_add_site_hotkey
අඩවි එක් කිරීමට උණුසුම් යතුරක් සකසන්න

@more
තව

@select_font
අකුරක් තෝරන්න

@text_stroke
පෙළ තදබව

@try_experimental_theme_engines
**පරීක්‍ෂාත්මක** තේමා යන්ත්‍ර අත්හදා බලන්න:
**පෙරහන+** වර්ණ සන්තෘප්තිය පවත්වා ගනියි, GPU භාවිතා වේ
**ස්ථිතික තේමාව** සරල වේගවත් තේමාවක් උත්පාදන කරයි
**ගතික තේමාව** වර්ණ හා රූප විශ්ලේෂණය කරයි

@engine_filter
පෙරහන

@engine_filter_plus
පෙරහන+

@engine_static
ස්ථිතික

@engine_dynamic
ගතික

@theme_generation_mode
තේමා උත්පාදන ප්‍රකාරය

@custom_browser_theme_on
අභිරුචි

@custom_browser_theme_off
පෙරනිමි

@change_browser_theme
අතිරික්සුවේ තේමාව වෙනස් කරන්න

@privacy
රහස්‍යතාව

@help
උදව්

@donate
පරිත්‍යාග

@we_celebrate_10_years
Dark Reader දස වැනි වසර සමරයි.
අපගේ කාර්යට සහාය වන්න.

@pay_for_using
Dark Reader භාවිතයට ගෙවන්න

@news
පුවත්

@read_more
තව කියවන්න

@open_dev_tools
සං. මෙවලම්

@mobile
ජංගම

@learn_more
තව දැනගන්න

@mobile_text
දුරකථනයේ හෝ ටැබ්ලටයේ කියවන විට ඇස් වලට දැනෙන වෙහෙස අවම කරගන්න.
ස්ථාපනයට QR කේතය සුපිරික්සන්න.

@all_settings
සියලු සැකසුම්

@version
අනුවාදය

@configure_automation
ස්වයංක්‍රියකරණය වින්‍යාස කරන්න

@auto_night_time
ස්වයං (රාත්‍රී කාලය)

@auto_day_time
ස්වයං (දිවා කාලය)

@auto_night_at_location
ස්වයං (ස්ථානයේ රාත්‍රිය)

@auto_day_at_location
ස්වයං (ස්ථානයේ දහවල)

@auto_system_is_dark
ස්වයං (පද්ධතිය අඳුරුයි)

@auto_system_is_light
ස්වයං (පද්ධතිය දීප්තිමත්)

@click_to_set_shortcut
කෙටිමග සැකසීමට ඔබන්න

@extension_toggle_shortcut
දිගුව සක්‍රිය/අක්‍රිය කරන කෙටිමග

@configure_site_toggle
අඩවියට යෙදීම සකසන්න

@site_toggle
අඩවියට යෙදීම

@enabled_by_default
පෙරනිමි පරිදි සක්‍රියයි

@enable_for_all_sites_by_default
පෙරනිමි පරිදි සියළුම අඩවි සඳහා සබලයි

@detect_dark_theme
අඳුරු තේමාව හඳුනා ගන්න

@detect_website_dark_theme
අඩවියේම අඳුරු තේමාව හඳුනා ගන්න

@dark_theme_detected
අඳුරු තේමාව අනාවරණය විය

@website_toggle_shortcut
අඩවියට යොදන යතුරුපුවරුවේ කෙටිමග

@support_out_work
අපට සහයෝගය දෙන්න

@mobile_link
ජංගම Dark Reader තිබේ. තව දැනගන්න

@store_listing
මෙම නේත්‍රාරක්‍ෂණ දිගුව ඉතා ඉක්මනින් වියමන අඩවි සඳහා අඳුරු තේමා සෑදීමෙන් රාත්‍රී ප්‍රකාරය සබල කරයි. Dark Reader ප්‍රභාවත් වර්ණ යටියන කිරිමෙන් ඒවා ඉහළ පිළිසැසඳුමකට ලක් කර රාත්‍රියේ දී කියවීමට පහසු කරයි.

ඔබට දීප්තිය, පිළිසැසඳුම, සෙපියා පෙරහන, අඳුරු ප්‍රකාරය, අකුරු සැකසුම් සහ නොසලකා හැරීමේ ලැයිස්තුව පිළියෙල කිරීමට හැකිය.

පරිත්‍යාගයකින් යෙදුමේ සංවර්ධනයට සහාය වන ලෙස අප ඔබගෙන් ඉල්ලා සිටීමට ඉඩ තිබේ. සැකසුම් උත්පතන හරහා Dark Reader පිළිබඳව පුවත් දැක ගැනීමට හැකිවනු ඇත. පළපුරුදු පරිශ්‍රීලකයින් සඳහා සංවර්ධක මෙවලම් ද තිබේ.

Dark Reader දැන්වීම් නොපෙන්වන අතර පරිශ්‍රීලකයින්ගේ දත්ත කිසිදු තැනකට යවන්නේ නැත. මුළුමනින්ම විවෘත මූලාශ්‍ර ව්‍යාපෘතියකි https://github.com/darkreader/darkreader

මෙය ස්ථාපනය කිරීමට පෙර මෙබඳු දිගු අබල කරන්න. සතුටින් අත්විඳින්න!

@disable_for_all_sites_by_default
පෙරනිමි පරිදි සියළුම අඩවි සඳහා අබලයි

@will_override_website_dark_theme
වියමන අඩවියේ අඳුරු තේමාව අභිබවා යනු ඇත

@disabled_for_pdf_documents
PDF ලේඛන සඳහා අබලයි

@custom_browser_theme_active
අභිරුචි අතිරික්සුවේ තේමාව සක්‍රියයි

@default_browser_theme_active
පෙරනිමි අතිරික්සුවේ තේමාව සක්‍රියයි

@disable_on_these_sites
මෙම අඩවි වල අබල කරන්න

@enable_on_these_sites
මෙම අඩවි වල සබල කරන්න

@type_site_press_enter
වසම් නම ටයිප් කර Enter ඔබන්න

@clear_site_list
අඩවි ලැයිස්තුව ඉවත් කරන්න

@remove_all_sites
ලැයිස්තුවෙන් සියළුම අඩවි ඉවත් කරන්න

@clear_site_list_confirm
ඔබගේ සියළුම අඩවි ලැයිස්තුවෙන් ඉවත් කිරීමට ඔබට විශ්වාසද? ඔබට පසුව ඒවා ප්‍රතිසාධනය කිරීමට නොහැකි වනු ඇත

@toggle_on_off
සක්‍රිය/අක්‍රිය

@toggle_dark_light
අඳුර/එළිය මාරු කරන්න

@automation_behavior
ස්වයංක්‍රියකරණ හැසිරීම

@enable_disable_extension
දිගුව සබල/අබල කරන්න

@toggle_current_website
වත්මන් වියමන අඩවිය මාරු කරන්න

@get_activation_code
සක්‍රියකරණ කේතය ලබා ගන්න

@email_placeholder
ඊමේල්

@code_placeholder
කේතය

@activate
සක්‍රිය කරන්න

@activate_the_code
කේතය සක්‍රිය කරන්න

@enable_settings_sync
සැකසුම් සමමුහුර්තකරණය සබල කරන්න

@synchronized_across_devices
උපකරණ හරහා සමමුහුර්ත කර ඇත

@synchronize_site_fixes
අඩවි නිවැරදි කිරීම් සමමුහුර්ත කරන්න

@load_latest_site_fixes
නවතම අඩවි නිවැරදි කිරීම් පූරණය කරන්න

@enable_on_restricted_pages
සීමිත පිටු වල සබල කරන්න

@disabled_for_web_store
වියමන ගබඩාව සහ අනෙකුත් පිටු සඳහා අබලයි

@use_context_menus
සන්දර්භ මෙනු භාවිතා කරන්න

@context_menu_disabled
සන්දර්භ මෙනු ඒකාබද්ධකරණය අබලයි

@import_settings
සැකසුම් ආයාත කරන්න

@open_settings_json
JSON ගොනුවෙන් සැකසුම් විවෘත කරන්න

@export_settings
සැකසුම් නිර්යාත කරන්න

@save_settings_json
JSON ගොනුවට සැකසුම් සුරකින්න

@reset_settings
සැකසුම් නැවත සකසන්න

@restore_settings_defaults
පෙරනිමි සැකසුම් ප්‍රතිසාධනය කරන්න

@devtools_button
සංවර්ධක මෙවලම්

@devtools_description
දෝෂ නිරාකරණය සඳහා සංවර්ධක මෙවලම්

@privacy_policy
රහස්‍යතා ප්‍රතිපත්තිය

@terms_of_use
භාවිතයේ නියමයන්

@reset_settings_confirm
ඔබගේ සියළුම සැකසුම් ඉවත් කිරීමට ඔබට විශ්වාසද? ඔබට පසුව ඒවා ප්‍රතිසාධනය කිරීමට නොහැකි වනු ඇත

@make_fix_for_website
වියමන අඩවිය සඳහා නිවැරදි කිරීමක් සාදන්න

@developer_tools_title
සංවර්ධක මෙවලම්

@dynamic_theme_editor
ගතික තේමා සංස්කාරකය

@static_theme_editor
ස්ථිතික තේමා සංස්කාරකය

@inversion_fix_editor
යටියන නිවැරදි කිරීමේ සංස්කාරකය

@advanced
උසස්

@full_editor
සම්පූර්ණ සංස්කාරකය

@per_site_editor
අඩවියකට සංස්කාරකය

@delete
මකන්න

@reset_changes
වෙනස්කම් නැවත සකසන්න

@apply
යොදන්න

@enable_design_prototype
සැලසුම් මූලාකෘතිය සබල කරන්න

@switch_to_old_design
පැරණි සැලසුමට මාරු වන්න

@preview_new_design
නව සැලසුම පෙරදසුන
