@extension_description
සෑම වෙබ් අඩවියක් සදහාම Dark mode. ඔබේ ඇස් සුරකින්න, රාත්‍රී සහ දිනපතා වෙබ් අඩවි ගවේෂණය කිරීමේදී Dark mode භාවිතා කරන්න.

@loading_please_wait
පූරණය වෙමින්, කරුණාකර රැඳී සිටින්න


#==== Top section ====

@on
සක්‍රියයි

@off
අක්‍රියයි

@toggle_current_site
මෙම අඩවිය Toggle කරන්න

@setup_hotkey_toggle_site
මෙම වෙබ් අඩවිය සකසන්න
ඉක්මන් ප්‍රවේශ යතුරු (hotkey) toggle කරන්න

@toggle_extension
Extension එක toggle කරන්න

@setup_hotkey_toggle_extension
Extension එක සකසන්න
ඉක්මන් ප්‍රවේශ යතුරු (hotkey) toggle කරන්න

@automation
ස්වයංක්රීයකරණය

@set_active_hours
ක්‍රියාකාරී වේලාවන් සකසන්න

@set_location
ස්ථානයක හිරු බැස යෑමෙන් පසු ක්රියාත්මක

@longitude
දේශාංශ

@latitude
අක්ෂාංශ

@page_protected
මෙම පිටුව ආරක්‍ෂා කර ඇත
බ්‍රව්සරය මඟින්

@page_in_dark_list
මෙම වෙබ් අඩවිය ගෝලීය වේ
අඳුරු ලැයිස්තුව

@system_dark_mode
පද්ධතිය වර්ණ භාවිතා කරන්න

@system_dark_mode_description
පද්ධතිය අඳුරු මාදිලිය මත විට ක්රියාත්මක


#==== Filter ====

@filter
Filter

@mode
මාදිලිය

@dark
Dark

@light
Light

@brightness
Brightness

@contrast
Contrast

@grayscale
Grayscale

@sepia
Sepia

@only_for
සඳහා පමණි

@only_for_description
සැකසුම් අදාළ වන්නේ වත්මන් වෙබ් අඩවියට පමණි


#==== Site list ====

@site_list
වෙබ් අඩවි ලැයිස්තුව

@invert_listed_only
ප්‍රතිලෝම ලැයිස්තුව පමණයි

@not_invert_listed
ප්‍රතිලෝම ලැයිස්තුගත කර නැත

@add_site_to_list
වෙබ් අඩවිය ලැයිස්තුවට එක් කරන්න

@setup_add_site_hotkey
වෙබ් අඩවිය එක් කිරීම සඳහා ඉක්මන් ප්‍රවේශ යතුරක් (hotkey) සකසන්න


#==== More settings ====

@more
තව

@select_font
Font එකක් තෝරන්න

@text_stroke
Text stroke

@try_experimental_theme_engines
**පර්යේෂණාත්මක** තේමා එන්ජින් අත්හදා බලන්න:
**පෙරණය+** වර්ණ සන්තෘප්තිය ආරක්ෂා කරයි, GPU භාවිතා කරයි
**ස්ථිතික තේමාව** සරල වේගවත් තේමාවක් ජනනය කරයි
**ගතික තේමාව** වර්ණ හා රූප විශ්ලේෂණය කරයි

@engine_filter
පෙරහන

@engine_filter_plus
පෙරහන+

@engine_static
ස්ථිතික

@engine_dynamic
ගතික

@theme_generation_mode
තේමා උත්පාදන මාදිලිය

@custom_browser_theme_on
අභිරුචි (Custom)

@custom_browser_theme_off
පෙරනිමි (Default)

@change_browser_theme
බ්‍රව්සර් තේමාව වෙනස් කරන්න


#==== Footer ====

@privacy
පෞද්ගලිකත්වය

@help
උදව්

@donate
පරිත්‍යාග කරන්න

@news
පුවත්

@read_more
වැඩිදුර කියවන්න

@open_dev_tools
Dev මෙවලම්


#==== Store listing ====

@store_listing
මෙම අක්ෂි ආරක්ෂණ දිගුව ඉතා ඉක්මණින් හා අවිධිමත් ආකාරයකින් වෙබ් අඩවි සඳහා අඳුරු තේමාවන් නිර්මාණය කිරීමට රාත්‍රී මාදිලිය සක්‍රීය කරයි. Dark Reader දීප්තිමත් වර්ණ ප්‍රතිලෝම (invert) කිරිමෙන් ඒවා high contrast සහ රාත්‍රියේදී කියවීමට පහසු කරයි.

ඔබට දීප්තිය (brightness), contrast, sepia ෆිල්ටරය, අඳුරු මාදිලිය, අකුරු (font) සැකසුම් සහ නොසලකා හැරීම් ලැයිස්තුව (ignore-list) සකස් කළ හැකිය.

Dark Reader දැන්වීම් නොපෙන්වන අතර පරිශීලකයාගේ දත්ත කොතැනකටවත් යවන්නේ නැත. එය සම්පූර්ණයෙන්ම විවෘත මූලාශ්‍රයකි (open-source) https://github.com/darkreader/darkreader

ඔබ ස්ථාපනය කිරීමට පෙර සමාන දිගු (extensions) අක්‍රීය කරන්න. නැරඹීමෙන් විනෝද වන්න!
