@extension_description
Tmavý režim pre každú stránku. Šetrite svoje oči a používajte tmavý motív po celý deň.

@loading_please_wait
Načítava sa, čakajte, prosím

@on
Zap.

@off
Vyp.

@toggle_current_site
Prepnúť aktuálnu stránku

@setup_hotkey_toggle_site
Nastaviť klávesovú skratku
pre prepnutie aktuálnej stránky

@toggle_extension
Zap./Vyp. rozšírenie

@setup_hotkey_toggle_extension
Nastaviť klávesovú skratku
pre prepnutie rozšírenia

@automation
Automatizácia

@set_active_hours
Nastaviť čas používania

@set_location
Aktivovať po západe slnka podľa polohy

@longitude
Zemepisná dĺžka

@latitude
Zemepisná šírka

@page_protected
Táto stránka je nedostupná
pre toto rozlíšenie

@local_files_forbidden
Prístup nie je povolený
lokálne súbory

@page_in_dark_list
Táto stránka má
vlastný tmavý režim

@system_dark_mode
Použiť farebnú schému systému

@system_dark_mode_description
Aktivovať pri zapnutom systémovom tmavom režime

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Filter

@mode
Režim

@dark
Tmavý

@light
Svetlý

@brightness
Jas

@contrast
Kontrast

@grayscale
Odtiene sivej

@sepia
Sépia

@only_for
Len pre

@only_for_description
Použiť nastavenia len pre aktuálnu stránku

@site_list
Zoznam stránok

@invert_listed_only
Invertovať len

@not_invert_listed
Neinvertovať

@add_site_to_list
Pridať stránku na zoznam

@setup_add_site_hotkey
Nastaviť klávesovú skratku pre pridanie stránky

@more
Viac

@select_font
Vybrať písmo

@text_stroke
Obrys písma

@try_experimental_theme_engines
Vyskúšajte **experimenálne**  motívy:
**Filter+** zachováva sýtosť farieb, využíva GPU
**Statický motív** generuje jednoduchý a rýchly motív
**Dynamický motív** analyzuje farby a obrázky

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statický

@engine_dynamic
Dynamický

@theme_generation_mode
Generované motívy

@custom_browser_theme_on
Vlastný

@custom_browser_theme_off
Predvolený

@change_browser_theme
Zmeniť motív prehliadača

@privacy
Súkromie

@help
Pomocník

@donate
Prispejte

@we_celebrate_10_years
Dark Reader oslavuje 10 rokov.
Podporte prosím našu prácu.

@pay_for_using
Zaplaťte za používanie Dark Reader

@news
Novinky

@read_more
Viac informácií

@open_dev_tools
Vývojárske nástroje

@mobile
Mobil

@learn_more
Zistite viac

@mobile_text
Znížte únavu očí pri čítaní na telefóne alebo tablete.
Na inštaláciu stačí naskenovať QR kód.

@all_settings
Všetky nastavenia

@version
Verzia

@configure_automation
Nakonfigurujte automatizáciu

@auto_night_time
Auto (nočný čas)

@auto_day_time
Auto (denný čas)

@auto_night_at_location
Auto (noc na mieste)

@auto_day_at_location
Auto (deň na mieste)

@auto_system_is_dark
Auto (systém je tmavý)

@auto_system_is_light
Auto (systém je svetlý)

@click_to_set_shortcut
Kliknutím nastavíte skratku

@extension_toggle_shortcut
Klávesová skratka pre zapnutie/vypnutie rozšírenia

@configure_site_toggle
Nakonfigurujte prepínanie webových stránok

@site_toggle
Prepínanie stránok

@enabled_by_default
Predvolene povolené

@enable_for_all_sites_by_default
Predvolene povolené pre všetky webové stránky

@detect_dark_theme
Rozpoznajte tmavý motív

@detect_website_dark_theme
Zistite vlastnú temnú tému webovej stránky

@dark_theme_detected
Bol rozpoznaný tmavý motív

@website_toggle_shortcut
Klávesová skratka na prepínanie webových stránok

@support_out_work
Podporte našu prácu

@mobile_link
K dispozícii je mobilná temná čítačka. Uč sa viac

@store_listing
Toto rozšírenie je šetrné k očiam, vytvára nočný režim pre stránky za pochodu. Dark Reader invertuje jasné farby a robí ich kontrastnejšími, čím sa zlepšuje ich čitateľnosť v noci.

Upravovať môžete jas, kontrast, sépiový filter, tmavý režim, nastavenia písma a zoznam ignorovaných stránok.

Môžeme vás požiadať, aby ste podporili vývoj aplikácie darom. Novinky o Dark Reader môžete vidieť vo vyskakovacom okne nastavení. Pre skúsených používateľov existujú nástroje pre vývojárov.

Dark Reader je bez reklám a nikam neodosiela žiadne dáta užívateľov. Má plne otvorený zdrojový kód https://github.com/darkreader/darkreader

Pred inštaláciou zakážte podobné rozšírenia. Užite si sledovanie!
