@extension_description
Tamni mod za svaki sajt. Pazite na svoje oči, koristite tamnu temu danju i noću.

@loading_please_wait
Učitavanje, molimo sačekajte

@on
Uklj.

@off
Isklj.

@toggle_current_site
Uklj. trenutni sajt

@setup_hotkey_toggle_site
Podesite trenutni sajt
uklj. dugme

@toggle_extension
Uklj. ekstenziju

@setup_hotkey_toggle_extension
Podesite ekstenziju
uklj. dugme

@automation
Automatizacija

@set_active_hours
Podesite aktivne sate

@set_location
Aktivirajte po zalasku sunca

@longitude
Geogr. dužina

@latitude
Geogr. širina

@page_protected
Ovu stranicu štiti
veb pregledač

@local_files_forbidden
Nije dozvoljen pristup
lokalne datoteke

@page_in_dark_list
Ovaj sajt je u globalnoj
listi tamnih sajtova

@system_dark_mode
Koristite temu sistema

@system_dark_mode_description
Aktivacija kada sistem koristi tamni mod

@system_dark_mode_chromium_warning
Ova opcija možda neće raditi zbog greške
u vašem pregledaču

@filter
Filter

@mode
Mod

@dark
Tamni

@light
Svetli

@brightness
Osvetljenje

@contrast
Kontrast

@grayscale
Sivi mod

@sepia
Sepija

@only_for
Samo za

@only_for_description
Primenite podešavanja samo za trenutni sajt

@site_list
Lista sajtova

@invert_listed_only
Invertujte izlistane

@not_invert_listed
Ne invertujte izlistane

@add_site_to_list
Dodajte sajt na listu

@setup_add_site_hotkey
Podesite dugme za dodavanje sajta

@more
Više

@select_font
Izaberite font

@text_stroke
Debljina teksta

@try_experimental_theme_engines
Probajte **eksperimentalne** teme:
**Filter+** čuva saturaciju boja, koristi GPU
**Statična tema** kreira prostu brzu temu
**Dinamična tema** analizira boje i slike

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statično

@engine_dynamic
Dinamično

@theme_generation_mode
Mod generacije tema

@custom_browser_theme_on
Podešena

@custom_browser_theme_off
Difolt

@change_browser_theme
Promenite temu pregledača

@privacy
Privatnost

@help
Pomoć

@donate
Donirajte

@news
Vesti

@read_more
Čitajte više

@open_dev_tools
Alatke za razvoj

@configure_automation
Конфигуришите аутоматизацију

@auto_night_time
аутоматски (ноћно време)

@auto_day_time
Аутоматски (дневно време)

@auto_night_at_location
Ауто (ноћ на локацији)

@auto_day_at_location
Ауто (дан на локацији)

@auto_system_is_dark
Аутоматски (систем је таман)

@auto_system_is_light
Аутоматски (систем је лаган)

@click_to_set_shortcut
Кликните да бисте поставили пречицу

@extension_toggle_shortcut
Пречица за укључивање/искључивање проширења

@configure_site_toggle
Конфигуришите пребацивање веб локације

@site_toggle
Site Toggling

@enabled_by_default
Подразумевано омогућено

@enable_for_all_sites_by_default
Подразумевано омогућено за све веб локације

@detect_dark_theme
Откријте тамну тему

@detect_website_dark_theme
Откријте сопствену мрачну тему веб локације

@dark_theme_detected
Откривена је тамна тема

@website_toggle_shortcut
Пречица на тастатури за пребацивање веб локације

@support_out_work
Подржите наш рад

@mobile_link
Мобилни Дарк Реадер је доступан. Сазнајте више

@store_listing
Ova ekstenzija brine o vašim očima tako što omogućava tamnu temu za sajtove. Dark Reader invertuje svetle boje i pojačava kontrast, što omogućava lakše čitanje noću.

Možete podesiti osvetljenje, kontrast, sepija filter, tamni mod, font i listu ignorisanih sajtova.

Možemo vas zamoliti da podržite razvoj aplikacije donacijom. Možda ćete videti vesti o Dark Reader-u u iskačućem prozoru za podešavanja. Postoje alatke za programere za iskusne korisnike.

Dark Reader ne prikazuje reklame i nigde ne šalje podatke korisnika. Kod ekstenzije je u potpunosti otvoren: https://github.com/darkreader/darkreader

Pre instalacije, isključite druge slične ekstenzije. Uživajte!
