@extension_description
Tamni mod za svaki sajt. Pazite na svoje oči, koristite tamnu temu danju i noću.

@loading_please_wait
Učitavanje, molimo sačekajte

@on
Uklj.

@off
Isklj.

@toggle_current_site
Uklj. trenutni sajt

@setup_hotkey_toggle_site
Podesite trenutni sajt
uklj. dugme

@toggle_extension
Uklj. ekstenziju

@setup_hotkey_toggle_extension
Podesite ekstenziju
uklj. dugme

@automation
Automatizacija

@set_active_hours
Podesite aktivne sate

@set_location
Aktivirajte po zalasku sunca

@longitude
Geogr. dužina

@latitude
Geogr. širina

@page_protected
Ovu stranicu štiti
veb pregledač

@local_files_forbidden
Nije dozvoljen pristup
lokalne datoteke

@page_in_dark_list
Ovaj sajt je u globalnoj
listi tamnih sajtova

@system_dark_mode
Koristite temu sistema

@system_dark_mode_description
Aktivacija kada sistem koristi tamni mod

@system_dark_mode_chromium_warning
Ova opcija možda neće raditi zbog greške
u vašem pregledaču

@filter
Filter

@mode
Mod

@dark
Tamni

@light
Svetli

@brightness
Osvetljenje

@contrast
Kontrast

@grayscale
Sivi mod

@sepia
Sepija

@only_for
Samo za

@only_for_description
Primenite podešavanja samo za trenutni sajt

@site_list
Lista sajtova

@invert_listed_only
Invertujte izlistane

@not_invert_listed
Ne invertujte izlistane

@add_site_to_list
Dodajte sajt na listu

@setup_add_site_hotkey
Podesite dugme za dodavanje sajta

@more
Više

@select_font
Izaberite font

@text_stroke
Debljina teksta

@try_experimental_theme_engines
Probajte **eksperimentalne** teme:
**Filter+** čuva saturaciju boja, koristi GPU
**Statična tema** kreira prostu brzu temu
**Dinamična tema** analizira boje i slike

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statično

@engine_dynamic
Dinamično

@theme_generation_mode
Mod generacije tema

@custom_browser_theme_on
Podešena

@custom_browser_theme_off
Difolt

@change_browser_theme
Promenite temu pregledača

@privacy
Privatnost

@help
Pomoć

@donate
Donirajte

@we_celebrate_10_years
Dark Reader slavi 10 godina.
Molimo vas da podržite naš rad.

@pay_for_using
Platite za korišćenje Dark Reader-a

@news
Vesti

@read_more
Čitajte više

@open_dev_tools
Alatke za razvoj

@mobile
Mobilni

@learn_more
Saznajte više

@mobile_text
Smanjite naprezanje očiju dok čitate na telefonu ili tabletu.
Jednostavno skenirajte QR kod da biste ga instalirali.

@all_settings
Сва подешавања

@version
Верзија

@configure_automation
Конфигуришите аутоматизацију

@auto_night_time
аутоматски (ноћно време)

@auto_day_time
Аутоматски (дневно време)

@auto_night_at_location
Ауто (ноћ на локацији)

@auto_day_at_location
Ауто (дан на локацији)

@auto_system_is_dark
Аутоматски (систем је таман)

@auto_system_is_light
Аутоматски (систем је лаган)

@click_to_set_shortcut
Кликните да бисте поставили пречицу

@extension_toggle_shortcut
Пречица за укључивање/искључивање проширења

@configure_site_toggle
Конфигуришите пребацивање веб локације

@site_toggle
Site Toggling

@enabled_by_default
Подразумевано омогућено

@enable_for_all_sites_by_default
Подразумевано омогућено за све веб локације

@detect_dark_theme
Откријте тамну тему

@detect_website_dark_theme
Откријте сопствену мрачну тему веб локације

@dark_theme_detected
Откривена је тамна тема

@website_toggle_shortcut
Пречица на тастатури за пребацивање веб локације

@support_out_work
Подржите наш рад

@mobile_link
Мобилни Дарк Реадер је доступан. Сазнајте више

@store_listing
Ova ekstenzija brine o vašim očima tako što omogućava tamnu temu za sajtove. Dark Reader invertuje svetle boje i pojačava kontrast, što omogućava lakše čitanje noću.

Možete podesiti osvetljenje, kontrast, sepija filter, tamni mod, font i listu ignorisanih sajtova.

Možemo vas zamoliti da podržite razvoj aplikacije donacijom. Možda ćete videti vesti o Dark Reader-u u iskačućem prozoru za podešavanja. Postoje alatke za programere za iskusne korisnike.

Dark Reader ne prikazuje reklame i nigde ne šalje podatke korisnika. Kod ekstenzije je u potpunosti otvoren: https://github.com/darkreader/darkreader

Pre instalacije, isključite druge slične ekstenzije. Uživajte!

@see_all_options
See all options

@configure_theme
Configure theme

@extension_is_enabled
Extension is enabled

@extension_is_disabled
Extension is disabled

@switch_time
Switches according to specified time

@switch_location
Switched according to location

@switch_system
Switches according to system dark mode

@settings
Settings

@enable_for_pdf
Enable for PDF files

@enabled_for_pdf
Enabled for PDF files

@disabled_for_pdf
Disabled for PDF files

@dark_theme_detected_on_page
Dark theme detected on page

@enabled_for_current_website
Enabled for current website

@disabled_for_current_website
Disabled for current website

@theme_for_all
Theme for all websites

@create_new_theme
Create new theme

@theme_for
Theme for

@theme
Theme

@ask_remove_theme
Are you sure you want to remove

@general
General

@hotkeys
Hotkeys

@advanced
Advanced

@about
About

@theme_mode
Brightness, contrast, mode

@theme_color
Colors

@theme_font
Font & more

@back
Back

@reset_to_defaults
Reset to defaults

@reset_description
Restore current theme values to defaults

@reset_changes
Reset changes

@apply
Apply

@ask_remove_changes
Are you sure you want to remove current changes? You cannot restore them later.

@all_websites
All websites

@dev_tools_description
Make a fix for a website

@settings_sync
Enable settings sync

@sync_devices
Synchronized across devices

@not_sync_devices
Not synchronized across devices

@enable_by_default
Enable by default

@enabled_on_all
Enabled on all websites by default

@disabled_on_all
Disabled on all websites by default

@not_override_dark_theme
Will not override website's dark theme

@override_dark_theme
Will override website's dark theme

@disable_on_these_websites
Disable on these websites

@enable_on_these_websites
Enable on these websites

@site_list_description
Type in the domain name and press Enter

@ask_remove_site_list
Are you sure you want to remove all your sites from the list? You cannot restore them later

@clear_site_list
Clear site list

@remove_all_site_list
Remove all sites from the list

@toggle_on_off
Toggle on/off

@toggle_dark_light
Toggle dark/light

@toggle_description
Automation behavior

@enable_disable_extension
Enable/disable the extension

@synchronize_sites
Synchronize sites fixes

@synchronize_sites_description
Load the latest sites fixes from a remote server

@enable_on_restricted_pages
Enable on restricted pages

@restricted_pages_enable
You should enable it in browser flags too

@restricted_pages_disable
Disabled for web store and other pages

@use_context_menus
Use context menus

@use_context_menus_enable
Context menu integration is enabled

@use_context_menus_disable
Context menu integration is disabled

@import_settings
Import Settings

@settings_imported
Settings imported

@failed_to_read_file
Failed to read file

@open_json_file
Open settings from a JSON file

@export_settings
Export Settings

@save_json_file
Save settings to a JSON file

@ask_remove_settings
Are you sure you want to remove all your settings? You cannot restore them later

@reset_settings
Reset settings

@restore_settings
Restore settings to defaults

@switch_to_old_design
Switch to old design

@preview_new_design
Preview new design

@switch_to_desktop_design
Switch to desktop design

@preview_mobile_design
Preview new mobile design

@dynamic_theme_editor
Dynamic Theme Editor

@static_theme_editor
Static Theme Editor

@inversion_fix_editor
Inversion Fix Editor

@ask_remove_current_changes
Are you sure you want to remove the current changes? You cannot restore them later.

@ask_delete_fix
Are you sure you want to delete the fix?

@delete
Delete

@read_about_this
Read about this tool

@here
here

@if_a_popular_website
If a popular website looks incorrect e-mail to 

@full_ditor
Full Editor

@per_site_ditor
Per Site Editor

@search_by_url
Search by URL

@create_new_fix
Create new fix

@search_for_an
Search for an

@existing_fix
existing fix

@or_enter_a
or enter a

@domain_name
domain name

@for_a_new_fix_and_click
for a new fix and click

@color_scheme
Color Scheme

@scheme
Scheme

@selection
Selection

@scrollbar
Scrollbar

@style_system_controls
Style system controls

@text
Text

@change_font
Change font

@immediate_modify
Immediate modify

@export_dynamic_theme
Export Dynamic Theme

@font_name
Font name

@yes
Yes

@no
No

@background
Background

@auto
Auto

@notify_of_news
Notify of news

@notifying_of_dark_readers_news
Notifying of Dark Reader's news

@not_notifying_of_dark_readers_news
Not Notifying of Dark Reader's news

@custom_browser_theme
Custom browser theme is active

@default_browser_theme
Default browser theme is active

@css_editor
CSS Editor

@cancel
Cancel