@extension_description
Тамни режим за сваки сајт. Пазите на своје очи, користите тамну тему дању и ноћу.

@loading_please_wait
Учитавање, молимо сачекајте

@on
Укљ.

@off
Искљ.

@toggle_current_site
Укљ./Искљ. тренутни сајт

@setup_hotkey_toggle_site
Подеси тренутни сајт
укљ./искљ. дугме

@toggle_extension
Укљ./Искљ. проширење

@setup_hotkey_toggle_extension
Подеси проширење
укљ./искљ. дугме

@automation
Аутоматизација

@set_active_hours
Подеси активне сате

@set_location
Активирај након заласка сунца на локацији

@longitude
Геог. дужина

@latitude
Геог. ширина

@page_protected
Ову страницу штити
претраживач

@local_files_forbidden
Није дозвоњен приступ
локалним датотекама

@page_in_dark_list
Овај сајт је у глобалној
листи тамних сајтова

@system_dark_mode
Користи боју система

@system_dark_mode_description
Активирај када систем користи тамни режим

@system_dark_mode_chromium_warning
Ова опција можда неће радити због грешке
у вашем претраживачу

@filter
Филтер

@mode
Режим

@dark
Тамни

@light
Светли

@brightness
Осветљеност

@contrast
Контраст

@grayscale
Grayscale

@sepia
Сепија

@only_for
Само за

@only_for_description
Примени подешавања само за тренутни сајт

@site_list
Листа сајтова

@invert_listed_only
Инвертуј само излистане

@not_invert_listed
Не инвертуј излистане

@add_site_to_list
Додај сајт у листу

@setup_add_site_hotkey
Подеси дугме за додавање сајта

@more
Више

@select_font
Изабери фонт

@text_stroke
Дебљина текста

@try_experimental_theme_engines
Испробајте **експерименталне** теме:
**Филтер+** чува сатурацију боја, користи GPU
**Статична тема** генерише једноставну брзу тему
**Динамична тема** анализира боје и слике

@engine_filter
Филтер

@engine_filter_plus
Филтер+

@engine_static
Статично

@engine_dynamic
Динамично

@theme_generation_mode
Режим генерисања тема

@custom_browser_theme_on
Прилагођено

@custom_browser_theme_off
Подразумевано

@change_browser_theme
Промени тему претраживача

@privacy
Приватност

@help
Помоћ

@donate
Донирај

@we_celebrate_10_years
Dark Reader слави 10 година.
Молимо вас да подржите наш рад.

@pay_for_using
Плати да користиш Dark Reader

@news
Новости

@read_more
Прочитај више

@open_dev_tools
Алатке за развој

@mobile
Мобилни

@learn_more
Сазнај више

@mobile_text
Смањите напрезање очију док читате на телефону или таблету.
Једноставно скенирајте QR код за инсталацију.

@all_settings
Сва подешавања

@version
Верзија

@configure_automation
Конфигуриши аутоматизацију

@auto_night_time
Аутоматски (ноћно време)

@auto_day_time
Аутоматски (дневно време)

@auto_night_at_location
Аутоматски (ноћ на локацији)

@auto_day_at_location
Аутоматски (дан на локацији)

@auto_system_is_dark
Аутоматски (системски тамно)

@auto_system_is_light
Аутоматски (системски светло)

@click_to_set_shortcut
Кликни да поставиш пречицу

@extension_toggle_shortcut
Пречица за укључивање/искључивање проширења

@configure_site_toggle
Конфигуриши укључивање/искључивање сајта

@site_toggle
Укључивање/Искључивање сајта

@enabled_by_default
Подразумевано омогућено

@enable_for_all_sites_by_default
Подразумевано омогућено за све сајтове

@detect_dark_theme
Откриј тамну тему

@detect_website_dark_theme
Откриј тамну тему сајта

@dark_theme_detected
Тамна тема је откривена

@website_toggle_shortcut
Пречица на тастатури за пребацивање сајта

@support_out_work
Подржи наш рад

@mobile_link
Мобилни Dark Reader је доступан. Сазнај више

@store_listing
Ово проширење брине о вашим очима тако што омогућава тамну тему за сајтове. Dark Reader инвертује светле боје и појачава контраст, што омогућава лакше читање ноћу.

Можете подесити осветљеност, контраст, сепија филтер, тамни режим, фонт и листу игнорисаних сајтова.

Можда вас замолимо да подржите развој апликације донацијом. Можете видети новости о Dark Reader-у у искачућем прозору за подешавања. За искусне кориснике постоје алатке за развој.

Dark Reader не приказује рекламе и нигде не шаље податке корисника. Код је у потпуности отворен: https://github.com/darkreader/darkreader

Пре инсталације, искључите остала слична проширења. Уживајте!
