@extension_description
Mörkt läge på alla webbplatser. Ta hand om dina ögon och använd ett mörkt tema för att surfa på natten och dagen.

@loading_please_wait
Laddar, var god vänta


#==== Top section ====

@on
På

@off
Av

@toggle_current_site
Slå på/av denna webbplats

@setup_hotkey_toggle_site
Konfigurera aktuell webbplats
slå på/av kortkommando

@toggle_extension
Slå på/av tillägg

@setup_hotkey_toggle_extension
Konfigurera tillägg
slå på/av kortkommando

@automation
Automatisering

@set_active_hours
Ange aktiva timmar

@set_location
Aktivera vid solnedgång vid position

@longitude
Longitud

@latitude
Latitud

@page_protected
Den här webbplatsen
skyddas av webbläsaren

@page_in_dark_list
Den här webbplatsen finns
i den globala listan

@system_dark_mode
Använd systemets färgschema

@system_dark_mode_description
Aktivera när systemets mörka läge är på


#==== Filter ====

@filter
Filter

@mode
Läge

@dark
Mörkt

@light
Ljust

@brightness
Ljusstyrka

@contrast
Kontrast

@grayscale
Gråskala

@sepia
Sepia

@only_for
Endast för

@only_for_description
Använd inställningarna bara för aktuell webbplats


#==== Site list ====

@site_list
Webbplatslista

@invert_listed_only
Invertera endast

@not_invert_listed
Invertera inte

@add_site_to_list
Lägg till webbplats i listan

@setup_add_site_hotkey
Ange kortkommando för att lägga till webbplatser


#==== More settings ====

@more
Mer

@select_font
Välj ett typsnitt

@text_stroke
Textkontur

@try_experimental_theme_engines
Testa **experimentella** temamotorer:
**Filter+** bevarar färgmättnaden, använder grafikprocessorn
**Statiskt tema** genererar ett snabbt och enkelt tema
**Dynamiskt tema** analyserar färger och bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Genereringsläge för tema

@custom_browser_theme_on
Anpassad

@custom_browser_theme_off
Standard

@change_browser_theme
Ändra webbläsarens tema


#==== Footer ====

@privacy
Integritet

@help
Hjälp

@donate
Donera

@news
Nyheter

@read_more
Läs mer

@open_dev_tools
Verktyg


#==== Store listing ====

@store_listing
Detta ögonskonande tillägg aktiverar ett nattläge som skapar mörka teman på webbplatser. Dark Reader inverterar ljusa färger för att skapa hög kontrast och göra det enkelt att läsa på natten.

Du kan justera ljusstyrkan, kontrasten, sepiafiltret, mörkerläget, typsnittet och ignoreringslistan.

Dark Reader visar inte reklam och skickar inte användardata någonstans. Den har helt öppen källkod https://github.com/darkreader/darkreader

Inaktivera liknande tillägg innan du installerar. Trevlig läsning!
