@extension_description
Mörkt läge för varje webbplats. Ta hand om dina ögon, använd ett mörkt tema för nattlig och daglig surfning.

@loading_please_wait
Laddar, var god vänta


#==== Top section ====

@on
På

@off
Av

@toggle_current_site
Växla aktuell sida

@setup_hotkey_toggle_site
Ställ in aktuell sida
växla snabbkommando

@toggle_extension
Växla tillägg

@setup_hotkey_toggle_extension
Konfiguera tillägg
växla snabbkommando

@automation
Automatisering

@set_active_hours
Ställ in aktiva timmar

@set_location
Aktivera vid solnedgång på plats

@longitude
Longitud

@latitude
Latitud

@page_protected
Den här sidan är skyddad
av webbläsaren

@page_in_dark_list
Den här webbplatsen är global
Mörk lista

@system_dark_mode
Använd systemets färgschema

@system_dark_mode_description
Aktivera när systemets mörka läge är på


#==== Filter ====

@filter
Filtrera

@mode
Läge

@dark
Mörk

@light
Ljus

@brightness
Ljusstyrka

@contrast
Kontrast

@grayscale
Gråskala

@sepia
Sepia

@only_for
Endast för

@only_for_description
Använd endast inställningarna för aktuell webbplats


#==== Site list ====

@site_list
Webbplatslista

@invert_listed_only
Invertera endast

@not_invert_listed
Invertera inte

@add_site_to_list
Lägg till webbplats i listan

@setup_add_site_hotkey
Ställ in ett snabbkommando för att lägga till webbplatsen


#==== More settings ====

@more
Mer

@select_font
Välj ett teckensnitt

@text_stroke
Text ramlinje

@try_experimental_theme_engines
Testa **experimentalla** temamotorer:
**Filtrera+** bevarar färgmättnad, använder GPU
**Statiskt tema** genererar ett snabbt och enkelt tema
**Dynamiskt tema** analyserar färger och bilder

@engine_filter
Filtrera

@engine_filter_plus
Filtrera+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Tema generering läge

@custom_browser_theme_on
Anpassad

@custom_browser_theme_off
Standard

@change_browser_theme
Ändra webbläsarens tema


#==== Footer ====

@privacy
Personuppgiftspolicy

@help
Hjälp

@donate
Donera

@news
Nyheter

@read_more
Läs mer

@open_dev_tools
Utvecklingsverktyg


#==== Store listing ====

@store_listing
Detta ögonbeskyddande tillägg aktiverar nattläge och skapar mörka teman för webbplatser. Dark Reader ersätter ljusa färger med mörka färger som har hög kontrast och gör läsning på kvällen enkel.

Du kan justera ljusstyrka, kontrast, sepia filter, mörkt läge, teckensnitt och ignoreringslista.

Dark Reader visar inte reklam och skickar inte ut användares data. Den har helt öppen källkod https://github.com/darkreader/darkreader

Avaktivera liknande tillägg innan du installerar. Njut av upplevelsen!
