@extension_description
Mörkt läge på alla webbplatser. Ta hand om dina ögon och använd ett mörkt tema för att surfa på natten och dagen.

@loading_please_wait
Laddar, var god vänta

@on
På

@off
Av

@toggle_current_site
Slå på/av denna webbplats

@setup_hotkey_toggle_site
Konfigurera kortkommando för
att slå på/av denna webbplats

@toggle_extension
Slå på/av tillägg

@setup_hotkey_toggle_extension
Konfigurera kortkommando för
att slå på/av tillägg

@automation
Automatisering

@set_active_hours
Ange aktiva timmar

@set_location
Aktivera efter solnedgång vid position

@longitude
Longitud

@latitude
Latitud

@page_protected
Webbläsaren skyddar
den här webbplatsen

@local_files_forbidden
Åtkomst till lokala
filer tillåts inte

@page_in_dark_list
Den här webbplatsen finns
i den globala listan

@system_dark_mode
Använd systemets färgschema

@system_dark_mode_description
Aktivera när systemets mörka läge är på

@system_dark_mode_chromium_warning
Alternativet kanske inte fungerar
p.g.a. en bugg i din webbläsare

@filter
Filter

@mode
Läge

@dark
Mörkt

@light
Ljust

@brightness
Ljusstyrka

@contrast
Kontrast

@grayscale
Gråskala

@sepia
Sepia

@only_for
Endast för

@only_for_description
Använd inställningarna bara för denna webbplats

@site_list
Webbplatslista

@invert_listed_only
Invertera endast

@not_invert_listed
Invertera inte

@add_site_to_list
Lägg till webbplats i listan

@setup_add_site_hotkey
Ange kortkommando för att lägga till webbplatser

@more
Mer

@select_font
Välj ett typsnitt

@text_stroke
Textkontur

@try_experimental_theme_engines
Testa **experimentella** temamotorer:
**Filter+** bevarar färgmättnaden, använder grafikprocessorn
**Statiskt tema** genererar ett snabbt och enkelt tema
**Dynamiskt tema** analyserar färger och bilder

@engine_filter
Filter

@engine_filter_plus
Filter+

@engine_static
Statisk

@engine_dynamic
Dynamisk

@theme_generation_mode
Genereringsläge för tema

@custom_browser_theme_on
Anpassad

@custom_browser_theme_off
Standard

@change_browser_theme
Ändra webbläsarens tema

@privacy
Integritet

@help
Hjälp

@donate
Donera

@we_celebrate_10_years
Dark Reader firar 10 år.
Stöd gärna vårt arbete.

@pay_for_using
Betala för att använda Dark Reader

@news
Nyheter

@read_more
Läs mer

@open_dev_tools
Verktyg

@mobile
Mobil

@learn_more
Läs mer

@mobile_text
Avlasta ögonen när du läser på din telefon eller surfplatta.
Skanna QR-koden för att installera.

@all_settings
Alla inställningar

@version
Version

@configure_automation
Konfigurera automatisering

@auto_night_time
Auto (nattetid)

@auto_day_time
Auto (dagtid)

@auto_night_at_location
Auto (nattetid vid position)

@auto_day_at_location
Auto (dagtid vid position)

@auto_system_is_dark
Auto (mörkt systemtema)

@auto_system_is_light
Auto (ljust systemtema)

@click_to_set_shortcut
Klicka för att ändra kortkommando

@extension_toggle_shortcut
Kortkommando för att slå på/av tillägg

@configure_site_toggle
Konfigurera kortkommando

@site_toggle
Slå på/av för webbplats

@enabled_by_default
Aktivera som standard

@enable_for_all_sites_by_default
Aktivera som standard för alla webbplatser

@detect_dark_theme
Upptäck mörkt tema

@detect_website_dark_theme
Upptäck webbplatsens egna mörka tema

@dark_theme_detected
Mörkt tema upptäcktes

@website_toggle_shortcut
Kortkommando för att slå på/av webbplats

@support_out_work
Stöd vårt arbete

@mobile_link
Dark Reader är tillgänglig för mobiler. Läs mer

@store_listing
Detta ögonskonande tillägg aktiverar ett nattläge som skapar mörka teman på webbplatser. Dark Reader inverterar ljusa färger för att skapa hög kontrast och göra det enkelt att läsa på natten.

Du kan justera ljusstyrkan, kontrasten, sepiafiltret, mörkerläget, typsnittet och ignoreringslistan.

Vi kan be dig att stödja utvecklingen av appen med en donation. Du kan se nyheter om Dark Reader i popup-fönstret för inställningar. Det finns utvecklarverktyg för erfarna användare.

Dark Reader visar ingen reklam och skickar inte användardata någonstans. Källkoden är helt öppen: https://github.com/darkreader/darkreader

Inaktivera liknande tillägg innan du installerar. Trevlig läsning!
