@extension_description
ప్రతి వెబ్‌సైట్‌కి ముదురు థీమ్. మీ కళ్లను కాపాడుకోండి, రాత్రి మరియు పగలు బ్రౌజింగ్ట్‌కి ముదురు థీమ్ ఉపయోగించండి.

@loading_please_wait
దయచేసి వేచి ఉండండి...

@on
ఆన్

@off
ఆపండి

@toggle_current_site
సైట్ కోసం సక్రియం చేయండి

@setup_hotkey_toggle_site
సైట్ మార్చడానికి పొడిగింపు సెటప్
హాట్‌కీని ప్రారంభించండి

@toggle_extension
పొడిగింపును ప్రారంభించండి

@setup_hotkey_toggle_extension
పొడిగింపు సెట్టింగులు
హాట్‌కీని ప్రారంభించండి

@automation
స్వయంచాలకంగా పూర్తయింది

@set_active_hours
మేల్కొనే గంటలను మార్చండి

@set_location
సూర్యాస్తమయం వద్ద ప్రారంభించండి

@longitude
రేఖాంశం

@latitude
అక్షాంశం

@page_protected
ఈ పేజీ
బ్రౌజర్ ద్వారా రక్షించబడింది

@local_files_forbidden
యాక్సెస్ చేయడానికి అనుమతి
లేదు స్థానిక ఫైళ్లు

@page_in_dark_list
ఈ పేజీ
చీకటి థీమ్ జాబితాలో ఉంది

@system_dark_mode
సిస్టమ్ కలర్ స్కీమ్‌ను ఉపయోగించండి

@system_dark_mode_description
సిస్టమ్ కలర్ స్కీమ్ ఎనేబుల్ లో ఉంది

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
ఫిల్టర్

@mode
మోడ్

@dark
నలుపు

@light
కాంతి

@brightness
ఎంత కాంతి

@contrast
విరుద్ధంగా

@grayscale
గ్రేస్కేల్

@sepia
సెపియా

@only_for
దీని కోసం మాత్రమే

@only_for_description
ప్రస్తుత సైట్ కోసం మాత్రమే ఎంపికలను వర్తించండి

@site_list
సైట్ జాబితా

@invert_listed_only
విలోమ జాబితా మాత్రమే

@not_invert_listed
విలోమ జాబితా కాదు

@add_site_to_list
జాబితాకు సైట్‌ను జోడించండి

@setup_add_site_hotkey
సైట్‌ను జోడించడానికి హాట్‌కీని సెటప్ చేయండి

@more
మరింత

@select_font
ఫాంట్ ఎంచుకోండి

@text_stroke
టెక్స్ట్ స్ట్రోక్

@try_experimental_theme_engines
ప్రయత్నించండి ** ప్రయోగాత్మక ** థీమ్ ఇంజన్లు:
** ఫిల్టర్+** రంగుల సంతృప్తతను సంరక్షిస్తుంది, GPU ని ఉపయోగిస్తుంది
** స్టాటిక్ థీమ్ ** సరళమైన వేగవంతమైన థీమ్‌ను ఉత్పత్తి చేస్తుంది
** డైనమిక్ థీమ్ ** రంగులు మరియు చిత్రాలను విశ్లేషిస్తుంది

@engine_filter
ఫిల్టర్

@engine_filter_plus
ఫిల్టర్+

@engine_static
స్థిరమైన

@engine_dynamic
చురుకుగా

@theme_generation_mode
థీమ్ యొక్క మోడ్‌ను మార్చండి

@custom_browser_theme_on
ఆచారం

@custom_browser_theme_off
డిఫాల్ట్

@change_browser_theme
బ్రౌజర్ థీమ్‌ను మార్చండి

@privacy
గోప్యత

@help
సహాయం

@donate
దయచేసి దానం చేయండి

@we_celebrate_10_years
డార్క్ రీడర్ 10 సంవత్సరాలు జరుపుకుంటుంది.
దయచేసి మా పనికి మద్దతు ఇవ్వండి.

@pay_for_using
డార్క్ రీడర్‌ని ఉపయోగించడం కోసం చెల్లించండి

@news
వార్తలు

@read_more
ఇంకా చదవండి

@open_dev_tools
ఓపెన్ దేవ్ టూల్స్

@mobile
మొబైల్

@learn_more
మరింత తెలుసుకోండి

@mobile_text
మీ ఫోన్ లేదా టాబ్లెట్‌లో చదివేటప్పుడు కంటి ఒత్తిడిని తగ్గించండి.
ఇన్‌స్టాల్ చేయడానికి QR కోడ్‌ని స్కాన్ చేయండి.

@all_settings
అన్ని సెట్టింగ్‌లు

@version
సంస్కరణ: Telugu

@configure_automation
ఆటోమేషన్‌ను కాన్ఫిగర్ చేయండి

@auto_night_time
ఆటో (రాత్రి సమయం)

@auto_day_time
ఆటో (రోజు సమయం)

@auto_night_at_location
ఆటో (స్థానంలో రాత్రి)

@auto_day_at_location
ఆటో (స్థానంలో రోజు)

@auto_system_is_dark
ఆటో (సిస్టమ్ చీకటిగా ఉంది)

@auto_system_is_light
ఆటో (సిస్టమ్ తేలికైనది)

@click_to_set_shortcut
సత్వరమార్గాన్ని సెట్ చేయడానికి క్లిక్ చేయండి

@extension_toggle_shortcut
పొడిగింపు ఆన్/ఆఫ్ కీబోర్డ్ సత్వరమార్గం

@configure_site_toggle
వెబ్‌సైట్ టోగులింగ్‌ని కాన్ఫిగర్ చేయండి

@site_toggle
సైట్ టోగుల్ చేస్తోంది

@enabled_by_default
డిఫాల్ట్‌గా ప్రారంభించబడింది

@enable_for_all_sites_by_default
డిఫాల్ట్‌గా అన్ని వెబ్‌సైట్‌ల కోసం ప్రారంభించబడింది

@detect_dark_theme
చీకటి థీమ్‌ను గుర్తించండి

@detect_website_dark_theme
వెబ్‌సైట్ స్వంత డార్క్ థీమ్‌ను గుర్తించండి

@dark_theme_detected
ముదురు రంగు థీమ్ కనుగొనబడింది

@website_toggle_shortcut
వెబ్‌సైట్ టోగుల్ కీబోర్డ్ సత్వరమార్గం

@support_out_work
మా పనికి మద్దతు ఇవ్వండి

@mobile_link
మొబైల్ డార్క్ రీడర్ అందుబాటులో ఉంది. ఇంకా నేర్చుకో

@store_listing
ఈ కంటి-సంరక్షణ పొడిగింపు ఫ్లైలో వెబ్‌సైట్ల కోసం చీకటి ఇతివృత్తాలను సృష్టించడం ద్వారా నైట్ మోడ్‌ను అనుమతిస్తుంది. డార్క్ రీడర్ ప్రకాశవంతమైన రంగులను విలోమం చేస్తుంది, అవి అధిక విరుద్ధంగా మరియు రాత్రి చదవడం సులభం చేస్తాడు.

మీరు ప్రకాశం, కాంట్రాస్ట్, సెపియా ఫిల్టర్, డార్క్ మోడ్, ఫాంట్ సెట్టింగులు మరియు విస్మరించే-జాబితాను సర్దుబాటు చేయవచ్చు.

మేము విరాళంతో యాప్ అభివృద్ధికి మద్దతు ఇవ్వమని మిమ్మల్ని అడగవచ్చు. మీరు సెట్టింగ్‌ల పాప్‌అప్‌లో డార్క్ రీడర్ గురించిన వార్తలను చూడవచ్చు. అనుభవజ్ఞులైన వినియోగదారుల కోసం డెవలపర్ సాధనాలు ఉన్నాయి.

డార్క్ రీడర్ ప్రకటనలను చూపించదు మరియు వినియోగదారుల డేటాను ఎక్కడా పంపదు. ఇది పూర్తిగా ఓపెన్-సోర్స్: https://github.com/darkreader/darkreader

మీరు దీన్ని ఇన్‌స్టాల్ చేయడానికి ముందు, ఇలాంటి పొడిగింపులను నిలిపివేయండి. చూడటం ఆనందించండి!
