@extension_description
เปลี่ยนเป็นโหมดมืดให้กับทุกๆเว็บเพื่อปกป้องสายตาของคุณ ใช้ธีมสีมืดสำหรับตอนกลางคืนและการท่องเว็บในชีวิตประจำวัน

@loading_please_wait
กำลังโหลด กรุณารอสักครู่

@on
เปิด

@off
ปิด

@toggle_current_site
สลับโหมดในเว็บนี้

@setup_hotkey_toggle_site
ตั้งค่าคีย์ลัดสำหรับ
สลับโหมดเว็บนี้

@toggle_extension
สลับโหมดเปิด-ปิด

@setup_hotkey_toggle_extension
ตั้งค่าคีย์ลัดสำหรับ
สลับโหมดเปิด-ปิด

@automation
การทำงานอัตโนมัติ

@set_active_hours
ตั้งเวลาที่เริ่มทำงาน

@set_location
เปิดใช้งานหลังจากพระอาทิตย์ตกดินที่สถานที่

@longitude
ลองจิจูด

@latitude
ละติจูด

@page_protected
หน้านี้ถูกป้องกัน
โดยเว็บเบราเซอร์

@local_files_forbidden
ไม่อนุญาตให้เข้าถึง
ไฟล์ในเครื่อง

@page_in_dark_list
เว็บนี้อยู่ในรายชื่อ
ที่มีธีมมืดให้ใช้

@system_dark_mode
ใช้โทนสีระบบ

@system_dark_mode_description
เปิดใช้งานเมื่อระบบโหมดมืดอยู่บน

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
ฟิลเตอร์

@mode
โหมด

@dark
มืด

@light
สว่าง

@brightness
ความสว่าง

@contrast
คอนทราสต์

@grayscale
สีเทา

@sepia
สีซีเปีย

@only_for
เฉพาะสำหรับ

@only_for_description
ใช้การตั้งค่ากับเว็บปัจจุบันเท่านั้น

@site_list
รายชื่อเว็บ

@invert_listed_only
เว็บที่จะสลับสี

@not_invert_listed
เว็บที่ไม่อยากสลับสี

@add_site_to_list
เพิ่มเว็บลงในรายการ

@setup_add_site_hotkey
ตั้งค่าคีย์ลัดเพื่อเพิ่มเว็บ

@more
อื่นๆ

@select_font
เลือกฟอนต์

@text_stroke
ขอบตัวหนังสือ

@try_experimental_theme_engines
ลองใช้ธีมที่**อยู่ในระหว่างพัฒนา**:
**ฟิลเตอร์+** เพิ่มความเข้มของสี มีการใช้ GPU
**ธีมแบบคงที่** สร้างธีมสีได้ง่ายและรวดเร็ว
**ธีมแบบไดนามิค** วิเคราะห์สีและภาพ

@engine_filter
ฟิลเตอร์

@engine_filter_plus
ฟิลเตอร์+

@engine_static
คงที่

@engine_dynamic
ไดนามิค

@theme_generation_mode
โหมดการสร้างธีม

@custom_browser_theme_on
ปรับเอง

@custom_browser_theme_off
ค่าเริ่มต้น

@change_browser_theme
เปลี่ยนธีมชองเบราเซอร์

@privacy
ความเป็นส่วนตัว

@help
ช่วยเหลือ

@donate
สนับสนุน

@we_celebrate_10_years
Dark Reader ฉลองครบรอบ 10 ปี
กรุณาสนับสนุนการทำงานของเรา

@pay_for_using
ชำระค่าใช้ Dark Reader

@news
ข่าว

@read_more
อ่านเพิ่มเติม

@open_dev_tools
เครื่องมือนักพัฒนา

@mobile
มือถือ

@learn_more
เรียนรู้เพิ่มเติม

@mobile_text
ลดอาการปวดตาขณะอ่านหนังสือบนโทรศัพท์หรือแท็บเล็ต
เพียงสแกนรหัส QR เพื่อติดตั้ง

@all_settings
การตั้งค่าทั้งหมด

@version
เวอร์ชัน

@configure_automation
กำหนดค่าการทำงานอัตโนมัติ

@auto_night_time
อัตโนมัติ (เวลากลางคืน)

@auto_day_time
อัตโนมัติ (เวลากลางวัน)

@auto_night_at_location
อัตโนมัติ (คืนที่สถานที่)

@auto_day_at_location
อัตโนมัติ (วันที่สถานที่)

@auto_system_is_dark
อัตโนมัติ (ระบบมืด)

@auto_system_is_light
อัตโนมัติ (ระบบเบา)

@click_to_set_shortcut
คลิกเพื่อตั้งค่าทางลัด

@extension_toggle_shortcut
แป้นพิมพ์ลัดส่วนขยายเปิด/ปิด

@configure_site_toggle
กำหนดค่าการสลับเว็บไซต์

@site_toggle
การสลับไซต์

@enabled_by_default
เปิดใช้งานโดยค่าเริ่มต้น

@enable_for_all_sites_by_default
เปิดใช้งานสำหรับทุกเว็บไซต์ตามค่าเริ่มต้น

@detect_dark_theme
ตรวจหาธีมมืด

@detect_website_dark_theme
ตรวจหาธีมมืดของเว็บไซต์

@dark_theme_detected
ตรวจพบธีมมืด

@website_toggle_shortcut
แป้นพิมพ์ลัดสลับเว็บไซต์

@support_out_work
สนับสนุนผลงานของเรา

@mobile_link
Mobile Dark Reader พร้อมใช้งานแล้ว เรียนรู้เพิ่มเติม

@store_listing
นี้เป็นส่วนเสริมที่คอยดูแลสายตาของคุณด้วยการเปิดโหมดกลางคืน และสร้างธีมมืดให้กับทุกๆเว็บ Dark Reader จะสลับสีสว่างๆให้เป็นสีดำหรือสีมืด และทำให้ง่ายต่อการอ่านตอนกลางคืน

คุณสามารถปรับแต่งความสว่าง, คอนทราสต์, สีซีเปีย, โหมดมืด, ตั้งค่าฟอนต์ และทำรายการยกเว้นได้

เราอาจขอให้คุณสนับสนุนการพัฒนาแอพด้วยการบริจาค คุณอาจเห็นข่าวเกี่ยวกับ Dark Reader ในป๊อปอัปการตั้งค่า มีเครื่องมือสำหรับนักพัฒนาสำหรับผู้ใช้ที่มีประสบการณ์

Dark Reader ไม่แสดงโฆษณา และไม่ส่งข้อมูลของผู้ใช้เด็ดขาด ตัวส่วนเสริมเป็นโอเพนซอร์สโดยสมบูรณ์ดูได้ที่ https://github.com/darkreader/darkreader

ก่อนที่จะติดตั้ง ปิดส่วนเสริมที่ทำหน้าที่เหมือนๆกันก่อนนะ ขอให้สนุกกับธีมสีมืดนะ!
