@extension_description
Her web sitesi için koyu mod. Gözlerinize iyi bakın, gece ve günlük gezinti için koyu renk tema kullanın.

@loading_please_wait
Yükleniyor, lütfen bekleyin

@on
Açık

@off
Kapalı

@toggle_current_site
Şu anki siteyi aç-kapat

@setup_hotkey_toggle_site
Şu anki site için
aç-kapat kısayol tuşu ayarla

@toggle_extension
Eklentiyi aç-kapat

@setup_hotkey_toggle_extension
Eklenti aç-kapat
kısayol tuşu ayarla

@automation
Otomasyon

@set_active_hours
Etkin saatleri ayarla

@set_location
Güneş battıktan sonra etkinleştir

@longitude
Boylam

@latitude
Enlem

@page_protected
Bu sayfa tarayıcı
tarafından korunuyor

@local_files_forbidden
Yerel dosyalara erişime
izin verilmiyor

@page_in_dark_list
Bu site genel
Koyu Listesinde

@system_dark_mode
Sistem renk düzenini kullan

@system_dark_mode_description
Sistem koyu modu açıkken etkinleştir

@system_dark_mode_chromium_warning
Bu seçenek, tarayıcınızdaki
bir hata nedeniyle çalışmayabilir

@filter
Filtre

@mode
Mod

@dark
Koyu

@light
Açık

@brightness
Parlaklık

@contrast
Kontrast

@grayscale
Gri ton

@sepia
Sepya

@only_for
Sadece:

@only_for_description
Ayarları sadece şu anki site için uygula

@site_list
Site listesi

@invert_listed_only
Sadece listedekiler

@not_invert_listed
Hariç tutulanlar

@add_site_to_list
Siteyi listeye ekle

@setup_add_site_hotkey
Site eklemek için bir kısayol tuşu ayarla

@more
Daha fazla

@select_font
Yazı tipi seç

@text_stroke
Yazı çizgisi

@try_experimental_theme_engines
**Deneysel** tema motorlarını deneyin:
**Filtre+** renk doygunluğunu korur, GPU kullanır
**Statik tema** basit, hızlı bir tema oluşturur
**Dinamik tema** renkleri ve görüntüleri analiz eder

@engine_filter
Filtre

@engine_filter_plus
Filtre+

@engine_static
Statik

@engine_dynamic
Dinamik

@theme_generation_mode
Tema oluşturma modu

@custom_browser_theme_on
Özel

@custom_browser_theme_off
Varsayılan

@change_browser_theme
Tarayıcı temasını değiştir

@privacy
Gizlilik

@help
Yardım

@donate
Bağış yap

@we_celebrate_10_years
Dark Reader 10. yılını kutluyor.
Lütfen çalışmalarımızı destekleyin.

@pay_for_using
Dark Reader'ı kullanmak için ödeme yapın

@news
Haberler

@read_more
Daha fazla oku

@open_dev_tools
Geliş. araçları

@mobile
Mobil

@learn_more
Daha fazla bilgi edin

@mobile_text
Telefonunuzda veya tabletinizde okurken göz yorgunluğunu azaltın.
Yüklemek için QR kodunu taramanız yeterlidir.

@all_settings
Tüm ayarlar

@version
Sürüm

@configure_automation
Otomasyonu yapılandır

@auto_night_time
Otomatik (gece)

@auto_day_time
Otomatik (gündüz)

@auto_night_at_location
Otomatik (konumda gece)

@auto_day_at_location
Otomatik (konumda gündüz)

@auto_system_is_dark
Otomatik (sistem koyu)

@auto_system_is_light
Otomatik (sistem açık)

@click_to_set_shortcut
Kısayolu ayarlamak için tıkla

@extension_toggle_shortcut
Uzantıyı aç/kapat klavye kısayolu

@configure_site_toggle
Web sitesini aç/kapat yapılandır

@site_toggle
Site Açma/Kapatma

@enabled_by_default
Varsayılan Olarak Etkin

@enable_for_all_sites_by_default
Varsayılan olarak tüm web siteleri için etkindir

@detect_dark_theme
Koyu temayı algıla

@detect_website_dark_theme
Web sitesinin koyu temasını algıla

@dark_theme_detected
Koyu tema algılandı

@website_toggle_shortcut
Web sitesi aç/kapat klavye kısayolu

@support_out_work
Çalışmalarımızı destekleyin

@mobile_link
Mobil Karanlık Okuyucu mevcuttur. Daha fazla bilgi edin

@store_listing
Bu göz bakım eklentisi web siteleri için anında koyu temalar oluşturarak gece modunu etkinleştirir. Dark Reader parlak renkleri ters çevirerek yüksek kontrast oluşturur ve geceleri okumayı kolaylaştırır.

Parlaklığı, kontrastı, sepya filtresini, koyu modu, yazı tipi ayarlarını ve yoksayma listesini ayarlayabilirsiniz.

Uygulamanın gelişimini bir bağışla desteklemenizi isteyebiliriz. Ayarlar açılır penceresinde Dark Reader ile ilgili haberleri görebilirsiniz. Deneyimli kullanıcılar için Geliştirici Araçları bulunmaktadır.

Dark Reader, reklam göstermez ve kullanıcının verilerini hiçbir yere göndermez. Tamamen açık kaynak kodludur. https://github.com/darkreader/darkreader

Yüklemeden önce benzer uzantıları devre dışı bırakın. Gezintinin tadını çıkarın!
