@extension_description
Her web sitesi için koyu mod. Gözlerinize iyi bakın, gece ve günlük gezinti için koyu renk tema kullanın.

@loading_please_wait
Yükleniyor, lütfen bekleyin


#==== Top section ====

@on
Açık

@off
Kapalı

@toggle_current_site
Şu anki siteyi aç-kapat

@setup_hotkey_toggle_site
Şu anki site için
aç-kapat kısayol tuşu ayarla

@toggle_extension
Eklentiyi aç-kapat

@setup_hotkey_toggle_extension
Eklenti aç-kapat
kısayol tuşu ayarla

@automation
Otomasyon

@set_active_hours
Etkin saatleri ayarla

@set_location
Güneş battıktan sonra etkinleştir

@longitude
Boylam

@latitude
Enlem

@page_protected
Bu sayfa tarayıcı
tarafından korunuyor

@page_in_dark_list
Bu site genel
Koyu Listesinde

@system_dark_mode
Sistem renk düzenini kullan

@system_dark_mode_description
Sistem koyu modu açıkken etkinleştir


#==== Filter ====

@filter
Filtre

@mode
Mod

@dark
Koyu

@light
Açık

@brightness
Parlaklık

@contrast
Kontrast

@grayscale
Gri ton

@sepia
Sepya

@only_for
Sadece:

@only_for_description
Ayarları sadece şu anki site için uygula


#==== Site list ====

@site_list
Site listesi

@invert_listed_only
Sadece listedekiler

@not_invert_listed
Hariç tutulanlar

@add_site_to_list
Siteyi listeye ekle

@setup_add_site_hotkey
Site eklemek için bir kısayol tuşu ayarla


#==== More settings ====

@more
Daha fazla

@select_font
Yazı tipi seç

@text_stroke
Yazı çizgisi

@try_experimental_theme_engines
**Deneysel** tema motorlarını deneyin:
**Filtre+** renk doygunluğunu korur, GPU kullanır
**Statik tema** basit, hızlı bir tema oluşturur
**Dinamik tema** renkleri ve görüntüleri analiz eder

@engine_filter
Filtre

@engine_filter_plus
Filtre+

@engine_static
Statik

@engine_dynamic
Dinamik

@theme_generation_mode
Tema oluşturma modu

@custom_browser_theme_on
Özel

@custom_browser_theme_off
Varsayılan

@change_browser_theme
Tarayıcı temasını değiştir


#==== Footer ====

@privacy
Gizlilik

@help
Yardım

@donate
Bağış yap

@news
Haberler

@read_more
Daha fazla oku

@open_dev_tools
Geliş. araçları


#==== Store listing ====

@store_listing
Bu göz bakım eklentisi web siteleri için anında koyu temalar oluşturarak gece modunu etkinleştirir. Dark Reader parlak renkleri ters çevirerek yüksek kontrast oluşturur ve geceleri okumayı kolaylaştırır.

Parlaklığı, kontrastı, sepya filtresini, koyu modu, yazı tipi ayarlarını ve yoksayma listesini ayarlayabilirsiniz.

Dark Reader, reklam göstermez ve kullanıcının verilerini hiçbir yere göndermez. Tamamen açık kaynak kodludur. https://github.com/darkreader/darkreader

Yüklemeden önce benzer uzantıları devre dışı bırakın. Gezintinin tadını çıkarın!
