@extension_description
Темний вигляд для кожного мережевого сайту. Піклуйтеся про свої очі, використовуйте темний вид для нічного та щоденного перегляду.

@loading_please_wait
Завантаження, будь ласка зачекайте...


#==== Top section ====

@on
Увімк

@off
Вимк

@toggle_current_site
Перемкнути для поточного сайту

@setup_hotkey_toggle_site
Налаштувати гарячу клавішу
для поточного сайту

@toggle_extension
Перемкнути розширення

@setup_hotkey_toggle_extension
Налаштувати гарячу клавішу
для розширення

@automation
Автоматизація

@set_active_hours
Встановити робочий час

@set_location
Активізувати після заходу сонця

@longitude
Довгота

@latitude
Широта

@page_protected
Ця сторінка захищена
браузером

@page_in_dark_list
Цей сайт у глобальному
"Темному Списку"

@system_dark_mode
Використовувати системну колірну схему

@system_dark_mode_description
Активізувати коли системний нічний режим включений


#==== Filter ====

@filter
Фільтр

@mode
Вид

@dark
Темний

@light
Світлий

@brightness
Яскравість

@contrast
Контраст

@grayscale
Сірі відтінки

@sepia
Сепія

@only_for
Лише для

@only_for_description
Лише для поточного сайту


#==== Site list ====

@site_list
Список сайтів

@invert_listed_only
Інвертувати лише у списку

@not_invert_listed
Не інвертувати у списку

@add_site_to_list
Додати сайт до списку

@setup_add_site_hotkey
Встановити гарячу кнопку для додавання сайтів


#==== More settings ====

@more
Більше

@select_font
Обрати вид тексту

@text_stroke
Обведення тексту

@try_experimental_theme_engines
Спробуйте **експериментальні** теми:
**Фільтр+** зберігає насиченість барв, використовує GPU
**Сталий** створює простий швидкмй вигляд
**Змінний** розбирає барви та зображення

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Сталий

@engine_dynamic
Змінний

@theme_generation_mode
Вид

@custom_browser_theme_on
Користувацький

@custom_browser_theme_off
За промовчанням

@change_browser_theme
Обрати вигляд браузера


#==== Footer ====

@privacy
Приватність

@help
Допомога

@donate
Пожертвувати

@news
Новини

@read_more
Докладніше

@open_dev_tools
Інструменти розробника


#==== Store listing ====

@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих сайтів. Dark Reader інвертує яскраві барви, роблячи їх контрастними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, контраст, сепію, темний вигляд, налаштування вигляду тексту та список нехтування.

Dark Reader не містить рекламу і не надсилає дані користувача нікуди. Це розширення з відкритим кодом https://github.com/darkreader/darkreader

Перед встановленням відімкніть подібні розширення. Насолоджуйтесь переглядом!
