@extension_description
Темний вигляд для кожного мережевого осідка ("сайта"). Піклуйтеся про свої очі, використовуйте темний вид для нічного та щоденного перегляду.

@loading_please_wait
Завантаження, просимо зачекати...


#==== Top section ====

@on
Увімк

@off
Вимк

@toggle_current_site
Перемкнути поточний осідок

@setup_hotkey_toggle_site
Налаштувати поточний осідок
перемкнути гарячу кнопку

@toggle_extension
Перемкнути розширення

@setup_hotkey_toggle_extension
Налаштувати розширення
перемкнути гарячу кнопку

@time_settings
Налаштування часу

@set_active_hours
Встановити час задіювання

@page_protected
Цей осідок захищено
мережевим переглядачем

@page_in_dark_list
Цей осідок у всесвітньому
"Темному Списку"


#==== Filter ====

@filter
Цідило

@mode
Вид

@dark
Темний

@light
Світлий

@brightness
Яскравість

@contrast
Протиставність

@grayscale
Сірі відтінки

@sepia
"Каракатиця"

@only_for
Лише для

@only_for_description
Застосувати налаштування лише для поточного осідку


#==== Site list ====

@site_list
Список осідків

@invert_listed_only
Спротилежнити лише у списку

@not_invert_listed
Не спротилежнювати у списку

@add_site_to_list
Додати осідок до списку

@setup_add_site_hotkey
Встановити гарячу кнопку для додавання осідка


#==== More settings ====

@more
Більше

@select_font
Обрати вид написів

@text_stroke
Обведення написів

@try_experimental_theme_engines
Спробуйте **випробувальні** рушії виглядів:
**Цідило+** зберігає насиченість барв, використовує GPU
**Сталий вигляд** створює простий швидкмй вигляд
**Змінний вигляд** розбирає барви та зображення

@engine_filter
Цідило

@engine_filter_plus
Цідило+

@engine_static
Сталий

@engine_dynamic
Змінний

@theme_generation_mode
Вид

@custom_browser_theme_on
Користувацький

@custom_browser_theme_off
За промовчанням

@change_browser_theme
Обрати вигляд мережевого переглядача


#==== Footer ====

@privacy
Таємність

@help
Допомога

@donate
Допомогти

@news
Новини

@read_more
Докладніше

@open_dev_tools
Розробницькі знаряддя


#==== Store listing ====

@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих осідків (сайтів). ТемноЧитач спротилежнює яскраві барви, роблячи їх високопротиставними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, протиставність (контраст), цідило "каракатиці" (сепія), темний вигляд, налаштування вигляду написів та список нехтування.

ТемноЧитач не відображає оголошень і не надсилає дані користувача ніде. Це повністю відкритий сирець https://github.com/darkreader/darkreader

Перед встановленням відімкніть подібні розширення. Насолоджуйтесь переглядом!
