@extension_description
Темний вигляд для кожного мережевого сайту. Піклуйтеся про свої очі, використовуйте темний вид для нічного та щоденного перегляду.

@loading_please_wait
Завантаження, будь ласка зачекайте...

@on
Увімк

@off
Вимк

@toggle_current_site
Перемкнути для поточного сайту

@setup_hotkey_toggle_site
Налаштувати гарячу клавішу
для поточного сайту

@toggle_extension
Перемкнути розширення

@setup_hotkey_toggle_extension
Налаштувати гарячу клавішу
для розширення

@automation
Автоматизація

@set_active_hours
Встановити робочий час

@set_location
Активізувати після заходу сонця

@longitude
Довгота

@latitude
Широта

@page_protected
Ця сторінка захищена
браузером

@local_files_forbidden
Немає дозволу на обробку
локальних файлiв

@page_in_dark_list
Цей сайт у глобальному
"Темному Списку"

@system_dark_mode
Використовувати системну колірну схему

@system_dark_mode_description
Активізувати коли системний нічний режим включений

@system_dark_mode_chromium_warning
This option might not work due to
a bug in your browser

@filter
Фільтр

@mode
Вид

@dark
Темний

@light
Світлий

@brightness
Яскравість

@contrast
Контраст

@grayscale
Сірі відтінки

@sepia
Сепія

@only_for
Лише для

@only_for_description
Лише для поточного сайту

@site_list
Список сайтів

@invert_listed_only
Інвертувати лише у списку

@not_invert_listed
Не інвертувати у списку

@add_site_to_list
Додати сайт до списку

@setup_add_site_hotkey
Встановити гарячу кнопку для додавання сайтів

@more
Більше

@select_font
Обрати вид тексту

@text_stroke
Обведення тексту

@try_experimental_theme_engines
Спробуйте **експериментальні** теми:
**Фільтр+** зберігає насиченість барв, використовує GPU
**Сталий** створює простий швидкмй вигляд
**Змінний** розбирає барви та зображення

@engine_filter
Фільтр

@engine_filter_plus
Фільтр+

@engine_static
Сталий

@engine_dynamic
Змінний

@theme_generation_mode
Вид

@custom_browser_theme_on
Користувацький

@custom_browser_theme_off
За промовчанням

@change_browser_theme
Обрати вигляд браузера

@privacy
Приватність

@help
Допомога

@donate
Пожертвувати

@we_celebrate_10_years
Dark Reader святкує 10-річчя
від початку розробки.

@pay_for_using
Бажаємо виконання всіх мрій!

@news
Новини

@read_more
Докладніше

@open_dev_tools
Інструменти розробника

@mobile
мобільний

@learn_more
Дізнайтесь більше

@mobile_text
Зменште навантаження на очі під час читання на телефоні чи планшеті.
Просто відскануйте QR-код, щоб установити.

@all_settings
Всі налаштування

@version
Версія

@configure_automation
Налаштувати автоматизацію

@auto_night_time
Авто (ніч)

@auto_day_time
Авто (денний час)

@auto_night_at_location
Авто (ніч на місці)

@auto_day_at_location
Авто (день на місці)

@auto_system_is_dark
Авто (система темна)

@auto_system_is_light
Авто (система світла)

@click_to_set_shortcut
Натисніть, щоб встановити комбінацію

@extension_toggle_shortcut
Комбінація клавіш для ввімкнення/вимкнення розширення

@configure_site_toggle
Налаштувати перемикання веб-сайтів

@site_toggle
Перемикання сайту

@enabled_by_default
Увімкнено за замовчуванням

@enable_for_all_sites_by_default
Увімкнено для всіх веб-сайтів за умовчанням

@detect_dark_theme
Виявлення темної теми

@detect_website_dark_theme
Визначити власну темну тему веб-сайту

@dark_theme_detected
Виявлено темну тему

@website_toggle_shortcut
Комбінація клавіш для перемикання веб-сайту

@support_out_work
Підтримайте нашу роботу

@mobile_link
Доступний Mobile Dark Reader. Вивчайте більше

@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих сайтів. Dark Reader інвертує яскраві барви, роблячи їх контрастними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, контраст, сепію, темний вигляд, налаштування вигляду тексту та список нехтування.

Ми можемо попросити вас підтримати розробку програми пожертвуванням. Ви можете побачити новини про Dark Reader у спливаючому вікні налаштувань. Є інструменти розробника для досвідчених користувачів.

Dark Reader не містить рекламу і не надсилає дані користувача нікуди. Це розширення з відкритим кодом https://github.com/darkreader/darkreader

Перед встановленням відімкніть подібні розширення. Насолоджуйтесь переглядом!
