@extension_description
Chế độ tối cho mọi trang web. Chăm sóc đôi mắt bạn, dùng chủ đề tối khi duyệt web ban đêm và hàng ngày.

@loading_please_wait
Đang tải, xin hãy đợi


#==== Top section ====

@on
Bật

@off
Tắt

@toggle_current_site
Tạo chủ đề cho trang

@setup_hotkey_toggle_site
Đặt phím tắt để 
tạo chủ đề cho trang

@toggle_extension
Bật/Tắt tiện ích

@setup_hotkey_toggle_extension
Đặt phím tắt để
bật/tắt tiện ích

@automation
Tự động hóa

@set_active_hours
Đặt giờ hoạt động

@set_location
Hoạt động sau khi mặt trời lặn

@longitude
Kinh độ

@latitude
Vĩ độ

@page_protected
Trang này được bảo vệ
bởi trình duyệt

@local_files_forbidden
Không cho phép truy cập
các tệp cục bộ

@page_in_dark_list
Nằm trong danh sách
đã ở chế độ tối

@system_dark_mode
Sử dụng chủ đề của hệ thống

@system_dark_mode_description
Hoạt động khi chế độ tối hệ thống bật

@system_dark_mode_chromium_warning
Tuỳ chọn có thể không hoạt động do
lỗi trong trình duyệt


#==== Filter ====

@filter
Bộ lọc

@mode
Chế độ

@dark
Tối

@light
Sáng

@brightness
Độ sáng

@contrast
Độ tương phản

@grayscale
Độ xám

@sepia
Độ ấm

@only_for
Chỉ dành cho

@only_for_description
Chỉ áp dụng cài đặt cho trang này


#==== Site list ====

@site_list
Danh sách

@invert_listed_only
Luôn bật cho

@not_invert_listed
Không bật cho

@add_site_to_list
Thêm trang vào danh sách

@setup_add_site_hotkey
Đặt phím tắt để thêm trang


#==== More settings ====

@more
Thêm

@select_font
Chọn phông chữ

@text_stroke
Viền chữ

@try_experimental_theme_engines
Hãy thử công cụ chủ đề **thử nghiệm**:
**Lọc+** giữ nguyên độ bão hòa màu, dùng GPU
**Chủ đề tĩnh** tạo một chủ đề nhanh, đơn giản
**Chủ đề động** phân tích màu sắc và hình ảnh

@engine_filter
Lọc

@engine_filter_plus
Lọc+

@engine_static
Tĩnh

@engine_dynamic
Động

@theme_generation_mode
Các chế độ tạo chủ đề

@custom_browser_theme_on
Tuỳ chỉnh

@custom_browser_theme_off
Mặc định

@change_browser_theme
Đổi chủ đề của trình duyệt


#==== Footer ====

@privacy
Riêng tư

@help
Hỗ trợ

@donate
Ủng hộ

@news
Tin tức

@read_more
Đọc thêm

@open_dev_tools
Công cụ


#==== Store listing ====

@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho trang web đang hoạt động. Dark Reader đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Chúng tôi có thể yêu cầu hỗ trợ phát triển của tiện ích bằng cách đóng góp. Bạn có thể đọc tin tức về Dark Reader ở giao diện chính. Có công cụ dành cho nhà phát triển.

Dark Reader không hiện quảng cáo hay gửi dữ liệu người dùng đi đâu. Nó hoàn toàn mã nguồn mở: https://github.com/darkreader/darkreader

Vô hiệu hóa các tiện ích tương tự trước khi cài đặt. Hãy tận hưởng chủ đề tối tuyệt đẹp nhé!
