@extension_description
Chế độ tối cho mọi trang web. Bảo vệ đôi mắt của bạn, sử dụng khi duyệt web vào ban đêm và hàng ngày.

@loading_please_wait
Đang tải, xin hãy đợi

@on
Bật

@off
Tắt

@toggle_current_site
Tạo chủ đề cho trang

@setup_hotkey_toggle_site
Đặt phím tắt để
tạo chủ đề cho trang

@toggle_extension
Bật/Tắt tiện ích

@setup_hotkey_toggle_extension
Đặt phím tắt để
bật/tắt tiện ích

@automation
Tự động hóa

@set_active_hours
Đặt giờ hoạt động

@set_location
Hoạt động sau khi mặt trời lặn tại vị trí

@longitude
Kinh độ

@latitude
Vĩ độ

@page_protected
Trang này được bảo vệ
bởi trình duyệt

@local_files_forbidden
Không cho phép truy cập
các tệp cục bộ

@page_in_dark_list
Nằm trong danh sách
đã ở chế độ tối

@system_dark_mode
Sử dụng chủ đề của hệ thống

@system_dark_mode_description
Hoạt động cùng chế độ tối của hệ thống

@system_dark_mode_chromium_warning
Tuỳ chọn có thể không hoạt động do
lỗi trong trình duyệt

@filter
Bộ lọc

@mode
Chế độ

@dark
Tối

@light
Sáng

@brightness
Độ sáng

@contrast
Độ tương phản

@grayscale
Độ xám

@sepia
Độ ấm

@only_for
Chỉ dành cho

@only_for_description
Chỉ áp dụng cài đặt cho trang này

@site_list
Danh sách

@invert_listed_only
Luôn bật với

@not_invert_listed
Không bật với

@add_site_to_list
Thêm trang vào danh sách

@setup_add_site_hotkey
Đặt phím tắt để thêm trang

@more
Thêm

@select_font
Chọn phông chữ

@text_stroke
Viền chữ

@try_experimental_theme_engines
Hãy thử công cụ chủ đề **thử nghiệm**:
**Lọc+** giữ nguyên độ bão hòa màu, dùng GPU
**Chủ đề tĩnh** tạo một chủ đề nhanh, đơn giản
**Chủ đề động** phân tích màu sắc và hình ảnh

@engine_filter
Lọc

@engine_filter_plus
Lọc+

@engine_static
Tĩnh

@engine_dynamic
Động

@theme_generation_mode
Các chế độ tạo chủ đề

@custom_browser_theme_on
Tuỳ chỉnh

@custom_browser_theme_off
Mặc định

@change_browser_theme
Đổi chủ đề của trình duyệt

@privacy
Riêng tư

@help
Hỗ trợ

@donate
Đóng góp

@we_celebrate_10_years
Dark Reader kỷ niệm 10 năm.
Hãy ủng hộ công việc của chúng tôi.

@pay_for_using
Trả tiền để sử dụng Dark Reader

@news
Tin tức

@read_more
Đọc thêm

@open_dev_tools
Công cụ

@mobile
Điện thoại di động

@learn_more
Tìm hiểu thêm

@mobile_text
Giảm mỏi mắt khi đọc trên điện thoại hoặc máy tính bảng.
Chỉ cần quét mã QR để cài đặt.

@all_settings
Tất cả các thiết lập

@version
Phiên bản

@configure_automation
Cài đặt tự động hóa

@auto_night_time
Tự động (ban đêm)

@auto_day_time
Tự động (ban ngày)

@auto_night_at_location
Tự động (ban đêm tại vị trí)

@auto_day_at_location
Tự động (ban ngày tại vị trí)

@auto_system_is_dark
Tự động (chế độ tối đang bật)

@auto_system_is_light
Tự động (chế độ sáng đang bật)

@click_to_set_shortcut
Bấm để đặt phím tắt

@extension_toggle_shortcut
Phím tắt để bật/tắt tiện ích

@configure_site_toggle
Cài đặt chuyển đổi chủ đề

@site_toggle
Đổi chủ đề của trang

@enabled_by_default
Được bật theo mặc định

@enable_for_all_sites_by_default
Được bật cho tất cả các trang web theo mặc định

@detect_dark_theme
Phát hiện chủ đề tối

@detect_website_dark_theme
Phát hiện chủ đề tối của trang

@dark_theme_detected
Đã phát hiện chủ đề tối

@website_toggle_shortcut
Phím tắt đổi chủ đề của trang

@support_out_work
Hỗ trợ công việc của chúng tôi

@mobile_link
Mobile Dark Reader có sẵn. Tìm hiểu thêm

@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho các trang web đang hoạt động. Dark Reader đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Chúng tôi có thể yêu cầu bạn đóng góp để hỗ trợ phát triển tiện ích. Bạn có thể đọc tin tức về Dark Reader qua giao diện chính. Có công cụ dành cho người dùng có kinh nghiệm.

Dark Reader không hiện quảng cáo hay gửi dữ liệu người dùng đi đâu. Nó hoàn toàn mã nguồn mở: https://github.com/darkreader/darkreader

Xóa các tiện ích tương tự trước khi cài đặt. Hãy tận hưởng chế độ tối tuyệt đẹp nhé!
