@extension_description
Chế độ tối cho mọi trang web. Bảo vệ đôi mắt của bạn, sử dụng khi duyệt web vào ban đêm và hàng ngày.

@loading_please_wait
Đang tải, xin hãy đợi

@on
Bật

@off
Tắt

@toggle_current_site
Tạo chủ đề cho trang

@setup_hotkey_toggle_site
Đặt phím tắt để
tạo chủ đề cho trang

@toggle_extension
Bật/Tắt tiện ích

@setup_hotkey_toggle_extension
Đặt phím tắt để
bật/tắt tiện ích

@automation
Tự động hóa

@set_active_hours
Đặt giờ hoạt động

@set_location
Hoạt động sau khi mặt trời lặn tại vị trí

@longitude
Kinh độ

@latitude
Vĩ độ

@page_protected
Trang này được bảo vệ
bởi trình duyệt

@local_files_forbidden
Không cho phép truy cập
các tệp cục bộ

@page_in_dark_list
Nằm trong danh sách
đã ở chế độ tối

@system_dark_mode
Sử dụng chủ đề của hệ thống

@system_dark_mode_description
Hoạt động cùng chế độ tối của hệ thống

@system_dark_mode_chromium_warning
Tuỳ chọn có thể không hoạt động do
lỗi trong trình duyệt

@filter
Bộ lọc

@mode
Chế độ

@dark
Tối

@light
Sáng

@brightness
Độ sáng

@contrast
Độ tương phản

@grayscale
Độ xám

@sepia
Độ ấm

@only_for
Chỉ dành cho

@only_for_description
Chỉ áp dụng cài đặt cho trang này

@site_list
Danh sách

@invert_listed_only
Luôn bật với

@not_invert_listed
Không bật với

@add_site_to_list
Thêm trang vào danh sách

@setup_add_site_hotkey
Đặt phím tắt để thêm trang

@more
Thêm

@select_font
Chọn phông chữ

@text_stroke
Viền chữ

@try_experimental_theme_engines
Hãy thử công cụ chủ đề **thử nghiệm**:
**Lọc+** giữ nguyên độ bão hòa màu, dùng GPU
**Chủ đề tĩnh** tạo một chủ đề nhanh, đơn giản
**Chủ đề động** phân tích màu sắc và hình ảnh

@engine_filter
Lọc

@engine_filter_plus
Lọc+

@engine_static
Tĩnh

@engine_dynamic
Động

@theme_generation_mode
Các chế độ tạo chủ đề

@custom_browser_theme_on
Tuỳ chỉnh

@custom_browser_theme_off
Mặc định

@change_browser_theme
Đổi chủ đề của trình duyệt

@privacy
Riêng tư

@help
Hỗ trợ

@donate
Đóng góp

@we_celebrate_10_years
Dark Reader kỷ niệm 10 năm.
Hãy ủng hộ công việc của chúng tôi.

@pay_for_using
Trả tiền để sử dụng Dark Reader

@news
Tin tức

@read_more
Đọc thêm

@open_dev_tools
Công cụ

@mobile
Điện thoại di động

@learn_more
Tìm hiểu thêm

@mobile_text
Giảm mỏi mắt khi đọc trên điện thoại hoặc máy tính bảng.
Chỉ cần quét mã QR để cài đặt.

@all_settings
Tất cả các thiết lập

@version
Phiên bản

@configure_automation
Cài đặt tự động hóa

@auto_night_time
Tự động (ban đêm)

@auto_day_time
Tự động (ban ngày)

@auto_night_at_location
Tự động (ban đêm tại vị trí)

@auto_day_at_location
Tự động (ban ngày tại vị trí)

@auto_system_is_dark
Tự động (chế độ tối đang bật)

@auto_system_is_light
Tự động (chế độ sáng đang bật)

@click_to_set_shortcut
Bấm để đặt phím tắt

@extension_toggle_shortcut
Phím tắt để bật/tắt tiện ích

@configure_site_toggle
Cài đặt chuyển đổi chủ đề

@site_toggle
Đổi chủ đề của trang

@enabled_by_default
Được bật theo mặc định

@enable_for_all_sites_by_default
Được bật cho tất cả các trang web theo mặc định

@detect_dark_theme
Phát hiện chủ đề tối

@detect_website_dark_theme
Phát hiện chủ đề tối của trang

@dark_theme_detected
Đã phát hiện chủ đề tối

@website_toggle_shortcut
Phím tắt đổi chủ đề của trang

@support_out_work
Hỗ trợ công việc của chúng tôi

@mobile_link
Mobile Dark Reader có sẵn. Tìm hiểu thêm

@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho các trang web đang hoạt động. Dark Reader đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Chúng tôi có thể yêu cầu bạn đóng góp để hỗ trợ phát triển tiện ích. Bạn có thể đọc tin tức về Dark Reader qua giao diện chính. Có công cụ dành cho người dùng có kinh nghiệm.

Dark Reader không hiện quảng cáo hay gửi dữ liệu người dùng đi đâu. Nó hoàn toàn mã nguồn mở: https://github.com/darkreader/darkreader

Xóa các tiện ích tương tự trước khi cài đặt. Hãy tận hưởng chế độ tối tuyệt đẹp nhé!

@disable_for_all_sites_by_default
Tắt cho tất cả các trang theo mặc định

@will_override_website_dark_theme
Sẽ ghi đè chủ đề tối của trang web

@disabled_for_pdf_documents
Tắt cho tài liệu PDF

@custom_browser_theme_active
Chủ đề trình duyệt tùy chỉnh đang hoạt động

@default_browser_theme_active
Chủ đề trình duyệt mặc định đang hoạt động

@disable_on_these_sites
Tắt trên các trang này

@enable_on_these_sites
Bật trên các trang này

@type_site_press_enter
Nhập tên miền và nhấn Enter

@clear_site_list
Xóa danh sách trang

@remove_all_sites
Xóa tất cả trang khỏi danh sách

@clear_site_list_confirm
Bạn có chắc chắn muốn xóa tất cả các trang khỏi danh sách? Bạn sẽ không thể khôi phục chúng sau này

@toggle_on_off
Bật/Tắt

@toggle_dark_light
Chuyển đổi tối/sáng

@automation_behavior
Hành vi tự động hóa

@enable_disable_extension
Bật/tắt tiện ích

@toggle_current_website
Chuyển đổi trang web hiện tại

@get_activation_code
Nhận mã kích hoạt

@email_placeholder
Email

@code_placeholder
Mã

@activate
Kích hoạt

@activate_the_code
Kích hoạt mã

@enable_settings_sync
Bật đồng bộ cài đặt

@synchronized_across_devices
Đồng bộ trên các thiết bị

@synchronize_site_fixes
Đồng bộ các bản sửa lỗi trang

@load_latest_site_fixes
Tải các bản sửa lỗi trang mới nhất

@enable_on_restricted_pages
Bật trên các trang bị hạn chế

@disabled_for_web_store
Tắt cho cửa hàng web và các trang khác

@use_context_menus
Sử dụng menu ngữ cảnh

@context_menu_disabled
Tích hợp menu ngữ cảnh bị tắt

@import_settings
Nhập cài đặt

@open_settings_json
Mở cài đặt từ tệp JSON

@export_settings
Xuất cài đặt

@save_settings_json
Lưu cài đặt vào tệp JSON

@reset_settings
Đặt lại cài đặt

@restore_settings_defaults
Khôi phục cài đặt mặc định

@devtools_button
Công cụ phát triển

@devtools_description
Công cụ phát triển để gỡ lỗi

@privacy_policy
Chính sách bảo mật

@terms_of_use
Điều khoản sử dụng

@reset_settings_confirm
Bạn có chắc chắn muốn xóa tất cả cài đặt? Bạn sẽ không thể khôi phục chúng sau này

@make_fix_for_website
Tạo bản sửa lỗi cho trang web

@developer_tools_title
Công cụ phát triển

@dynamic_theme_editor
Trình chỉnh sửa chủ đề động

@static_theme_editor
Trình chỉnh sửa chủ đề tĩnh

@inversion_fix_editor
Trình chỉnh sửa sửa lỗi đảo ngược

@advanced
Nâng cao

@full_editor
Trình chỉnh sửa đầy đủ

@per_site_editor
Trình chỉnh sửa theo trang

@delete
Xóa

@reset_changes
Đặt lại thay đổi

@apply
Áp dụng

@enable_design_prototype
Bật nguyên mẫu thiết kế

@switch_to_old_design
Chuyển sang thiết kế cũ

@preview_new_design
Xem trước thiết kế mới
