@extension_description
为每个网站启用暗色模式。呵护双眼，使用暗色主题进行夜间和日常浏览。

@loading_please_wait
正在加载，请稍候

@on
开启

@off
关闭

@toggle_current_site
切换当前网站

@setup_hotkey_toggle_site
设置当前网站
切换快捷键

@toggle_extension
切换扩展

@setup_hotkey_toggle_extension
设置扩展
切换快捷键

@automation
自动化

@set_active_hours
设置活动时间

@set_location
在此位置日落后激活

@longitude
经度

@latitude
纬度

@page_protected
此页面受到
浏览器保护

@local_files_forbidden
不允许访问
本地文件

@page_in_dark_list
此网站在全局
暗色列表中

@system_dark_mode
使用系统颜色方案

@system_dark_mode_description
当系统暗色模式开启时激活

@system_dark_mode_chromium_warning
由于浏览器的错误，
此选项可能无法正常工作

@filter
滤镜

@mode
模式

@dark
暗色

@light
亮色

@brightness
亮度

@contrast
对比度

@grayscale
灰度

@sepia
棕褐色

@only_for
仅用于

@only_for_description
仅将设置应用于当前网站

@site_list
网站列表

@invert_listed_only
仅反转列表中的

@not_invert_listed
不反转列表中的

@add_site_to_list
将网站添加到列表

@setup_add_site_hotkey
设置添加网站的快捷键

@more
更多

@select_font
选择字体

@text_stroke
文字描边

@try_experimental_theme_engines
尝试**实验性**主题引擎：
**滤镜+** 保留颜色饱和度，使用 GPU
**静态主题** 生成简单快速的主题
**动态主题** 分析颜色和图像

@engine_filter
滤镜

@engine_filter_plus
滤镜+

@engine_static
静态

@engine_dynamic
动态

@theme_generation_mode
主题生成模式

@custom_browser_theme_on
自定义

@custom_browser_theme_off
默认

@change_browser_theme
更改浏览器主题

@privacy
隐私

@help
帮助

@donate
捐赠

@we_celebrate_10_years
Dark Reader 庆祝 10 周年。
请支持我们的工作。

@pay_for_using
为使用 Dark Reader 付费

@news
新闻

@read_more
阅读更多

@open_dev_tools
开发工具

@mobile
移动端

@learn_more
了解更多

@mobile_text
在手机或平板电脑上阅读时减少眼部疲劳。
只需扫描二维码即可安装。

@all_settings
所有设置

@version
版本

@configure_automation
配置自动化

@auto_night_time
自动（夜间）

@auto_day_time
自动（白天）

@auto_night_at_location
自动（当地夜间）

@auto_day_at_location
自动（当地白天）

@auto_system_is_dark
自动（系统为暗色）

@auto_system_is_light
自动（系统为亮色）

@click_to_set_shortcut
点击设置快捷键

@extension_toggle_shortcut
扩展开关键盘快捷键

@configure_site_toggle
配置网站切换

@site_toggle
网站切换

@enabled_by_default
默认启用

@enable_for_all_sites_by_default
默认为所有网站启用

@detect_dark_theme
检测暗色主题

@detect_website_dark_theme
检测网站自身的暗色主题

@dark_theme_detected
检测到暗色主题

@website_toggle_shortcut
网站切换键盘快捷键

@support_out_work
支持我们的工作

@mobile_link
移动版 Dark Reader 已推出。了解更多

@store_listing
这款护眼扩展通过为网站动态创建暗色主题来启用夜间模式。Dark Reader 会反转明亮的颜色，使其呈现高对比度效果，便于夜间阅读。

您可以调整亮度、对比度、棕褐色滤镜、暗色模式、字体设置和忽略列表。

我们可能会请您通过捐赠来支持应用的开发。您可能会在设置弹窗中看到有关 Dark Reader 的新闻。为有经验的用户提供了开发者工具。

Dark Reader 不显示广告，也不会向任何地方发送用户数据。它完全开源：https://github.com/darkreader/darkreader

安装前请禁用类似的扩展。祝您浏览愉快！
