@extension_description
适用于所有网站的暗色主题。关爱眼睛，就使用 Dark Reader 进行日常浏览。

@loading_please_wait
加载中，请稍候

@on
开启

@off
关闭

@toggle_current_site
切换当前网站

@setup_hotkey_toggle_site
设置当前网站的
切换快捷键

@toggle_extension
开关扩展

@setup_hotkey_toggle_extension
设置扩展的
开关快捷键

@automation
自动化

@set_active_hours
设置使用时段

@set_location
当地日落之后激活

@longitude
经度

@latitude
纬度

@page_protected
此页面受
浏览器保护

@local_files_forbidden
不允许访问
本地文件

@page_in_dark_list
此网站位于全局
暗色列表中

@system_dark_mode
使用系统的配色方案

@system_dark_mode_description
系统暗色模式开启时激活

@system_dark_mode_chromium_warning
该选项可能由于您浏览器中
的一个bug而无法生效

@filter
滤镜

@mode
模式

@dark
暗色

@light
亮色

@brightness
亮度

@contrast
对比度

@grayscale
灰度

@sepia
棕褐色滤镜

@only_for
仅用于

@only_for_description
仅将设置应用于当前网站

@site_list
网站列表

@invert_listed_only
反色列表

@not_invert_listed
不反色列表

@add_site_to_list
将网站添加到列表

@setup_add_site_hotkey
设置添加网站的快捷键

@more
更多

@select_font
选择字体

@text_stroke
文字描边

@try_experimental_theme_engines
试用**实验**主题引擎：
**滤镜+**保留颜色饱和度，使用 GPU
**静态主题**快速生成一个简单的主题
**动态主题**分析颜色和图像

@engine_filter
过滤

@engine_filter_plus
过滤+

@engine_static
静态

@engine_dynamic
动态

@theme_generation_mode
主题生成模式

@custom_browser_theme_on
自定义

@custom_browser_theme_off
默认

@change_browser_theme
更改浏览器主题

@privacy
隐私政策

@help
帮助

@donate
捐赠

@news
新闻

@read_more
阅读更多

@open_dev_tools
开发者工具

@configure_automation
配置自动化

@auto_night_time
自动（夜间）

@auto_day_time
自动（白天）

@auto_night_at_location
自动（当地夜间）

@auto_day_at_location
自动（当地白天）

@auto_system_is_dark
自动（系统暗色）

@auto_system_is_light
自动（系统亮色）

@click_to_set_shortcut
点击设置快捷方式

@extension_toggle_shortcut
扩展开/关键盘快捷键

@configure_site_toggle
配置网站切换

@site_toggle
站点切换

@enabled_by_default
默认启用

@enable_for_all_sites_by_default
默认对所有网站启用

@detect_dark_theme
检测暗色主题

@detect_website_dark_theme
检测网站自己的深色主题

@dark_theme_detected
检测到深色主题

@website_toggle_shortcut
网站切换键盘快捷键

@support_out_work
支持我们的工作

@mobile_link
Dark Reader 手机端可用。了解更多

@store_listing
这是一个护眼扩展程序，通过实时生成暗色主题，为每一个网站启用夜间模式。 Dark Reader 通过反转明亮的颜色，使网页内容具有高对比度并易于在夜间阅读。

您可以调整亮度、对比度，应用棕褐色滤镜、暗色模式，设置字体和忽略的网站列表。

我们可能会要求您通过捐款来支持应用程序的开发。您可能会在设置弹出窗口中看到有关 Dark Reader 的新闻。有针对经验丰富的用户的开发人员工具。

Dark Reader 无广告，也不会向任何地方发送用户的数据。它完全开源 https://github.com/darkreader/darkreader

安装前请禁用类似的扩展。冲浪愉快！
