@extension_description
适用于任何网站的黑暗主题。关爱眼睛，就使用 Dark Reader 进行日常浏览。

@loading_please_wait
加载中，请稍候


#==== Top section ====

@on
开启

@off
关闭

@toggle_current_site
切换当前网站

@setup_hotkey_toggle_site
设置当前网站的
切换快捷键

@toggle_extension
开关扩展

@setup_hotkey_toggle_extension
设置扩展的
开关快捷键

@automation
自动化

@set_active_hours
设置使用时段

@set_location
日落位置之后激活

@longitude
经度

@latitude
纬度

@page_protected
此页面受
浏览器保护

@page_in_dark_list
此网站位于全局
黑暗列表中

@system_dark_mode
使用系统的配色方案

@system_dark_mode_description
系统黑暗模式开启时激活


#==== Filter ====

@filter
滤镜

@mode
模式

@dark
黑暗

@light
明亮

@brightness
亮度

@contrast
对比度

@grayscale
灰度

@sepia
棕褐色滤镜

@only_for
仅用于

@only_for_description
仅将设置应用于当前网站


#==== Site list ====

@site_list
网站列表

@invert_listed_only
反色列表

@not_invert_listed
不反色列表

@add_site_to_list
将网站添加到列表

@setup_add_site_hotkey
设置添加网站的快捷键


#==== More settings ====

@more
更多

@select_font
选择字体

@text_stroke
文字描边

@try_experimental_theme_engines
试用**实验**主题引擎：
**滤镜+**保留颜色饱和度，使用 GPU
**静态主题**快速生成一个简单的主题
**动态主题**分析颜色和图像

@engine_filter
过滤

@engine_filter_plus
过滤+

@engine_static
静态

@engine_dynamic
动态

@theme_generation_mode
主题生成模式

@custom_browser_theme_on
自定义

@custom_browser_theme_off
默认

@change_browser_theme
更改浏览器主题


#==== Footer ====

@privacy
隐私政策

@help
帮助

@donate
捐赠

@news
新闻

@read_more
阅读更多

@open_dev_tools
开发者工具


#==== Store listing ====

@store_listing
这是一个护眼扩展程序，通过实时生成黑暗主题，为每一个网站启用夜间模式。 Dark Reader 反转明亮的颜色，使网页内容具有高对比度并易于在夜间阅读。

您可以调整亮度、对比度，应用棕褐色滤镜、黑暗模式，设置字体和忽略的网站列表。

Dark Reader 无广告，也不会向任何地方发送用户的数据。它完全开源 https://github.com/darkreader/darkreader

安装前请禁用类似的扩展。冲浪愉快！
