@extension_description
為每個網站提供深色模式。保護您的眼睛，使用 Dark Reader 進行夜間和日間瀏覽。

@loading_please_wait
載入中，請稍候

@on
啟用

@off
停用

@toggle_current_site
切換目前網站的設定

@setup_hotkey_toggle_site
設定所在網站的
切換快捷鍵

@toggle_extension
切換擴充套件

@setup_hotkey_toggle_extension
設定擴充套件的
開關快捷鍵

@automation
自動化

@set_active_hours
設定啟用時間

@set_location
日落後啟動

@longitude
經度

@latitude
緯度

@page_protected
此頁面受
瀏覽器保護

@local_files_forbidden
禁止存取
本機檔案

@page_in_dark_list
此網站在全域深
色模式列表中

@system_dark_mode
使用系統設定

@system_dark_mode_description
當系統啟用深色模式時，同步啟用

@system_dark_mode_chromium_warning
由於您的瀏覽器發生錯誤，
此選項可能無效

@filter
濾鏡

@mode
模式

@dark
深色

@light
淺色

@brightness
亮度

@contrast
對比度

@grayscale
灰階

@sepia
棕色濾鏡

@only_for
僅適用於

@only_for_description
僅將設定套用於所在網站

@site_list
網站列表

@invert_listed_only
僅反轉列出的網站

@not_invert_listed
不反轉列出的網站

@add_site_to_list
將網站新增到列表

@setup_add_site_hotkey
設定新增網站的快捷鍵

@more
更多選項

@select_font
選擇字型

@text_stroke
文字描邊

@try_experimental_theme_engines
試用 **實驗性** 的主題引擎：
**濾鏡+** 保留顏色飽和度，將會使用 GPU
**靜態主題** 生成簡單快速的主題
**動態主題** 分析顏色和影象

@engine_filter
濾鏡

@engine_filter_plus
濾鏡+

@engine_static
靜態

@engine_dynamic
動態

@theme_generation_mode
主題產生模式

@custom_browser_theme_on
自訂

@custom_browser_theme_off
預設

@change_browser_theme
更改瀏覽器主題

@privacy
隱私權政策

@help
說明

@donate
贊助

@we_celebrate_10_years
慶祝 Dark Reader 成立十週年。
請支持我們的工作。

@pay_for_using
支付 DARK READER 使用費

@news
最新資訊

@read_more
閱讀更多

@open_dev_tools
開發者工具

@mobile
移動的

@learn_more
了解更多

@mobile_text
在手機或平板電腦上閱讀時減輕眼睛疲勞。
只需掃描二維碼即可安裝。

@all_settings
所有設定

@version
版本

@configure_automation
設定自動化

@auto_night_time
自動（夜間）

@auto_day_time
自動（白天）

@auto_night_at_location
自動（地點為夜間）

@auto_day_at_location
自動（地點為白天）

@auto_system_is_dark
自動（系統為深色模式）

@auto_system_is_light
自動（系統為淺色模式）

@click_to_set_shortcut
點選以設定快捷鍵

@extension_toggle_shortcut
擴充套件開/關鍵盤快捷鍵

@configure_site_toggle
設定網站切換

@site_toggle
網站切換

@enabled_by_default
預設啟用

@enable_for_all_sites_by_default
預設對所有網站啟用

@detect_dark_theme
偵測深色主題

@detect_website_dark_theme
偵測網站自己的深色主題

@dark_theme_detected
偵測到深色主題

@website_toggle_shortcut
網站切換鍵盤快捷鍵

@support_out_work
支持我們的工作

@mobile_link
行動版 Dark Reader 已上線，了解更多

@store_listing
這是一款護眼擴充功能，為每個網站即時產生深色主題，開啟夜間模式。Dark Reader 透過智慧反轉亮色調，讓網頁呈現高對比度效果，夜間閱讀更舒適。

您可以自由調節亮度、對比度，套用棕褐色濾鏡或深色模式，自訂字型並設定網站白名單。

我們可能會邀請您透過捐贈支援應用程式開發。您可能會在設定面板中看到 Dark Reader 的最新動態。我們還為進階使用者提供了開發者工具。

Dark Reader 完全免費無廣告，不會收集或傳送任何使用者資料。專案完全開源：https://github.com/darkreader/darkreader

安裝前請先停用其他類似擴充功能。祝您瀏覽愉快！

@disable_on_these_sites
在這些網站上停用

@enable_on_these_sites
在這些網站上啟用

@type_site_press_enter
輸入網域並按 Enter

@clear_site_list
清空網站列表

@remove_all_sites
從列表中移除全部網站

@clear_site_list_confirm
確定要清空網站清單嗎？此操作無法復原。

@toggle_on_off
開關

@toggle_dark_light
深色/淺色切換

@automation_behavior
自動化行為

@enable_disable_extension
啟用/停用擴充功能

@toggle_current_website
切換當前網站

@get_activation_code
取得啟用碼

@email_placeholder
電子郵件

@code_placeholder
啟用碼

@activate
啟用

@activate_the_code
啟用此代碼

@enable_settings_sync
啟用設定同步

@synchronized_across_devices
跨裝置同步

@synchronize_site_fixes
同步網站修復

@load_latest_site_fixes
載入最新網站修復…

@enable_on_restricted_pages
在受限頁面啟用

@disabled_for_web_store
在應用程式商店等頁面被停用

@use_context_menus
使用右鍵選單

@context_menu_disabled
未啟用右鍵選單整合

@import_settings
匯入設定

@open_settings_json
從 JSON 檔匯入設定

@export_settings
匯出設定

@save_settings_json
將設定儲存至 JSON

@reset_settings
重設設定

@restore_settings_defaults
恢復預設設定

@devtools_button
開發者工具

@devtools_description
用於除錯的開發者工具

@privacy_policy
隱私政策

@terms_of_use
使用條款

@reset_settings_confirm
確定要重置所有設定嗎？此操作無法復原。

@make_fix_for_website
為網站製作修復

@developer_tools_title
開發者工具

@dynamic_theme_editor
動態主題編輯器

@static_theme_editor
靜態主題編輯器

@inversion_fix_editor
反色修復編輯器

@advanced
進階

@full_editor
完整編輯器

@per_site_editor
單站點編輯器

@delete
刪除

@reset_changes
重置變更

@apply
套用

@enable_design_prototype
啟用設計原型

@switch_to_old_design
切換到舊版設計

@preview_new_design
預覽新設計
