@extension_description
黑色主題，適用於任何網站。關愛眼睛，使用Dark Reader進行夜間和日間瀏覽。

@loading_please_wait
載入中，請稍候


#==== Top section ====

@on
啟用

@off
停用

@toggle_current_site
切換目前網站的設定

@setup_hotkey_toggle_site
設定所在網站的
切換快捷鍵

@toggle_extension
開關擴充套件

@setup_hotkey_toggle_extension
設定擴充套件的
開關快捷鍵

@automation
自動化

@set_active_hours
設定啟用時間

@set_location
日落後啟動

@longitude
經度

@latitude
緯度

@page_protected
此頁面受
瀏覽器保護

@page_in_dark_list
此網站位於全域
深色主題列表中

@system_dark_mode
使用系統配色方案

@system_dark_mode_description
系統打開深色模式時啟用


#==== Filter ====

@filter
濾鏡

@mode
模式

@dark
深色

@light
淺色

@brightness
亮度

@contrast
對比度

@grayscale
灰度

@sepia
棕褐色濾鏡

@only_for
僅適用於

@only_for_description
僅將設定套用於所在網站


#==== Site list ====

@site_list
網站列表

@invert_listed_only
反轉顏色列表

@not_invert_listed
不反轉顏色列表

@add_site_to_list
將網站新增到列表

@setup_add_site_hotkey
設定新增網站的快捷鍵


#==== More settings ====

@more
更多

@select_font
選擇字體

@text_stroke
文字描邊

@try_experimental_theme_engines
試用 **實驗** 主題引擎：
**濾鏡+** 保留顏色飽和度，將會使用GPU
**靜態主題** 生成一個簡單快速的主題
**動態主題** 分析顏色和圖像

@engine_filter
過濾

@engine_filter_plus
過濾+

@engine_static
靜態

@engine_dynamic
動態

@theme_generation_mode
主題產生模式

@custom_browser_theme_on
自定主題

@custom_browser_theme_off
關閉自訂主題

@change_browser_theme
更改瀏覽器主題


#==== Footer ====

@privacy
隱私政策

@help
說明

@donate
贊助

@news
新聞

@read_more
閱讀更多

@open_dev_tools
開發者工具


#==== Store listing ====

@store_listing
這是一個護眼擴充套件，通過即時產深深色主題，為每一個網站啟用夜間模式。 Dark Reader 反轉明亮的顏色，使其網頁內容具有高對比度並且易於在夜間閱讀。

您可以調整亮度，對比度，套用棕褐色濾鏡，深色模式，設定字體和忽略的網站列表。

Dark Reader 沒有廣告，也不會在任何地方發送用戶的資料。它完全開源於 https://github.com/darkreader/darkreader

安裝前請先停止使用類似的擴充套件，以避免衝突。瀏覽愉快！
