@extension_description
為每個網站提供深色模式。保護您的眼睛，使用 Dark Reader 進行夜間和日間瀏覽。

@loading_please_wait
載入中，請稍候

@on
啟用

@off
停用

@toggle_current_site
切換目前網站

@setup_hotkey_toggle_site
設定所在網站的
切換快捷鍵

@toggle_extension
切換擴充套件

@setup_hotkey_toggle_extension
設定擴充套件的
開關快捷鍵

@automation
自動化

@set_active_hours
設定啟用時間

@set_location
日落後啟動

@longitude
經度

@latitude
緯度

@page_protected
此頁面受
瀏覽器保護

@local_files_forbidden
禁止存取
本機檔案

@page_in_dark_list
此網站在全域深
色模式列表中

@system_dark_mode
使用系統設定

@system_dark_mode_description
當系統啟用深色模式時，同步啟用

@system_dark_mode_chromium_warning
由於您的瀏覽器發生錯誤，
此選項可能無效

@filter
濾鏡

@mode
模式

@dark
深色

@light
淺色

@brightness
亮度

@contrast
對比度

@grayscale
灰階

@sepia
棕色濾鏡

@only_for
僅適用於

@only_for_description
僅將設定套用於所在網站

@site_list
網站列表

@invert_listed_only
僅反轉列出的網站

@not_invert_listed
不反轉列出的網站

@add_site_to_list
將網站新增到列表

@setup_add_site_hotkey
設定新增網站的快捷鍵

@more
更多選項

@select_font
選擇字型

@text_stroke
文字描邊

@try_experimental_theme_engines
試用 **實驗性** 的主題引擎：
**濾鏡+** 保留顏色飽和度，將會使用 GPU
**靜態主題** 生成簡單快速的主題
**動態主題** 分析顏色和影象

@engine_filter
濾鏡

@engine_filter_plus
濾鏡+

@engine_static
靜態

@engine_dynamic
動態

@theme_generation_mode
主題產生模式

@custom_browser_theme_on
自訂

@custom_browser_theme_off
預設

@change_browser_theme
更改瀏覽器主題

@privacy
隱私權政策

@help
說明

@donate
贊助

@we_celebrate_10_years
慶祝 Dark Reader 成立十週年。
請支持我們的工作。

@pay_for_using
支付 DARK READER 使用費

@news
最新資訊

@read_more
閱讀更多

@open_dev_tools
開發者工具

@mobile
移動的

@learn_more
了解更多

@mobile_text
在手機或平板電腦上閱讀時減輕眼睛疲勞。
只需掃描二維碼即可安裝。

@all_settings
所有設定

@version
版本

@configure_automation
設定自動化

@auto_night_time
自動（夜間）

@auto_day_time
自動（白天）

@auto_night_at_location
自動（地點為夜間）

@auto_day_at_location
自動（地點為白天）

@auto_system_is_dark
自動（系統為深色模式）

@auto_system_is_light
自動（系統為淺色模式）

@click_to_set_shortcut
點選以設定快捷鍵

@extension_toggle_shortcut
擴充套件開/關鍵盤快捷鍵

@configure_site_toggle
設定網站切換

@site_toggle
網站切換

@enabled_by_default
預設啟用

@enable_for_all_sites_by_default
預設對所有網站啟用

@detect_dark_theme
偵測深色主題

@detect_website_dark_theme
偵測網站自己的深色主題

@dark_theme_detected
偵測到深色主題

@website_toggle_shortcut
網站切換鍵盤快捷鍵

@support_out_work
支持我們的工作

@mobile_link
行動版 Dark Reader 已上線，了解更多

@store_listing
這是一款護眼擴充套件，透過即時產生深色主題，為各式網站啟用夜間模式。Dark Reader 反轉明亮的顏色、提高對比，讓您在夜間也能舒適地閱讀。

您可以調整亮度、對比、棕色濾鏡、深色模式、字型設定和忽略的網站清單。

我們可能會邀請您透過贊助支持此應用程式的開發。您可以在設定選單中看到有關 Dark Reader 的最新資訊。對於經驗豐富的使用者，我們也提供開發者工具供您使用。

Dark Reader 沒有廣告，也不會蒐集使用者資料。它完全開源在 GitHub 上： https://github.com/darkreader/darkreader

安裝前請先停用其他類似的擴充套件，以避免發生衝突。祝您瀏覽愉快！
