@extension_description
黑暗主题为每一个网站。照顾你的眼睛，使用Dark Reader进行夜间和日常浏览。

@loading_please_wait
加载请稍候

#==== Top section ====

@on
打开

@off
关掉

@toggle
切换

@toggle_current_site
切换当前网站

@setup_hotkey_toggle_site
设置当前网站
切换热键

@toggle_extension
切换扩展名

@setup_hotkey_toggle_extension
设置分机
切换热键

@page_protected
此页面受
浏览器保护

@page_in_dark_list
此网站位于全球
黑名单中


#==== Filter ====

@filter
过滤

@mode
模式

@dark
黑暗

@light
光

@brightness
亮度

@contrast
对比

@grayscale
灰度

@sepia
乌贼

@apply_to
仅适用于

@apply_to_description
仅将设置应用于当前网站


#==== Site list ====

@site_list
网站列表

@invert_listed_only
仅列出反转列表

@not_invert_listed
不反转列出

@add_site_to_list
将网站添加到列表

@setup_add_site_hotkey
设置一个用于添加网站的热键


#==== More settings ====

@more
更多

@select_font
选择一种字体

@text_stroke
文字描边

@try_experimental_theme_engines
试用**实验**主题引擎：
**滤镜+**保留颜色饱和度，使用GPU
**静态主题**生成一个简单的快速主题
**动态主题**分析颜色和图像

@engine_filter
过滤

@engine_filter_plus
过滤+

@engine_static
静态

@engine_dynamic
动态

@theme_generation_mode
主题生成模式


#==== Footer ====

@privacy
隐私政策

@help
帮助

@donate
捐献

@news
新闻

@read_more
阅读更多

@open_dev_tools
开发者工具


#==== Store listing ====

@store_listing
这种眼睛护理扩展使夜间模式为网站创建黑暗的设计。 Dark Reader反转明亮的颜色，使其具有高对比度并且在夜间易于阅读。

您可以调整亮度，对比度，棕褐色滤镜，黑暗模式，字体设置和忽略列表。

Dark Reader不会显示广告，也不会在任何地方发送用户的数据。它完全开放源代码 https://github.com/darkreader/darkreader

在安装之前禁用类似的扩展。享有观看！
