@extension_description
黑暗主題為每一個網站。照顧你的眼睛，使用Dark Reader進行夜間和日常瀏覽。

@loading_please_wait
加載請稍候

#==== Top section ====

@on
打開

@off
關掉

@toggle
切換

@toggle_current_site
切換當前網站

@setup_hotkey_toggle_site
設置當前網站
切換熱鍵

@toggle_extension
切換擴展名

@setup_hotkey_toggle_extension
設置分機
切換熱鍵

@page_protected
此頁面受
瀏覽器保護

@page_in_dark_list
此網站位於全球
黑名單中


#==== Filter ====

@filter
過濾

@mode
模式

@dark
黑暗

@light
光

@brightness
亮度

@contrast
對比

@grayscale
灰度

@sepia
烏賊

@apply_to
僅適用於

@apply_to_description
僅將設置應用於當前網站


#==== Site list ====

@site_list
網站列表

@invert_listed_only
僅列出反轉列表

@not_invert_listed
不反轉列出

@add_site_to_list
將網站添加到列表

@setup_add_site_hotkey
設置一個用於添加網站的熱鍵


#==== More settings ====

@more
更多

@select_font
選擇一種字體

@text_stroke
文字描邊

@try_experimental_theme_engines
試用**實驗**主題引擎：
**濾鏡+**保留顏色飽和度，使用GPU
**靜態主題**生成一個簡單的快速主題
**動態主題**分析顏色和圖像

@engine_filter
過濾

@engine_filter_plus
過濾+

@engine_static
靜態

@engine_dynamic
動態

@theme_generation_mode
主題生成模式

@custom_browser_theme_on
已變更

@custom_browser_theme_off
默認

@change_browser_theme
更改瀏覽器主題


#==== Footer ====

@privacy
隱私政策

@help
說明

@donate
捐獻

@news
新聞

@read_more
閱讀更多

@open_dev_tools
開發者工具


#==== Store listing ====

@store_listing
這種眼睛護理擴展使夜間模式為網站創建黑暗的設計。 Dark Reader反轉明亮的顏色，使其具有高對比度並且在夜間易於閱讀。

您可以調整亮度，對比度，棕褐色濾鏡，黑暗模式，字體設置和忽略列表。

Dark Reader不會顯示廣告，也不會在任何地方發送用戶的數據。它完全開放源代碼 https://github.com/darkreader/darkreader

在安裝之前禁用類似的擴展。享有觀看！
