@extension_description
黑色主題，適用於任何網站。關愛眼睛，使用Dark Reader進行夜間和日間瀏覽。

@loading_please_wait
加載中，請稍候


#==== Top section ====

@on
開啟

@off
關閉

@toggle_current_site
切換所在網站

@setup_hotkey_toggle_site
設置所在網站的
切換快捷鍵

@toggle_extension
開關擴展

@setup_hotkey_toggle_extension
設置擴展的
開關快捷鍵

@automation
自動化

@set_active_hours
設定使用時間

@set_location
輸入您在日落時自動激活的大致位置

@longitude
經度

@latitude
緯度

@page_protected
此頁面受
瀏覽器保護

@page_in_dark_list
此網站位於全局
黑暗列表中

@system_dark_mode
使用系統配色方案

@system_dark_mode_description
系統暗設置模式打開時激活


#==== Filter ====

@filter
濾鏡

@mode
模式

@dark
黑暗

@light
明亮

@brightness
亮度

@contrast
對比度

@grayscale
灰度

@sepia
棕褐色濾鏡

@only_for
僅適用於

@only_for_description
僅將設置應用於所在網站


#==== Site list ====

@site_list
網站列表

@invert_listed_only
反色列表

@not_invert_listed
不反色列表

@add_site_to_list
將網站添加到列表

@setup_add_site_hotkey
設置添加網站的快捷鍵


#==== More settings ====

@more
更多

@select_font
選擇字體

@text_stroke
文字描邊

@try_experimental_theme_engines
試用 **實驗** 主題引擎：
**濾鏡+** 保留顏色飽和度，將會使用GPU
**靜態主題** 生成一個簡單快速的主題
**動態主題** 分析顏色和圖像

@engine_filter
過濾

@engine_filter_plus
過濾+

@engine_static
靜態

@engine_dynamic
動態

@theme_generation_mode
主題生成模式

@custom_browser_theme_on
自定主題

@custom_browser_theme_off
關閉自訂主題

@change_browser_theme
更改瀏覽器主題


#==== Footer ====

@privacy
隱私政策

@help
說明

@donate
捐贈

@news
新聞

@read_more
閱讀更多

@open_dev_tools
開發者工具


#==== Store listing ====

@store_listing
這是一個護眼擴展程序，通過實時生成黑色主題，為每一個網站啟用夜間模式。 Dark Reader反轉明亮的顏色，使其網頁內容具有高對比度並且易於在夜間閱讀。

您可以調整亮度，對比度，應用棕褐色濾鏡，黑暗模式，設置字體和忽略的網站列表。

Dark Reader 沒有廣告，也不會在任何地方發送用戶的數據。它完全開源於 https://github.com/darkreader/darkreader

安裝前停止使用類似的擴展，以避免衝突。瀏覽愉快！
