@store_listing
이 눈 건강을 위한 확장 기능은 실시간으로 각 웹사이트에 다크 테마를 적용해 야간 모드를 가능케 합니다. 다크 리더는 밝은 색상을 반전해 고대비로 만들어 밤에 읽기가 쉽도록 만듭니다.

밝기, 대비, 세피아 필터, 다크 모드, 폰트와 예외 목록을 설정할 수 있습니다.

Dark Reader Plus는 유료로 사용자 정의 가능한 색상 테마를 갖춘 프리미엄 사용자 인터페이스를 제공합니다.

이것은 오리지널 Dark Reader 확장 프로그램입니다. 2014년부터 Dark Reader는 최신 웹 기술과 함께 지속적으로 발전하여 밝은 빛에 민감한 사용자를 위해 빠르고 안정적인 다크 모드 지원을 제공해 왔습니다.

이 확장 프로그램을 설치하면 다음 이용 약관에 동의하는 것으로 간주됩니다. https://darkreader.org/terms/

충돌을 방지하기 위해 유사한 확장 프로그램을 비활성화해 주세요. 즐거운 웹 서핑 되세요!
