@store_listing
Denne øjenplejeudvidelse aktiverer nattilstand ved at skabe mørke temaer til websteder i farten. Dark Reader inverterer lyse farver, hvilket gør dem høj kontrast og nemme at læse om natten.

Du kan justere lysstyrke, kontrast, sepiafilter, mørk tilstand, skrifttypeindstillinger og ignoreringslisten.

Dark Reader Plus låser op for en premium brugergrænseflade med brugerdefinerede farvetemaer mod et gebyr.

Læs venligst brugsbetingelserne https://darkreader.org/terms/

Før du installerer det, skal du deaktivere lignende udvidelser. Nyd at se!
