@store_listing
Αυτό το θεαματικό πρόσθετο, μετατρέπει ζωντανά τις ιστοσελίδες που επισκέπτεστε σε σκούρες. Το Dark Reader αντιστρέφει τα χρώματα δημιουργώντας έντονη αντίθεση για ευκολότερη ανάγνωση κατά τις βραδυνές ώρες.

Μπορείτε να προσαρμόσετε φωτεινότητα, αντίθεση, φίλτρο sepia, σκούρα εμφάνιση και λίστα ιστσελίδων στις οποίες το πρόσθετο δεν θα παρεμβαίνει.

Το Dark Reader Plus ξεκλειδώνει ένα premium περιβάλλον χρήστη με προσαρμόσιμα χρωματικά θέματα έναντι αμοιβής.

Αυτή είναι η αρχική επέκταση Dark Reader. Από το 2014, εξελισσόμαστε συνεχώς παράλληλα με τις σύγχρονες τεχνολογίες ιστού για να παρέχουμε γρήγορη και αξιόπιστη υποστήριξη σκοτεινής λειτουργίας για άτομα ευαίσθητα στο έντονο φως.

Εγκαθιστώντας την επέκταση, συμφωνείτε με αυτούς τους όρους χρήσης https://darkreader.org/terms/

Απενεργοποιήστε παρόμοιες επεκτάσεις για να αποφύγετε διενέξεις. Απολαύστε την περιήγηση!
