@store_listing
這是一款護眼擴充套件，透過即時產生深色主題，為各式網站啟用夜間模式。Dark Reader 反轉明亮的顏色、提高對比，讓您在夜間也能舒適地閱讀。

您可以調整亮度、對比、棕色濾鏡、深色模式、字型設定和忽略的網站清單。

Dark Reader Plus 提供付費版高級使用者介面和可自訂顏色主題。

這是 Dark Reader 的原版擴充功能。自 2014 年以來，我們不斷發展，跟上現代網路技術，為對強光敏感的用戶提供快速可靠的深色模式支援。

安裝此擴充功能即表示您同意這些使用條款：https://darkreader.org/terms/

請停用類似擴充功能以避免衝突。祝您瀏覽愉快！
