@store_listing
यह आंख-सहायक ब्राउज़र-एक्सटेंशन रात्रि स्थिति को अधिकृत करके वेबसाइटों के लिए अंधेरे थीम को बनाने में सक्षम बनाता है। डार्क रीडर चमकदार रंगों को उच्च विपरीत बना देता है इसलिए रात में पढ़ने में आसान होता है।

आप चमक, कंट्रास्ट, सेपिया फ़िल्टर, डार्क मोड, फ़ॉन्ट सेटिंग्स और न चलन-सूची समायोजित कर सकते हैं।

डार्क रीडर प्लस एक प्रीमियम यूज़र इंटरफ़ेस प्रदान करता है जिसमें शुल्क देकर अनुकूलन योग्य रंग थीम उपलब्ध हैं।

यह ओरिजिनल डार्क रीडर एक्सटेंशन है। 2014 से, हम मॉडर्न वेब टेक्नोलॉजी के साथ लगातार बेहतर हो रहे हैं ताकि तेज़ रोशनी से सेंसिटिव लोगों को तेज़ और भरोसेमंद डार्क मोड सपोर्ट दे सकें।

एक्सटेंशन इंस्टॉल करके आप इस्तेमाल की इन शर्तों https://darkreader.org/terms/ से सहमत हैं।

कॉन्फ्लिक्ट से बचने के लिए कृपया मिलते-जुलते एक्सटेंशन को डिसेबल कर दें। ब्राउज़िंग का मज़ा लें!
