@store_listing
Ekstensi ini mengaktifkan mode malam dengan membuat halaman situs web menjadi gelap. Dark Reader bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras, filter sepia, mode malam, setelan fon dan pengecualian situs web.

Dark Reader Plus membuka antarmuka pengguna premium dengan tema warna yang dapat disesuaikan dengan biaya tertentu.

Silakan baca syarat penggunaan https://darkreader.org/terms/

Sebelum memasang, silakan nonaktifkan ekstensi serupa. Selamat berselancar!
