@store_listing
This eye-care extension enables night mode by creating dark themes for websites on the fly. Dark Reader inverts bright colours to make web pages high contrast and easier to read.

Adjust brightness, contrast, the sepia filter, font preferences. Enable dark mode on every web page or give websites a sepia tone. Enable or disable Dark Reader for specific websites, automatically sync with system dark mode, or detect already dark websites and leave them unchanged.

Dark Reader Plus unlocks a premium user interface with customizable colour themes for a fee.

This is the original Dark Reader extension. Since 2014, we continuously evolve alongside modern web technologies to deliver fast and reliable dark mode support for people sensitive to bright light.

By installing the extension you agree to these terms of use https://darkreader.org/terms/

Please disable similar extensions to avoid conflicts. Enjoy browsing!
