@store_listing
Ova ekstenzija brine o vašim očima tako što omogućava tamnu temu za sajtove. Dark Reader invertuje svetle boje i pojačava kontrast, što omogućava lakše čitanje noću.

Možete podesiti osvetljenje, kontrast, sepija filter, tamni mod, font i listu ignorisanih sajtova.

Dark Reader Plus otključava premium korisnički interfejs sa prilagodljivim temama boja uz naknadu.

Molimo vas da pročitate uslove korišćenja https://darkreader.org/terms/

Pre instalacije, isključite druge slične ekstenzije. Uživajte!
