@store_listing
Denne øye-beskyttelse utvidelsen aktiverer nattmodus og lager mørke temaer for nettsider. Dark Reader bytter ut lyse farger med mørke høy-kontrast farger og gjør lesing om kvelden enkelt.

Du kan regulere lysstyrken, kontrasten, bruntone, nattmodus, skrifttype-instillinger og ignorer-liste.

Dark Reader Plus låser opp et premium brukergrensesnitt med tilpassbare fargetemaer mot et gebyr.

Dette er den originale Dark Reader-utvidelsen. Siden 2014 har vi kontinuerlig utviklet oss sammen med moderne webteknologier for å levere rask og pålitelig støtte for mørk modus for personer som er følsomme for sterkt lys.

Ved å installere utvidelsen godtar du disse bruksvilkårene https://darkreader.org/terms/

Vennligst deaktiver lignende utvidelser for å unngå konflikter. Kos deg med nettlesingen!
