@store_listing
Гэта пашырэнне пераводзіць браўзэр у начны рэжым. Дарк Рыдар замяняе светлы фон цёмным, што зніжае стомленасць вачэй пры доўгай працы за кампутарам альбо пры праглядзе вэб-старонак ноччу.

Маецца магчымасць наладжваць яркасць, кантраснасць, шрыфт, рэжым інверсіі, рэжым накладання жоўтага фільтра (сэпія).

Dark Reader Plus адчыняе прэміяльны карыстальніцкі інтэрфейс з магчымасцю налады каляровых тэм.

Гэта арыгінальнае пашырэнне Dark Reader. З 2014 года мы пастаянна развіваемся разам з сучаснымі вэб-тэхналогіямі, каб забяспечыць хуткую і надзейную падтрымку цёмнага рэжыму для людзей, адчувальных да яркага святла.

Усталёўваючы пашырэнне, вы згаджаецеся з ўмовамі выкарыстання https://darkreader.org/terms/

Калі ласка, адключыце падобныя пашырэнні, каб пазбегнуць канфліктаў. Прыемнага прагляду!
