@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих сайтів. Dark Reader інвертує яскраві барви, роблячи їх контрастними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, контраст, сепію, темний вигляд, налаштування вигляду тексту та список нехтування.

Dark Reader Plus розблоковує преміум-інтерфейс користувача з налаштовуваними кольоровими темами за певну плату.

Це оригінальне розширення Dark Reader. З 2014 року ми постійно розвиваємося разом із сучасними веб-технологіями, щоб забезпечити швидку та надійну підтримку темного режиму для людей, чутливих до яскравого світла.

Встановлюючи розширення, ви погоджуєтеся з умовами використання https://darkreader.org/terms/

Будь ласка, вимкніть схожі розширення, щоб уникнути конфліктів. Насолоджуйтесь переглядом!
