@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих сайтів. Dark Reader інвертує яскраві барви, роблячи їх контрастними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, контраст, сепію, темний вигляд, налаштування вигляду тексту та список нехтування.

Dark Reader Plus розблоковує преміум-інтерфейс користувача з налаштовуваними кольоровими темами за певну плату.

Будь ласка, ознайомтеся з умовами використання https://darkreader.org/terms/

Перед встановленням відімкніть подібні розширення. Насолоджуйтесь переглядом!
