@store_listing
Toto k očím šetrné rozšíření přepíná stránky do nočního režimu tím, že je samo převádí do tmavého motivu. Dark Reader invertuje jasné barvy tak, aby byly kontrastní a lehce čitelné v noci.

Můžete upravit jas, kontrast, sépiový filtr, tmavý mód, nastavení písma a seznam ignorovaných stránek.

Dark Reader Plus odemyká za poplatek prémiové uživatelské rozhraní s přizpůsobitelnými barevnými motivy.

Toto je původní rozšíření Dark Reader. Od roku 2014 se neustále vyvíjíme spolu s moderními webovými technologiemi, abychom poskytovali rychlou a spolehlivou podporu tmavého režimu pro osoby citlivé na jasné světlo.

Instalací rozšíření souhlasíte s těmito podmínkami použití https://darkreader.org/terms/

Zakažte prosím podobná rozšíření, abyste předešli konfliktům. Užijte si prohlížení!
