@store_listing
ఈ కంటి-సంరక్షణ పొడిగింపు ఫ్లైలో వెబ్‌సైట్ల కోసం చీకటి ఇతివృత్తాలను సృష్టించడం ద్వారా నైట్ మోడ్‌ను అనుమతిస్తుంది. డార్క్ రీడర్ ప్రకాశవంతమైన రంగులను విలోమం చేస్తుంది, అవి అధిక విరుద్ధంగా మరియు రాత్రి చదవడం సులభం చేస్తాడు.

మీరు ప్రకాశం, కాంట్రాస్ట్, సెపియా ఫిల్టర్, డార్క్ మోడ్, ఫాంట్ సెట్టింగులు మరియు విస్మరించే-జాబితాను సర్దుబాటు చేయవచ్చు.

డార్క్ రీడర్ ప్లస్ రుసుము చెల్లించి అనుకూలీకరించదగిన రంగు థీమ్‌లతో ప్రీమియం యూజర్ ఇంటర్‌ఫేస్‌ను అన్‌లాక్ చేస్తుంది.

ఇది అసలైన డార్క్ రీడర్ ఎక్స్‌టెన్షన్. 2014 నుండి, ప్రకాశవంతమైన కాంతికి సున్నితంగా ఉండే వ్యక్తులకు వేగవంతమైన మరియు నమ్మదగిన డార్క్ మోడ్ మద్దతును అందించడానికి మేము ఆధునిక వెబ్ టెక్నాలజీలతో పాటు నిరంతరం అభివృద్ధి చెందుతున్నాము.

ఎక్స్‌టెన్షన్‌ను ఇన్‌స్టాల్ చేయడం ద్వారా మీరు ఈ ఉపయోగ నిబంధనలకు అంగీకరిస్తున్నారు https://darkreader.org/terms/

విభేదాలను నివారించడానికి దయచేసి ఇలాంటి ఎక్స్‌టెన్షన్‌లను నిలిపివేయండి. బ్రౌజింగ్‌ను ఆస్వాదించండి!
