@store_listing
Bu göz bakım eklentisi web siteleri için anında koyu temalar oluşturarak gece modunu etkinleştirir. Dark Reader parlak renkleri ters çevirerek yüksek kontrast oluşturur ve geceleri okumayı kolaylaştırır.

Parlaklığı, kontrastı, sepya filtresini, koyu modu, yazı tipi ayarlarını ve yoksayma listesini ayarlayabilirsiniz.

Dark Reader Plus, ücret karşılığında özelleştirilebilir renk temalarına sahip premium bir kullanıcı arayüzünün kilidini açar.

Bu, orijinal Dark Reader eklentisidir. 2014 yılından beri, parlak ışığa duyarlı kişiler için hızlı ve güvenilir karanlık mod desteği sunmak amacıyla modern web teknolojileriyle birlikte sürekli olarak gelişiyoruz.

Eklentiyi yükleyerek şu kullanım koşullarını kabul etmiş olursunuz https://darkreader.org/terms/

Çakışmaları önlemek için lütfen benzer eklentileri devre dışı bırakın. Keyifli gezinmeler!
