@store_listing
Esta extensão de cuidados com os olhos ativa o modo noturno ao criar temas escuros para sites. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e fáceis de ler à noite.

Pode ajustar o brilho, o contraste, o filtro sépia, o modo escuro, as definições do tipo de letra e a lista de ignorados.

O Dark Reader Plus desbloqueia uma interface de utilizador premium com temas de cores personalizáveis mediante o pagamento de uma taxa.

Esta é a extensão original do Dark Reader. Desde 2014, evoluímos continuamente acompanhando as tecnologias web modernas para oferecer um suporte rápido e fiável ao modo escuro para pessoas sensíveis à luz intensa.

Ao instalar a extensão, concorda com estes termos de utilização https://darkreader.org/terms/

Desative extensões semelhantes para evitar conflitos. Boa navegação!
