@store_listing
Această extensie, care se îngrijește de ochii tăi, permite activarea modului de noapte creând pe loc o temă întunecată pentru siteuri. Dark Reader inversează culorile luminoase mărindu-le contrastul și făcându-le ușor de citit noptea.

Poți ajusta luminozitatea, contrastul, filtrul sepia, modul întunecat, setările fontului si lista siteurilor de ignorat.

Dark Reader Plus deblochează o interfață utilizator premium cu teme de culoare personalizabile, contra cost.

Aceasta este extensia originală Dark Reader. Din 2014, evoluăm continuu alături de tehnologiile web moderne pentru a oferi suport rapid și fiabil pentru modul întunecat pentru persoanele sensibile la lumina puternică.

Prin instalarea extensiei, sunteți de acord cu acești termeni de utilizare https://darkreader.org/terms/

Vă rugăm să dezactivați extensiile similare pentru a evita conflictele. Navigare plăcută!
