@store_listing
Mabilisang binubuksan ng ekstensyong ito ang night mode sa pamamagitan ng madilim na tema. Ini-invert ng Dark Reader ang matitingkad na kulay, ginagawa silang high contrast at madaling basahin sa gabi.

Puwede mong i-adjust ang liwanag, contrast, sepia filter, dark mode, mga setting ng font at ang ignore-list.

Nagbubukas ang Dark Reader Plus ng isang premium na user interface na may nako-customize na mga tema ng kulay sa isang bayad.

Ito ang orihinal na extension ng Dark Reader. Simula noong 2014, patuloy kaming umuunlad kasabay ng mga modernong teknolohiya sa web upang makapaghatid ng mabilis at maaasahang suporta sa dark mode para sa mga taong sensitibo sa maliwanag na liwanag.

Sa pamamagitan ng pag-install ng extension, sumasang-ayon ka sa mga tuntunin ng paggamit na ito https://darkreader.org/terms/

Mangyaring huwag paganahin ang mga katulad na extension upang maiwasan ang mga conflict. Mag-enjoy sa pag-browse!
