@store_listing
Това щадящо очите разширение позволява нощен режим чрез създаване на тъмни теми за уебсайтове в движение. Dark Reader обръща ярките цветове, правейки ги с висок контраст и лесни за четене през нощта.

Можете да регулирате яркостта, контраста, сепия филтъра, тъмния режим, настройките на шрифта и списъка за игнориране.

Dark Reader Plus отключва първокласен потребителски интерфейс с персонализируеми цветови теми срещу заплащане.

Моля, прочетете условията за ползване https://darkreader.org/terms/

Преди да го инсталирате, деактивирайте подобни разширения. Приятно гледане!
