@store_listing
Esta extensão de cuidados com os olhos ativa o modo noturno ao criar temas escuros para sites. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e fáceis de ler à noite.

Pode ajustar o brilho, o contraste, o filtro sépia, o modo escuro, as definições do tipo de letra e a lista de ignorados.

O Dark Reader Plus desbloqueia uma interface de utilizador premium com temas de cores personalizáveis mediante o pagamento de uma taxa.

Leia os termos de utilização em https://darkreader.org/terms/

Antes de o instalar, desative extensões semelhantes. Desfrute da visualização!
