@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho các trang web đang hoạt động. Dark Reader đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Gói Dark Reader Plus mở khóa giao diện người dùng cao cấp với các chủ đề màu tùy chỉnh có tính phí.

Đây là tiện ích mở rộng Dark Reader gốc. Từ năm 2014, chúng tôi liên tục phát triển cùng với các công nghệ web hiện đại để cung cấp hỗ trợ chế độ tối nhanh chóng và đáng tin cậy cho những người nhạy cảm với ánh sáng mạnh.

Bằng cách cài đặt tiện ích mở rộng, bạn đồng ý với các điều khoản sử dụng này https://darkreader.org/terms/

Vui lòng tắt các tiện ích mở rộng tương tự để tránh xung đột. Chúc bạn duyệt web vui vẻ!
