@store_listing
Ово проширење брине о вашим очима тако што омогућава тамну тему за сајтове. Dark Reader инвертује светле боје и појачава контраст, што омогућава лакше читање ноћу.

Можете подесити осветљеност, контраст, сепија филтер, фонт преференце, бирати између тамног и shader режима, и омогућити или онемогућити проширење за специфичне сајтове.

Dark Reader Plus уз накнаду откључава premium кориснички интерфејс са прилагођеним темама.

Ово је оригинално проширење Dark Reader. Од 2014. године, континуирано се развијамо заједно са модерним веб технологијама како бисмо пружили брзу и поуздану подршку за тамни режим за људе осетљиве на јаку светлост.

Инсталирањем проширења прихватате ове услове коришћења https://darkreader.org/terms/

Молимо вас да онемогућите слична проширења да бисте избегли сукобе. Уживајте у прегледању!
