@store_listing
මෙම නේත්‍රාරක්‍ෂණ දිගුව ඉතා ඉක්මනින් වියමන අඩවි සඳහා අඳුරු තේමා සෑදීමෙන් රාත්‍රී ප්‍රකාරය සබල කරයි. Dark Reader ප්‍රභාවත් වර්ණ යටියන කිරිමෙන් ඒවා ඉහළ පිළිසැසඳුමකට ලක් කර රාත්‍රියේ දී කියවීමට පහසු කරයි.

ඔබට දීප්තිය, පිළිසැසඳුම, සෙපියා පෙරහන, අඳුරු ප්‍රකාරය, අකුරු සැකසුම් සහ නොසලකා හැරීමේ ලැයිස්තුව පිළියෙල කිරීමට හැකිය.

Dark Reader Plus ගාස්තුවක් සඳහා අභිරුචිකරණය කළ හැකි වර්ණ තේමාවන් සහිත වාරික පරිශීලක අතුරුමුහුණතක් අගුළු හරියි.

මෙය මුල් Dark Reader දිගුවයි. 2014 සිට, දීප්තිමත් ආලෝකයට සංවේදී පුද්ගලයින් සඳහා වේගවත් සහ විශ්වාසදායක අඳුරු මාදිලියේ සහාය ලබා දීම සඳහා අපි නවීන වෙබ් තාක්ෂණයන් සමඟ අඛණ්ඩව පරිණාමය වෙමින් සිටිමු.

දිගුව ස්ථාපනය කිරීමෙන් ඔබ මෙම භාවිත නියමයන්ට එකඟ වේ https://darkreader.org/terms/

ගැටුම් වළක්වා ගැනීමට කරුණාකර සමාන දිගු අක්‍රීය කරන්න. බ්‍රවුස් කිරීම භුක්ති විඳින්න!
