@store_listing
Toto rozšírenie je šetrné k očiam, vytvára nočný režim pre stránky za pochodu. Dark Reader invertuje jasné farby a robí ich kontrastnejšími, čím sa zlepšuje ich čitateľnosť v noci.

Upravovať môžete jas, kontrast, sépiový filter, tmavý režim, nastavenia písma a zoznam ignorovaných stránok.

Dark Reader Plus odomkne prémiové používateľské rozhranie s prispôsobiteľnými farebnými témami za poplatok.

Toto je pôvodné rozšírenie Dark Reader. Od roku 2014 sa neustále vyvíjame spolu s modernými webovými technológiami, aby sme poskytovali rýchlu a spoľahlivú podporu tmavého režimu pre ľudí citlivých na jasné svetlo.

Inštaláciou rozšírenia súhlasíte s podmienkami používania https://darkreader.org/terms/

Prosím, zakážte podobné rozšírenia, aby ste predišli konfliktom. Prajeme vám príjemné prehliadanie!
