@store_listing
このアイ・ケアの拡張機能は、オンザフライでサイト用のダークテーマを作成しナイトモードを有効にします。 Dark Reader は明るい色を反転させてコントラストを高め、夜間でも読みやすくします。

明るさ、コントラスト、セピアのフィルター、ダークモード、フォント設定、無視リストを調整することができます。

Dark Reader Plus では、カスタマイズ可能なカラーテーマを備えたプレミアムユーザーインターフェースを有料でご利用いただけます。

利用規約（https://darkreader.org/terms/）をお読みください。

インストールする前に、同様の拡張機能を無効にしてください。サイト閲覧をお楽しみください！
