@store_listing
Questa estensione si prende cura dei tuoi occhi attivando il tema notturno e generando al volo temi scuri per tutti i siti. Dark Reader inverte i colori più luminosi, rendendoli ad alto contrasto e facili da leggere di notte.

Puoi regolare luminosità, contrasto, filtro seppia, tema scuro, font e la lista dei siti da ignorare.

Dark Reader Plus offre un'interfaccia utente premium con temi colore personalizzabili a pagamento.

Leggi i termini d'uso: https://darkreader.org/terms/

Prima di installarlo, disattiva altre estensioni simili. Buona lettura!
