@store_listing
Гэта пашырэнне пераводзіць браўзэр у начны рэжым. Дарк Рыдар замяняе светлы фон цёмным, што зніжае стомленасць вачэй пры доўгай працы за кампутарам альбо пры праглядзе вэб-старонак ноччу.

Маецца магчымасць наладжваць яркасць, кантраснасць, шрыфт, рэжым інверсіі, рэжым накладання жоўтага фільтра (сэпія).

Dark Reader Plus адкрывае прэміяльны карыстальніцкі інтэрфейс з наладжвальнымі каляровымі тэмамі за пэўную плату.

Калі ласка, азнаёмцеся з умовамі выкарыстання https://darkreader.org/terms/

Перад усталёўкай адключыце падобныя пашырэнні. Прыемнага прагляду!
