@store_listing
This eye-care extension enables night mode by creating dark themes for websites on the fly. Dark Reader inverts bright colors, making web pages high contrast and easier to read at night.

You can adjust brightness, contrast, the sepia filter, font preferences, choose between dark mode and screen shader mode, and enable or disable the extension for specific websites.

Dark Reader Plus unlocks a premium user interface with customizable color themes for a fee.

Please read the terms of use https://darkreader.org/terms/

Before installation, please disable similar extensions to avoid conflicts. Enjoy browsing!
