@store_listing
Это расширение переводит браузер в ночной режим. Дарк Ридер заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Dark Reader Plus предоставляет доступ к платным премиум функциям с возможностью настройки цветовых тем.

Это оригинальное расширение Dark Reader. С 2014 года мы идем в ногу с современными веб-технологиями, чтобы обеспечить быструю и надежную поддержку темного режима для людей, чувствительных к яркому свету.

Установив расширение, вы соглашаетесь с условиями использования https://darkreader.org/terms/

Пожалуйста, отключите подобные расширения, чтобы избежать конфликтов. Приятного просмотра!
