@store_listing
תוסף זה לטיפוח העיניים מאפשר מצב לילה על ידי יצירת ערכות נושא כהות לאתרים תוך כדי תנועה. Dark Reader הופך צבעים בהירים, מה שהופך דפי אינטרנט לניגודיות גבוהה וקלים יותר לקריאה בלילה.

ניתן להתאים את הבהירות, הניגודיות, מסנן הספיה, העדפות הגופן, לבחור בין מצב כהה למצב הצללת מסך, ולהפעיל או להשבית את התוסף עבור אתרים ספציפיים.

Dark Reader Plus פותח ממשק משתמש פרימיום עם ערכות נושא צבע הניתנות להתאמה אישית תמורת תשלום.

זהו התוסף המקורי של Dark Reader. מאז 2014, אנו מתפתחים ללא הרף לצד טכנולוגיות אינטרנט מודרניות כדי לספק תמיכה מהירה ואמינה במצב כהה לאנשים הרגישים לאור בהיר.

על ידי התקנת התוסף אתה מסכים לתנאי שימוש אלה https://darkreader.org/terms/

אנא השבת תוספים דומים כדי למנוע התנגשויות. גלישה מהנה!
