@store_listing
Detta ögonskonande tillägg aktiverar ett nattläge som skapar mörka teman på webbplatser. Dark Reader inverterar ljusa färger för att skapa hög kontrast och göra det enkelt att läsa på natten.

Du kan justera ljusstyrkan, kontrasten, sepiafiltret, mörkerläget, typsnittet och ignoreringslistan.

Dark Reader Plus låser upp ett premiumgränssnitt med anpassningsbara färgteman mot en avgift.

Detta är det ursprungliga Dark Reader-tillägget. Sedan 2014 har vi kontinuerligt utvecklats tillsammans med moderna webbtekniker för att leverera snabbt och pålitligt stöd för mörkt läge för personer som är känsliga för starkt ljus.

Genom att installera tillägget godkänner du dessa användarvillkor https://darkreader.org/terms/

Vänligen inaktivera liknande tillägg för att undvika konflikter. Ha det trevligt med surfandet!
