@store_listing
To rozszerzenie dbające o zdrowie oczu aktywuje tryb nocny tworząc dynamiczne ciemne motywy dla stron internetowych. Dark Reader odwraca jasność kolorów, nadając im wysokiego kontrastu i ułatwiając czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, ustawienia czcionki i listę ignorowanych stron.

Dark Reader Plus odblokowuje płatny, ekskluzywny interfejs użytkownika z konfigurowalnymi motywami kolorystycznymi.

Prosimy o zapoznanie się z warunkami użytkowania: https://darkreader.org/terms/

Przed instalacją usuń podobne rozszerzenia. Miłego oglądania!
