@store_listing
Toto k očím šetrné rozšíření přepíná stránky do nočního režimu tím, že je samo převádí do tmavého motivu. Dark Reader invertuje jasné barvy tak, aby byly kontrastní a lehce čitelné v noci.

Můžete upravit jas, kontrast, sépiový filtr, tmavý mód, nastavení písma a seznam ignorovaných stránek.

Dark Reader Plus odemyká za poplatek prémiové uživatelské rozhraní s přizpůsobitelnými barevnými motivy.

Přečtěte si prosím podmínky použití https://darkreader.org/terms/

Před instalací vypněte všechna podobná rozšíření. Přejeme příjemné surfování!
