@store_listing
Deze oogzorgextensie heeft een nachtstand die automatisch donkere thema's maakt voor websites. Donkere modus keert lichte kleuren om voor goede leesbaarheid 's nachts.

Je kunt de helderheid, het contrast, het kleurenfilter, de donkere modus, het lettertype en de lijst van te negeren websites geheel instellen naar wens.

Dark Reader Plus biedt tegen betaling een premium gebruikersinterface met aanpasbare kleurenthema's.

Dit is de originele Dark Reader-extensie. Sinds 2014 ontwikkelen we ons continu mee met de moderne webtechnologieën om snelle en betrouwbare ondersteuning voor de donkere modus te bieden aan mensen die gevoelig zijn voor fel licht.

Door de extensie te installeren, gaat u akkoord met deze gebruiksvoorwaarden https://darkreader.org/terms/

Schakel vergelijkbare extensies uit om conflicten te voorkomen. Veel plezier met browsen!
