@store_listing
このアイ・ケアの拡張機能は、オンザフライでサイト用のダークテーマを作成しナイトモードを有効にします。 Dark Reader は明るい色を反転させてコントラストを高め、夜間でも読みやすくします。

明るさ、コントラスト、セピアのフィルター、ダークモード、フォント設定、無視リストを調整することができます。

Dark Reader Plus では、カスタマイズ可能なカラーテーマを備えたプレミアムユーザーインターフェースを有料でご利用いただけます。

これはオリジナルのDark Reader拡張機能です。2014年以来、最新のWebテクノロジーに合わせて進化を続け、明るい光に敏感な方のために、高速で信頼性の高いダークモードサポートを提供しています。

拡張機能をインストールすると、利用規約（https://darkreader.org/terms/）に同意したことになります。

競合を避けるため、類似の拡張機能は無効にしてください。ブラウジングをお楽しみください！
