@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho các trang web đang hoạt động. Dark Reader đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Gói Dark Reader Plus mở khóa giao diện người dùng cao cấp với các chủ đề màu tùy chỉnh có tính phí.

Vui lòng đọc kỹ điều khoản sử dụng https://darkreader.org/terms/

Xóa các tiện ích tương tự trước khi cài đặt. Hãy tận hưởng chế độ tối tuyệt đẹp nhé!
