@store_listing
این افزونه مراقبت از چشم با ایجاد تم‌های تاریک برای وب‌سایت‌ها، حالت شب را فعال می‌کند. Dark Reader رنگ‌های روشن را معکوس می‌کند و صفحات وب را با کنتراست بالا و خواندن آنها در شب آسان‌تر می‌کند.

شما می‌توانید روشنایی، کنتراست، فیلتر قهوه‌ای، تنظیمات فونت را تنظیم کنید، بین حالت تاریک و حالت سایه‌زن صفحه نمایش یکی را انتخاب کنید و افزونه را برای وب‌سایت‌های خاص فعال یا غیرفعال کنید.

Dark Reader Plus با پرداخت هزینه، رابط کاربری پریمیوم با تم‌های رنگی قابل تنظیم را باز می‌کند.

این افزونه‌ی اصلی Dark Reader است. از سال ۲۰۱۴، ما به طور مداوم در کنار فناوری‌های مدرن وب تکامل یافته‌ایم تا پشتیبانی سریع و قابل اعتماد از حالت تاریک را برای افرادی که به نور شدید حساس هستند، ارائه دهیم.

با نصب این افزونه، شما با این شرایط استفاده موافقت می‌کنید https://darkreader.org/terms/

لطفاً افزونه‌های مشابه را غیرفعال کنید تا از تداخل جلوگیری شود. از مرور لذت ببرید!
