@store_listing
Zum Schutz der Augen ermöglicht diese Erweiterung das Erstellen dunkler Farblayouts für Webseiten. Dark Reader invertiert helle Farben, macht sie kontrastreich und nachts gut lesbar.

Helligkeit, Kontrast, Sepia-Filter, Dark-Modus, Schrifteinstellungen und Ignorier-Liste können manuell verwaltet und individuell angepasst werden.

Dark Reader Plus bietet gegen Gebühr eine Premium-Benutzeroberfläche mit anpassbaren Farbthemen.

Entwickelt von den ursprünglichen Machern von Dark Reader. Seit 2014 entwickeln wir uns kontinuierlich weiter, um mit den modernen Webtechnologien Schritt zu halten und einen schnellen und zuverlässigen Dunkelmodus für lichtempfindliche Nutzer zu gewährleisten.

Mit der Installation der Erweiterung stimmen Sie diesen Nutzungsbedingungen zu https://darkreader.org/terms/

Bitte deaktivieren Sie ähnliche Erweiterungen, um Konflikte zu vermeiden. Viel Spaß beim Surfen!
