@store_listing
To rozszerzenie dba o zdrowie twoich oczu poprzez dynamiczne tworzenie ciemnych motywów dla stron internetowych. Dark Reader zmienia jasne kolory na ciemniejsze i nadaje im wysoki kontrast, co ułatwia czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, czcionki i listę ignorowanych stron do swoich potrzeb.

Dark Reader Plus odblokowuje płatny, ekskluzywny interfejs użytkownika z konfigurowalnymi motywami kolorystycznymi.

To oryginalne rozszerzenie Dark Reader. Od 2014 roku stale rozwijamy się wraz z nowoczesnymi technologiami internetowymi, aby zapewnić szybką i niezawodną obsługę trybu ciemnego dla osób wrażliwych na jasne światło.

Instalując rozszerzenie, akceptujesz niniejsze warunki użytkowania https://darkreader.org/terms/

Wyłącz podobne rozszerzenia, aby uniknąć konfliktów. Miłego przeglądania!
