@store_listing
Ekstensi penjagaan mata ini mendayakan mod malam dengan mencipta tema gelap untuk laman web dengan cepat. Dark Reader menyongsangkan warna terang, menjadikannya kontras tinggi dan mudah dibaca pada waktu malam.

Anda boleh melaraskan kecerahan, kontras, penapis sepia, mod gelap, tetapan fon dan senarai abaikan.

Dark Reader Plus membuka kunci antara muka pengguna premium dengan tema warna yang boleh disesuaikan dengan bayaran.

Ini ialah sambungan Dark Reader yang asal. Sejak 2014, kami sentiasa berkembang seiring dengan teknologi web moden untuk memberikan sokongan mod gelap yang pantas dan andal untuk mereka yang sensitif terhadap cahaya terang.

Dengan memasang sambungan ini, anda bersetuju dengan terma penggunaan ini https://darkreader.org/terms/

Sila lumpuhkan sambungan yang serupa untuk mengelakkan konflik. Selamat melayari!
