@store_listing
To rozszerzenie dba o zdrowie twoich oczu poprzez dynamiczne tworzenie ciemnych motywów dla stron internetowych. Dark Reader zmienia jasne kolory na ciemniejsze i nadaje im wysoki kontrast, co ułatwia czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, czcionki i listę ignorowanych stron do swoich potrzeb.

Dark Reader Plus odblokowuje płatny, ekskluzywny interfejs użytkownika z konfigurowalnymi motywami kolorystycznymi.

Prosimy o zapoznanie się z warunkami użytkowania: https://darkreader.org/terms/

Przed instalacją usuń/wyłącz podobne rozszerzenia. Miłego patrzenia!
