@store_listing
Denne øye-beskyttelse utvidelsen aktiverer nattmodus og lager mørke temaer for nettsider. Dark Reader bytter ut lyse farger med mørke høy-kontrast farger og gjør lesing om kvelden enkelt.

Du kan regulere lysstyrken, kontrasten, bruntone, nattmodus, skrifttype-instillinger og ignorer-liste.

Dark Reader Plus låser opp et premium brukergrensesnitt med tilpassbare fargetemaer mot et gebyr.

Les bruksvilkårene på https://darkreader.org/terms/

Deaktiver lignende utvidelser før du installerer. Nyt opplevelsen!
