@store_listing
นี้เป็นส่วนเสริมที่คอยดูแลสายตาของคุณด้วยการเปิดโหมดกลางคืน และสร้างธีมมืดให้กับทุกๆเว็บ Dark Reader จะสลับสีสว่างๆให้เป็นสีดำหรือสีมืด และทำให้ง่ายต่อการอ่านตอนกลางคืน

คุณสามารถปรับแต่งความสว่าง, คอนทราสต์, สีซีเปีย, โหมดมืด, ตั้งค่าฟอนต์ และทำรายการยกเว้นได้

Dark Reader Plus ปลดล็อกอินเทอร์เฟซผู้ใช้ระดับพรีเมียมพร้อมธีมสีที่ปรับแต่งได้ โดยมีค่าธรรมเนียม

นี่คือส่วนขยาย Dark Reader เวอร์ชันดั้งเดิม ตั้งแต่ปี 2014 เราได้พัฒนาอย่างต่อเนื่องควบคู่ไปกับเทคโนโลยีเว็บสมัยใหม่ เพื่อมอบการสนับสนุนโหมดมืดที่รวดเร็วและเชื่อถือได้สำหรับผู้ที่ไวต่อแสงสว่าง

การติดตั้งส่วนขยายนี้หมายความว่าคุณยอมรับข้อกำหนดการใช้งานเหล่านี้ https://darkreader.org/terms/

โปรดปิดใช้งานส่วนขยายที่คล้ายกันเพื่อหลีกเลี่ยงความขัดแย้ง ขอให้สนุกกับการท่องเว็บ!
