@store_listing
Esta extensão ajuda os seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

O Dark Reader Plus desbloqueia uma interface de usuário premium com temas de cores personalizáveis mediante o pagamento de uma taxa.

Esta é a extensão original do Dark Reader. Desde 2014, evoluímos continuamente acompanhando as tecnologias web modernas para oferecer suporte rápido e confiável ao modo escuro para pessoas sensíveis à luz intensa.

Ao instalar a extensão, você concorda com estes termos de uso https://darkreader.org/terms/

Desative extensões semelhantes para evitar conflitos. Boa navegação!
