@store_listing
이 눈 건강을 위한 확장 기능은 실시간으로 각 웹사이트에 다크 테마를 적용해 야간 모드를 가능케 합니다. 다크 리더는 밝은 색상을 반전해 고대비로 만들어 밤에 읽기가 쉽도록 만듭니다.

밝기, 대비, 세피아 필터, 다크 모드, 폰트와 예외 목록을 설정할 수 있습니다.

Dark Reader Plus는 유료로 사용자 정의 가능한 색상 테마를 갖춘 프리미엄 사용자 인터페이스를 제공합니다.

이용 약관을 읽어보세요. https://darkreader.org/terms/

설치하기 전에 비슷한 기능을 가진 확장 기능을 사용 해제하시기 바랍니다. 편하게 읽으십시오!
