@store_listing
Cette extension de navigateur implémente un thème sombre global en créant à la volée des thèmes sombres pour chaque site que vous visitez. Dark Reader augmente le contraste des couleurs vives pour les rendre plus agréables à la vue la nuit.

Vous pouvez également ajuster la luminosité, le contraste, le filtre sépia, le thème sombre, la police du texte ainsi que la liste des sites ignorés par l'extension.

Dark Reader Plus vous permet d'accéder à une interface utilisateur premium avec des thèmes de couleurs personnalisables, moyennant un supplément.

Voici l'extension Dark Reader originale. Depuis 2014, nous évoluons constamment au rythme des technologies web modernes pour offrir un mode sombre rapide et fiable aux personnes sensibles à la lumière.

En installant cette extension, vous acceptez les présentes conditions d'utilisation : https://darkreader.org/terms/

Veuillez désactiver les extensions similaires afin d'éviter tout conflit. Profitez-en et prenez soin de vos yeux!
