@store_listing
Deze oogzorgextensie heeft een nachtstand die automatisch donkere thema's maakt voor websites. Donkere modus keert lichte kleuren om voor goede leesbaarheid 's nachts.

Je kunt de helderheid, het contrast, het kleurenfilter, de donkere modus, het lettertype en de lijst van te negeren websites geheel instellen naar wens.

Dark Reader Plus biedt tegen betaling een premium gebruikersinterface met aanpasbare kleurenthema's.

Lees de gebruiksvoorwaarden: https://darkreader.org/terms/

Voor de installatie is het aangeraden soortgelijke extensies eerst uit te schakelen. Veel kijkplezier!
