@store_listing
Denne øjenplejeudvidelse aktiverer nattilstand ved at skabe mørke temaer til websteder i farten. Dark Reader inverterer lyse farver, hvilket gør dem høj kontrast og nemme at læse om natten.

Du kan justere lysstyrke, kontrast, sepiafilter, mørk tilstand, skrifttypeindstillinger og ignoreringslisten.

Dark Reader Plus låser op for en premium brugergrænseflade med brugerdefinerede farvetemaer mod et gebyr.

Dette er den originale Dark Reader-udvidelse. Siden 2014 har vi løbende udviklet os sammen med moderne webteknologier for at levere hurtig og pålidelig understøttelse af mørk tilstand til personer, der er følsomme over for stærkt lys.

Ved at installere udvidelsen accepterer du disse brugsbetingelser https://darkreader.org/terms/

Deaktiver venligst lignende udvidelser for at undgå konflikter. God fornøjelse med at browse!
