@store_listing
این افزونه مراقبت از چشم با ایجاد تم‌های تاریک برای وب‌سایت‌ها، حالت شب را فعال می‌کند. Dark Reader رنگ‌های روشن را معکوس می‌کند و صفحات وب را با کنتراست بالا و خواندن آنها در شب آسان‌تر می‌کند.

شما می‌توانید روشنایی، کنتراست، فیلتر قهوه‌ای، تنظیمات فونت را تنظیم کنید، بین حالت تاریک و حالت سایه‌زن صفحه نمایش یکی را انتخاب کنید و افزونه را برای وب‌سایت‌های خاص فعال یا غیرفعال کنید.

Dark Reader Plus با پرداخت هزینه، رابط کاربری پریمیوم با تم‌های رنگی قابل تنظیم را باز می‌کند.

لطفاً شرایط استفاده را مطالعه کنید https://darkreader.org/terms/

قبل از نصب، لطفاً افزونه‌های مشابه را غیرفعال کنید تا از تداخل جلوگیری شود. از مرور لذت ببرید!