@store_listing
Това щадящо очите разширение позволява нощен режим чрез създаване на тъмни теми за уебсайтове в движение. Dark Reader обръща ярките цветове, правейки ги с висок контраст и лесни за четене през нощта.

Можете да регулирате яркостта, контраста, сепия филтъра, тъмния режим, настройките на шрифта и списъка за игнориране.

Dark Reader Plus отключва първокласен потребителски интерфейс с персонализируеми цветови теми срещу заплащане.

Това е оригиналното разширение Dark Reader. От 2014 г. насам ние непрекъснато се развиваме заедно със съвременните уеб технологии, за да предоставим бърза и надеждна поддръжка на тъмен режим за хора, чувствителни към ярка светлина.

С инсталирането на разширението вие се съгласявате с тези условия за ползване https://darkreader.org/terms/

Моля, деактивирайте подобни разширения, за да избегнете конфликти. Приятно сърфиране!
