@store_listing
Toto rozšírenie je šetrné k očiam, vytvára nočný režim pre stránky za pochodu. Dark Reader invertuje jasné farby a robí ich kontrastnejšími, čím sa zlepšuje ich čitateľnosť v noci.

Upravovať môžete jas, kontrast, sépiový filter, tmavý režim, nastavenia písma a zoznam ignorovaných stránok.

Dark Reader Plus odomkne prémiové používateľské rozhranie s prispôsobiteľnými farebnými témami za poplatok.

Prečítajte si, prosím, podmienky používania https://darkreader.org/terms/

Pred inštaláciou zakážte podobné rozšírenia. Užite si sledovanie!
