@store_listing
यह आंख-सहायक ब्राउज़र-एक्सटेंशन रात्रि स्थिति को अधिकृत करके वेबसाइटों के लिए अंधेरे थीम को बनाने में सक्षम बनाता है। डार्क रीडर चमकदार रंगों को उच्च विपरीत बना देता है इसलिए रात में पढ़ने में आसान होता है।

आप चमक, कंट्रास्ट, सेपिया फ़िल्टर, डार्क मोड, फ़ॉन्ट सेटिंग्स और न चलन-सूची समायोजित कर सकते हैं।

डार्क रीडर प्लस एक प्रीमियम यूज़र इंटरफ़ेस प्रदान करता है जिसमें शुल्क देकर अनुकूलन योग्य रंग थीम उपलब्ध हैं।

कृपया उपयोग की शर्तें पढ़ें https://darkreader.org/terms/

डार्क रीडर का उपयोग करने से पहले इसी तरह की एक्सटेंशन अक्षम करें। देखने का मज़ा लें!
