@store_listing
Questa estensione si prende cura dei tuoi occhi attivando il tema notturno e generando al volo temi scuri per tutti i siti. Dark Reader inverte i colori più luminosi, rendendoli ad alto contrasto e facili da leggere di notte.

Puoi regolare luminosità, contrasto, filtro seppia, tema scuro, font e la lista dei siti da ignorare.

Dark Reader Plus offre un'interfaccia utente premium con temi colore personalizzabili a pagamento.

Questa è l'estensione originale di Dark Reader. Dal 2014, ci evolviamo costantemente insieme alle moderne tecnologie web per offrire un supporto rapido e affidabile per la modalità scura alle persone sensibili alla luce intensa.

Installando l'estensione, accetti questi termini d'uso: https://darkreader.org/terms/

Disattiva estensioni simili per evitare conflitti. Buona navigazione!
