@store_listing
นี้เป็นส่วนเสริมที่คอยดูแลสายตาของคุณด้วยการเปิดโหมดกลางคืน และสร้างธีมมืดให้กับทุกๆเว็บ Dark Reader จะสลับสีสว่างๆให้เป็นสีดำหรือสีมืด และทำให้ง่ายต่อการอ่านตอนกลางคืน

คุณสามารถปรับแต่งความสว่าง, คอนทราสต์, สีซีเปีย, โหมดมืด, ตั้งค่าฟอนต์ และทำรายการยกเว้นได้

Dark Reader Plus ปลดล็อกอินเทอร์เฟซผู้ใช้ระดับพรีเมียมพร้อมธีมสีที่ปรับแต่งได้ โดยมีค่าธรรมเนียม

โปรดอ่านข้อกำหนดการใช้งาน https://darkreader.org/terms/

ก่อนที่จะติดตั้ง ปิดส่วนเสริมที่ทำหน้าที่เหมือนๆกันก่อนนะ ขอให้สนุกกับธีมสีมืดนะ!
