@store_listing
Bu göz bakım eklentisi web siteleri için anında koyu temalar oluşturarak gece modunu etkinleştirir. Dark Reader parlak renkleri ters çevirerek yüksek kontrast oluşturur ve geceleri okumayı kolaylaştırır.

Parlaklığı, kontrastı, sepya filtresini, koyu modu, yazı tipi ayarlarını ve yoksayma listesini ayarlayabilirsiniz.

Dark Reader Plus, ücret karşılığında özelleştirilebilir renk temalarına sahip premium bir kullanıcı arayüzünün kilidini açar.

Lütfen kullanım koşullarını okuyun: https://darkreader.org/terms/

Yüklemeden önce benzer uzantıları devre dışı bırakın. Gezintinin tadını çıkarın!
