@store_listing
এই চক্ষু-যত্ন এক্সটেনশনটি ওয়েবসাইটগুলির জন্য ডার্ক থিম তৈরি করে নাইট মোড সক্ষম করে। ডার্ক রিডার উজ্জ্বল রঙগুলিকে উল্টে দেয়, ওয়েব পৃষ্ঠাগুলিকে উচ্চ বৈসাদৃশ্য তৈরি করে এবং রাতে পড়া সহজ করে তোলে।

আপনি উজ্জ্বলতা, বৈসাদৃশ্য, সেপিয়া ফিল্টার, ফন্ট পছন্দগুলি সামঞ্জস্য করতে পারেন, ডার্ক মোড এবং স্ক্রিন শেডার মোডের মধ্যে নির্বাচন করতে পারেন এবং নির্দিষ্ট ওয়েবসাইটের জন্য এক্সটেনশনটি সক্ষম বা অক্ষম করতে পারেন।

ডার্ক রিডার প্লাস একটি ফি দিয়ে কাস্টমাইজেবল রঙের থিম সহ একটি প্রিমিয়াম ইউজার ইন্টারফেস আনলক করে।

এটিই আসল ডার্ক রিডার এক্সটেনশন। ২০১৪ সাল থেকে, আমরা উজ্জ্বল আলোর প্রতি সংবেদনশীল ব্যক্তিদের জন্য দ্রুত এবং নির্ভরযোগ্য ডার্ক মোড সমর্থন প্রদানের জন্য আধুনিক ওয়েব প্রযুক্তির পাশাপাশি ক্রমাগত বিকশিত হচ্ছি।

এক্সটেনশনটি ইনস্টল করে আপনি https://darkreader.org/terms/ ব্যবহারের এই শর্তাবলীতে সম্মত হচ্ছেন

দ্বন্দ্ব এড়াতে অনুগ্রহ করে অনুরূপ এক্সটেনশনগুলি অক্ষম করুন। ব্রাউজিং উপভোগ করুন!
