@store_listing
Ово проширење брине о вашим очима тако што омогућава тамну тему за сајтове. Dark Reader инвертује светле боје и појачава контраст, што омогућава лакше читање ноћу.

Можете подесити осветљеност, контраст, сепија филтер, фонт преференце, бирати између тамног и shader режима, и омогућити или онемогућити проширење за специфичне сајтове.

Dark Reader Plus уз накнаду откључава premium кориснички интерфејс са прилагођеним темама.

Молимо вас прочитајте услове коришћења https://darkreader.org/terms/

Пре инсталације, молимо вас да искључите остала слична проширења да бисте избегли конфликте. Уживајте!
