@store_listing
Esta extensión que cuida los ojos habilita el modo nocturno, creando temas oscuros para sitios de internet en el momento. Dark Reader invierte los colores brillantes, haciéndolos contrastantes y fáciles de leer a la noche.

Puede ajustar brillo, contraste, filtro sepia, modo oscuro, configuración de fuentes y lista de ignorados

Dark Reader Plus ofrece una interfaz de usuario premium con temas de color personalizables por una tarifa.

Lea las condiciones de uso: https://darkreader.org/terms/

Antes de instalarlo, desactive extensiones similares. Disfrute mirando!
