@store_listing
Detta ögonskonande tillägg aktiverar ett nattläge som skapar mörka teman på webbplatser. Dark Reader inverterar ljusa färger för att skapa hög kontrast och göra det enkelt att läsa på natten.

Du kan justera ljusstyrkan, kontrasten, sepiafiltret, mörkerläget, typsnittet och ignoreringslistan.

Dark Reader Plus låser upp ett premiumgränssnitt med anpassningsbara färgteman mot en avgift.

Läs användarvillkoren på https://darkreader.org/terms/

Inaktivera liknande tillägg innan du installerar. Trevlig läsning!
