@store_listing
Ekstensi ini mengaktifkan mode malam dengan membuat halaman situs web menjadi gelap. Dark Reader bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras, filter sepia, mode malam, setelan fon dan pengecualian situs web.

Dark Reader Plus membuka antarmuka pengguna premium dengan tema warna yang dapat disesuaikan dengan biaya tertentu.

Ini adalah ekstensi Dark Reader asli. Sejak 2014, kami terus berkembang seiring dengan teknologi web modern untuk memberikan dukungan mode gelap yang cepat dan andal bagi orang-orang yang sensitif terhadap cahaya terang.

Dengan memasang ekstensi ini, Anda menyetujui persyaratan penggunaan ini https://darkreader.org/terms/

Harap nonaktifkan ekstensi serupa untuk menghindari konflik. Selamat menjelajah!
