@store_listing
تُفعّل إضافة العناية بالعين هذه الوضع الليلي عبر إنشاء سمات داكنة لمواقع الويب أثناء التنقل. يعكس Dark Reader الألوان الزاهية، مما يجعل صفحات الويب عالية التباين وأسهل قراءة في الليل.

يمكنك ضبط السطوع والتباين وفلتر اللون البني الداكن وتفضيلات الخطوط والاختيار بين الوضع الداكن ووضع تظليل الشاشة، وتفعيل الإضافة أو تعطيلها لمواقع ويب محددة.

يُتيح Dark Reader Plus واجهة مستخدم مميزة مع سمات ألوان قابلة للتخصيص مقابل رسوم.

هذه هي إضافة Dark Reader الأصلية. منذ عام ٢٠١٤، ونحن نتطور باستمرار جنبًا إلى جنب مع أحدث تقنيات الويب لنقدم دعمًا سريعًا وموثوقًا للوضع الداكن للأشخاص الذين يعانون من حساسية الضوء الساطع.

بتثبيت هذه الإضافة، فإنك توافق على شروط الاستخدام هذه: https://darkreader.org/terms/

يرجى تعطيل الإضافات المشابهة لتجنب أي تعارضات. تصفحًا ممتعًا!
