@store_listing
Это расширение переводит браузер в ночной режим. Дарк Ридер заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Dark Reader Plus предоставляет доступ к платным премиум функциям с возможностью настройки цветовых тем.

Ознакомьтесь с условиями использования: https://darkreader.org/terms/

Перед установкой отключите подобные расширения. Приятного просмотра!
