@store_listing
Esta extensão ajuda os seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Dark Reader inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

O Dark Reader Plus desbloqueia uma interface de usuário premium com temas de cores personalizáveis mediante o pagamento de uma taxa.

Leia os termos de uso em https://darkreader.org/terms/

Antes de instalar esta extensão, desative extensões semelhantes. Aprecie a vista!
