@store_listing
ఈ కంటి-సంరక్షణ పొడిగింపు ఫ్లైలో వెబ్‌సైట్ల కోసం చీకటి ఇతివృత్తాలను సృష్టించడం ద్వారా నైట్ మోడ్‌ను అనుమతిస్తుంది. డార్క్ రీడర్ ప్రకాశవంతమైన రంగులను విలోమం చేస్తుంది, అవి అధిక విరుద్ధంగా మరియు రాత్రి చదవడం సులభం చేస్తాడు.

మీరు ప్రకాశం, కాంట్రాస్ట్, సెపియా ఫిల్టర్, డార్క్ మోడ్, ఫాంట్ సెట్టింగులు మరియు విస్మరించే-జాబితాను సర్దుబాటు చేయవచ్చు.

డార్క్ రీడర్ ప్లస్ రుసుము చెల్లించి అనుకూలీకరించదగిన రంగు థీమ్‌లతో ప్రీమియం యూజర్ ఇంటర్‌ఫేస్‌ను అన్‌లాక్ చేస్తుంది.

దయచేసి ఉపయోగ నిబంధనలను చదవండి https://darkreader.org/terms/

మీరు దీన్ని ఇన్‌స్టాల్ చేయడానికి ముందు, ఇలాంటి పొడిగింపులను నిలిపివేయండి. చూడటం ఆనందించండి!
