@store_listing
تُفعّل إضافة العناية بالعين هذه الوضع الليلي عبر إنشاء سمات داكنة لمواقع الويب أثناء التنقل. يعكس Dark Reader الألوان الزاهية، مما يجعل صفحات الويب عالية التباين وأسهل قراءة في الليل.

يمكنك ضبط السطوع والتباين وفلتر اللون البني الداكن وتفضيلات الخطوط والاختيار بين الوضع الداكن ووضع تظليل الشاشة، وتفعيل الإضافة أو تعطيلها لمواقع ويب محددة.

يُتيح Dark Reader Plus واجهة مستخدم مميزة مع سمات ألوان قابلة للتخصيص مقابل رسوم.

يرجى قراءة شروط الاستخدام https://darkreader.org/terms/

قبل التثبيت، يُرجى تعطيل الإضافات المشابهة لتجنب التعارضات. استمتع بالتصفح!
