@import "./theme.less";
@import "./icons/icons.less";
@import "./controls/style";

html {
  background-color: @color-back;
  color: @color-fore;
  color-scheme: dark;
  font-family: @font-family;
  font-size: 16px;
}

body {
  font-family: @font-family;
  font-size: @size-text-normal;
}

input,
button {
  font-family: @font-family;
  font-size: @size-text-normal;
}

::-moz-selection {
  background-color: @color-selection-back;
  color: @color-selection-fore;
}

::selection {
  background-color: @color-selection-back;
  color: @color-selection-fore;
}

::-webkit-scrollbar {
  background-color: @color-back;
  width: @size-scrollbar-thickness;

  &-thumb {
    background-color: @color-control-hover;

    &:hover {
      background-color: mix(@color-control-hover, @color-control-active, 50%);
    }

    &:active {
      background-color: @color-control-active;
    }
  }

  &-corner {
    background-color: @color-back;
  }
}

* {
  scrollbar-color: @color-control-hover @color-back;
}
