// Catppuccin Mocha
// https://github.com/catppuccin/catppuccin
@ctp-base: #1e1e2e;
@ctp-mantle: #181825;
@ctp-surface0: #313244;
@ctp-surface1: #45475a;
@ctp-surface2: #585b70;
@ctp-overlay0: #6c7086;
@ctp-overlay1: #7f849c;
@ctp-text: #cdd6f4;
@ctp-subtext1: #bac2de;
@ctp-mauve: #cba6f7;
@ctp-teal: #94e2d5;
@ctp-red: #f38ba8;
@ctp-green: #a6e3a1;

@color-back: @ctp-base;
@color-fore: @ctp-teal;

@color-control-back: @ctp-base;
@color-control-hover: @ctp-surface0;
@color-control-active: mix(@ctp-mauve, @ctp-base, 42%);
@color-control-fore: @ctp-text;
@color-control-fore-inactive: @ctp-overlay0;

@color-input-back: @ctp-mantle;
@color-input-hover: @ctp-surface0;
@color-input-active: @ctp-surface0;
@color-input-fore: @ctp-teal;
@color-input-fore-active: @ctp-text;
@color-input-fore-placeholder: @ctp-overlay1;

@color-border: @ctp-surface2;
@color-heading: @ctp-mauve;
@color-error: @ctp-red;
@color-ok: @ctp-green;
@color-ok-fore: @ctp-green;
@color-selection-back: @ctp-mauve;
@color-selection-fore: @ctp-base;

@font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;

@size-border: 0.125rem;
@size-border-inner: 0.0625rem;
@size-control-inner: 1.5rem;
@size-control-description: 0.75rem;
@size-scrollbar-padding: 0.25rem;
@size-scrollbar-thickness: 0.75rem;
@size-text-normal: 0.75rem;
@size-text-normal-height: 1rem;
@size-text-small: 0.625rem;
@size-text-small-height: 0.875rem;
@size-text-large: 0.875rem;
@size-text-large-height: 1rem;

@indent-large: 0.75rem;
@indent-small: 0.5rem;

@time-fast: 125ms;
@time-slow: 250ms;
