@import "../../theme";

.toggle {
    background-color: @color-control-back;
    border: 1px solid @color-control-active;
    box-sizing: content-box;
    color: @color-control-fore;
    display: inline-flex;
    height: @size-control-inner;
    position: relative;
    -moz-user-select: none;
    user-select: none;
    padding: 0.1rem ;
    border-radius: 10px;

    &__btn {
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: background-color @time-slow;
        white-space: nowrap;
        width: 100%;
        border-radius: 10px;
        padding: 0.5rem !important;
        top: -5px !important;
    }

    &::before {
        background-color: @color-control-active;
        content: "";
        display: inline-block;
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transition: left @time-fast;
        width: 50%;
        border-radius: 10px;
    }

    &--checked {
        &::before {
            left: 0;
            border-radius: 10px ;
            
        }
        border-radius: 10px !important;
    }
}


