@import "../../../theme";

.site-toggle {
    white-space: normal;
    border: @color-fore 1px solid;
    border-radius: 10px;
    padding: 0.1rem;

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__mark {
        svg {
            fill: currentColor;
            height: @size-text-normal;
            vertical-align: bottom;
            width: @size-text-normal;
        }
    }

    &--active {
        color: @color-input-fore-active;
    }
}
