*.autotask.net

TARGET
html

MATCH
link[href*="/Mvc/FrameworkContent/Styles/LandingMidnight.min.css?"]

================================

*.gamer.com.tw

TARGET
html

MATCH
[data-theme="dark"]

================================

*.uncoverit.org

TARGET
html

MATCH
.dark

================================

activestate.com

TARGET
body

MATCH
.dark_bg

================================

adguard-dns.io

TARGET
body

MATCH
[data-theme="DARK"]

================================

alarabiya.net

TARGET
body

MATCH
.night-theme

================================

android-x86.org

NO DARK THEME

================================

anonymfile.com

TARGET
html

MATCH
.dark

================================

app.pachca.com

TARGET
html

MATCH
.dark

================================

app.raindrop.io

TARGET
html

MATCH
[data-theme="night"]

================================

app.thestorygraph.com

TARGET
html

MATCH
.dark

================================

app.todoist.com

TARGET
html

MATCH
.theme_dark

================================

arstechnica.com

NO DARK THEME

================================

bard.google.com

TARGET
body

MATCH
.dark-theme

================================

blog.miguelgrinberg.com

TARGET
html

MATCH
[data-bs-theme="dark"]

================================

blog.stevezmt.top
blog-preview.stevezmt.top

TARGET
body

MATCH
.mdui-theme-layout-dark

================================

calendar.cron.com

TARGET
html

MATCH
.dark

================================

canva.com

TARGET
html

MATCH
.dark

================================

cezarywalenciuk.pl

NO DARK THEME

================================

chat.deepseek.com

TARGET
body

MATCH
.dark

================================

chatgpt.com

TARGET
html

MATCH
.dark

================================

cia.gov

NO DARK THEME

================================

codebuff.com

TARGET
html

MATCH
.dark

================================

console.aws.amazon.com
*.console.aws.amazon.com

TARGET
body

MATCH
.awsui-polaris-dark-mode

================================

cybenetics.com

TARGET
body

MATCH
.dark

================================

dashboardicons.com

TARGET
html

MATCH
.dark

================================

dcard.tw

NO DARK THEME

================================

developer.chrome.com

NO DARK THEME

================================

developer.mozilla.org

TARGET
html

MATCH
.dark

================================

dictionary.com

NO DARK THEME

================================

discord.com

TARGET
html

MATCH
.theme-dark

================================

docmost.com

TARGET
html

MATCH
data-mantine-color-scheme="dark"

================================

docs.craft.do

TARGET
html

MATCH
[style*="color-scheme: dark;"]

================================

docs.piral.io
docs.piral.cloud

TARGET
body

MATCH
.dark

================================

effect.website

TARGET
html

MATCH
.dark

================================

effect.website/docs

TARGET
html

MATCH
[data-theme="dark"]

================================

facebook.com

TARGET
html

MATCH
.__fb-dark-mode

================================

findissues.vercel.app

TARGET
html

MATCH
[data-theme="dark"]

================================

fitgirl-repacks.site

NO DARK THEME

================================

flashscore.com

TARGET
body

MATCH
.theme--dark

================================

flathub.org

TARGET
html

MATCH
.dark

================================

gamedev.net

NO DARK THEME

================================

gemini.google.com

TARGET
body

MATCH
.dark-theme

================================

gimp.org

NO DARK THEME

================================

github.com

TARGET
html

MATCH
[data-color-mode="auto"]
[data-color-mode="dark"]

================================

gotquestions.org

NO DARK THEME

================================

hacks.guide

TARGET
html

MATCH
.dark

================================

hdblog.it

NO DARK THEME

================================

hexdocs.pm

TARGET
html

MATCH
.dark

================================

hexdocs.pm/elixir/

TARGET
body

MATCH
.dark

================================

ign.com

TARGET
html

MATCH
[data-theme="dark"]

================================

inkscape.org

NO DARK THEME

================================

kagi.com

TARGET
html

MATCH
.theme_moon_dark

================================

kaosx.us

TARGET
html

MATCH
.dark

================================

knightedgemedia.com

NO DARK THEME

================================

learn.standardresume.co

TARGET
html

MATCH
.dark

================================

leetcode.com

TARGET
html

MATCH
.dark

================================

lingoblocks.com

TARGET
html

MATCH
.dark-mode

================================

linkedin.com

TARGET
html

MATCH
.theme--dark
.theme--mercado-dark

================================

majorgeeks.com

NO DARK THEME

================================

mermaid.live/edit

TARGET
html

MATCH
.dark

================================

messages.google.com

TARGET
body

MATCH
.dark-theme

================================

modelcontextprotocol.io

TARGET
html

MATCH
.dark

================================

msn.com

NO DARK THEME

================================

neetcode.io

TARGET
html

MATCH
.dark-theme

================================

next-episode.net

NO DARK THEME

================================

nomoremister.blogspot.com

NO DARK THEME

================================

norfolk.citizenspace.com

NO DARK THEME

================================

notion.so

TARGET
body

MATCH
.dark

================================

objshadow.is-a.dev
objshadow.pages.dev
objshadow.tun.webredirect.org
shadow.tun.webredirect.org
shadowobj.eu.org

TARGET
html

MATCH
[data-scheme="dark"]

================================

omnivore.app

TARGET
html

MATCH
.Dark

================================

onedrive.live.com
word-edit.officeapps.live.com

TARGET
body

MATCH
.UxDarkMode

IFRAME

================================

open-meteo.com

TARGET
html

MATCH
.dark

================================

outlook.live.com
outlook.office.com

TARGET
html

MATCH
[style*="--black: #FFFFFF"]

================================

philosophicaldisquisitions.blogspot.com

NO DARK THEME

================================

photopea.com

TARGET
html

MATCH
[style*="--base: #474747"]
[style*="--base: #404550"]
[style*="--base: #222531"]
[style*="--base: #4b3e51"]
[style*="--base: #353535"]

================================

php.net

NO DARK THEME

================================

pkmer.cn

TARGET
html

MATCH
.theme-dark

================================

postal.fandom.com

TARGET
body

MATCH
[data-theme="dark"]

================================

powerthesaurus.org
*.powerthesaurus.org

TARGET
body

MATCH
[data-theme="dark"]

================================

project2025.observer

TARGET
html

MATCH
.dark

================================

psnprofiles.com

NO DARK THEME

================================

qobuz.com

NO DARK THEME

================================

radboudumc.nl

NO DARK THEME

================================

reddit.com
new.reddit.com

TARGET
html

MATCH
.theme-dark

================================

reduced.to

TARGET
html

MATCH
[data-theme="dracula"]

================================

regex101.com

TARGET
html

MATCH
[data-theme="dark"]

================================

regexr.com

TARGET
link[href*="dark.css"]

MATCH
*

================================

satisfactory.wiki.gg

TARGET
html

MATCH
.theme-dark

================================

scrumguides.org

NO DARK THEME

================================

search.brave.com

TARGET
html

MATCH
.dark

================================

sevendistrictscoffee.com

NO DARK THEME

================================

si.edu

NO DARK THEME

================================

slack.com
*.slack.com

TARGET
body

MATCH
.sk-client-theme--dark

================================

slightknack.github.io

TARGET
html

MATCH
.coal
.navy
.ayu

================================

soccer24.com

TARGET
body

MATCH
.theme--dark

================================

sojo.net

NO DARK THEME

================================

sports.ru

TARGET
body

MATCH
.dark

================================

steamgifts.com

NO DARK THEME

================================

switchbacktravel.com

NO DARK THEME

================================

takeuforward.org

TARGET
body

MATCH
.dark

================================

teams.live.com

TARGET
html

MATCH
.theme-tfl-dark

================================

telex.hu

TARGET
html

MATCH
.dark-mode

================================

thefederalist.com

NO DARK THEME

================================

themoviedb.org

NO DARK THEME

================================

thesweetbits.com

NO DARK THEME

================================

thetrevorproject.org

NO DARK THEME

================================

theverge.com

TARGET
main

MATCH
.dark

================================

thurrott.com

NO DARK THEME

================================

twitch.tv

TARGET
body

MATCH
.dark-theme

================================

twitter.com

TARGET
body

MATCH
[style*="background-color: rgb(0, 0, 0)"]

================================

uicolors.app

TARGET
html

MATCH
[data-color-mode="dark"]

================================

vecernji.hr

TARGET
html

MATCH
[data-theme="dark"]

================================

w3schools.com

TARGET
body

MATCH
.darktheme

================================

wccftech.com

TARGET
html

MATCH
.dark

================================

web.telegram.org/a

TARGET
html

MATCH
.theme-dark

================================

web.telegram.org/k

TARGET
html

MATCH
.night

================================

web.whatsapp.com

TARGET
body

MATCH
.dark

================================

wiki.greasespot.net

NO DARK THEME

================================

x.com

TARGET
body

MATCH
[style*="background-color: rgb(0, 0, 0)"]

================================

yandex.*/maps

TARGET
body

MATCH
._theme_dark

================================

yandex.*/pogoda
yandex.*/weather

TARGET
html

MATCH
[data-theme="dark"]

================================

youtube.com

TARGET
html

MATCH
[dark]
