anonymfile.com

TARGET
html

MATCH
.dark

================================

dictionary.com

NO DARK THEME

================================

facebook.com

TARGET
html

MATCH
.__fb-dark-mode

================================

github.com

TARGET
html

MATCH
[data-color-mode="dark"]

================================

gotquestions.org

NO DARK THEME

================================

lingoblocks.com

TARGET
html

MATCH
.dark-mode

================================

linkedin.com

TARGET
html

MATCH
.theme--dark
.theme--mercado-dark

================================

messages.google.com

TARGET
body

MATCH
.dark-theme

================================

nomoremister.blogspot.com

NO DARK THEME

================================

philosophicaldisquisitions.blogspot.com

NO DARK THEME

================================

thefederalist.com

NO DARK THEME

================================

theverge.com

TARGET
main

MATCH
.dark

================================

twitter.com

TARGET
body

MATCH
[style*="background-color: rgb(0, 0, 0)"]

================================

youtube.com

TARGET
html

MATCH
[dark]
