activestate.com

TARGET
body

MATCH
.dark_bg

================================

alarabiya.net

TARGET
body

MATCH
.night-theme

================================

anonymfile.com

TARGET
html

MATCH
.dark

================================

app.raindrop.io

TARGET
html

MATCH
[data-theme="night"]

================================

bard.google.com

TARGET
body

MATCH
.dark-theme

================================

cia.gov

NO DARK THEME

================================

cybenetics.com

TARGET
body

MATCH
.dark

================================

developer.chrome.com

NO DARK THEME

================================

dictionary.com

NO DARK THEME

================================

facebook.com

TARGET
html

MATCH
.__fb-dark-mode

================================

fitgirl-repacks.site

NO DARK THEME

================================

flathub.org

TARGET
html

MATCH
[data-theme="dark"]

================================

gamedev.net

NO DARK THEME

================================

github.com

TARGET
html

MATCH
[data-color-mode="dark"]

================================

gotquestions.org

NO DARK THEME

================================

knightedgemedia.com

NO DARK THEME

================================

lingoblocks.com

TARGET
html

MATCH
.dark-mode

================================

linkedin.com

TARGET
html

MATCH
.theme--dark
.theme--mercado-dark

================================

messages.google.com

TARGET
body

MATCH
.dark-theme

================================

nomoremister.blogspot.com

NO DARK THEME

================================

outlook.live.com

TARGET
html

MATCH
[style*="--black: #FFFFFF"]

================================

philosophicaldisquisitions.blogspot.com

NO DARK THEME

================================

radboudumc.nl

NO DARK THEME

================================

reddit.com

TARGET
html

MATCH
.theme-dark

================================

reduced.to

TARGET
html

MATCH
[data-theme="dracula"]

================================

regex101.com

TARGET
html

MATCH
[data-theme="dark"]

================================

search.brave.com

TARGET
html

MATCH
.dark

================================

si.edu

NO DARK THEME

================================

slack.com
*.slack.com

TARGET
body

MATCH
.sk-client-theme--dark

================================

steamgifts.com

NO DARK THEME

================================

switchbacktravel.com

NO DARK THEME

================================

thefederalist.com

NO DARK THEME

================================

theverge.com

TARGET
main

MATCH
.dark

================================

twitch.tv

TARGET
body

MATCH
.dark-theme

================================

twitter.com

TARGET
body

MATCH
[style*="background-color: rgb(0, 0, 0)"]

================================

vecernji.hr

TARGET
html

MATCH
[data-theme="dark"]

================================

youtube.com

TARGET
html

MATCH
[dark]
