*

INVERT
.jfk-bubble.gtx-bubble
.captcheck_answer_label > input + img
span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"]
span[data-href^="https://www.hcaptcha.com/"] > #icon
#bit-notification-bar-iframe

CSS
.vimvixen-hint {
    background-color: ${#ffd76e} !important;
    border-color: ${#c59d00} !important;
    color: ${#302505} !important;
}
::placeholder {
    opacity: 0.5 !important;
}
a[href="https://coinmarketcap.com/"] > svg[width="94"][height="16"] > path {
    fill: var(--darkreader-neutral-text) !important;
}
#edge-translate-panel-body {
    color: var(--darkreader-neutral-text) !important;
}

IGNORE INLINE STYLE
.sr-wrapper *
.sr-reader *
.diigoHighlight

================================

*.schoolathome.ca

INVERT
[src="https://hub.schoolathome.ca/resources/imgMain/o2016.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/gmail.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/freshGrade.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/drive.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/helpdesk.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/overdrive.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/resources.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/forums.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/mcinfo.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/tlamines.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/policies.png"]
[src="https://hub.schoolathome.ca/resources/imgMain/slp.png"]
[src="https://hub.schoolathome.ca/resources/or/BrainPOPjr.png"]
[src="https://hub.schoolathome.ca/resources/or/brainpop.jpg"]
[src="https://hub.schoolathome.ca/resources/or/GALEdb.png"]
[src="https://hub.schoolathome.ca/resources/or/bb.png"]
[src="https://hub.schoolathome.ca/resources/or/icon_src_canada.gif"]
[src="https://hub.schoolathome.ca/resources/or/TLAmines.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/225445/mod_assign/intro/steps.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/225445/mod_assign/intro/clock.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/225445/mod_assign/intro/context.jpg"]
[src="https://moodle.schoolathome.ca/pluginfile.php/201373/course/section/32461/STEM-Logo1.jpg"]
[src="https://moodle.schoolathome.ca/pluginfile.php/254746/course/section/33300/Screen%20Shot%202021-01-19%20at%204.29.10%20PM.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/104579/course/section/13573/TLA-logoMinecraft80.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/104585/mod_resource/intro/HowToPlay.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/104579/course/section/13573/How2Play.png"]
[src="https://moodle.schoolathome.ca/pluginfile.php/201135/course/section/30164/watercolour%20paints.jpg]
[src="https://moodle.schoolathome.ca/pluginfile.php/214103/mod_page/content/6/HubLogin.JPG"]
.fp-path-folder
.dndupload-arrow
div.dashboard-card.card:nth-of-type(7) > [href^="https://moodle.schoolathome.ca/course/view.php"]
#moodle-dialogue-yui_3_17_2_2_1612331138600_8-header-text

================================

*.screenconnect.com

CSS
.OuterPanel .MainPanel .MasterPanel .MasterListContainer ul li.HasChildren > div > p {
    filter: brightness(100%) !important;
}

================================

*.stackexchange.com
askubuntu.com
mathoverflow.net
serverfault.com
stackapps.com
stackexchange.com
stackoverflow.com
superuser.com

INVERT
._glyph
.favicon-mathoverflow
.favicon-mathoverflowmeta
.favicon-stackoverflowmeta
.h-auto[alt="Academia"]
.h-auto[alt="Anime & Manga"]
.h-auto[alt="Ask Different"]
.h-auto[alt="Aviation"]
.h-auto[alt="Code Review"]
.h-auto[alt="Electrical Engineering"]
.h-auto[alt="English Language Learners"]
.h-auto[alt="Japanese Language"]
.h-auto[alt="MathOverflow"]
.h-auto[alt="Mathematics"]
.h-auto[alt="Server Fault"]
.h-auto[alt="Skeptics"]
.h-auto[alt="Software Engineering"]
.h-auto[alt="Stack Apps"]
.h-auto[alt="Super User"]
.h-auto[alt="The Workplace"]
.h-auto[alt="Theoretical Computer Science"]
.h-auto[alt="Unix & Linux"]
.h-auto[alt="Web Applications"]
a.js-gps-track::before
img[alt="The Stack Exchange Network"]

CSS
body {
    background-image: none !important;
}
.profile-cards--graph {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 13px, ${#e4e6e8} -13px, ${#e4e6e8} 21px) !important;
}
.c-pointer {
    color: grey;
}
.js-accepted-answer-indicator.fc-green-500 {
    color: var(--green) !important;
}
#newuser-box {
    background: ${#423C2D} !important;
}

IGNORE INLINE STYLE
.chess-replayer-board td

================================

01net.com

CSS
html, body {
    color: ${#090702} !important;
}

================================

10fastfingers.com

CSS
#speedtest-main .hide-time {
    color: transparent !important;
}
#inputfield {
    background: var(--darkreader-neutral-background) !important;
    color: var(--darkreader-neutral-text) !important;
}
body,
.container-modified > .row,
#practice-main,
#top1000-index-container,
#text-practice,
#content-bg {
    background: var(--darkreader-neutral-background) !important;
}
#main-content-trenner {
    background: var(--darkreader-neutral-background) !important;
    border-bottom: 1px solid rgb(151, 141, 127) !important;
}

================================

1337x.gd
1337x.is
1337x.st
1337x.to
x1337x.eu
x1337x.se
x1337x.ws

CSS
.torrent-tabs .tab-nav {
   background-image: none !important;
   background-color: var(--darkreader-neutral-background) !important;
   border-bottom-color: var(--darkreader-neutral-background) !important;
}

================================

163.com

INVERT
.m-playbar .wrap .btns

CSS
body,
.s-bg,
.g-bd1,
.n-bilst,
.m-playbar .bg {
   background: var(--darkreader-neutral-background) !important;
}

================================

1917.com

CSS
body {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}

================================

2gis.*

INVERT
#map

CSS
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    color: var(--darkreader-neutral-text) !important;
}
div[style^="--bg-color"] {
    --bg-color: var(--darkreader-neutral-background) !important;
}
div[style="transform:rotateX(0deg)"] > svg[width="38"] path {
    fill: ${black} !important;
}
button[data-hamburger] span {
    background-color: ${black} !important;
}

IGNORE INLINE STYLE
a[href="/"] > svg *

================================

3.basecamp.com

CSS
body, .nav__main {
    background-color: ${white};
}
@media screen and (min-width: 768px){
    .panel--perma, .panel--project {
        box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 10px, rgba(0, 0, 0, 0.1) 0px 1px 4px, rgb(24, 26, 27) 0px 10px 30px;
    }
}

================================

4pda.ru

CSS
.catend {
    background: ${#e8e8e8} !important;
}
div.description > span {
    display: none;
}

================================

abandonia.com

CSS
.alt1G2 {
    background-image: none !important;
}
.alt2G2 {
    background-image: none !important;
}

================================

abiturma.de

INVERT
div.formula
amp-img.latex-inline

================================

ableton.com

INVERT
.main-footer__basics__logo
.main-footer__secondary__signature__logo

================================

academic.microsoft.com

INVERT
.loader

CSS
.legend > rect:nth-child(1) {
    fill: unset !important;
}

================================

academy.dqlab.id

INVERT
.menu img

================================

account.ui.com

CSS
div[class^="Toggle-module_switcher"] {
    background-color: var(--darkreader-neutral-text) !important;
}
input[class^="Toggle-module_input"] {
    background-color: initial;
}
div[class^="Modal-module_content"] form > div > canvas {
    border: 5px solid white !important;
}

================================

accounts.google.com

INVERT
img[src$="signin_tapyes.gif"]

CSS
#countryList div[role="option"][data-value] > div > div > div[style] {
    background-image: url('//ssl.gstatic.com/i18n/flags/48x32/nobevel/66bdb7a1bbbdbf86a67de382fac49ecc/flags.png') !important;
}

================================

accounts.magister.net

INVERT
.bottom > img

CSS
.splash-container {
    z-index: 0 !important;
}

================================

acer.com

INVERT
.firstHeader .logos

CSS
.contSectionBen img {
    filter: brightness(50%) sepia(40%) !important;
}
.contSectionBen .textOverBen {
    position: inherit !important;
}

================================

ad.nl

CSS
.instanews-page-main-content {
    color: var(--darkreader-neutral-text) !important;
}

================================

ada.org

INVERT
.logo

================================

addons.mozilla.org

IGNORE IMAGE ANALYSIS
.Icon-youtube
span.Permission-description:before

================================

adguard.com

INVERT
a.header__logo
svg.reviews__icon-topic
.article__section--list-ico .md__list .md__img
.article__content--title-ico .article__section .md__title .md__img
.p-header-logo.p-header-logo--image img

================================

admin.migadu.com

CSS
.container {
    background-image: none !important;
}

================================

aftonbladet.se

CSS
a[href$="plus_plusikon"] > :nth-child(1) {
   color: ${white}
}

================================

ai2.appinventor.mit.edu

CSS
.blocklyDraggable text {
    color: var(--darkreader-neutral-text) !important;
}

================================

aiming.pro

INVERT
#left_side_bar > div.logo > a > img

================================

akademy.kde.org
dot.kde.org
forum.kde.org

CSS
body {
    background: ${rgb(225, 227, 228)} !important;
}

================================

akinator.com

INVERT
.bubble
.bubble-body

CSS
.bubble {
    background-color: ${black} !important;
    color: ${white} !important;
}
.bubble-body {
    background-color: ${white} !important;
    color: ${black} !important;
}
.question-number {
    color: ${white} !important;
}

================================

alertus.com

INVERT
.Header-branding
[src^="https://images.squarespace-cdn.com"]

================================

alexpage.de

CSS
#page {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}

================================

alfredapp.com

INVERT
[src*="macworld.png"]
[src*="tuaw.png"]
[src*="eddy_awards.png"]
[src*="appstorm.png"]
[src*="tnw.png"]
[src*="search.jpg"]
[src*="clipboard.jpg"]
[src*="control.jpg"]
[src*="konami-code.png"]
[src*="oatmeal404.jpg"]
[src*="query-history.png"]

================================

alipay.com

INVERT
.alipay-logo
#J_logoHomeUrl
.global-logo

CSS
.qrcode-detail-img {
    background-color: white !important;
}

================================

aljazeera.com

INVERT
#site-logo > img
.navbar-brand > img
#navbar-hamburger-mobile

================================

allegro.pl

CSS
#opbox-listing--base i {
    background-size: 100% 100% !important;
}
.opbox-sheet-wrapper,
.opbox-sheet {
    background-color: var(--darkreader-neutral-background) !important;
}

================================

allmacworld.com

INVERT
.logo
.tie-appear.post-thumbnail
.tie-appear.post-thumbnail > [href="https://allmacworld.com/blocs-free-download/"]
.tie-appear.post-thumbnail > [href="https://allmacworld.com/waves-v11-complete-download-free/"]
.tie-appear.post-thumbnail > [href="https://allmacworld.com/3dequalizer-4-for-mac-free-download/"]
.tie-appear.post-thumbnail > [href="https://allmacworld.com/sylenth1-for-mac-free-download/"]
.tie-appear.post-thumbnail > [href="https://allmacworld.com/synapse-audio-legend-free-download/"]

================================

amap.com

INVERT
.amap-info
.amap-menu
.logo-img
#subway-svg
#themap
.title01-logo > a > img

================================

amazon.*
amazon.*.*

INVERT
#banner-image
#ordersContainer .a-box.order-attributes img
div.a-section.vse-lb-video-metadata
div.vse-video-content
img[src*="smile-logo"]
.a-icon-arrow.a-icon-small.arrow-icon
.a-icon-close
.a-icon-extender-expand
.a-icon-popover
.a-link-nav-icon
.currencyINR

CSS
.banner-border {
    background-image: none !important;
    background-color: ${white} !important;
}
div.milestone.notReached .milestone-marker::before {
    border-color: var(--darkreader-neutral-text);
}
span.milestone-bar {
    z-index: 0;
}
span.milestone-bar_foreground {
    background-color: #4DC2B4;
}
span.milestone-bar_background {
    background-image: linear-gradient(var(--darkreader-neutral-text) 40%, #181a1b00 0px);
}
img {
    border-radius: 5% !important;
}

================================

amazon.cn

INVERT
#nav-logo

CSS
#nav-main,
.nav-search-scope {
    background-image: none !important;
}

================================

ancient.eu

INVERT
img#header_ahe_logo
img[alt="digitalmeetsculture.net"]
img[alt="EAGLE"]
img[alt="Save Ancient Studies in America"]
img[alt="Lithodomos VR"]
img[alt="USI / UNESCO / uniTwin Logo"]

CSS
div#nav_bar {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}

================================

androidcentral.com

CSS
.lazy-loaded {
    mix-blend-mode: normal !important;
}

================================

angrymetalguy.com

INVERT
.plbrand

CSS
.thepage {
    background-color: ${white} !important;
}
.content-pad {
    background-color: ${white} !important;
}

================================

anilist.co

CSS
:root {
    --color-background: 39,44,56 !important;
    --color-foreground: 31,35,45 !important;
    --color-foreground-grey: 25,29,38 !important;
    --color-foreground-grey-dark: 16,20,25 !important;
    --color-foreground-blue: 25,29,38 !important;
    --color-foreground-blue-dark: 19,23,29 !important;
    --color-text: 159,173,189 !important;
    --color-text-light: 129,140,153 !important;
    --color-text-lighter: 133,150,165 !important;
}

================================

animedigitalnetwork.fr

CSS
.spoiler {
    color: transparent !important;
}
.spoiler:hover {
    color: unset !important;
}

================================

ankiweb.net

CSS
.sidebar {
    background-color: var(--darkreader-neutral-background) !important;
}

================================

answers.opencv.org

CSS
#header,
body,
#question-list,
.short-summary,
#ground {
    background-image: none !important;
}

================================

answers.unity.com

IGNORE IMAGE ANALYSIS
header.section-header div.shard:before

================================

api.kde.org

INVERT
.center
.image

CSS
.memdoc, .memproto {
    background-image: initial !important;
}

================================

app.codesignal.com

CSS
.monaco-editor .cursor {
   background-color: var(--darkreader-selection-text) !important;
}

================================

app.corellium.com

INVERT
.brand
.logo

================================

app.datadoghq.com

INVERT
.HostMap-canvas

CSS
.log-dt-event.active, .log-dt-event.active:hover, .log-dt-event:hover {
    background-color: rgb(37, 45, 58) !important;
}
svg text.time_cursor {
    fill: ${black} !important;
}

================================

app.getpocket.com

IGNORE IMAGE ANALYSIS
*

================================

app.grammarly.com

CSS
[class*="-alerts-markSelectedHigh"], span[class*="markSelectedFocused"] {
    color: rgb(14, 16, 26) !important;
}

================================

app.kognity.com

INVERT
img.KogCalculator
.content-image-figure > img[src*="png"]

CSS
body, .KogDashboard-insideLoader {
    background: none var(--darkreader-neutral-background) !important;
}
img:not([src*="png"]):not([src*="svg"]) {
    background-color: white !important;
}

================================

app.mysms.com

CSS
.message a {
     color: grey;
}

================================

app.roll20.net

INVERT
.sheet-hp
.sheet-ac
.sheet-textbox
.sheet-name-container
.sheet-attributes-container
.sheet-attr-container button
.sheet-hlabel-container
.sheet-vitals
.sheet-init button
.sheet-spell-level
.sheet-spell-level input
.sheet-textbox .sheet-options
.sheet-speed input
.sheet-part select
.sheet-resources .sheet-subcontainer
.sheet-resources .sheet-label
.sheet-subcontainer .sheet-top
.sheet-textbox .sheet-label
.sheet-attack .sheet-options

CSS
.sheet-attributes-container,
.sheet-init,
.sheet-speed,
.sheet-trait,
.sheet-part,
.sheet-spell-level,
.sheet-details {
    color: ${white} !important;
}

================================

app.timelyapp.com

INVERT
.Clock__clock_css_icon___LfBr6
.Clock__stopwatch___2G-CB

CSS
.Day__container___1Fpnl.Day__showBackground___3CXnw {
     background-image: none;
}

================================

app.youneedabudget.com

CSS
[data-darkreader-inline-fill] {
    fill: ${black} !important;
}

================================

aras.com

CSS
.alternate_color.banner__title.display-2,
.alternate_color.banner__subtitle.display-5 {
    color: var(--darkreader-neutral-text) !important;;
}
.banner__title.display-2,
.banner__subtitle.display-5 {
    color: ${white} !important;
}

================================

ars.particify.de

CSS
body {
    background-color: var(--darkreader-neutral-background) !important;
}
.mat-mini-fab {
    box-shadow: none !important;
}
.mat-card {
    background-color: #{gray} !important;
    box-shadow: none !important;
}
.mat-chip {
    background-color: var(--darkreader-neutral-background)  !important;
    color: var(--darkreader-neutral-text) !important;
}

================================

arstechnica.com

CSS
.listing, .video-thumbnail {
    background-blend-mode: initial !important;
}
.article-single figure img {
    mix-blend-mode: initial !important;
}

================================

artofproblemsolving.com

INVERT
.latex
.latexcenter

================================

arxiv.org

CSS
.abstract {
     background-color: transparent !important;
}

================================

asahichinese-j.com

INVERT
#HeaderInner img
.SocialNav
.Tag li a

CSS
.Tag li a {
    color: ${grey} !important;
}
a, .LastUpdated, .Lead {
    color: var(--darkreader-neutral-text) !important;
}
#Footer p, #FooterInner {
    background-color: var(--darkreader-neutral-background) !important;
}
h1, .ArticleBody p, .ImagesHeightMod {
    background-color: var(--darkreader-neutral-background) !important;
    color: var(--darkreader-neutral-text) !important;
}

================================

asana.com

INVERT
.siteHeader__logo
.DatePickerCalendarDate--today .DatePickerCalendarDate-button::after

================================

asciinema.org

IGNORE INLINE STYLE
polygon
polyline

================================

askjohnmackay.com

INVERT
[src$="ask-john-mackay-logo.png"]
[src$="side-banner-05.gif"]
[src$="reasonwhy.jpg"]

CSS
body,
header,
#site-footer,
#live-search {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}

================================

assetstore.unity.com

CSS
div[style^="background-color:var(--color-bg-gray-5)"] {
    --color-bg-gray-5: var(--darkreader-neutral-background) !important;
}
h2[style*="color:var(--color-font-header)"] {
    --color-font-header: var(--darkreader-neutral-text) !important;
}

================================

asus.com

INVERT
span.mobile-menu-toggle.mobile
em#searchopen.icon-search
#af-header .af-inner .logo

IGNORE IMAGE ANALYSIS
#af-header .af-inner .logo
li.nav-Rog a

================================

atcoder.jp

CSS
#fixe
