accounts.google.com

INVERT
svg

================================

calendar.google.com

INVERT
header
div[role="button"]

================================

facebook.com

INLINE
._50dz > div[style]

================================

farside.ph.utexas.edu
mathpages.com
mathprofi.ru
mathprofi.net
mathworld.wolfram.com
reference.wolfram.com
terrytao.wordpress.com

INVERT
img

================================

wikipedia.org

INVERT
.mwe-math-element
