*

CSS
.jfk-bubble {
    background-color: ${white} !important;
}
.vimvixen-hint {
    background-color: ${#ffd76e} !important;
    border-color: ${#c59d00} !important;
    color: ${#302505} !important;
}

================================

localhost

CSS
.primaryButton, .primaryButton * {
  color: #363f45 !important;
}

#app-header, .navbar-fixed-top, .scheduler-app-header {
  background-color: rgb(248, 226, 0) !important;
}

#app-header .yellow-band *, .navbar-fixed-top * {
  color: #363f45 !important;
}

#app-header .yellow-band .feed-menu, .navbar-fixed-top .feed-selector {
  background-color: #fff !important;
}

.scheduler-app-header * {
  color: #363f45 !important;
}

.item-row.selected {
  background-color: rgb(248, 226, 0) !important;
}

.item-row.selected span:not(.dr-item-status) {
  color: #363f45 !important;
}

.item-row.selected span[class^='edit'] {
  background: #FFF4BD !important;
}

#playlist-page .item-row.playing-now {
  
}

@keyframes playing-now /* Firefox */
  {
    0%    {background-color: rgba(0, 0, 0, 0.3);}
    50%   {background-color: rgba(0, 0, 0, 1);}
    100%  {background-color: rgba(0, 0, 0, 0.3);}
  }

@keyframes flash {
      0% {
        background-color: rgba(183, 254, 213, 0.1);
      }
      50% {
        background-color: rgba(183, 254, 213, 0.6);
      }
      100% {
        background-color: rgba(183, 254, 213, 0.1);
      }
    }