*

NEUTRAL BG
html
body
:not([style*="background-color:"])

NEUTRAL TEXT
html
body
:not([style*="color:"])

RED TEXT
h1:not([style*="color:"])
h2:not([style*="color:"])
h3:not([style*="color:"])
h4:not([style*="color:"])
h5:not([style*="color:"])
h6:not([style*="color:"])

GREEN TEXT
cite:not([style*="color:"])

BLUE BG ACTIVE
input:not([style*="background-color:"])
textarea:not([style*="background-color:"])
button:not([style*="background-color:"])
[role="button"]

BLUE TEXT ACTIVE
a:not([style*="color:"])

BLUE BORDER
:not([style*="border-color:"])
::before
::after

FADE BG
div:empty

FADE TEXT
input::placeholder
textarea::placeholder

NO IMAGE
input:not([style*="background-image:"])
textarea:not([style*="background-image:"])

================================

github.com

RED TEXT
.pl-k

GREEN BG ACTIVE
.btn-primary

GREEN TEXT
.pl-c

BLUE TEXT
.pl-s
.pl-pds
.pl-c1

NO IMAGE
.btn
.btn-primary

================================

mail.google.com

RED BG ACTIVE
.T-I-KE

NO IMAGE
.T-I-KE

================================

opencollective.com

BLUE BG ACTIVE
.TierCard .action

TRANSPARENT BG
.CollectiveCover .content
