@import url(http://fonts.googleapis.com/css?family=Open+Sans);
div,
span,
p,
a,
h3,
section,
label,
input {
  padding: 0;
  margin: 0;
}
h3 {
  color: #e96c4c;
  text-align: center;
}
body {
  display: flex;
  background-color: #00222b;
  font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
  align-items: flex-start;
  justify-content: center;
  cursor: default;
}
main {
  width: 20em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
main > *:not(:first-child) {
  margin-top: 1em;
}
#logo {
  display: inline-block;
  flex: none;
  height: 2em;
}
#section-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#section-top > *:not(:first-child) {
  margin-left: 0.625em;
}
#description {
  text-align: center;
  color: #37abc8;
  position: relative;
  top: -0.125em;
  flex: none;
  white-space: nowrap;
}
#toggle-app {
  width: 100%;
}
.toggle {
  border: 0.1875em solid #216778;
}
.toggle .on,
.toggle .off {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 50%;
}
.toggle .on:hover,
.toggle .off:hover {
  background-color: #113a49;
}
.toggle .on:active,
.toggle .off:active,
.toggle .on.active,
.toggle .off.active {
  background-color: #216778;
  cursor: default;
}
.settings-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
.settings-section > *:not(:first-child) {
  margin-top: 0.625em;
}
.toggle-with-status {
  display: inline-block;
}
.toggle-with-status .status {
  text-align: center;
  color: #37abc8;
  font-size: 0.875em;
}
.toggle-with-buttons > .line {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.toggle-with-buttons > .line > *:not(:first-child) {
  margin-left: 0.625em;
}
.toggle-with-buttons .status {
  text-align: center;
  color: #37abc8;
  font-size: 0.875em;
}
.toggle-with-buttons .toggle {
  width: 100%;
}
#toggle-mode .button-down {
  background-image: url('../img/mode_dark_32.svg');
}
#toggle-mode .button-up {
  background-image: url('../img/mode_light_32.svg');
}
.button {
  min-width: 2em;
  box-sizing: padding-box;
  height: 2em;
  display: inline-block;
  border: 0.1875em solid #216778;
  flex: none;
  background-size: contain;
  cursor: pointer;
  line-height: 2em;
  text-align: center;
  padding: 0 0.625em;
  color: #ffffff;
}
.button:hover {
  background-color: #113a49;
}
.button:active {
  background-color: #216778;
}
.updown > .line {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.updown > .line > *:not(:first-child) {
  margin-left: 0.625em;
}
.updown .status {
  text-align: center;
  color: #37abc8;
  font-size: 0.875em;
}
.updown .button-down {
  background-image: url('../img/icon-left_white_16.svg');
}
.updown .button-up {
  background-image: url('../img/icon-right_white_16.svg');
}
.updown .trackbar {
  border: 0.1875em solid #216778;
  position: relative;
  width: 100%;
}
.updown .trackbar .value {
  display: inline-block;
  background-color: #216778;
  width: 30%;
  height: 2em;
}
.updown .trackbar label {
  position: absolute;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  color: #ffffff;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
input[type=checkbox] {
  min-width: 2em;
  box-sizing: padding-box;
  display: inline-block;
  border: 0.1875em solid #216778;
  flex: none;
  background-size: contain;
  cursor: pointer;
  line-height: 2em;
  text-align: center;
  padding: 0 0.625em;
  color: #ffffff;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  font-size: 1em;
  box-sizing: content-box;
  outline: none;
}
input[type=checkbox]:hover {
  background-color: #113a49;
}
input[type=checkbox]:active {
  background-color: #216778;
}
input[type=checkbox]:checked {
  background-image: url('../img/icon-check_white_16.svg');
}
input[type=checkbox]:active {
  background-color: #113a49;
}
input[type=text] {
  width: 100%;
  font-size: 1em;
  border: 0.1875em solid #216778;
  background-color: #00222b;
  outline: none;
  color: #37abc8;
  padding: 0 0.625em;
  line-height: 2em;
}
input[type=text]:hover {
  background-color: #113a49;
}
input[type=text]:focus {
  background-color: #113a49;
  color: #ffffff;
}
input[type=text]::selection {
  background-color: #e96c4c;
}
.font-set > .line {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.font-set > .line > *:not(:first-child) {
  margin-left: 0.625em;
}
.font-set .status {
  text-align: center;
  color: #37abc8;
  font-size: 0.875em;
}
.ignore-list > .line {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.ignore-list > .line > *:not(:first-child) {
  margin-left: 0.625em;
}
.ignore-list .status {
  text-align: center;
  color: #37abc8;
  font-size: 0.875em;
}
.ignore-list > *:not(:first-child) {
  margin-top: 0.625em;
}
/*# sourceMappingURL=style.css.map */