@import "../../theme.less";

.nav-button {
    background-image: @icon-right;
    background-position: center right 0.25rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    width: calc(100% - 2 * @size-border);

    &__content {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        height: 100%;
    }
}
