@import "../../theme";

.shortcut {
    color: @color-fore;
    cursor: pointer;
    display: inline-block;
    font-size: @size-text-small;
    outline: none;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
